<main class="flexcol fu-scrollable gap-16">

	<fieldset class="title-fieldset resource-content flex-group-center flexrow desc">
		<legend class="resource-text-m">
			{{localize 'FU.Advancement'}}
		</legend>
		<img class="profile-img flexcol" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="height: 96px; width: auto; object-fit: contain;">
		<div class="flexcol flex-group-center" style="color: var(--pfu-color-app-detail-section-content-secondary);">
			<i class="fu-icon--l {{pfuIconClass type}}"></i>
		</div>
		<div class="flexrow flex-group-center">
			<span class="pfu__badge__level large">{{pfuMath index '+' 1}}</span>
		</div>
		{{#if current}}
		<div class="flexcol flex-group-center">
			{{pfuItemAnchor current size='l'}}
			{{current.name}}
			<button data-action="clearItem">
				<i class="fas fa-trash-alt"></i>
				{{localize 'FU.Remove'}}
			</button>
		</div>
		{{/if}}
	</fieldset>

	<div class="pfu-advancement__entry__cards">
		{{#each options as |option|}}
			{{#if (eq option.type 'item')}}
				{{#with option.item as |item|}}
					<div class="pfu-advancement__entry__card">
						{{!-- Ring: item image + skill counter --}}
						<div class="pfu-advancement__entry__card-ring">
							<div class="pfu-advancement__entry__card-ring-border"></div>
							<div class="pfu-advancement__entry__card-ring-img">
								{{pfuItemAnchor item size='l'}}
							</div>
							{{#if (pfuCollectionContains item.id @root.skillMap)}}
								{{#with (lookup @root.skillMap item.id) as |skill|}}
									<div class="pfu-advancement__entry__card-ring-counter">
										{{skill.value}}/{{skill.max}}
									</div>
								{{/with}}
							{{/if}}
						</div>

						{{!-- Tags --}}
						<div class="pfu-advancement__entry__card-tags">
							{{#with (lookup @root.summary.classes item.system.class.value) as |class|}}
								<img class="" src="{{class.img}}" alt="{{class.name}}"/>
							{{/with}}
						</div>

						{{!-- Item name --}}
						<div class="pfu-advancement__entry__card-name">
							{{item.name}}
						</div>

						{{!-- Select button --}}
						<button class="pfu-advancement__entry__card-select"
								data-action="assignItem"
								data-id="{{item.id}}">
							{{localize 'CONTROLS.CommonSelect'}}
						</button>
					</div>
				{{/with}}
			{{else}}
				{{#with option.entry as |entry|}}
					<div class="pfu-advancement__entry__card">

						{{!-- Ring: item image --}}
						<div class="pfu-advancement__entry__card-ring">
							<div class="pfu-advancement__entry__card-ring-border"></div>
							<div class="pfu-advancement__entry__card-ring-img">
								{{pfuItemAnchor entry size='l'}}
							</div>
						</div>

						{{!-- Tags --}}
						<div class="pfu-advancement__entry__card-tags">
							<i class="{{pfuIconClass 'compendium'}}"></i>
							{{#with (lookup @root.summary.classes entry.system.class.value) as |class| }}
								<img class="" src="{{class.img}}" alt="{{class.name}}"/>
							{{/with}}
						</div>

						{{!-- Item name --}}
						<div class="pfu-advancement__entry__card-name">
							{{entry.name}}
						</div>

						{{!-- Select button --}}
						<button class="pfu-advancement__entry__card-select"
								data-action="addItem"
								data-uuid="{{entry.uuid}}">
							{{localize 'CONTROLS.CommonSelect'}}
						</button>
					</div>
				{{/with}}
			{{/if}}
		{{/each}}
	</div>
</main>

