<main class="flexcol fu-scrollable gap-16" style="height: 100%">

	<div class="flex-row-center gap-16" style="margin: 16px;">
		<img class="fu-icon profile-img shine" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" style="height: 96px; width: auto; object-fit: contain;">
		{{#if current}}
			<div>
				<div class="flexcol flex-group-center flexshrink" style="min-width: 96px;">
					{{pfuItemAnchor current size='l'}}
					<div class="flexrow flex-group-center gap-4">
						{{current.name}}
						<button class="button-style" data-action="clearItem">
							<i class="fas fa-trash-alt"></i>
						</button>
					</div>
				</div>
			</div>
		{{/if}}
		<div class="pfu_advancement__type">
			<span class="pfu__badge__level large">{{pfuMath index '+' 1}}</span>
		</div>

	</div>

	<div class="pfu-advancement__entry__cards__container">
		<div class="pfu-advancement__entry__cards">
			{{#each options as |option|}}
				{{#if (eq option.type 'item')}}
					{{#with option.item as |item|}}
						<div class="pfu-advancement__entry__card">
							{{!-- Ring: item image + skill counter --}}
							<div class="pfu-advancement__entry__card-ring">
								<div class="pfu-advancement__entry__card-ring-border {{#if (pfuCollectionContains item.id @root.skillMap)}}invested{{else}}untracked{{/if}}">

								</div>
								<div class="pfu-advancement__entry__card-ring-img">
									{{pfuItemAnchor item size='l'}}
								</div>
								{{#if (pfuCollectionContains item.id @root.skillMap)}}
									{{#with (lookup @root.skillMap item.id) as |skill|}}
										<div class="pfu-advancement__entry__card-ring-counter">
											{{skill.value}}/{{skill.max}}
										</div>
									{{/with}}
								{{/if}}

								{{!-- Badges --}}
								<div class="pfu-advancement__entry__card-ring__badges">
									{{#with (lookup @root.summary.classes item.system.class.value) as |class|}}
										<img class="pfu-advancement__entry__card-ring__badge" src="{{class.img}}" alt="{{class.name}}" data-tooltip="{{class.name}}"/>
									{{/with}}
								</div>
							</div>

							{{!-- Item name --}}
							<div class="pfu-advancement__entry__card-name">
								{{item.name}}
							</div>

							{{!-- Select button --}}
							<button class="pfu-advancement__entry__card-select"
									data-action="assignItem"
									data-id="{{item.id}}">
								{{localize 'CONTROLS.CommonSelect'}}
							</button>
						</div>
					{{/with}}
				{{else}}
					{{#with option.entry as |entry|}}
						<div class="pfu-advancement__entry__card">

							{{!-- Ring: item image --}}
							<div class="pfu-advancement__entry__card-ring">
								<div class="pfu-advancement__entry__card-ring-border"></div>
								<div class="pfu-advancement__entry__card-ring-img">
									{{pfuItemAnchor entry size='l'}}
								</div>

								{{!-- Badges --}}
								<div class="pfu-advancement__entry__card-ring__badges">
									{{#with (lookup @root.summary.classes entry.system.class.value) as |class| }}
										<img class="pfu-advancement__entry__card-ring__badge" src="{{class.img}}" alt="{{class.name}}" data-tooltip="{{class.name}}"/>
									{{/with}}
									<i class="pfu-advancement__entry__card-ring__badge {{pfuIconClass 'compendium'}}"></i>
								</div>
							</div>

							{{!-- Item name --}}
							<div class="pfu-advancement__entry__card-name">
								{{entry.name}}
							</div>

							{{!-- Select button --}}
							<button class="pfu-advancement__entry__card-select"
									data-action="addItem"
									data-uuid="{{entry.uuid}}">
								{{localize 'CONTROLS.CommonSelect'}}
							</button>
						</div>
					{{/with}}
				{{/if}}
			{{/each}}
		</div>
	</div>


</main>

