<section class="title-fieldset resource-content flexcol">
    <div class="flex0">
        <div class='detail-desc flex-group-center grid grid-2col desc'>
            <div class='spin2win'>
                <i class='fas fa-dice-d20 ra-2x rollable'></i>
                {{localize (pfuConcat 'FU.Attribute' (pfuCapitalize groupCheck.attributes.attr1) 'Abbr')}}
            </div>
            <div class='spin2win'>
                <i class='fas fa-dice-d20 ra-2x rollable'></i>
                {{localize (pfuConcat 'FU.Attribute' (pfuCapitalize groupCheck.attributes.attr2) 'Abbr')}}
            </div>
        </div>
    </div>
    <div class="flex0">
        <div class="detail-desc flexrow flex-group-center desc">
            <span>{{localize 'FU.GroupCheckSupporters'}}</span>
        </div>
    </div>
    <div>
        {{#each groupCheck.supporters}}
            <div class="detail-desc flexrow flex-group-center desc">
                <span>{{lookup (lookup @root.supporters id) 'name'}}</span>
                <span>{{#if result}}{{localize 'FU.Success'}}{{else}}{{localize 'FU.Failure'}}{{/if}}</span>
                <span>
                    {{#each bond}}
                        <span>{{localize (pfuConcat 'FU.' this)}}</span>{{#unless @last}}<span>,</span>{{/unless}}
                    {{/each}}
                </span>
            </div>
        {{/each}}
    </div>
    <div class="flexrow flex0">
        <span>
            <button type="button" data-type="group-check" data-action="roll">{{localize 'FU.RollGroupCheck'}}</button>
        </span>
        <span>
            <button type="button" data-type="group-check" data-action="cancel">{{localize 'FU.Cancel'}}</button>
        </span>
    </div>
</section>