<section class="title-fieldset resource-content flexcol">
    <div class="flex0">
        <div class='detail-desc flex-group-center grid grid-2col desc'>
			{{pfuIconAttribute groupCheck.attributes.attr1}}
			{{pfuIconAttribute groupCheck.attributes.attr2}}
        </div>
    </div>
    <div class="flex0">
        <div class="detail-desc flexrow flex-group-center desc">
            <span>{{localize 'FU.GroupCheckSupporters' type=type}}</span>
        </div>
    </div>
    <div>
        {{#each groupCheck.supporters}}
            <div class="detail-desc flexrow flex-group-center desc">
                <span>{{lookup (lookup @root.supporters id) 'name'}}</span>
                <span>{{#if result}}{{localize 'FU.Success'}}{{else}}{{localize 'FU.Failure'}}{{/if}}</span>
                <span>
                    {{#each bond}}
                        <span>{{localize (pfuConcat 'FU.' this)}}</span>{{#unless @last}}<span>,</span>{{/unless}}
                    {{/each}}
                </span>
            </div>
        {{/each}}
    </div>
    <div class="flexrow flex-group-center flex0">
		<button type="button" data-type="group-check" data-action="roll">{{localize 'FU.RollGroupCheck' type=type}}</button>
		<button type="button" data-type="group-check" data-action="cancel">{{localize 'FU.Cancel'}}</button>
    </div>
</section>