<div class="inline-effect-config">
    <fieldset class="title-fieldset resource-content flex-group-center">
        <legend class="resource-label-sm">{{localize "FU.InlineEffectType"}}</legend>
        <select name="type" class="resource-inputs select-dropdown-xl">
            {{selectOptions effectTypes selected=data.type localize=true}}
        </select>
    </fieldset>
    {{#if (eq data.type "status")}}
        <fieldset class="title-fieldset resource-content flex-group-center">
            <legend class="resource-label-sm">{{localize "FU.InlineEffectStatus"}}</legend>
            <select name="status" class="resource-inputs select-dropdown-xl">
                {{selectOptions statuses selected=data.status localize=true}}
            </select>
        </fieldset>
    {{/if}}
    {{#if (eq data.type "boonOrBane")}}
        <fieldset class="title-fieldset resource-content flex-group-center">
            <legend class="resource-label-sm">{{localize "FU.Effect"}}</legend>
            <select name="status" class="resource-inputs select-dropdown-xl">
                {{selectOptions boonsAndBanes selected=data.status localize=true}}
            </select>
        </fieldset>
    {{/if}}
    {{#if (eq data.type "guided")}}
        <fieldset class="title-fieldset resource-content flex-group-center">
            <legend class="resource-label-sm">{{localize "FU.InlineEffectGuidedBasicInformation"}}</legend>
            <header class="flexrow">
                <img src="{{#if data.guided.icon}}{{data.guided.icon}}{{else}}{{defaultIcon}}{{/if}}"
                     data-action="editImage" class="effect-icon flex0" />
                <h1>
                    <input name="guided.name" type="text"
                           value="{{#if data.guided.name}}{{data.guided.name}}{{else}}{{defaultName}}{{/if}}"
                           placeholder="Name">
                </h1>
            </header>
        </fieldset>
        <fieldset class="title-fieldset resource-content flex-group-center">
            <legend class="resource-label-sm changes-legend">
                <span class="change-controls flex0">
                    <a class="change-control" data-action="add">
                        {{localize "FU.InlineEffectGuidedChangesConfig"}}
                        <i class="far fa-plus-square">                        </i>
                    </a>
                </span>
            </legend>
            <div class="changes-list">
                {{#each data.guided.changes as |change i|}}
                    <div class="flexcol change" data-index="{{i}}">
                        <fieldset class="title-fieldset resource-content">
                            <legend class="resource-label-t guided-change-legend">
                                <select name="guided.changes.{{i}}.type" class="resource-inputs select-dropdown-full">
                                    {{selectOptions ../changeTypes selected=change.type localize=true
                                                    labelAttr="label"}}
                                </select>
                                <span class="change-controls">
                                    <a class="change-control" data-action="delete"><i class="fas fa-trash"></i></a>
                                </span>
                            </legend>
                            <div>
                                {{> (lookup (lookup ../changeTypes change.type) "template") templateData=(lookup (lookup ../changeTypes change.type) "templateData") }}
                            </div>
                        </fieldset>
                    </div>
                {{/each}}
            </div>

        </fieldset>
    {{/if}}
    <footer class="sheet-footer">
        <button type="button" data-action="finish">
            <i class="fas fa-check"></i>
            {{localize "FU.TextEditorDialogButtonInsert"}}
        </button>
    </footer>
</div>