{{class~}}

{{#if roll~}}
	{{~#if useWeaponAccuracy}}
		{{#if weapon}}
			{{#if class}} ⬥&#xFEFF;{{/if~}}
			{{#if weapon}} {{weapon}} ⬥&#xFEFF;{{~/if~}}
			<span style="white-space: nowrap;">【{{localize (lookup FU.attributeAbbreviations roll.primary)}}&nbsp;+&nbsp;{{localize (lookup FU.attributeAbbreviations roll.secondary)}}】
				{{~#if (gt roll.modifier 0)}}+{{roll.modifier}}{{/if~}}
				{{~#if (lt roll.modifier 0)}}-{{pfuMathAbs roll.modifier}}{{/if~}}
			</span>
		{{~/if~}}
	{{else}}
		{{#if class}} ⬥&#xFEFF;{{/if~}}
		<span style="white-space: nowrap;">【{{localize (lookup FU.attributeAbbreviations roll.primary)}}&nbsp;+&nbsp;{{localize (lookup FU.attributeAbbreviations roll.secondary)}}】
			{{~#if (gt roll.modifier 0)}}+{{roll.modifier}}{{/if}}
			{{~#if (lt roll.modifier 0)}}-{{pfuMathAbs roll.modifier}}{{/if}}
		</span>
	{{~/if~}}
{{~/if}}

{{#if damage}}
	{{#if useWeaponDamage}}
		{{#if weapon}}
			{{#if (or roll class)}} ⬥&#xFEFF;{{/if~}}
			【{{#if roll}}{{#if damage.hrZero}}{{localize 'FU.HRZero'}}{{else}}{{localize 'FU.HighRollAbbr'}}{{/if}}&nbsp;+&nbsp;{{/if}}{{damage.value}}】&#xFEFF;
			{{~localize (lookup FU.damageTypes damage.type)}}
		{{~/if}}
	{{else}}
		{{#if (or roll class)}} ⬥&#xFEFF;{{/if~}}
		【{{#if roll}}{{#if damage.hrZero}}{{else}}{{localize 'FU.HighRollAbbr'}}&nbsp;+&nbsp;{{/if}}{{/if}}{{damage.value}}】&#xFEFF;
		{{~localize (lookup FU.damageTypes damage.type)}}
	{{~/if}}
{{~/if}}

{{#if weapon}}
{{else}}
	{{#if (or useWeaponAccuracy useWeaponDamage)}}
		{{#if (or roll (or class damage))}} ⬥&#xFEFF;{{/if~}}
		<span style="white-space: nowrap;">&nbsp;{{localize 'FU.AbilityNoWeaponEquipped'}}</span>
	{{/if}}
{{/if}}