<div class="item-lg" data-tooltip="{{{system.data.zeroTrigger.description}}}">{{ item.system.data.zeroTrigger.value }}</div>
<div class="item-lg" data-tooltip="{{{system.data.zeroEffect.description}}}">{{ item.system.data.zeroEffect.value }}</div>
{{!-- Clocks --}}
{{progress item 'system.data.progress' type='featureCounter'}}
