<div class="resource-content">
    <div class="item-settings desc">
        <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ClockStatus'}}">
            <span>
                {{#if system.data.hasClock.value}}
                <i class="fas fa-clock"></i>
                {{else}}
                <i class="far fa-clock"></i>
                {{/if}}
            </span><input type="checkbox" name="system.data.hasClock.value" {{ checked system.data.hasClock.value }} />
        </label>
    </div>

    {{!-- Clocks --}}
    {{> "systems/projectfu/templates/optional/partials/feature-progress-clock-sheet.hbs"}}

    <div class="grid grid-2col gap-5">
        {{!-- Zero Trigger --}}
        <fieldset class="title-fieldset desc resource-content">
            <legend class="resource-label-full">
                <input type="text" name="system.data.zeroTrigger.value" value="{{ system.data.zeroTrigger.value }}"
                       data-dtype="String" placeholder="{{localize 'FU.LimitTrigger'}}" data-tooltip="
							{{localize 'FU.LimitTrigger'}}"
                       class="resource-label-m resource-inputs select-dropdown-full" />
            </legend>
			<prose-mirror name="system.data.zeroTrigger.description" value="{{system.data.zeroTrigger.description}}" toggled>
				{{{enrichedHtml.zeroTrigger.description}}}
			</prose-mirror>
        </fieldset>

        {{!-- Zero Effect --}}
        <fieldset class="title-fieldset desc resource-content">
            <legend class="resource-label-full">
                <input type="text" name="system.data.zeroEffect.value" value="{{ system.data.zeroEffect.value }}"
                       data-dtype="String" placeholder="{{localize 'FU.LimitEffect'}}"
                       data-tooltip="{{localize 'FU.LimitEffect'}}"
                       class="resource-label-m resource-inputs select-dropdown-full" />
            </legend>
			<prose-mirror name="system.data.zeroEffect.description" value="{{system.data.zeroEffect.description}}" toggled>
				{{{enrichedHtml.zeroEffect.description}}}
			</prose-mirror>
        </fieldset>
    </div>
</div>