<div class="item-lg" data-tooltip="{{{system.data.zeroTrigger.description}}}">{{ item.system.data.zeroTrigger.value }}</div>
<div class="item-lg" data-tooltip="{{{system.data.zeroEffect.description}}}">{{ item.system.data.zeroEffect.value }}</div>
{{!-- Clocks --}}
<div class="item-m inline-desc" style="text-align: initial; padding: 1px;">
	<a class="decrement-button"
	   data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.data.progress.step}})"
	   data-action="modifyResource"
	   data-data-path="system.data.progress"
	   data-resource-action="decrement">
		<i class="fas fa-minus"></i>
	</a>
    <div class="progress-container">
        {{> "systems/projectfu/templates/optional/partials/feature-progress-clock.hbs"
        arr=item.system.data.progress.progressArray
        data=item.system.data.progress
		dataPath="system.data.progress"}}
    </div>
	<a class="increment-button"
	   data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.data.progress.step}})"
	   data-action="modifyResource"
	   data-data-path="system.data.progress"
	   data-resource-action="increment">
		<i class="fas fa-plus"></i>
	</a>
</div>