<div>
    <div class="flexrow gap-5 mb-5">
        <section class="flex1">
            <fieldset class="desc title-fieldset resource-content">
                <legend class="resource-label-m">
                    {{localize "FU.ClassFeatureVerseSingDialogLabelAlt"}}
                </legend>
                <div>
                    <label>
                        <span class="resource-label-sm">{{localize "FU.ClassFeatureVerseChooseKey"}}</span><br>
                        <select class="resource-inputs select-dropdown-full grid-span-4" name="performance.key">
                            {{selectOptions keys selected=performance.key labelAttr="name"}}
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        <span class="resource-label-sm">{{localize "FU.ClassFeatureVerseChooseTone"}}</span><br>
                        <select class="resource-inputs select-dropdown-full grid-span-4" name="performance.tone">
                            {{selectOptions tones selected=performance.tone labelAttr="name"}}
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        <span class="resource-label-sm">{{localize "FU.ClassFeatureVerseChooseVolume"}}</span><br>
                        <select class="resource-inputs select-dropdown-full grid-span-4" name="performance.volume">
                            {{selectOptions volumes selected=performance.volume}}
                        </select>
                    </label>
                </div>
            </fieldset>
        </section>
        <fieldset class="flex3 desc title-fieldset resource-content">
            <legend class="resource-label-m">
                {{localize "FU.Effect"}}
            </legend>
            <div class="verse-description">
                {{{effects}}}
            </div>
        </fieldset>
    </div>
    <div class="flexrow gap-5">
        <button type="button" data-action="perform" class="action-style  flex3"
            style="justify-content: center; border: none;">{{localize "FU.ClassFeatureVerseSingDialogLabel"}}</button>
    </div>
</div>