<div class="fu-tags">
    <div class="fu-tag">
        {{localize volume}}
    </div>
    <div class="fu-tag">
        {{key}}
    </div>
    <div class="fu-tag">
        {{tone}}
    </div>
    <div class="fu-tag">
        {{localize targets}}
    </div>
    <div class="fu-tag">
        {{cost}} {{localize 'FU.MindAbbr'}}
    </div>
</div>
<div class='chat-desc'>
    <details {{#unless (getGameSetting 'collapseDescriptions')}}open{{/unless}}>
        <summary class="collapsible-description align-center">{{localize 'FU.Description'}}</summary>
        {{{description}}}
    </details>
</div>