<div class='resource-content desc gap-5 flexcol flexgrow-1'>
    <div>
        <label class="resource-label-m">
            {{localize 'FU.ClassFeatureKeyDamageType'}}:
            <select class="resource-inputs select-dropdown-l resource-text-m" name="system.data.type">
                {{selectOptions additionalData.types selected=system.data.type localize=true}}
            </select>
        </label>
    </div>

    <div>
        <label class="resource-label-m">
            {{localize 'FU.ClassFeatureKeyStatus'}}:
            <select class="resource-inputs select-dropdown-l resource-text-m" name="system.data.status">
                {{selectOptions additionalData.statuses selected=system.data.status localize=true}}
            </select>
        </label>
    </div>

    <div>
        <label class="resource-label-m">
            {{localize 'FU.ClassFeatureKeyAttribute'}}:
            <select class="resource-inputs select-dropdown-l resource-text-m" name="system.data.attribute">
                {{selectOptions additionalData.attributes selected=system.data.attribute localize=true}}
            </select>
        </label>
    </div>

    <div>
        <label class="resource-label-m">
            {{localize 'FU.Resource'}}:
            <select class="resource-inputs select-dropdown-l resource-text-m" name="system.data.resource">
                {{selectOptions additionalData.resourceOptions selected=system.data.resource localize=true}}
            </select>
        </label>
    </div>
</div>