<div>
    <div class='grid grid-3col detail-desc'>
        <div>
            {{localize volume}}
        </div>
        <div>
            {{key}}
        </div>
        <div>
            {{tone}}
        </div>
        <div>
            {{localize 'FU.MindPointCost'}}:
            {{cost}}
        </div>
        <div class='grid-span-2'>
            {{localize targets}}
        </div>
        <div class='grid-span-3'>
            {{{description}}}
        </div>
    </div>
</div>