{{#if targets}}
    <div style="clear: both"></div>
    <header class="title-desc chat-header flexrow">
        <h2>
            {{localize "FU.Target"}}
            {{#if (gt targets.length 1)}}
                <span>: {{localize "FU.Multi"}}({{targets.length}})</span>
            {{/if}}
        </h2>
    </header>
    <section class="targets">
        {{#each targets as |target|}}
            <span class="flexrow">
                <span class="target total {{#if (eq target.result "hit")}}hit{{else if (eq target.result "miss")}}miss{{else}}default{{/if}} flexrow">
                    <div style="padding: 2px;">{{target.name}}</div>
                    <div class="endcap gap-5" style="flex: 0 1 auto;">
                        <span class="{{target.result}}">{{localize (concat 'FU.' (capitalize target.result))}}</span>
                    </div>
                </span>
                <span class="fu-tags" style="flex: 0 1 auto;padding: 2px;">
                    <a data-action="applySingleDamage" data-id="{{target.uuid}}" data-tooltip="{{localize 'FU.ChatApplyDamageTooltip'}}">
                        <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fas fa-heart-crack"></i></span>
                    </a>
                </span>
            </span>
        {{/each}}
        <div class="fu-tags flexrow gap-5">
            <a data-action="applySelectedDamage" data-tooltip="{{localize 'FU.ChatApplyDamageTooltip'}}">
                <span class='fu-tag button flex-group-center gap-5' style="width: 100%;white-space: nowrap;">{{localize 'FU.ChatApplySelected'}}<i class="icon fas fa-expand"></i></span>
            </a>
            <a data-action="applyTargetedDamage" data-tooltip="{{localize 'FU.ChatApplyDamageTooltip'}}">
                <span class='fu-tag button flex-group-center gap-5' style="width: 100%;white-space: nowrap;">{{localize 'FU.ChatApplyTargeted'}}<i class="icon fas fa-bullseye"></i></span>
            </a>
        </div>
    </section>
{{/if}}