<div class='damage-desc align-left'>
	<div class='damage-box'>
		<span class='damage-title'>{{localize 'FU.Damage'}}</span>
	</div>
	<div class='damage-details'>
		<span class='damage-detail-text'>
			{{#if (not damage.hrZero)}}
				{{#if (gte result.attr1 result.attr2)}}
					{{result.attr1}}
				{{else}}
					{{result.attr2}}
				{{/if}}
                <strong>({{localize 'FU.HighRollAbbr'}})</strong>
                +
			{{/if}}
			{{damage.bonus}}
		</span>
	</div>
	<div class='float-box dam-float'>
		<span class='float-text' style=''>{{damage.total}}</span>
        {{localize (concat 'FU.Damage' (capitalize damage.type))}}!
	</div>
</div>