<div class="flexrow gap-5">
    <div id='results' class='detail-desc flex-group-center grid grid-3col flex3'>
        <div>
			{{pfuIconAttribute check.attr1.attribute value=result.die1}}
            <label class="detail">{{result.attr1}}</label>
        </div>
        <div>
			{{pfuIconAttribute check.attr2.attribute value=result.die2}}
            <label class="detail">{{result.attr2}}</label>
        </div>
        <div {{#if modifiers}}data-tooltip="{{#each modifiers}}{{localize label}}: {{value}}{{#unless @last}}<br>{{/unless}}{{/each}}"{{/if}}>
			{{pfuBadge 'mod' label='FU.ModAbbr' }}
            <label class="detail">{{#unless (lt result.modifier 0)}}+{{/unless}}{{result.modifier}}</label>
        </div>

    </div>
    {{#if (gt difficulty 0)}}
    <div class="detail-desc fu-check__difficulty flex-group-center">
		<div>
			{{pfuBadge 'difficulty' label='FU.DifficultyLevelAbbr' tooltip='FU.ChatDifficulty' }}
			<label class="detail">{{difficulty}}</label>
		</div>
    </div>
    {{/if}}
</div>

{{#if (or (gt difficulty 0) result.crit result.fumble)}}
    <div style="clear: both;"></div>
    <div class='fu-check chat-desc flexrow flex-group-center total {{pfuCheckOutcome result difficulty}}'>
		<div class="fu-check__result flex-group-center">
			<img class="fu-icon--s fu-check__dice" alt="dice"/>
			<span class="fu-check__result-text">{{result.total}}</span>
		</div>
		<div class="fu-check__outcome">
			{{#if result.crit}}
				<span>{{localize 'FU.Critical'}}!</span>
			{{else if result.fumble}}
				<span>{{localize 'FU.Fumble'}}</span>
			{{else if (gte result.total difficulty)}}
				<span>{{localize 'FU.Success'}}</span>
			{{else}}
				<span>{{localize 'FU.Failure'}}</span>
			{{/if}}
		</div>

    </div>
{{else}}
	<div class='fu-check chat-desc flexrow flex-group-center total {{pfuCheckOutcome result}}'>
		<div class="fu-check__result flex-group-center">
			<img class="fu-icon--s fu-check__dice" alt="dice"/>
			<span class="fu-check__result-text">{{result.total}}</span>
		</div>
		{{#if (or result.crit result.fumble)}}
			<div class="fu-check__outcome">
				{{#if result.crit}}
					<span>{{localize 'FU.Critical'}}!</span>
				{{else if result.fumble}}
					<span>{{localize 'FU.Fumble'}}</span>
				{{/if}}
			</div>
		{{/if}}
    </div>
{{/if}}