{{#if targets}}
<div style="clear: both"></div>
<div class='detail-desc targets resource-content gap-5'>
    <section>
        <div class="flex-group-left">
            <h3>
                {{localize "FU.Target"}}
                {{#if (gt targets.length 1)}}
                <span>: {{localize "FU.Multi"}}({{targets.length}})</span>
                {{/if}}
            </h3>
        </div>
        {{#each targets as |target|}}
        <div class="target flexrow">
            <span>
                {{target.link}}
            </span>
            <span class="{{target.result}}">
                {{localize (concat 'FU.' (capitalize target.result))}}
            </span>
        </div>
        {{/each}}

        <hr>
        <div class="flexrow gap-5">
            {{!-- <a data-action="selectAllTargets" data-tooltip="{{localize 'FU.SelectAllTargetsTooltip'}}">
                <button class='float-text'>Select All <i class="icon fas fa-check-square"></i></button>
            </a> --}}
            <a data-action="applyDamage" data-tooltip="{{localize 'FU.ChatApplyDamageTooltip'}}">
                <button class='float-text'>Apply selected <i class="icon fas fa-expand"></i></button>
            </a>
        </div>
    </section>
</div>
{{/if}}