<div class="accuracy-desc align-left">
    <div class="accuracy-box">
        <span class="accuracy-title">{{localize 'FU.Accuracy'}}</span>
    </div>
    <div class="accuracy-details" {{#if modifiers}}data-tooltip="{{#each modifiers}}{{localize label}}: {{value}}{{#unless @last}}<br>{{/unless}}{{/each}}"{{/if}}>
        <span class="accuracy-detail-text">
          {{result.attr1}} <strong>({{localize (concat 'FU.Attribute' (capitalize check.attr1.attribute) 'Abbr')}}
            )</strong> +
            {{result.attr2}} <strong>({{localize (concat 'FU.Attribute' (capitalize check.attr2.attribute) 'Abbr')}}
            )</strong>
            {{#if result.modifier}}{{#if (gte result.modifier 0)}}+{{else}}-{{/if}} {{mathAbs result.modifier}}{{/if}}
            {{#if result.bonus}}{{#if (gte result.bonus 0)}}+{{else}}-{{/if}} {{mathAbs result.bonus}}{{/if}}
            {{#if result.push}}+ {{result.push}}{{/if}}
        </span>
    </div>
    <div class="float-box acc-float">
        <span class="float-text" style="">{{result.total}}</span> {{localize 'FU.ToHit'}}
    </div>
</div>
