{{#if (or (gt difficulty 0) result.crit result.fumble)}}
    <div style="clear: both;"></div>
    <div class='detail-desc flexrow flex-group-center'>
        <label class="total {{#if result.crit}}critical{{else}}{{#if result.fumble}}fumble{{else}}{{#if (and (or result.crit (gte result.total difficulty)) (not result.fumble))}}success{{else}}failure{{/if}}{{/if}}{{/if}} flexrow">
            <div style="flex-grow: 1;"></div>
            <div class="" style="flex: 0 1 auto;">{{result.total}}</div>
            <div class="endcap gap-5">
                {{#if result.crit}}
                    <span>{{localize 'FU.Critical'}}!</span>
                {{else if result.fumble}}
                    <span>{{localize 'FU.Fumble'}}</span>
                {{else if (gte result.total difficulty)}}
                    <span>{{localize 'FU.Success'}}</span>
                {{else}}
                    <span>{{localize 'FU.Failure'}}</span>
                {{/if}}
            </div>
        </label>
    </div>
{{/if}}