<fieldset class="title-fieldset desc resource-content"
		  style="display: flex; flex-wrap: wrap; justify-content: space-around;">
	<legend class="resource-label-full">
		<label class="flexrow gap-4">
			<img src="{{item.img}}" alt="{{item.name}}"
				 data-item-id="{{item.uuid}}"
				 class="fu-dialog__icon__small">
			{{item.name}}
		</label>
	</legend>
	<span>{{{text}}}</span>
</fieldset>
