<fieldset class="title-fieldset desc resource-content"
		  style="display: flex; flex-wrap: wrap; justify-content: space-around; padding: 0px 10px; margin: 0px 0px 4px 0px;">
	<legend class="resource-label-full">
		<label class="flexrow gap-4">
			{{#if actor}}
				<img src="{{actor.img}}" alt="{{actor.name}}"
					 data-actor-id="{{actor.uuid}}"
					 class="fu-icon fu-icon--s">
			{{/if}}
			<a data-link data-type="Item" {{#if item.uuid}}draggable="true" data-uuid="{{item.uuid}}"{{/if}}>
				<img src="{{item.img}}" alt="{{item.name}}" {{#if item.id}}data-item-id="{{item.id}}"{{/if}} class="fu-icon fu-icon--s" style="display: block">
			</a>
			{{item.name}}
		</label>
	</legend>
	<div class='chat-item-text' id="chat-item-text" {{#if actor}}data-actor-id="{{actor.uuid}}"{{/if}} data-item-id="{{item.uuid}}">{{{text}}}</div>
</fieldset>
