<main class="fu-chat__opposed-check">
	<section class="flexrow flex-group-center">
		{{#with actor}}
			<a data-link data-uuid="{{uuid}}"
			   data-type="Actor" data-tooltip="{{name}}">
				<img src="{{img}}" alt="{{name}}" data-item-id="{{id}}"
					 class="profile-img fu-chat__actor
					{{#if (eq @root.winner name)}}
						 fu-chat__opposed-check__winner
					 {{else}}
						 fu-chat__opposed-check__loser
					 {{/if}}">
			</a>
		{{/with}}

		<i class="fu-icon--m ra ra-crossed-swords fu-chat__opposed-check__icon"></i>

		{{#with initialActor}}
			<a data-link draggable="true" data-uuid="{{uuid}}"
			   data-type="Actor" data-tooltip="{{name}}">
				<img src="{{img}}" alt="{{name}}" data-item-id="{{id}}"
					 class="profile-img fu-chat__actor
					 {{#if (eq @root.winner name)}}
						 fu-chat__opposed-check__winner
					 {{else}}
						 fu-chat__opposed-check__loser
					 {{/if}}">
			</a>
		{{/with}}
	</section>
</main>