{{#if message}}
	<section>
		{{{message}}}
	</section>
{{/if}}
<div style="display: grid; margin-top: 4px;">
	<div class="pfu-progress__chat gap-10">
		<div class="pfu-progress__segments__container">
			<div class="pfu-progress__segments" style="--segments: {{progress.max}}; --size: 50px" data-segments="{{progress.max}}"
				 data-tooltip="{{localize 'FU.Progress'}}">
				<div class="foreground"></div>
				{{#each segments as |obj key|}}
					<input disabled="" class="pie slice{{obj.id}}" type="radio" value="{{obj.id}}" style="--index: {{obj.id}}"
						{{checked obj.checked}} />
					<div class="divider" style="--index: {{obj.id}}"></div>
				{{/each}}
			</div>

		</div>
		<div class="flexcol flex-group-center" style="display: flex; width: 100%;">
			<div class="flexrow flex-group-center">
				{{#if displayName}}
					<label class="flexrow flex-group-center">
						{{#if progress.parent.parent.img }}
							<img class='fu-icon--s' alt="icon" src="{{{progress.parent.parent.img}}}" />
						{{/if}}
						{{localize progress.name}}
					</label>
				{{/if}}
			</div>
			<div class="flex-group-center stats">
				<span class="stat-current">{{progress.current}}</span>
				<span class="stat-divider">/</span>
				<span class="stat-max">{{progress.max}}</span>
			</div>
		</div>
	</div>
</div>
