<main class="chat-desc">
	<div class="flexrow flex-group-center">
		{{#if winner}}
			{{#unless (gt margin 0)}}
				<span>{{{localize 'FU.OpposedCheckWinner' winner=winner}}}</span>
			{{else}}
				<span>{{{localize 'FU.OpposedCheckWinnerByMargin' winner=winner margin=margin}}}</span>
			{{/unless}}
		{{else}}
			<span>{{{localize 'FU.OpposedCheckDraw'}}}</span>
		{{/if}}
	</div>
</main>