<div class="toggle-section tags {{#if (getGameSetting 'optionChatMessageHideTags')}}hidden{{/if}}">
    <div class="fu-tags">
        <div class="fu-tag">
            {{#if spell.duration}}
                {{spell.duration}}
            {{else}}
                {{localize 'FU.Duration'}}
            {{/if}}
        </div>
        <div class="fu-tag">
            {{#if spell.target}}
                {{spell.target}}
            {{else}}
                {{localize 'FU.Target'}}
            {{/if}}
        </div>
        <div class="fu-tag">
            {{#if spell.mpCost}}
                {{spell.mpCost}} {{localize 'FU.MindAbbr'}}
            {{else}}
                {{localize 'FU.MindPointCost'}}
            {{/if}}
        </div>
    </div>
</div>

{{#if spell.opportunity}}
    <div class="toggle-section quality {{#if (getGameSetting 'optionChatMessageHideQuality')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-opportunity.hbs' opportunity=spell.opportunity}}
    </div>
{{/if}}

{{#if (or spell.summary spell.description)}}
    <div class="toggle-section description {{#if (getGameSetting 'optionChatMessageHideDescription')}}hidden{{/if}}">
        {{> 'systems/projectfu/templates/chat/partials/chat-item-description.hbs' summary=spell.summary description=spell.description}}
    </div>
{{/if}}