<div class="fu-tags flexrow gap-5">
    <a data-action="applyResourceLoss" data-name="{{name}}" data-actor="{{actor}}" data-item="{{item}}" data-resource="{{expense.resource}}" data-tooltip="{{localize "FU.ChatApplyResourceLossTooltip"}}" data-amount="{{expense.amount}}">
        <span class='fu-tag button flex-group-center gap-5' style="width: 100%;white-space: nowrap;">{{localize "FU.ChatApplyResourceLoss"}} {{expense.amount}} <i class="icon {{icon}}"></i></span>
    </a>
</div>