<div>{{localize 'FU.AbilityUsingWeapon'}}</div>
<div class="title-desc chat-header flexrow">
    <a data-link data-uuid="{{weapon.uuid}}" data-type="Item" data-tooltip="{{weapon.name}}">
        <img src="{{weapon.img}}" alt="Image" data-item-id="{{weapon.id}}" class="item-img">
    </a>
    <h2 style="flex-grow: 8;">{{weapon.name}}</h2>
</div>