<header class='detail-desc flexrow flex-group-center desc'>
	<label class="total damageType {{damage.type}} flexrow" data-tooltip="{{localize 'FU.Damage'}}">
		<i class="fu-icon--s fu-icon--bg {{lookup translation.damageIcon damage.type}}" data-tooltip="{{localize (lookup translation.damageTypes damage.type)}}"></i>
		<div class="startcap"></div>
		<div style="flex: 0 1 auto;">{{damage.total}}</div>
		<div class="endcap"></div>
	</label>
</header>

<div class="pfu-chat-message__toggle-section accuracy-check-results {{#if (pfuGetSetting 'optionChatMessageHideRollDetails')}}hidden{{/if}}">
    <div class="flexrow gap-5">
        <div class='detail-desc flex-group-center grid grid-2col desc flex2'>
            <div data-tooltip="{{localize 'FU.HighRoll'}}:
                    {{#if (not damage.hrZero)}}
                        {{#if (gte check.primary.result check.secondary.result)}}
                            {{check.primary.result}}
                        {{else}}
                            {{check.secondary.result}}
                        {{/if}}
                    {{else}}
                        0
                    {{/if}}" style='padding: 2px 4px'>
				{{pfuBadge 'hr' label='FU.HighRollAbbr' flexDir='row' gap='2px' size='xs'}}
                <label class="detail">
                    {{#if (not damage.hrZero)}}
                        {{#if (gte check.primary.result check.secondary.result)}}
                            {{check.primary.result}}
                        {{else}}
                            {{check.secondary.result}}
                        {{/if}}
                    {{else}}
                        0
                    {{/if}}
                </label>
            </div>
            <div data-tooltip="{{#if damage.modifiers}}{{#each damage.modifiers}}{{localize label}}: {{amount}}{{#unless @last}}<br>{{/unless}}{{/each}}{{else}}{{localize 'FU.BaseDamage'}}: 0{{/if}}" style='padding: 2px 4px'>
				{{pfuBadge 'mod' label='FU.ModAbbr' flexDir='row' size='xs'}}
                <label class="detail">{{damage.modifierTotal}}</label>
            </div>
        </div>
    </div>
</div>