<div class="settings-form desc">
	<p class="instructions">{{localize "FU.ExperimentalCombatHudInstuction"}}</p>
	{{!-- experimentalCombatHud --}}
	<div class="form-group">
		<label for="experimentalCombatHud">{{localize "FU.ExperimentalCombatHudStatus"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="experimentalCombatHud" id="experimentalCombatHud" {{checked
			 experimentalCombatHud}}>
		</div>
		<p class="notes">{{localize "FU.ExperimentalCombatHudSettingsHint"}}</p>
	</div>
	{{!-- optionCombatHudTheme --}}
	<div class="form-group">
		<label for="optionCombatHudTheme">{{localize "FU.CombatHudTheme"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudTheme" id="optionCombatHudTheme">
				{{selectOptions optionCombatHudThemeOptions selected=optionCombatHudTheme localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudThemeHint"}}</p>
	</div>
	{{!-- optionCombatHudOpacity --}}
	<div class="form-group">
		<label for="optionCombatHudOpacity">{{localize "FU.CombatHudOpacity"}}</label>
		<div class="form-fields">
			<input type="range" min="0" max="100" name="optionCombatHudOpacity" id="optionCombatHudOpacity"
				   value="{{optionCombatHudOpacity}}">
		</div>
		<p class="notes">{{localize "FU.CombatHudOpacityHint"}}</p>
	</div>
	{{!-- optionCombatHudWidth --}}
	<div class="form-group">
		<label for="optionCombatHudWidth">{{localize "FU.CombatHudWidth"}}</label>
		<div class="form-fields">
			<input type="range" min="0" max="100" name="optionCombatHudWidth" id="optionCombatHudWidth"
				   value="{{optionCombatHudWidth}}">
		</div>
		<p class="notes">{{localize "FU.CombatHudWidthHint"}}</p>
	</div>
	{{!-- optionCombatHudPositionButton --}}
	<div class="form-group">
		<label for="optionCombatHudPositionButton">{{localize "FU.CombatHudPositionButton"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudPositionButton" id="optionCombatHudPositionButton">
				{{selectOptions optionCombatHudPositionButtonOptions selected=optionCombatHudPositionButton localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudPositionButtonHint"}}</p>
	</div>
	{{!-- optionCombatHudPosition --}}
	<div class="form-group">
		<label for="optionCombatHudPosition">{{localize "FU.CombatHudPosition"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudPosition" id="optionCombatHudPosition">
				{{selectOptions optionCombatHudPositionOptions selected=optionCombatHudPosition localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudPositionHint"}}</p>
	</div>
	{{!-- optionCombatHudPortrait --}}
	<div class="form-group">
		<label for="optionCombatHudPortrait">{{localize "FU.CombatHudPortrait"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudPortrait" id="optionCombatHudPortrait">
				{{selectOptions optionCombatHudPortraitOptions selected=optionCombatHudPortrait localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudPortraitHint"}}</p>
	</div>
	{{!-- optionCombatHudShowEffects --}}
	<div class="form-group">
		<label for="optionCombatHudShowEffects">{{localize "FU.CombatHudShowEffects"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="optionCombatHudShowEffects" id="optionCombatHudShowEffects" {{checked
			 optionCombatHudShowEffects}}>
		</div>
		<p class="notes">{{localize "FU.CombatHudShowEffectsHint"}}</p>
	</div>
	{{!-- optionCombatHudEffectsMarqueeDuration --}}
	<div class="form-group">
		<label for="optionCombatHudEffectsMarqueeDuration">{{localize "FU.CombatHudEffectsMarqueeDuration"}}</label>
		<div class="form-fields">
			<input type="number" name="optionCombatHudEffectsMarqueeDuration" id="optionCombatHudEffectsMarqueeDuration"
				   min="1" value="{{optionCombatHudEffectsMarqueeDuration}}">
		</div>
		<p class="notes">{{localize "FU.CombatHudEffectsMarqueeDurationHint"}}</p>
	</div>
	{{!-- optionCombatHudEffectsMarqueeMode --}}
	<div class="form-group">
		<label for="optionCombatHudEffectsMarqueeMode">{{localize "FU.CombatHudEffectsMarqueeMode"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudEffectsMarqueeMode" id="optionCombatHudEffectsMarqueeMode">
				{{selectOptions optionCombatHudEffectsMarqueeModeOptions selected=optionCombatHudEffectsMarqueeMode localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudEffectsMarqueeModeHint"}}</p>
	</div>
	{{!-- optionCombatHudReordering --}}
	{{#if isGM}}
		<div class="form-group">
			<label for="optionCombatHudReordering">{{localize "FU.CombatHudReordering"}}</label>
			<div class="form-fields">
				<input type="checkbox" name="optionCombatHudReordering" id="optionCombatHudReordering" {{checked
				 optionCombatHudReordering}}>
			</div>
			<p class="notes">{{localize "FU.CombatHudReorderingHint"}}</p>
		</div>
	{{/if}}
	{{!-- optionCombatHudShowOrderNumbers --}}
	<div class="form-group">
		<label for="optionCombatHudShowOrderNumbers">{{localize "FU.CombatHudShowOrderNumbers"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="optionCombatHudShowOrderNumbers" id="optionCombatHudShowOrderNumbers" {{checked
			 optionCombatHudShowOrderNumbers}}>
		</div>
		<p class="notes">{{localize "FU.CombatHudShowOrderNumbersHint"}}</p>
	</div>
	{{#if isGM}}
	{{!-- optionCombatHudTrackedResource1 --}}
	<div class="form-group">
		<label for="optionCombatHudTrackedResource1">{{localize "FU.CombatHudTrackedResource1"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudTrackedResource1" id="optionCombatHudTrackedResource1">
				{{selectOptions trackedResources selected=optionCombatHudTrackedResource1 localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudTrackedResource1Hint"}}</p>
	</div>
	{{!-- optionCombatHudTrackedResource2 --}}
	<div class="form-group">
		<label for="optionCombatHudTrackedResource2">{{localize "FU.CombatHudTrackedResource2"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudTrackedResource2" id="optionCombatHudTrackedResource2">
				{{selectOptions trackedResources selected=optionCombatHudTrackedResource2 localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudTrackedResource2Hint"}}</p>
	</div>
	{{!-- optionCombatHudTrackedResource3 --}}
	<div class="form-group">
		<label for="optionCombatHudTrackedResource3">{{localize "FU.CombatHudTrackedResource3"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudTrackedResource3" id="optionCombatHudTrackedResource3">
				{{selectOptions trackedResources selected=optionCombatHudTrackedResource3 localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudTrackedResource3Hint"}}</p>
	</div>
	{{!-- optionCombatHudTrackedResource4 --}}
	<div class="form-group">
		<label for="optionCombatHudTrackedResource4">{{localize "FU.CombatHudTrackedResource4"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudTrackedResource4" id="optionCombatHudTrackedResource4">
				{{selectOptions trackedResources selected=optionCombatHudTrackedResource4 localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudTrackedResource4Hint"}}</p>
	</div>
	{{!-- optionCombatHudShowNPCTurnsLeftMode --}}
	<div class="form-group">
		<label for="optionCombatHudShowNPCTurnsLeftMode">{{localize "FU.CombatHudShowNPCTurnsLeftMode"}}</label>
		<div class="form-fields">
			<select name="optionCombatHudShowNPCTurnsLeftMode" id="optionCombatHudShowNPCTurnsLeftMode">
				{{selectOptions optionCombatHudShowNPCTurnsLeftModeOptions selected=optionCombatHudShowNPCTurnsLeftMode localize=true}}
			</select>
		</div>
		<p class="notes">{{localize "FU.CombatHudShowNPCTurnsLeftModeHint"}}</p>
	</div>
	<h3>{{localize "FU.CombatHudTurnIcons"}}</h3>
	<p class="notes">
		{{combatHudTurnIconsHint}}
	</p>
	<div class="form-group">
		<label for="optionCombatHudTurnIconsActive">{{localize "FU.CombatHudTurnIconsActive"}}</label>
		<div class="form-fields">
			<input type="text" class="mats-icon-picker" name="optionCombatHudTurnIconsActive" id="optionCombatHudTurnIconsActive" value="{{optionCombatHudTurnIconsActive}}">
			<i class="mats-o mats-fill">{{optionCombatHudTurnIconsActive}}</i>
		</div>
		<p class="notes">{{localize "FU.CombatHudTurnIconsActiveHint"}}</p>
	</div>
	<div class="form-group">
		<label for="optionCombatHudTurnIconsOutOfTurns">{{localize "FU.CombatHudTurnIconsOutOfTurns"}}</label>
		<div class="form-fields">
			<input type="text" class="mats-icon-picker" name="optionCombatHudTurnIconsOutOfTurns" id="optionCombatHudTurnIconsOutOfTurns" value="{{optionCombatHudTurnIconsOutOfTurns}}">
			<i class="mats-o mats-fill">{{optionCombatHudTurnIconsOutOfTurns}}</i>
		</div>
		<p class="notes">{{localize "FU.CombatHudTurnIconsOutOfTurnsHint"}}</p>
	</div>
	<div class="form-group">
		<label for="optionCombatHudTurnIconsTurnsLeftHidden">{{localize "FU.CombatHudTurnIconsTurnsLeftHidden"}}</label>
		<div class="form-fields">
			<input type="text" class="mats-icon-picker" name="optionCombatHudTurnIconsTurnsLeftHidden" id="optionCombatHudTurnIconsTurnsLeftHidden" value="{{optionCombatHudTurnIconsTurnsLeftHidden}}">
			<i class="mats-o mats-fill">{{optionCombatHudTurnIconsTurnsLeftHidden}}</i>
		</div>
		<p class="notes">{{localize "FU.CombatHudTurnIconsTurnsLeftHiddenHint"}}</p>
	</div>
	{{/if}}
	<div class="form-group buttons">
		<button type="submit">
			<i class="fas fa-floppy-disk"></i>{{localize "FU.SettingsSave"}}
		</button>
		<button type="reset" name="reset">
			<i class="fas fa-undo"></i>{{localize "FU.SettingsReset"}}
		</button>
	</div>
</div>