<div class="class-feature">
    <fieldset class="title-fieldset desc resource-content">
        <legend class="resource-label-full">
            <label class="resource-label-m">{{localize 'FU.Defenses'}}</label>
        </legend>
        <div class="flexrow">
            <div class="resource-content flexcol flex-group-center">
                <label class="resource-label-m flexlarge">{{localize 'FU.Defense'}}</label>
                <div class="flexrow gap-5">
                    <select name="system.data.defense.attribute" class="resource-inputs select-dropdown-m resource-text-m" {{#if
                        system.data.martial}}disabled{{/if}}>
                        {{#if system.data.martial}}
                        <option>-</option>
                        {{else}}
                        {{selectOptions additionalData.attributes selected=system.data.defense.attribute localize=true}}
                        {{/if}}
                    </select>
                    <span class="flex0"><i class="fas fa-plus"></i></span>
                    <input type="number" name="system.data.defense.modifier" value="{{system.data.defense.modifier}}"
                        class="resource-inputs select-dropdown-l resource-text-m">
                </div>
            </div>
            <div class="flex0">
                <label class="resource-label-m flexlarge">{{localize 'FU.Martial'}}</label>
                <div class="flex-group-center">
                    <input type="checkbox" name="system.data.martial" {{checked system.data.martial}}>
                </div>
            </div>
            <div class="resource-content flexcol flex-group-center">
                <label class="resource-label-m flexlarge">{{localize 'FU.MagicDefense'}}</label>
                <div class="flexrow gap-5">
                    <select name="system.data.magicDefense.attribute" class="resource-inputs select-dropdown-m resource-text-m" {{#if
                        system.data.martial}}disabled{{/if}}>
                        {{#if system.data.martial}}
                        <option>-</option>
                        {{else}}
                        {{selectOptions additionalData.attributes selected=system.data.magicDefense.attribute
                        localize=true}}
                        {{/if}}
                    </select>
                    <span class="flex0"><i class="fas fa-plus"></i></span>
                    <input type="number" name="system.data.magicDefense.modifier"
                        value="{{system.data.magicDefense.modifier}}" class="resource-inputs select-dropdown-l resource-text-m">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="title-fieldset desc resource-content">
        <legend class="resource-label-full">
            <label class="resource-label-m">{{localize 'FU.Quality'}}</label>
        </legend>
        <div class="flexrow">
            <div class="resource-content flexcol flex-group-center flexgrow-4">
                <label class="resource-label-m flexlarge">{{localize 'FU.Quality'}}</label>
                <input type="text" name="system.data.quality" value="{{system.data.quality}}" class="resource-inputs select-dropdown-full resource-text-m">
            </div>

            <div class="resource-content flexcol flex-group-center">
                <label class="resource-label-m flexshrink">{{localize 'FU.Cost'}}</label>
                <div class="flexrow">
                    <input type="number" name="system.cost.value" value="{{system.cost.value}}" class="resource-inputs select-dropdown-m resource-text-m">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="title-fieldset desc resource-content">
        <legend class="resource-label-full">
            <label class="resource-label-m">{{localize 'FU.Description'}}</label>
        </legend>
        <div>
			<prose-mirror name="system.data.description" value="{{system.data.description}}" toggled>
				{{{enrichedHtml.description}}}
			</prose-mirror>
		</div>
    </fieldset>
</div>