<div class="class-feature">
    <fieldset class="title-fieldset desc resource-content">
        <legend class="resource-label-full">
            <label class="resource-label-m">{{localize 'FU.ClassFeatureSupportModuleConfig'}}</label>
        </legend>
        <div class="flexrow flex-group-center">
            <label class="resource-label-m">
                {{localize 'FU.ClassFeatureSupportModuleComplex'}}
                <div>
                    <input type="checkbox" name="system.data.complex" {{checked system.data.complex}}>
                </div>
            </label>
            <div class="resource-content flexcol flex-group-center">
                <label class="resource-label-m flexshrink">{{localize 'FU.Cost'}}</label>
                <div class="flexrow">
                    <input type="number" name="system.cost.value" value="{{system.cost.value}}" class="resource-inputs select-dropdown-m resource-text-m">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="title-fieldset desc resource-content">
        <legend class="resource-label-full">
            <label class="resource-label-m">{{localize 'FU.Description'}}</label>
        </legend>
        <div>
			<prose-mirror name="system.data.description" value="{{system.data.description}}" toggled>
				{{{enrichedHtml.description}}}
			</prose-mirror>
		</div>
    </fieldset>
</div>