<section class="tab codex {{tab.cssClass}}" data-tab="codex" data-group="primary">

	<div class="toolbar">
		<label class="search">
			<input type="text"
				   placeholder="..." />
		</label>
		<button class="codex-btn codex-btn--add"
				data-action="addCodexEntry">
			<span>{{localize 'FU.Add'}}</span>
		</button>
	</div>

	<ul class="entries">
		{{#each system.codex.entries as |entry index|}}
			<li class="section-container entry" data-index="{{index}}">
				<div class="left">
					<a data-action="forCodexEntry"
					   data-type="view"
					   data-index="{{index}}"
					   title="View">
						<img class="profile-img flexcol" src="{{lookup entry 'img'}}"
							 alt="Artwork"/>
					</a>
					{{#if @root.isOwner}}
						<div class="controls">
							<button data-action="forCodexEntry"
									data-type="edit"
									data-index="{{index}}"
									title="Edit">✎</button>
							<button data-action="forCodexEntry"
									data-type="display"
									data-index="{{index}}"
									title="{{localize 'SIDEBAR.CharArt'}}">
								<i class="fu-icon--xs fa-solid fa-image"></i>
							</button>
							<button data-action="forCodexEntry"
									data-type="send"
									data-index="{{index}}">
								<i class="fu-icon--xs fas fa-comment"></i>
							</button>
							<button data-action="removeArrayElement"
									data-path="system.codex.entries"
									data-index="{{index}}"
									title="FU.Delete">✕</button>
						</div>
					{{/if}}
				</div>

				<div class="right">
					<div class="header">
						<span class="name">
							{{entry.name}}
						</span>
						<div class="pfu-tags">
							{{#each entry.tags as |tag|}}
								<div class="fu-tag">{{localize tag}}</div>
							{{/each}}
						</div>
					</div>
					<span class="description">
						{{{entry.enrichedDescription}}}
					</span>
				</div>
			</li>
		{{/each}}
	</ul>

</section>