<fieldset>
	<label class="pfu-dialog__input">
		<span>{{localize "Name"}}</span>
		<input type="text" name="name" value="{{entry.name}}" />
	</label>

	<div class="pfu-dialog__input">
		<span>{{localize "Tags"}}</span>
		<div class="pfu-tag-selector">
			{{#each tags as |tag|}}
				<div class="tag {{#if (pfuCollectionContains tag ../entry.tags)}}active{{/if}}"
					 data-action="toggleTag"
					 data-path="entry.tags"
					 data-tag="{{tag}}">
					{{pfuHumanize tag}}
				</div>
			{{/each}}
		</div>
	</div>

	<div class="pfu-dialog__input">
		<span>{{localize "Image"}}</span>
		<div class="image-picker">
			<img class="" src="{{lookup entry 'img'}}"
				 title="{{entry.name}}" alt=""/>
			<div class="inputs">
				<label>
					<input type="text" name="img" value="{{entry.img}}" />
				</label>
				<button type="button" data-action="browseImage" data-name="img" data-type="image">
					<i class="fas fa-file-image"></i>
				</button>
			</div>
		</div>
	</div>

	<div class="pfu-dialog__input">
		<span>{{localize "Description"}}</span>
		<div class="form-fields">
			<prose-mirror name="description"
						  compact="true"
						  value="{{entry.description}}">
			</prose-mirror>
		</div>
	</div>
</fieldset>