<fieldset>
	<div class="flexrow flex-group-center gap-16">
		<label class="pfu-dialog__input">
			<span>{{localize "FU.Name"}}</span>
			<input type="text" name="name" value="{{entry.name}}" />
		</label>

		<label class="pfu-dialog__input">
			<span>{{localize "FU.Hidden"}}</span>
			<input type="checkbox" name="hidden" {{checked entry.hidden}} />
		</label>
	</div>

	<div class="pfu-dialog__input">
		<span>{{localize "FU.Tags"}}</span>
		<div class="pfu-tag-selector">
			{{#each tags as |tag|}}
				<div class="tag {{#if (pfuCollectionContains tag ../entry.tags)}}active{{/if}}"
					 data-action="toggleTag"
					 data-path="entry.tags"
					 data-tag="{{tag}}">
					{{pfuHumanize tag}}
				</div>
			{{/each}}
		</div>
	</div>

	<div class="pfu-dialog__input">
		<span>{{localize "FU.Image"}}</span>
		<div class="image-picker">
			<img class="" src="{{lookup entry 'img'}}"
				 title="{{entry.name}}" alt=""/>
			<div class="inputs">
				<label>
					<input type="text" name="img" value="{{entry.img}}" />
				</label>
				<button type="button" data-action="browseImage"
						data-tooltip="FU.BrowseImage"
						data-name="img">
					<i class="fas fa-file-image"></i>
				</button>
				<button type="button" data-action="clipboardImage"
						data-tooltip="FU.UploadClipboardImage"
						data-name="img">
					<i class="fas fa-file-clipboard"></i>
				</button>
			</div>
		</div>
	</div>

	<label class="pfu-dialog__input">
		<span>{{localize "Sound"}}</span>
		<div class="grid-2col gap-16">

			<div class="fu-form__property-row">
				<label class="fu-form__property">
					<span>{{localize 'PLAYLIST_SOUND.FIELDS.path.label'}}</span>
					<input type="text" name="audio.path" value="{{entry.audio.path}}">
					<button type="button" data-action="browse"
							data-type="audio"
							data-tooltip="FU.Browse"
							data-name="audio.path">
						<i class="fas fa-file-audio"></i>
					</button>
				</label>
				<label class="fu-form__property">
					<span>{{localize 'PLAYLIST_SOUND.FIELDS.channel.label'}}</span>
					<select name="audio.channel" class="">
						{{selectOptions audioChannels selected=entry.audio.channel localize=true}}
					</select>
				</label>
			</div>

			<div class="fu-form__property-row">
				<label class="fu-form__property">
					<span>{{localize 'PLAYLIST_SOUND.FIELDS.repeat.label'}}</span>
					<input type="checkbox" name="audio.repeat" {{checked entry.audio.repeat}} />
				</label>
				<label class="fu-form__property">
					<span>{{localize 'PLAYLIST_SOUND.FIELDS.volume.label'}}</span>
					<div class="form-fields">
						<input type="range"
							   name="audio.volume"
							   value="{{entry.audio.volume}}"
							   min="0" max="1" step="0.05" />
					</div>
				</label>
			</div>
		</div>
	</label>

	<div class="pfu-dialog__input">
		<span>{{localize "FU.Description"}}</span>
		<div class="form-fields">
			<prose-mirror name="description"
						  compact="true"
						  value="{{entry.description}}">
			</prose-mirror>
		</div>
	</div>

	<div class="pfu-dialog__input">
		<span>{{localize "FU.Notes"}}</span>
		<div class="form-fields">
			<textarea name="notes">{{entry.notes}}</textarea>
		</div>
	</div>
</fieldset>