{{!-- Settings --}}
<section class="tab settings {{tab.cssClass}}" data-tab="settings" data-group="primary">
	<!-- Header  -->
	<header class="sheet-header desc">
		<div class="combine-header w-100">
			<img class="profile-img flexcol" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
				 style="height: 52px; width: auto; object-fit: contain;" />
			<div style="flex-grow:1;">
				<div class="charname-container flexrow grid-span-4" style="width: 100%;">
					<h2 class="charname" style="flex: 3;">
						<input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
					</h2>
				</div>
			</div>
		</div>
	</header>

	<!-- Settings -->
	<main class="grid-span-4">
		<fieldset class="section-container title-fieldset desc resource-content">
			<legend class="resource-label-m" aria-describedby="tooltip">
				<a class="resource-inputs resource-label-m">
					{{localize 'Settings'}}
				</a>
			</legend>

			<div>
				<button data-action="activate" class="set-active-button"><i class="fas fa-pen-to-square icon"></i>Set Active</button>
			</div>


		</fieldset>
	</main>

	<!-- Notes -->
	<main class="grid-span-4">
		<fieldset class="section-container title-fieldset desc resource-content">
			<legend class="resource-label-m" aria-describedby="tooltip">
				<a class="resource-inputs resource-label-m">
					{{localize 'FU.Notes'}}
				</a>
			</legend>
			<div style="max-height: 400px; overflow-y: scroll;">
				<prose-mirror name="system.notes" value="{{system.notes}}"></prose-mirror>
			</div>
		</fieldset>
	</main>
</section>
