<section class="tab {{tab.cssClass}}" data-tab="bonds" data-group="primary">
	<div class="pfu-bond-chart">
		<div class="pfu-bond-chart__inner">
			<svg class="pfu-bond-chart__svg" xmlns="http://www.w3.org/2000/svg">
				<defs>
					<g class="pfu-bond-chart__gradients"></g>
				</defs>
				<g class="pfu-bond-chart__lines"></g>
				<g class="pfu-bond-chart__hits"></g>
				<g class="pfu-bond-chart__icons"></g>
			</svg>

			<div class="pfu-bond-chart__clusters"></div>
			<div class="pfu-bond-chart__nodes">
				{{#each bondData.characters as |char|}}
					<div class="pfu-bond-chart__node {{char.type}}"
						 data-id="{{char.id}}"
						 data-name="{{char.name}}"
						 data-index="{{@index}}"
						 data-type="{{char.type}}"
						 data-action="inspectBondNode"
						 data-total="{{../characters.length}}">
						<img src="{{char.img}}" alt="{{char.name}}" />
						<span>{{char.name}}</span>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</section>