<div class="cell-effect-name">
	<div class="cell-effect-name__main">
		<a data-action="rollEffect">
			<img class="cell-effect-name__image" src="{{img}}" alt="{{name}}" data-tooltip="{{localize 'FU.RollIconToolTip' name=name}}" />
		</a>
		<div class="cell-effect-name__name {{#if suppressed}}cell-effect-name__name--suppressed{{/if}}">
			<span class="{{cssClass}}">{{name}}</span>
		</div>
	</div>
</div>