{{#if text}}
	<div class="cell-text cell-text--{{alignment}} cell-text--importance-{{importance}} {{cssClass}}" {{#if tooltip}} data-tooltip="{{tooltip}}" {{/if}}>
		{{{localize text}}}
	</div>
{{/if}}