<section class="bonds desc title-fieldset resource-content flex-group-left">
    {{localize 'FU.GroupCheckBondDialogTitle'}}
    {{#each bonds}}
        <fieldset class="form-fields">
            <label>
                <input type="radio" name="bond" value="{{@index}}">
                <span class="bond">
                <span>{{localize 'FU.DialogPushBond'}}</span>
                    {{#each this.feelings}}
                        <strong>{{localize (concat 'FU.' (capitalize this))}}</strong>
                        {{#unless @last}}<span>{{localize 'FU.DialogPushAnd'}}</span>{{/unless}}
                    {{/each}}
                    <span>{{localize 'FU.DialogPushWith'}}<strong>{{this.with}}</strong></span>
                <span>({{this.strength}})</span>
            </span>
            </label>
        </fieldset>
    {{/each}}
</section>
<hr>