{{#if message}}
	<div class="fu-form__message">
			<span>
				{{{message}}}
			</span>
	</div>
{{/if}}

<main class="background fu-scrollable">
	{{#if (eq style 'grid')}}
		<div id="items" class="fu-item-grid flex-group-center fu-icon__radio-group">
			{{#each items as |item| }}
				<label class="fu-item fu-item-card"
					   for="{{item.name}}"
					   data-index="{{@index}}"
					   data-name="{{item.name}}">
					<input type="checkbox"
						   name="selected"
						   id="{{item.name}}"
						   {{#if (pfuCollectionContains item ../initial)}}checked{{/if}}
						   value="{{item.name}}">
					<img class="fu-icon--l" src="{{item.img}}"
						 alt="{{item.name}}"/>
					<span class="">{{item.name}}</span>
				</label>
			{{/each}}
		</div>
	{{/if}}
	{{#if (eq style 'list')}}
		<div id="items" class="fu-item-list" style="max-height: 600px;">
			{{#each items as |item|}}
				<div class="fu-item-list__row">
					<label class="fu-item"
						   data-index="{{@index}}"
						   data-name="{{item.name}}">
						<input type="checkbox"
							   name="selected"
							   {{#if (pfuCollectionContains item ../initial)}}checked{{/if}}
							   value="{{item.name}}">
					</label>
					{{pfuItemAnchor item}}
					<span data-tooltip="{{lookup ../descriptions @index}}">{{item.name}}</span>
				</div>
			{{/each}}
		</div>
	{{/if}}
</main>
