<fieldset class="resource-content">
    <legend>{{localize 'FU.GroupCheckBondDialogTitle'}}</legend>
    {{#each bonds}}
    <fieldset>
        <label>
            <input type="radio" name="bond" value="{{@index}}">
            <span class="bond">
                <span>{{localize 'FU.DialogPushBond'}}</span>
                {{#each this.feelings}}
                <strong>{{localize (concat 'FU.' (capitalize this))}}</strong>
                {{#unless @last}}<span>{{localize 'FU.DialogPushAnd'}}</span>{{/unless}}
                {{/each}}
                <span>{{localize 'FU.DialogPushWith'}}<strong>{{this.with}}</strong></span>
                <span>({{this.strength}})</span>
            </span>
        </label>
    </fieldset>
    {{/each}}
</fieldset>