<main class="">

	<fieldset class="title-fieldset desc resource-content">
		<legend class="resource-label-full">
			<label class="resource-label-m">{{localize 'FU.Modifiers'}}</label>
		</legend>
		<table class="table-compact">
			<thead>
			<tr>
				<th>{{localize 'FU.Source'}}</th>
				<th>{{localize 'FU.Types'}}</th>
				<th>{{localize 'FU.Amount'}}</th>
				<th>{{localize 'FU.Expense'}}</th>
				<th>{{localize 'FU.Enabled'}}</th>
			</tr>
			</thead>
			<tbody>
			{{#each context.damage.allModifiers as |change index|}}
				<tr>
					<th>{{localize this.label}}</th>
					<td>
						{{#each this.types as |type| }}
							<i class="icon {{lookup @root.FU.affIcon type}}" style="flex: 0 1 auto;"></i>
						{{/each}}
					</td>
					<td>{{this.amount}}</td>
					<td>
						{{#if this.expense}}
							{{this.expense}}
						{{/if}}
					</td>
					<td>
						<label>
							<input type="checkbox"
								   name="context.damage._modifiers.{{index}}.enabled"
								{{checked this.enabled}} />
						</label>

					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</fieldset>

	<fieldset class="title-fieldset desc resource-content">
		<legend class="resource-label-full">
			<label class="resource-label-m">{{localize 'FU.Type'}}</label>
		</legend>
		<div class="fu-dialog__icon-group">
			<input type="hidden" name="damageType" value="{{selected}}">
			{{#each context.types as |type| }}
				<button type="button"
						class="fu-dialog__icon-option"
						data-tooltip="{{label}}"
						data-action="selectType" data-value="{{value}}">
					<i class="fu-dialog__icon {{icon}}"></i>
				</button>
			{{/each}}
		</div>
	</fieldset>

	<fieldset class="title-fieldset desc resource-content">
		<legend class="resource-label-full">
			<label class="resource-label-m">{{localize 'FU.Amount'}}</label>
		</legend>
		<span class="fu-dialog__text" id="total-damage" style="font-size: medium">
			<b>{{damage.total}}</b>
		</span>
	</fieldset>
</main>
