<section class="traits desc title-fieldset flex-group-left">
    <label>{{localize 'FU.ChatContextRerollFabula'}}</label>
    {{#each traits}}
    <fieldset class="form-fields">
        <label>
            <input id="trait-{{@index}}" type="radio" name="trait" value="{{this.type}}" data-value="{{this.value}}">
            <label for="trait-{{@index}}">
                <span>{{localize (concat 'FU.' (capitalize this.type))}}</span>
                <strong class="trait">{{this.value}}</strong>
            </label>
        </label>
    </fieldset>
    {{/each}}
</section>
<hr>
<section class="traits desc title-fieldset flex-group-left">
    <input type="checkbox" id="attr1-result" name="results" value="attr1">
    <label class="dice-container" for="attr1-result">
        <span class="roll-container">
            <span class="roll">{{attr1.result}}</span>
        </span>
        <span>{{localize (concat 'FU.Attribute' (capitalize attr1.attribute))}}</span>
    </label>
    <input type="checkbox" id="attr2-result" name="results" value="attr2">
    <label class="dice-container" for="attr2-result">
        <span class="roll-container">
            <span class="roll">{{attr2.result}}</span>
        </span>
        <span>{{localize (concat 'FU.Attribute' (capitalize attr2.attribute))}}</span>
    </label>
</section>
<hr>
<section class="traits desc title-fieldset flex-group-left">
	<label class="dice-container">
		<input type="checkbox" name="ignore-fp">
        <span>{{localize 'FU.DialogIgnoreFPCost'}}</span>
    </label>
</section>
<hr>