<fieldset class="resource-content">
    <legend>{{localize 'FU.ChatContextPush'}}</legend>
    {{#each bonds}}
    <fieldset>
        <label>
            <input type="radio" name="bond" value="{{@index}}">
            <span class="bond">
                <span>{{localize 'FU.DialogPushBond'}}</span>
                {{#each this.feelings}}
                <strong>{{localize (pfuConcat 'FU.' (pfuCapitalize this))}}</strong>
                {{#unless @last}}<span>{{localize 'FU.DialogPushAnd'}}</span>{{/unless}}
                {{/each}}
                <span>{{localize 'FU.DialogPushWith'}}<strong>{{this.with}}</strong></span>
                <span>({{this.strength}})</span>
            </span>
        </label>
    </fieldset>
    {{/each}}
</fieldset>
<fieldset class="resource-content flexrow">
	<label class="checkbox">
		<input type="checkbox" name="ignore-fp">
		<span>{{localize 'FU.DialogIgnoreFPCost'}}</span>
	</label>
</fieldset>