<main style="border:unset;">
	{{#if message}}
		<div class="fu-form__message">
			<span>
				{{{message}}}
			</span>
		</div>
	{{/if}}

	{{#if (eq style 'grid')}}
		<div id="items" class="fu-item-grid fu-icon__radio-group">
			{{#each items as |item| }}
				<label class= "fu-item fu-item-grid__element"
					   for="{{item.name}}"
					   data-index="{{@index}}"
					   data-name="{{item.name}}">
					<input type="checkbox"
						   name="selected"
						   id="{{item.name}}"
						   {{#if (pfuCollectionContains item ../initial)}}checked{{/if}}
						   value="{{item.name}}">
					<img class="fu-icon--l" src="{{item.img}}"
						 alt="{{item.name}}"/>
					<span class="">{{item.name}}</span>
				</label>
			{{/each}}
		</div>
	{{/if}}

	{{#if (eq style 'deck')}}
		<div id="items" class="fu-item-grid fu-arcana__radio-group">
			{{#each items as |item|}}
				<label class="fu-item fu-arcana-card"
					   for="{{item.name}}"
					   data-index="{{@index}}"
					   data-name="{{item.name}}">
					<input type="checkbox"
						   name="selected"
						   id="{{item.name}}"
						   {{#if (pfuCollectionContains item ../initial)}}checked{{/if}}
						   value="{{item.name}}">

					<div class="fu-arcana-card__inner">
						<div class="fu-arcana-card__top-band">
							<span class="fu-arcana-card__numeral">· {{pfuRomanNumeral (pfuMath @index '+' 1)}} ·</span>
						</div>

						<div class="fu-arcana-card__frame">
							<img class="fu-arcana-card__art" src="{{item.img}}" alt="{{item.name}}"/>
						</div>

						<div class="fu-arcana-card__bottom-band">
							<span class="fu-arcana-card__name">{{item.name}}</span>
						</div>
					</div>

					<div class="fu-arcana-card__selected-overlay">
					</div>
				</label>
			{{/each}}
		</div>
	{{/if}}


	{{#if (eq style 'list')}}
		<fieldset id="items" class='title-fieldset resource-content flex-group-center flexrow desc'>
			<legend class='resource-label-m' style="gap: 4px;">
				<span class="resource-label-sm">
					<a type="button" class="resource-label-sm" data-tooltip="{{localize 'FU.SelectAll'}}" data-action="selectAll">
						<i class="icon fas fa-list-check"></i>
					</a>
				</span>
				<label>{{localize 'FU.Selection'}}</label>
				<span class="resource-label-sm">
					<a type="button" class="resource-label-sm" data-tooltip="{{localize 'FU.DeselectAll'}}" data-action="deselectAll">
						<i class="icon fas fa-xmark-square"></i>
					</a>
				</span>
			</legend>
			<div class="fu-table__wrapper">
				<table class="table-compact scrollable" style="max-height: 400px;">
					<thead>
					<tr>
						<th></th>
						<th>{{localize 'FU.Entry'}}</th>
						{{#if compendiumItems}}
							<th>{{localize 'FU.CompendiumItem'}}</th>
						{{/if}}
					</tr>
					</thead>
					{{#each items as |item|}}
						<tr>
							<td>
								<label class="fu-item"
									   data-index="{{@index}}"
									   data-name="{{item.name}}">
									<input type="checkbox"
										   name="selected"
										   {{#if (pfuCollectionContains item ../initial)}}checked{{/if}}
										   value="{{item.name}}">
								</label>
							</td>
							<td>
								{{pfuItemAnchor item}}
								<span style="display: inline-block; min-width: 160px;" data-tooltip="{{lookup ../descriptions @index}}">{{item.name}}</span>
							</td>
							{{#if @root.compendiumItems}}
								<td>
									{{#with (lookup ../compendiumItems @index) as |item|}}
										{{pfuItemAnchor item}}
										<span>{{item.name}}</span>
									{{/with}}
								</td>
							{{/if}}
						</tr>
					{{/each}}
				</table>
			</div>
		</fieldset>
	{{/if}}
</main>
