<fieldset class="resource-content">
	<legend>{{localize 'FU.ChatContextRerollFabula'}}</legend>
	{{#each traits}}
		<label class="checkbox">
			<input type="radio" name="trait" value="{{this.type}}">
			<span>{{localize (pfuConcat 'FU.' (pfuCapitalize this.type))}}:</span>
			<strong class="trait">{{this.value}}</strong>
		</label>
	{{/each}}
</fieldset>
<fieldset class="resource-content flexrow">
	<div class="flexrow">
		<label class="checkbox">
			<input type="checkbox" name="results" value="attr1" class="flex0">
			{{pfuIconAttribute attr1.attribute value=attr1.result}}
		</label>
		<label class="checkbox">
			<input type="checkbox" name="results" value="attr2" class="flex0">
			{{pfuIconAttribute attr2.attribute value=attr2.result}}
		</label>
	</div>
	<div class="flexrow">
		<label class="checkbox">
			<input type="checkbox" name="ignore-fp">
			<span>{{localize 'FU.DialogIgnoreFPCost'}}</span>
		</label>
	</div>
</fieldset>