<div class="tab description flexcol {{tab.cssClass}}" data-group="primary" data-tab="description">
	{{#if technosphereMode}}
		<fieldset class="desc title-fieldset resource-content">
			<legend class='resource-label-m'>
				{{localize "FU.TechnospheresSlots"}}
			</legend>
			{{> "projectfu.technospheres.slots" slots=slots }}
		</fieldset>
	{{/if}}
	<fieldset class="desc title-fieldset resource-content flexgrow-1">
			<legend class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
				{{localize 'FU.Description'}}
				<i class="fas fa-info-circle"></i>
			</legend>
			{{#if system.schema.fields.description}}
				<prose-mirror name="system.description" value="{{system.description}}" toggled>
					{{{enrichedHtml.description}}}
				</prose-mirror>
			{{/if}}
	</fieldset>
</div>