{{!-- Project Section --}}
<fieldset class="title-fieldset desc resource-content grid-span-2">
	<div class="grid grid-3col">
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Potency'}}</label>
			<select class="resource-inputs select-dropdown-m"
					name="system.potency.value">
				{{selectOptions FU.potency selected=system.potency.value localize=true}}
			</select>
		</div>
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Area'}}</label>
			<select class="resource-inputs select-dropdown-m"
					name="system.area.value">
				{{selectOptions FU.area selected=system.area.value localize=true}}
			</select>
		</div>
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Uses'}}</label>
			<select class="resource-inputs select-dropdown-m"
					name="system.use.value">
				{{selectOptions FU.uses selected=system.use.value localize=true}}
			</select>
		</div>
	</div>

	<div class="grid grid-3col">
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.NumTinker'}}</label>
			<input class="resource-inputs" type="number" name="system.numTinker.value"
				   value="{{ system.numTinker.value }}" data-dtype="Number" />
		</div>
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.NumHelper'}}</label>
			<input class="resource-inputs" type="number" name="system.numHelper.value"
				   value="{{ system.numHelper.value }}" data-dtype="Number" />
		</div>
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.LvlVision'}}</label>
			<input class="resource-inputs" type="number" name="system.lvlVision.value"
				   value="{{ system.lvlVision.value }}" data-dtype="Number" />
		</div>
	</div>

	<div class="grid grid-3col">
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Progress'}}</label>
			<input type="text" name="system.progress.max" value="{{ system.progress.max }}"
				   data-dtype="Number" disabled />
		</div>

		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.ProgressPerDay'}}</label>
			<input type="text" name="system.progressPerDay.value"
				   value="{{ system.progressPerDay.value }}" data-dtype="Number" disabled />
		</div>
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Days'}}</label>
			<input type="text" name="system.days.value" value="{{ system.days.value }}"
				   data-dtype="Number" disabled />
		</div>
	</div>

	<div class="grid grid-2col">
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Cost'}}</label>
			<input type="text" name="system.cost.value" value="{{ system.cost.value }}"
				   data-dtype="Number" disabled />
		</div>
		<div class="resource-content flexcol flex-group-center">
			<label class="resource-label-m">{{localize 'FU.Discount'}}</label>
			<input type="text" name="system.discount.value" value="{{ system.discount.value }}"
				   data-dtype="Number" disabled />
		</div>
	</div>
</fieldset>

{{!-- Project Status Section --}}
<fieldset class="title-fieldset desc resource-content grid-span-2">
	<legend class="resource-label-full">
		<label class="resource-label-m">{{localize 'FU.ProjectStatus'}}</label>
	</legend>
	<div class="grid grid-4col">
		<div class="resource-content flexrow flex-center flex-between buttons-inc combineBar gap-5">
			<label class="resource-label-sm">{{localize 'FU.CurrentProgress'}}</label>
			<input type="number" class="resource-inputs select-dropdown-m"
				   name="system.progress.current" value="{{ system.progress.current }}"
				   data-dtype="Number" />
			/
			<label for="system.progress.max" class="resource-label-sm" data-dtype="Number">{{
			system.progress.max }}</label>
		</div>
		<div class="item-progressbar grid-span-3">
			<div class="bar bar-progress">
				<div class="bar-progress-bar bar-project"
					 style="width: {{calculatePercentage system.progress.current
														 system.progress.max}};">
				</div>
				<span class="bar-value"></span>
			</div>
		</div>
	</div>
</fieldset>