{{!-- Resource Points --}}
{{#if system.hasResource.value}}
<fieldset class="title-fieldset desc ">
    <legend>
        <input type="text" name="system.rp.name" value="{{ system.rp.name }}" data-dtype="String"
            placeholder="{{localize 'FU.ResourcePoints'}}" class="resource-label-sm resource-inputs select-dropdown-l" />
    </legend>
    <div class="grid grid-3col">
        <div class=" flexcol flex-group-center">
            <label class="resource-label-sm">{{localize 'FU.Current'}}</label>
            <input type="number" name="system.rp.current" value="{{ system.rp.current }}"
                class="resource-inputs select-dropdown-m" />
        </div>
        <div class=" flexcol flex-group-center">
            <label class="resource-label-sm">{{localize 'FU.Step'}}</label>
            <input type="number" name="system.rp.step" value="{{ system.rp.step }}"
                class="resource-inputs select-dropdown-m" />
        </div>
        <div class=" flexcol flex-group-center">
            <label class="resource-label-sm">{{localize 'FU.Max'}}</label>
            <input type="number" name="system.rp.max" value="{{ system.rp.max }}"
                class="resource-inputs select-dropdown-m" />
        </div>
    </div>
</fieldset>
{{/if}}