<div class="grid grid-4col">
	<div class="grid grid-8col" style="padding: 1px;">
		<div class="resource-content flexcol flex-group-center grid-span-2">
			<label class="resource-label-m">{{localize "FU.Cost"}}</label>
			<input type="number" name="system.cost.value" value="{{ system.cost.value }}"
				   data-dtype="Number" class="resource-inputs select-dropdown-m" />
		</div>
		<div class="resource-content flexcol flex-group-center grid-span-2">
			<label class="resource-label-m">{{localize "FU.Quantity"}}</label>
			<input type="number" name="system.quantity.value" value="{{ system.quantity.value }}"
				   data-dtype="Number" class="resource-inputs select-dropdown-m" />
		</div>
		<div class="resource-content flexcol flex-group-center grid-span-4">
			<label class="resource-label-m">{{localize "FU.Origin"}}</label>
			<input type="text" name="system.origin.value" value="{{ system.origin.value }}"
				   data-dtype="String" class="resource-inputs select-dropdown-xl" />
		</div>
	</div>
</div>