{{#if system.hasClock.value}}
	<fieldset class="title-fieldset desc resource-content">
		<legend>
			<i class="fas fa-clock"></i>
			<label class="resource-label-m">{{localize 'FU.Clock'}}</label>
		</legend>
		<div class="grid grid-3col">

			<label class="resource-label-m resource-content flexcol flex-group-center grid-span-3">
				{{localize 'FU.Name'}}
				<input type="text" name="system.progress.name" value="{{ system.progress.name }}"
					   class="resource-inputs select-dropdown-full" />
			</label>

			<label class="resource-label-m resource-content flexcol flex-group-center">
				{{localize 'FU.Current'}}
				<input type="number" name="system.progress.current" value="{{ system.progress.current }}"
					   min="0" max="{{ system.progress.max }}" class="resource-inputs select-dropdown-m" />
			</label>

			<label class="resource-label-m resource-content flexcol flex-group-center">
				{{localize 'FU.Step'}}
				<input type="number" name="system.progress.step" value="{{ system.progress.step }}"
					   min="1" max="{{ system.progress.max }}" class="resource-inputs select-dropdown-m" />
			</label>

			<label class="resource-label-m resource-content flexcol flex-group-center">
				{{localize 'FU.Max'}}
				<input type="number" name="system.progress.max" value="{{ system.progress.max }}"
					   min="2" class="resource-inputs select-dropdown-m">
			</label>
		</div>
	</fieldset>
{{/if}}