<ol class="items-list effects-list">
	{{#each effects as |section sid|}}
	<li class="item items-header flexrow" data-effect-type="{{ section.type }}">
		<h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
		<div class="effect-source">{{localize 'FU.Source'}}</div>
		<div class="effect-source">{{localize 'FU.Duration'}}</div>
		<div class="item-controls effect-controls flexrow">
			<a class="effect-control" data-action="create" title="{{localize 'FU.EffectCreate'}}"> <i
					class="fas fa-plus"></i>{{localize "FU.Add"}} </a>
		</div>
	</li>

	<ol class="item-list">
		{{#each section.effects as |effect|}}
		<li class="item" data-effect-id="{{ effect.id }}">
			<div class="flexrow">
				<div class="item-name">
					<div class="item-image">
						<a class="rollable" data-roll-type="item">
							<div class="item-image-wrap">
								<img src="{{ effect.icon }}" title="{{ effect.name }}" class="responsive-img" />
							</div>
						</a>
					</div>
					<h4>{{ effect.name }}</h4>
				</div>
				<div class="effect-source">{{ effect.sourceName }}</div>
				<div class="effect-duration">{{ effect.duration.label }}</div>
				<div class="item-controls effect-controls flexrow">
					<a class="effect-control" data-action="toggle" title="{{localize 'FU.EffectToggle'}}">
						<i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
					</a>
					<a class="effect-control" data-action="edit" title="{{localize 'FU.EffectEdit'}}">
						<i class="fas fa-edit"></i>
					</a>
					<a class="effect-control" data-action="delete" title="{{localize 'FU.EffectDelete'}}">
						<i class="fas fa-trash"></i>
					</a>
				</div>
			</div>
		</li>
		{{/each}}
	</ol>
	{{/each}}
</ol>