{{!-- Class Benefits --}}
<div class="resource-content grid grid-2col w-100">

	<div class="resource-content  flex-group-start">
		<label class="resource-label-m flexcol">
			<span>{{localize 'FU.Level'}}</span>
			<input type="number" name="system.level.value" value="{{ system.level.value }}"
				   class="resource-inputs select-dropdown-l" />
		</label>
	</div>

	<div class="flex-group-left resource-content">
		<span class="resource-label-l">{{localize 'FU.Benefits'}}</span>
		<div class="grid grid-3col">
			{{#each system.benefits.resources as |benefit key|}}
				<label class="checkbox">
					<input type="checkbox" name="system.benefits.resources.{{ key }}.value" {{ checked
					 benefit.value }} />
					<span class="resource-label-sm">
						{{localize (pfuTranslate key)}}
					</span>
				</label>
			{{/each}}
		</div>
	</div>

	<div class="flex-group-left resource-content">
		<span class="resource-label-l">{{localize 'FU.BenefitMartial'}}</span>
		<div class="grid grid-2col">
			{{#each system.benefits.martials as |benefit key|}}
				<label class="checkbox">
					<input type="checkbox" name="system.benefits.martials.{{ key }}.value" {{ checked
					 benefit.value }} />
					<span class="resource-label-sm">
						{{localize (pfuTranslate key)}}
					</span>
				</label>
			{{/each}}
		</div>
	</div>

	<div class="flex-group-left resource-content">
		<span class="resource-label-l">{{localize 'FU.BenefitRitual'}}</span>
		<div class="grid grid-3col">
			{{#each system.benefits.rituals as |benefit key|}}
				<label class="checkbox">
					<input type="checkbox" name="system.benefits.rituals.{{ key }}.value" {{ checked benefit.value }} />
					<span class="resource-label-sm">
						{{localize (pfuTranslate key)}}
					</span>
				</label>
			{{/each}}
		</div>
	</div>
</div>