<fieldset class="section-container title-fieldset desc resource-content">
	<legend class="bond-add resource-label-m" data-tooltip="{{localize 'FU.Add'}}" data-action="addEffectEntry">
		<a class="flex-group-center resource-inputs resource-label-m select-dropdown-m"
		   data-tooltip="{{localize 'FU.Effect'}}">
			<i class="fas fa-plus icon"></i>{{localize 'FU.Effect'}}
		</a>
	</legend>
	<div class="bonds resource-content grid">
		{{#each system.effect.entries as |entry index|}}
			<label class="fu-rule-element__property">
				<span>{{localize 'FU.Effect'}}</span>
				<input
				 type="text"
				 name="{{pfuConcat path ".effect"}}"
				 value="{{action.effect}}"
				 placeholder="e.g. Item.XYZ123.ActiveEffect.ABC123"
				/>
			</label>
		{{/each}}
	</div>
</fieldset>