<section class="desc">
	<ol class="items-list effects-list">
		{{#each effects as |section sid|}}
		<li class="item items-header flexrow" data-effect-type="{{ section.type }}">
			<h3 class="item-name effect-name flexrow">{{localize section.label}}</h3>
			<div class="item-lg">{{localize 'FU.Source'}}</div>
			<div class="item-lg">{{localize 'FU.Duration'}}</div>
			<div class="item-s end flexrow">
				<a class="effect-control" data-action="create" title="{{localize 'FU.EffectCreate'}}"> <i
						class="fas fa-plus icon"></i>{{localize "FU.Add"}} </a>
			</div>
		</li>

		<ol class="item-list">
			{{#each section.effects as |effect|}}
			<li class="item" data-effect-id="{{ effect.id }}">
				<div class="flexrow">
					<div class="item-name">
						<div class="item-image">
							<div class="rollable" data-roll-type="item">
								<img src="{{ effect.icon }}" data-tooltip="{{ effect.name }}" />
							</div>
						</div>
						<h4 class="click-item">
							{{ effect.name }}
						</h4>
					</div>
					<div class="item-lg">{{ effect.sourceName }}</div>
					<div class="item-lg">{{ effect.duration.name }}</div>
					<div class="item-m end flexrow">
						<a class="effect-control" data-action="toggle" title="{{localize 'FU.EffectToggle'}}">
							<i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
						</a>
						<a class="effect-control" data-action="edit" title="{{localize 'FU.EffectEdit'}}">
							<i class="fas fa-edit"></i>
						</a>
						<a class="effect-control" data-action="delete" title="{{localize 'FU.EffectDelete'}}">
							<i class="fas fa-trash"></i>
						</a>
					</div>
				</div>
				<div class="individual-description">{{#if effect.description}} {{editor effect.description
					target=".effect.description" rollData=rollData button=false owner=owner editable=false}} {{/if}}
				</div>
			</li>
			{{/each}}
		</ol>
		{{/each}}
	</ol>
</section>