<fieldset class="section-container title-fieldset desc resource-content">
	<legend class="resource-label-m"
			data-tooltip="{{localize 'FU.Add'}}"
			data-path="system.effects.entries"
			data-action="addArrayElement">
		<a class="flex-group-center resource-inputs resource-label-m select-dropdown-m"
		   data-tooltip="{{localize 'FU.Effect'}}">
			<i class="fas fa-plus icon"></i>{{localize 'FU.Effect'}}
		</a>
	</legend>

	<div class="item-settings grid grid2-col">
		<label class="resource-label-m flex-group-center">
			{{localize 'FU.Event'}}
			<select class="resource-inputs select-dropdown-m" name="system.effects.duration.event">
				<option value="">-</option>
				{{selectOptions FU.effectDuration selected=system.effects.duration.event localize=true}}
			</select>
		</label>

		<label class="resource-label-m flex-group-center">
			{{localize 'FU.Interval'}}
			<input type="number" name="system.effects.duration.interval" value="{{ system.effects.duration.interval }}"
				   class="resource-inputs" {{disabled (eq system.effects.duration.event FU.EndOfScene)}} />
		</label>
	</div>

	<div class="item-settings grid grid2-col">
		<label class="resource-label-m flex-group-center">
			{{localize 'FU.Tracking'}}
			<select class="resource-inputs select-dropdown-m" name="system.effects.duration.tracking">
				<option value="">-</option>
				{{selectOptions FU.effectTracking selected=system.effects.duration.tracking localize=true}}
			</select>
		</label>

		<label class="resource-label-sm flex-group-center">
			<span>{{localize 'FU.Prompt'}}?</span>
			<input type="checkbox" name="system.effects.prompt" {{ checked system.effects.prompt }} />
		</label>
	</div>

	{{#each system.effects.entries as |entry index|}}
		<div class="fu-form__array__element">
			<label class="fu-form__array__element__input">
				{{pfuAutoComplete name=(pfuConcat "system.effects.entries." index) value=entry placeholder="e.g: status|fuid|uuid" options=@root.effectList }}
			</label>
			<a data-path="system.effects.entries" data-index="{{ index }}" data-action="removeArrayElement">
				<button type="button" class="fu-form__button">
					<i class="fas fa-xmark"></i>
				</button>
			</a>
		</div>
	{{/each}}
</fieldset>