<div class="tab desc {{tab.cssClass}}" data-group="primary" data-tab="classes">
	<!-- Classes Section -->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Classes"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalClass.value }} / {{
			tlTracker.totalClass.max }} </span>
		</span>
	</header>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize "FU.Name"}}</div>
			<div class="item-m">{{localize "FU.Level"}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip" data-tooltip="Create class"
				   data-type="class"> <i class="fas fa-plus icon"></i>{{localize "FU.Add"}} </a>
			</div>
		</li>
		{{#each classes as |item id|}}
			<li class="item draggable" data-item-id="{{ item._id }}">
				<div class="flexrow">
					{{!-- Item Name--}}
					{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
					{{!-- Class Level --}}
					<div class="item-m inline-desc buttons-inc" style="padding:0">
						<a class="decrement-button" data-action="modifyClassLevel" data-level-action="decrement">-</a>
						<span data-resource="item.level">{{ item.system.level.value }}</span>
						<span>/</span>
						<span>{{ item.system.level.max }}</span>
						<a class="increment-button" data-action="modifyClassLevel" data-level-action="increment">+</a>
					</div>
					{{!-- Item Control--}}
					{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
				</div>
				{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
			</li>
		{{/each}}
	</ol>

	<!-- Skills Section -->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Skills"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalSkill.value }} / {{
			tlTracker.totalSkill.max }} </span>
		</span>
	</header>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize 'FU.Name'}}</div>
			<div class="item-lg">{{localize 'FU.SkillLevel'}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip"
				   data-tooltip="{{localize 'FU.SkillCreate'}}" data-type="skill">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each skills as |item id|}}
			<li class="item draggable" data-item-id="{{ item._id }}">
				<div class="flexrow" style="height: fit-content; align-items: flex-start;">
					<div class="flexcol">
						{{!-- Item Name--}}
						{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
						{{#if item.quality}}
							<div class="item-quality">{{ item.quality }}</div>
						{{/if}}
					</div>
					{{!-- Resource Points --}}
					{{#if item.system.hasResource.value}}
						{{progress item 'system.rp' style='basic' type='resourceCounter' }}
					{{/if}}
					{{!-- Star Tracker--}}
					<div class="skillLevel item-lg sl-stars">
						{{#each item.skillArr as |level|}}
							<div class="star-radio-container">
								<input type="radio" name="skillLevel_{{ item._id }}"
									   id="skillLevel_{{ item._id }}_{{ level.id }}" value="{{ level.id }}" {{#if
										level.checked}}checked{{/if}} data-item-id="{{ item._id }}"
									   class="hidden-radio">
								<label for="skillLevel_{{ item._id }}_{{ level.id }}"
									   class="star-label {{#if
										(lte level.id item.system.level.value)}} fus-sl-star {{else}}ful-sl-star{{/if}}"></label>
							</div>
						{{/each}}
					</div>
					{{!-- Item Control--}}
					{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
				</div>
				{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
			</li>
		{{/each}}
	</ol>

	<!-- Heroic Skill Section-->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Heroics"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalHeroic.value }} / {{
			tlTracker.totalHeroic.max }} </span>
		</span>
	</header>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize 'FU.Name'}}</div>
			<div class="item-m">{{localize 'FU.ItemType'}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip"
				   data-tooltip="{{localize 'FU.HeroicCreate'}}" data-type="heroic">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each heroics as |item id|}}
			<li class="item draggable" data-item-id="{{ item._id }}">
				<div class="flexrow">
					{{!-- Item Name--}}
					{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
					{{!-- Resource Points --}}
					{{#if item.system.hasResource.value}}
						{{progress item 'system.rp' style='basic' type='resourceCounter' }}
					{{/if}}
					{{!-- Subtype --}}
					<div class="item-m">
						<span>{{capitalize item.type }} {{capitalize item.system.subtype.value }}</span>
					</div>
					{{!-- Item Control--}}
					{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
				</div>
				{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
			</li>
		{{/each}}
	</ol>
</div>