<header class="sheet-header">
	<div class="profile desc flexrow">
		<img class="profile-img"
			 src="{{ actor.img }}"
			 data-edit="img"
			 data-action="editImage"
			 data-tooltip="{{ actor.name }}" />

		<div class="header-fields">

			<!-- Start Header -->
			{{>"systems/projectfu/templates/actor/partials/actor-charname.hbs" actor=actor}}
			{{!-- TODO: Simplify Resource partial --}}
			{{!- HP/MP/IP/FP|UP --}}
			<div class="resources flexrow flex-group-center">
				{{>"systems/projectfu/templates/actor/partials/actor-point-bars.hbs" actor=actor}}
			</div>


			<!-- Center Header -->
			{{!-- DEF/MDEF/INIT/FU/UP --}}
			<div class="derived">

				{{>"systems/projectfu/templates/actor/partials/actor-derived-stats.hbs" actor=actor}}
				<!-- FU Points -->
				<div class="resource-content flex-group-center">
				{{#if showMetaCurrency}}
					<label class="fu-icon__container resource-label-l">
						<a class="rollable" data-action="spendMetaCurrency">
							{{#if (eq actor.type "npc")}}
								<i class="fu-icon--sm {{pfuIconClass 'up'}}"></i>
								{{localize 'FU.UltimaAbbr'}}
							{{/if}}
							{{#if (eq actor.type "character")}}
								<i class="fu-icon--sm {{pfuIconClass 'fp'}}"></i>
								{{localize 'FU.FabulaAbbr'}}
							{{/if}}
						</a>
					</label>

					<input type="number" name="system.resources.fp.value"
						   value="{{ system.resources.fp.value }}"
						   data-dtype="Number" id="fp-input" class="resource-inputs" />
				{{/if}}
				</div>
			</div>
		</div>
	</div>

	{{!-- Statuses/Attributes/RollCheck Section --}}
	{{>"systems/projectfu/templates/actor/partials/actor-resources.hbs" actor=actor}}
	{{!-- Affinity Section --}}
	{{>"systems/projectfu/templates/actor/partials/actor-affinities.hbs" actor=actor rollable=true section=true}}
	{{!-- Pressure Points --}}
	{{#if pressurePoints}}
		<div class="desc">
			{{>"systems/projectfu/templates/actor/partials/actor-pressure-points.hbs" pressurePoints=system.pressurePoints}}
		</div>

	{{/if}}
</header>
