<div class="tab flexcol {{tab.cssClass}}" data-group="primary" data-tab="combat">
	<section class="desc flexgrow-1">
		<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Abilities"}}</label>
			{{pfuCompendium "abilities" actorId=actor.uuid}}
		</span>
		</header>
		{{{basicAttacksTable}}}

		{{{skillsTable}}}

		{{{spellsTable}}}

		{{{abilitiesTable}}}

		{{{rulesTable}}}

		{{{treasuresTable}}}

	</section>
	{{#if actor.system.useEquipment.value}}
		<section class="desc">
			{{!-- Equipped Item Header--}}
			{{> "systems/projectfu/templates/actor/partials/actor-equipment-slots.hbs"}}

			{{{weaponsTable}}}

			{{{shieldsTable}}}

			{{{armorsTable}}}

			{{{accessoriesTable}}}
		</section>
	{{/if}}
	{{#if otherItemsTable}}
		<section class="desc">
			{{{otherItemsTable}}}
		</section>
	{{/if}}
</div>