<header class="sheet-header">
	<div class="profile desc flexrow">
		<div class="flexcol img-and-zenit-container">
			<img class="profile-img"
			     src="{{ actor.img }}"
			     data-edit="img"
			     data-action="editImage"
			     data-tooltip="{{ actor.name }}" />
		</div>

		<div class="header-fields">

			<!-- Start Header -->
			{{>"systems/projectfu/templates/actor/partials/actor-charname.hbs" actor=actor}}
			{{!- HP/MP/IP/FP|UP --}}
			<div class="resources flexrow flex-group-center">
				{{>"systems/projectfu/templates/actor/partials/actor-point-bars.hbs" actor=actor}}
				{{#if (eq actor.type "character")}}
					<div class="flexrow zenit-and-rest-container">
						<a class="rest-button button-style" data-tooltip="{{ localize 'FU.Reset' }}"
						   aria-describedby="tooltip" data-action="rest">
							<i class="fa fa-moon"></i>
							{{localize "FU.Rest"}}
						</a>
						<!-- Zenit -->
						<a class="item rollable tab button-style zenit-style"
						   data-tooltip="{{pfuGetSetting 'optionRenameCurrency'}}">
							<i class="fuk fu-zenit icon-aff"></i>
							<input type="text" class="zenit-text" name="system.resources.zenit.value"
							       value="{{ system.resources.zenit.value }}"
							       data-dtype="Number" />
						</a>
						<!-- Deposit/Withdraw Zenit -->

						<a class="button-style zenit-deposit flex0" data-tooltip="{{ localize 'FU.InventoryDepositZenit'
						                                                                currency=(pfuGetSetting 'optionRenameCurrency') }}"
						   aria-describedby="tooltip" data-action="zenitTransfer" data-zenit-action="deposit">
							<i class="fa fa-paper-plane"></i>
						</a>
						<a class="button-style zenit-withdraw flex0" data-tooltip="{{ localize 'FU.InventoryWithdrawZenit'
						                                                                 currency=(pfuGetSetting 'optionRenameCurrency') }}"
						   aria-describedby="tooltip" data-action="zenitTransfer" data-zenit-action="withdraw">
							<i class="fa fa-university"></i>
						</a>

					</div>
				{{/if}}
			</div>


			<!-- Center Header -->
			{{!-- DEF/MDEF/INIT/FU/UP --}}
			<div class="derived">

				{{>"systems/projectfu/templates/actor/partials/actor-derived-stats.hbs" actor=actor}}
				<!-- FU Points -->
				<div class="resource-content flex-group-center">
					{{#if showMetaCurrency}}
						<label class="fu-icon__container resource-label-l">
							<a class="rollable" data-action="spendMetaCurrency">
								{{#if (eq actor.type "npc")}}
									<i class="fu-icon--s {{pfuIconClass 'up'}}"></i>
									{{localize 'FU.UltimaAbbr'}}
								{{/if}}
								{{#if (eq actor.type "character")}}
									<i class="fu-icon--s {{pfuIconClass 'fp'}}"></i>
									{{localize 'FU.FabulaAbbr'}}
								{{/if}}
							</a>
						</label>

						<input type="number" name="system.resources.fp.value"
						       value="{{ system.resources.fp.value }}"
						       data-dtype="Number" id="fp-input" class="resource-inputs" />
					{{/if}}
				</div>
			</div>
		</div>
	</div>

	{{!-- Statuses/Attributes/RollCheck Section --}}
	{{>"systems/projectfu/templates/actor/partials/actor-resources.hbs" actor=actor}}
	{{!-- Affinity Section --}}
	{{>"systems/projectfu/templates/actor/partials/actor-affinities.hbs" actor=actor rollable=true section=true}}
	{{!-- Pressure Points --}}
	{{#if pressurePoints}}
		<div class="desc">
			{{>"systems/projectfu/templates/actor/partials/actor-pressure-points.hbs" pressurePoints=system.pressurePoints}}
		</div>

	{{/if}}
</header>
