<div class="tab desc {{tab.cssClass}}" data-group="primary" data-tab="classes">
	<!-- Classes Section -->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Classes"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalClass.value }} / {{
			tlTracker.totalClass.max }} </span>
		</span>
	</header>
	{{{classesTable}}}
	<!-- Skills Section -->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Skills"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalSkill.value }} / {{
			tlTracker.totalSkill.max }} </span>
		</span>
	</header>
	{{{skillsTable}}}

	<!-- Heroic Skill Section-->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Heroics"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalHeroic.value }} / {{
			tlTracker.totalHeroic.max }} </span>
		</span>
	</header>
	{{{heroicsTable}}}
</div>