<div class="tab flexcol {{tab.cssClass}}" data-group="primary" data-tab="notes">
	{{#if (eq actor.type "character")}}
		{{>"systems/projectfu/templates/actor/partials/actor-traits.hbs"}}
		{{!-- Bond Section --}}
		{{>"systems/projectfu/templates/actor/partials/actor-bonds.hbs"}}
		{{!-- Enriched Description --}}
		<fieldset class="section-container title-fieldset desc resource-content flexgrow-1">
			<legend class="resource-label-m" aria-describedby="tooltip">
				<a class="resource-inputs resource-label-m">
					{{localize 'FU.BiographyInfo'}}
				</a>
			</legend>
			<prose-mirror name="system.description" value="{{system.description}}" toggled>
				{{{enrichedHtml.description}}}
			</prose-mirror>
		</fieldset>
	{{else}}
		<fieldset class="section-container title-fieldset desc resource-content flexgrow-1">
			<legend class="resource-label-m" aria-describedby="tooltip">
				<a class="resource-inputs resource-label-m">
					{{localize 'FU.BiographyInfo'}}
				</a>
			</legend>
			{{!-- Enriched Description --}}
			<prose-mirror name="system.description" value="{{system.description}}" toggled>
				{{{enrichedHtml.description}}}
			</prose-mirror>
		</fieldset>
	{{/if}}
</div>