<nav class="sheet-tabs tabs desc flexrow gap-5">
	{{!-- Default tab is specified in actor-sheet.mjs --}}
	{{#each tabs as |tab|}}
		<a data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}"
		   class="item button-style{{#if tab.cssClass}} {{tab.cssClass}}{{/if}}"
		   {{#if tab.tooltip}}data-tooltip="{{tab.tooltip}}"{{/if}}>
			{{#if tab.icon}}<i class="{{tab.icon}}" inert></i>{{/if}}
			{{#if tab.label}}{{localize tab.label}}{{/if}}
		</a>
	{{/each}}
	{{#if (eq actor.type "character")}}
		<!-- Deposit/Withdraw Zenit -->
		<div class="item-control" style="gap: 4px;">
			<a class="item-control zenit-deposit" data-tooltip="{{ localize 'FU.InventoryDepositZenit' currency=(getGameSetting 'optionRenameCurrency') }}"
			   aria-describedby="tooltip" data-action="zenitTransfer" data-zenit-action="deposit">
				<i class="fa fa-paper-plane button-style"></i>
			</a>
			<a class="item-control zenit-withdraw" data-tooltip="{{ localize 'FU.InventoryWithdrawZenit' currency=(getGameSetting 'optionRenameCurrency') }}"
			   aria-describedby="tooltip" data-action="zenitTransfer" data-zenit-action="withdraw">
				<i class="fa fa-university button-style"></i>
			</a>
		</div>
		<!-- Zenit -->
		<a class="item rollable tab button-style zenit-style" data-tooltip="{{getGameSetting 'optionRenameCurrency'}}">
			<i class="fuk fu-zenit icon-aff"></i>
			<input type="text" name="system.resources.zenit.value" value="{{ system.resources.zenit.value }}"
				   data-dtype="Number" />
		</a>
	{{/if}}
</nav>