<div class="tab flexcol {{tab.cssClass}}" data-group="primary" data-tab="combat">
	<section class="desc flexgrow-1">
		{{{basicAttacksTable}}}

		{{{skillsTable}}}

		{{{spellsTable}}}

		{{{abilitiesTable}}}

		{{{rulesTable}}}

		{{{treasuresTable}}}

	</section>
	{{#if actor.system.useEquipment.value}}
		<section class="desc">
			{{!-- Equipped Item Header--}}
			{{> "systems/projectfu/templates/actor/partials/actor-equipment-slots.hbs"}}

			{{{weaponsTable}}}

			{{{shieldsTable}}}

			{{{armorsTable}}}

			{{{accessoriesTable}}}
		</section>
	{{/if}}
	{{#if otherItemsTable}}
		<section class="desc">
			{{{otherItemsTable}}}
		</section>
	{{/if}}
</div>