<div class="tab desc {{tab.cssClass}}" data-group="primary" data-tab="classes">
	<!-- Classes Section -->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Classes"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalClass.value }} / {{
			tlTracker.totalClass.max }} </span>
		</span>
	</header>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize "FU.Name"}}</div>
			<div class="item-m">{{localize "FU.Level"}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip" data-tooltip="Create class"
				   data-type="class"> <i class="fas fa-plus icon"></i>{{localize "FU.Add"}} </a>
			</div>
		</li>
		{{#each classes as |item id|}}
			<li class="item draggable" data-item-id="{{ item._id }}">
				<div class="flexrow">
					{{!-- Item Name--}}
					{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
					{{!-- Class Level --}}
						<div class="d-contents">
							{{{lookup @root.inlays item.uuid}}}
						</div>
					{{!-- Item Control--}}
					{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
				</div>
				{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
			</li>
		{{/each}}
	</ol>

	<!-- Skills Section -->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Skills"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalSkill.value }} / {{
			tlTracker.totalSkill.max }} </span>
		</span>
	</header>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize 'FU.Name'}}</div>
			<div class="item-lg">{{localize 'FU.SkillLevel'}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip"
				   data-tooltip="{{localize 'FU.SkillCreate'}}" data-type="skill">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each skills as |item id|}}
			<li class="item draggable" data-item-id="{{ item._id }}">
				<div class="flexrow" style="height: fit-content; align-items: flex-start;">
					<div class="flexcol">
						{{!-- Item Name--}}
						{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
						{{!-- {{#if item.quality}}
							<div class="item-quality">{{ item.quality }}</div>
						{{/if}} --}}
						<div class="d-contents">
							{{{lookup @root.captions item.uuid}}}
						</div>
					</div>
					<div class="d-contents">
						{{{lookup @root.inlays item.uuid}}}
					</div>
					{{!-- Item Control--}}
					{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
				</div>
				{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
			</li>
		{{/each}}
	</ol>

	<!-- Heroic Skill Section-->
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Heroics"}}</label>
		</span>
		<span class="items-main total-level grid grid-2col">
			{{!-- <i class="fas fa-question-circle"></i> --}}
			<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalHeroic.value }} / {{
			tlTracker.totalHeroic.max }} </span>
		</span>
	</header>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize 'FU.Name'}}</div>
			<div class="item-m">{{localize 'FU.ItemType'}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip"
				   data-tooltip="{{localize 'FU.HeroicCreate'}}" data-type="heroic">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each heroics as |item id|}}
			<li class="item draggable" data-item-id="{{ item._id }}">
				<div class="flexrow">
					{{!-- Item Name--}}
					{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}

					<div class="d-contents">
						{{{lookup @root.inlays item.uuid}}}
					</div>
					{{!-- Item Control--}}
					{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
				</div>
				{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
			</li>
		{{/each}}
	</ol>
</div>