<div class="tab flexcol {{tab.cssClass}}" data-group="primary"
	 style="overflow: hidden;"
	 data-tab="settings">

	<div class="fu-form grid grid-2col">
		{{!-- Base Affinity Section --}}
		<fieldset class="section-container title-fieldset desc resource-content">
			<legend class="resource-label-m">
				{{localize 'FU.BaseAffinity'}}
			</legend>

			<div class="header-fields grid grid-5col" style="gap: 8px;">
				{{#if system.affinities}}
					{{#each system.affinities as |affinity key|}}
						<div class="affinity resource-content flex-group-center flexcol">
							<label data-label="{{ affinity.label }}" style="line-height: 1.2em">
							<span
							 style="display: flex; flex-direction: column; align-items: center; text-align: center;">
								<img class="affinity-icon"
									 src="systems/projectfu/styles/static/affinities/icons/{{key}}.png"
									 alt="{{key}}"
									 style="width: 24px; height: 24px;">
								<span class="resource-label-sm">{{affinity.label}}</span>
							</span>
							</label>
							<select name="system.affinities.{{ key }}.base"
									class="resource-inputs select-dropdown"
									data-tooltip="{{ affinity.base }}: {{ affinity.affTypeBase }}"
									data-dtype="Number">
								{{selectOptions @root.FU.affTypeAbbr selected=affinity.base localize=true}}
							</select>
						</div>
					{{/each}}
				{{/if}}
			</div>
		</fieldset>

		{{!-- Global Bonuses Section --}}
		<fieldset class="section-container title-fieldset desc affinities resource-content">
			<legend class="resource-label-m">
				{{localize 'FU.GlobalBonuses'}}
			</legend>
			{{!-- Relevant Bonuses --}}
			{{#if (or (eq actor.type "character") (eq actor.type "npc"))}}
				<div class="header-fields grid grid-5col" style="margin: 5px 0;">
					{{!-- Health --}}
					<div class="resource-content">
						<label class="fu-form__property resource-label-sm stack" >
							<i class="fu-icon--s {{pfuIconClass 'hp'}}"></i>
							{{localize 'FU.HealthAbbr'}}
							<input type="number"
								   name="system.resources.hp.bonus"
								   value="{{system.resources.hp.bonus}}"
								   data-dtype="Number"
								   class="resource-inputs bonus"
								{{#if actor.overrides.system.resources.hp.bonus}}
								   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
								{{/if}} />
						</label>
					</div>

					{{!-- Mind --}}
					<div class="resource-content">
						<label class="fu-form__property resource-label-sm stack">
							<i class="fu-icon--s {{pfuIconClass 'mp'}}"></i>
							{{localize 'FU.MindAbbr'}}
							<input type="number"
								   name="system.resources.mp.bonus"
								   value="{{system.resources.mp.bonus}}"
								   data-dtype="Number"
								   class="resource-inputs bonus"
								{{#if actor.overrides.system.resources.mp.bonus includeZero=true}}
								   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
								{{/if}} />
						</label>
					</div>

					{{!-- Character-only: Inventory --}}
					{{#if (eq actor.type "character")}}
						<div class="resource-content">
							<label class="fu-form__property resource-label-sm stack">
								<i class="fu-icon--s {{pfuIconClass 'ip'}}"></i>
								{{localize 'FU.InventoryAbbr'}}
								<input type="number"
									   name="system.resources.ip.bonus"
									   value="{{system.resources.ip.bonus}}"
									   data-dtype="Number"
									   class="resource-inputs bonus"
									{{#if actor.overrides.system.resources.ip.bonus includeZero=true}}
									   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
									{{/if}} />
							</label>

						</div>
					{{/if}}

					{{!-- Defense --}}
					<div class="resource-content">
						<label class="fu-form__property resource-label-sm stack">
							<i class="fu-icon--s {{pfuIconClass 'def'}}"></i>
							{{localize 'FU.DefenseAbbr'}}
							<input type="number"
								   name="system.derived.def.bonus"
								   value="{{system.derived.def.bonus}}"
								   data-dtype="Number"
								   class="resource-inputs bonus"
								{{#if actor.overrides.system.derived.def.bonus includeZero=true}}
								   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
								{{/if}} />
						</label>
					</div>

					{{!-- Magic Defense --}}
					<div class="resource-content">
						<label class="fu-form__property resource-label-sm stack">
							<i class="fu-icon--s {{pfuIconClass 'mdef'}}"></i>
							{{localize 'FU.MagicDefenseAbbr'}}
							<input type="number"
								   name="system.derived.mdef.bonus"
								   value="{{system.derived.mdef.bonus}}"
								   data-dtype="Number"
								   class="resource-inputs bonus"
								{{#if actor.overrides.system.derived.mdef.bonus includeZero=true}}
								   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
								{{/if}} />
						</label>
					</div>

					{{!-- Initiative --}}
					<div class="resource-content">
						<label class="fu-form__property resource-label-sm stack">
							<i class="fu-icon--s {{pfuIconClass 'init'}}"></i>
							{{localize 'FU.InitiativeAbbr'}}
							<input type="number"
								   name="system.derived.init.bonus"
								   value="{{system.derived.init.bonus}}"
								   data-dtype="Number"
								   class="resource-inputs bonus"
								{{#if actor.overrides.system.derived.init.bonus includeZero=true}}
								   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
								{{/if}} />
						</label>
					</div>

					{{!-- Accuracy --}}
					<div class="resource-content">
						<label class="fu-form__property resource-label-sm stack">
							<i class="fu-icon--s {{pfuIconClass 'accuracy'}}"></i>
							{{localize 'FU.AccuracyCheck'}}
							<input type="number"
								   name="system.bonuses.accuracy.accuracyCheck"
								   value="{{system.bonuses.accuracy.accuracyCheck}}"
								   data-dtype="Number"
								   class="resource-inputs bonus"
								{{#if actor.overrides.system.bonuses.accuracy.accuracyCheck includeZero=true}}
								   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
								{{/if}} />
						</label>
					</div>

					{{!-- Magic Check --}}
					<div class="resource-content">
						<label class="fu-form__property resource-label-sm stack">
							<i class="fu-icon--s {{pfuIconClass 'magic'}}"></i>
							{{localize 'FU.MagicCheck'}}
							<input type="number"
								   name="system.bonuses.accuracy.magicCheck"
								   value="{{system.bonuses.accuracy.magicCheck}}"
								   data-dtype="Number"
								   class="resource-inputs bonus"
								{{#if actor.overrides.system.bonuses.accuracy.magicCheck includeZero=true}}
								   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
								{{/if}} />
						</label>
					</div>

					{{!-- NPC-only: Damage bonuses --}}
					{{#if (eq actor.type "npc")}}
						<div class="resource-content">
							<label class="fu-form__property resource-label-sm stack"
								   data-tooltip="{{localize 'FU.MeleeDamageBonus'}}">
								<i class="fu-icon--s {{pfuIconClass 'melee'}}"></i>
								<span>{{localize 'FU.Melee'}}</span>
								<input type="number"
									   name="system.bonuses.damage.melee"
									   value="{{system.bonuses.damage.melee}}"
									   data-dtype="Number"
									   class="resource-inputs bonus"
									{{#if actor.overrides.system.bonuses.damage.melee includeZero=true}}
									   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
									{{/if}} />
							</label>

						</div>

						<div class="resource-content">
							<label class="fu-form__property resource-label-sm stack"
								data-tooltip="{{localize 'FU.RangedDamageBonus'}}">
								<i class="fu-icon--s {{pfuIconClass 'range'}}"></i>
								<span>{{localize 'FU.Ranged'}}</span>
								<input type="number"
									   name="system.bonuses.damage.ranged"
									   value="{{system.bonuses.damage.ranged}}"
									   data-dtype="Number"
									   class="resource-inputs bonus"
									{{#if actor.overrides.system.bonuses.damage.ranged includeZero=true}}
									   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
									{{/if}} />
							</label>
						</div>

						<div class="resource-content">
							<label class="fu-form__property resource-label-sm stack"
								   data-tooltip="{{localize 'FU.SpellDamageBonus'}}">
								<i class="fu-icon--s {{pfuIconClass 'spell'}}"></i>
								<span>{{localize 'FU.Spell'}}</span>
								<input type="number"
									   name="system.bonuses.damage.spell"
									   value="{{system.bonuses.damage.spell}}"
									   data-dtype="Number"
									   class="resource-inputs bonus"
									{{#if actor.overrides.system.bonuses.damage.spell includeZero=true}}
									   disabled data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"
									{{/if}} />
							</label>
						</div>
						<!-- Add SP tracking -->
					{{/if}}
				</div>
			{{/if}}
		</fieldset>

		{{!-- Base Immunities Section --}}
		<fieldset class="section-container title-fieldset desc affinities resource-content">
			<legend class="resource-label-m">
				{{localize 'FU.StatusEffectImmunity'}}
			</legend>

			<div class="header-fields grid grid-6col" style="margin: 5px 0;">
				{{#if system.immunities}}
					{{#each system.immunities as |immunity key|}}
						<div class="affinity resource-content flex-group-center flexrow">
							<label class="resource-content flex-group-center flexcol">
								<i class="fu-icon__container fu-icon--s {{pfuIconClass key}}"></i>
								<span class="resource-label-sm">{{immunity.label}}</span>
								<input type="checkbox"
									   id="immunity-{{key}}"
									   name="system.immunities.{{key}}.base"
									   {{#if immunity.base}}checked{{/if}}
									{{checked immunity.base}}>
							</label>
						</div>
					{{/each}}
				{{/if}}
			</div>
		</fieldset>

		{{!-- Pressure Points Section --}}
		{{#if (and pressurePoints (not (eq actor.system.rank.value "companion")))}}
			<fieldset class="section-container title-fieldset desc resource-content">
				<legend class="resource-label-m">
					{{localize 'FU.PressurePoints'}}
				</legend>
				{{#if system.pressurePoints}}
					{{pfuTraits system.pressurePoints "system.pressurePoints" showLabel=false}}
				{{/if}}
			</fieldset>
		{{/if}}

		{{!-- Settings Section --}}
		{{#if (eq actor.type "npc")}}
			<fieldset class="section-container title-fieldset desc resource-content">
				<legend class="resource-label-m">
					{{localize 'FU.Custom'}}
				</legend>
				<div class="flexrow flex-group-center">
					<!-- Use Equipment -->
					{{#unless (eq actor.system.species.value 'beast')}}
						<label class="resource-label-sm flexcol flex-group-center" data-tooltip="{{localize 'FU.UseEquipmentHint'}}">
							<i class="ra ra-sword ra-1x ra-flip-horizontal ra-1x"></i>
							{{localize 'FU.UseEquipment'}}
							<input class="use-equipment" type="checkbox" name="system.useEquipment.value"
								{{ checked system.useEquipment.value }} data-action="useEquipment" />
						</label>
					{{/unless}}
					{{#if (or (eq actor.system.rank.value "companion") (eq actor.system.rank.value "custom"))}}
						<label class="resource-label-sm flexcol flex-group-center"
							   data-tooltip="{{localize 'FU.Reference'}}) {{localize 'FU.PlayerLevel'}}"
							   for="refActor">
							<i class="fa-solid fa-user-group"></i>
							{{localize 'FU.Player'}}
							<span class="resource-label-m">LV: {{refActorLevel}}</span>
							<select name="system.references.actor" id="refActor" class="resource-inputs">
								<option value="">—</option>
								{{#each ownedActors as |owned|}}
									<option value="{{owned.id}}"
											{{#if (eq ../system.references.actor.id owned.id)}}selected{{/if}}>
										{{owned.name}}
									</option>
								{{/each}}
							</select>
						</label>

						<label class="resource-label-sm flexcol flex-group-center"
							   data-tooltip="{{localize 'FU.Reference'}}) {{localize 'FU.SkillLevel'}}"
							   for="refSkill">
							<i class="fa-solid fa-cogs"></i>
							{{localize 'FU.Skill'}}
							<span class="resource-label-m">SL: {{refSkillLevel}}</span>
							<select name="system.references.skill" id="refSkill" class="resource-inputs">
								<option value="">—</option>
								{{#each availableSkills as |skill|}}
									<option value="{{skill.uuid}}"
											{{#if (eq ../system.references.skill skill.uuid)}}selected{{/if}}>
										{{skill.name}}
									</option>
								{{/each}}
							</select>
						</label>
					{{/if}}
				</div>
			</fieldset>
		{{/if}}
	</div>
</div>