<div class="tab flexcol {{tab.cssClass}}" data-group="primary" data-tab="spells">
  <section class="desc">
      <header class="items-main-header">
      <span class="items-main">
        <label class="items-label">{{localize "FU.Rituals"}}</label>
      </span>
      </header>
	  {{{ritualsTable}}}

      <header class="items-main-header">
      <span class="items-main">
        <label class="items-label">{{localize "FU.Spells"}}</label>
      </span>
      </header>
	  {{{spellsTable}}}
  </section>
</div>