{{#if (getSlot item)}}
  <div class="item-xs equipped-icon-container">
    <a class="item-control item-equip"
	   data-action="equipItem"
	   data-id="{{item.id}}"
	   data-slot="{{ getSlot item }}"
       data-tooltip="{{#if (isItemEquipped item @root.actor.system.equipped)}} 
                      {{#if (eq item.type "weapon")}} 
                        {{localize 'FU.UnequipWeapon'}}
                      {{else}} 
                        {{localize 'FU.UnequipArmor'}}
                      {{/if}} 
                    {{else}} 
                      {{#if (eq item.type "weapon")}} 
                        {{localize 'FU.EquipWeapon'}}
                      {{else}} 
                        {{localize 'FU.EquipArmor'}}
                      {{/if}} 
                    {{/if}}">
      <i class="{{getIconClass item @root.actor.system.equipped}}"></i>
    </a>
  </div>
{{/if}}