<!-- Traits Section -->
<section class="section-container desc">
    <div class="grid grid-2col flex-group-center">
        <div class="traits resource-content">
            <label>
                <span class="resource-label-l">{{localize 'FU.Identity'}}</span>
            </label>
            <input type="text" name="system.resources.identity.name" value="{{ system.resources.identity.name }}"
                data-dtype="String" />
        </div>
        <div class="traits resource-content">
            <label>
                <span class="resource-label-l">{{localize 'FU.Pronouns'}}</span>
            </label>
            <input type="text" name="system.resources.pronouns.name" value="{{ system.resources.pronouns.name }}"
                data-dtype="String" />
        </div>
        <div class="traits resource-content">
            <label>
                <span class="resource-label-l">{{localize 'FU.Theme'}}</span>
            </label>
            <input type="text" name="system.resources.theme.name" value="{{ system.resources.theme.name }}"
                data-dtype="String" />
        </div>
        <div class="traits resource-content">
            <label>
                <span class="resource-label-l">{{localize 'FU.Origin'}}</span>
            </label>
            <input type="text" name="system.resources.origin.name" value="{{ system.resources.origin.name }}"
                data-dtype="String" />
        </div>
    </div>
</section>