{{#if (eq actor.type "npc")}}
{{!-- Creature Rank --}}
<div class="flexcol gap-1">
    <div class="resource-content levelup-container creature flex-group-center desc">
        <span class="resource-content levelup-container flexcol flex-group-center">
            <label class="resource-label-l" data-tooltip="{{localize 'FU.CreatureType'}}" aria-describedby="tooltip">
                <i class="fas fa-chart-simple icon"></i>{{localize 'FU.CreatureType'}}
            </label>
            <span class="flexrow combineBar" style="border: 0.125em solid #c7c7c7;">
                <select id="specieSelect" "{{ system.species.value }}" name="system.species.value"
                    class="resource-inputs">
                    {{#select system.species.value}} {{#if system.isCompanion.value}}
                    {{!-- Companion Options --}}
                    <option value="beast">{{localize 'FU.Beast'}}</option>
                    <option value="construct">{{localize 'FU.Construct'}}</option>
                    <option value="elemental">{{localize 'FU.Elemental'}}</option>
                    <option value="plant">{{localize 'FU.Plant'}}</option>
                    <option value="custom">{{localize 'FU.Custom'}}</option>
                    {{else}}
                    {{!-- Creature Options --}}
                    <option value="beast">{{localize 'FU.Beast'}}</option>
                    <option value="construct">{{localize 'FU.Construct'}}</option>
                    <option value="demon">{{localize 'FU.Demon'}}</option>
                    <option value="elemental">{{localize 'FU.Elemental'}}</option>
                    <option value="monster">{{localize 'FU.Monster'}}</option>
                    <option value="plant">{{localize 'FU.Plant'}}</option>
                    <option value="undead">{{localize 'FU.Undead'}}</option>
                    <option value="humanoid">{{localize 'FU.Humanoid'}}</option>
                    <option value="custom">{{localize 'FU.Custom'}}</option>
                    {{/if}} {{/select}}
                </select>
                <span class="resource-inputs">
                    <input type="checkbox" id="isCompanionCheckbox" data-tooltip="{{localize 'FU.isCompanion'}}"
                        name="system.isCompanion.value" {{checked system.isCompanion.value}} />
                </span>
            </span>
        </span>
    </div>

    <span class="resource-content levelup-container flexcol flex-group-center">
        {{#if system.isCompanion.value}}
        <span class="flexrow combineBar resource-content flex-group-center"
            style="color:white;border-radius: 0 0 0 14px; width: 100%; border: 0.125em solid #c7c7c7;">
            <label class="resource-label-m" for="system.companion.playerLevel"
                data-tooltip="{{localize 'FU.PlayerLevel'}}">{{ localize 'FU.LevelAbbr'
                }}</label>
            <span class="resource-inputs">
                <input type="number" id="companionPlayerLevel" name="system.companion.playerLevel"
                    value="{{ system.companion.playerLevel }}" style="color:white; height: 1.5em; border: none;" />
            </span>
            <label class="resource-label-m" for="system.companion.skillLevel"
                data-tooltip="{{localize 'FU.SkillLevel'}}">{{ localize
                'FU.SkillLevelAbbr' }}</label>
            <span class="resource-inputs">
                <input type="number" id="companionSkillLevel" name="system.companion.skillLevel"
                    value="{{ system.companion.skillLevel }}" style="color:white; height: 1.5em; border: none;" />
            </span>
        </span>
        {{else}}
        <select type="text" name="system.villain.value" value="{{ system.villain.value }}" data-dtype="String"
            class="resource-inputs"
            style="margin: 0 0 4px; border-radius: 0 0 0 14px; width: 100%; padding: 2px; border: 0.125em solid #c7c7c7;">
            {{#select system.villain.value}}
            <option value="">{{ localize 'FU.VillainNone' }}</option>
            <option value="minor">{{ localize 'FU.VillainMinor' }}</option>
            <option value="major">{{ localize 'FU.VillainMajor' }}</option>
            <option value="supreme">{{ localize 'FU.VillainSupreme' }}</option>
            {{/select}}
        </select>
        {{/if}}
    </span>
</div>
{{/if}}