<fieldset class="section-container effects-section title-fieldset desc resource-content">
	<legend class="resource-label-m">
		{{localize 'FU.Effects'}}
	</legend>
	<div class="grid grid-2col gap-4">
		{{#each temporaryEffects as |effect|}}
			<div class="effect-shortcut" data-effect-id="{{effect.id}}">
				<span class="flexrow flex-group-left gap-5">
					{{pfuItemAnchor effect}}
					<span class="effect-name" data-tooltip="{{effect.name}}">
						{{pfuAcronym effect.name}}
					</span>
				</span>
				<a class="pfu-action" data-action="deleteEffect">
					<i class="fa fa-trash"></i>
				</a>
			</div>
		{{/each}}
	</div>
</fieldset>