<div class="item-xs equipped-icon-container">
	<a class="item-control item-equip" data-slot="{{ item.system.isEquipped.slot }}" {{#if
		item.system.isEquipped.value}} data-tooltip="{{ localize 'FU.UnequipItem' }}" {{else}}
		data-tooltip="{{ localize 'FU.EquipItem' }}" {{/if}}>
		{{#if item.system.isEquipped.value}}
		<i class="{{ getIconClass item }} ra-1xh"></i>
		{{else}}
		<i class="far fa-toolbox ra-1xh"></i>
		{{/if}}
	</a>
</div>