<div class="attributes desc">
    <div class="sp-tracker flexrow flex-group-center grid grid-4col">
        <div class="desc-header resource-content grid grid-4col">
            <label class="resource-label-l grid-span-3">{{localize 'FU.TotalSPAvailable'}}</label>
            <span class="resource-label-m">{{ spTracker.spAvailable }}</span>
        </div>

        {{!-- Start Available Skills --}}
        {{#if spTracker.availableSkills.species}}
            <div class="resource-content grid grid-4col align-center">
                <label class="resource-text-sm grid-span-3">{{localize 'FU.AvailableSPSpecies'}}</label>
                <span>{{ spTracker.availableSkills.species }}</span>
            </div>
        {{/if}} {{#if spTracker.availableSkills.level}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.AvailableSPLevels'}}</label>
            <span>{{ spTracker.availableSkills.level }}</span>
        </div>
    {{/if}} {{#if spTracker.availableSkills.vulnerabilities}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.AvailableSPVulnerabilities'}}</label>
            <span>{{ spTracker.availableSkills.vulnerabilities }}</span>
        </div>
    {{/if}} {{#if spTracker.availableSkills.rank}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.AvailableSPRank'}}</label>
            <span>{{ spTracker.availableSkills.rank }}</span>
        </div>
    {{/if}}

        {{!-- End Available Skills --}}
        <div class="desc-header resource-content grid grid-4col">
            <label class="resource-label-l grid-span-3">{{localize 'FU.TotalSPUsed'}}</label>
            <span class="resource-label-m">{{ spTracker.spUsed }}</span>
        </div>

        {{!-- Start Used Skills --}}
        {{#if spTracker.usedSkills.specialAttacks}}
            <div class="resource-content grid grid-4col align-center">
                <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPSpecialAttacks'}}</label>
                <span>{{ spTracker.usedSkills.specialAttacks }}</span>
            </div>
        {{/if}} {{#if spTracker.usedSkills.spells}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPSpells'}}</label>
            <span>{{ spTracker.usedSkills.spells }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.extraDefense}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPExtraDefense'}}</label>
            <span>{{ spTracker.usedSkills.extraDefense }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.extraHP}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPExtraHP'}}</label>
            <span>{{ spTracker.usedSkills.extraHP }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.extraMP}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPExtraMP'}}</label>
            <span>{{ spTracker.usedSkills.extraMP }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.initiativeBonus}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPExtraInitiativeBonus'}}</label>
            <span>{{ spTracker.usedSkills.initiativeBonus }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.accuracyCheck}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPExtraAccuracyCheck'}}</label>
            <span>{{ spTracker.usedSkills.accuracyCheck }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.magicCheck}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPExtraMagicCheck'}}</label>
            <span>{{ spTracker.usedSkills.magicCheck }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.resistances}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPResistances'}}</label>
            <span>{{ spTracker.usedSkills.resistances }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.immunities}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPImmunities'}}</label>
            <span>{{ spTracker.usedSkills.immunities }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.absorption}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPAbsorption'}}</label>
            <span>{{ spTracker.usedSkills.absorption }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.specialRules}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPSpecialRules'}}</label>
            <span>{{ spTracker.usedSkills.specialRules }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.otherActions}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPOtherAction'}}</label>
            <span>{{ spTracker.usedSkills.otherActions }}</span>
        </div>
    {{/if}} {{#if spTracker.usedSkills.equipment}}
        <div class="resource-content grid grid-4col align-center">
            <label class="resource-text-sm grid-span-3">{{localize 'FU.UsedSPEquipment'}}</label>
            <span>{{ spTracker.usedSkills.equipment }}</span>
        </div>
    {{/if}}
    </div>
</div>