<div class="item-name">
    <div class="item-image">
        <div class="rollable" data-roll-type="item" data-action="roll">
            <img src="{{item.img}}" data-tooltip="{{localize 'FU.RollIconToolTip' name=item.name}}" />
        </div>
    </div>

    <h4 class="click-item resource-content" data-item-id="{{item._id}}">
        <span class="resource-text-sm gap-3" style="display: flex; align-items: center;">
            {{#if (eq @root.actor.type "npc")}}
                {{#if (eq item.system.type.value "melee")}}
                    <span class="is-melee"></span>
                {{else if (eq item.system.type.value "ranged")}}
                    <span class="is-range"></span>
                {{else if (eq item.type "spell")}}
                    <span class="is-spell"></span>
                {{else if (eq item.type "miscAbility")}}
                    <span class="is-skill"></span>
                {{/if}}
            {{/if}}
            {{#if (and item.system.isEquipped.value (eq item.system.isEquipped.slot "mainHand"))}}
                <span class="icon-letter" data-tooltip="{{localize 'FU.MainHand'}}">M</span>
            {{/if}}
            {{#if (and item.system.isEquipped.value (eq item.system.isEquipped.slot "offHand"))}}
                <span class="icon-letter" data-tooltip="{{localize 'FU.OffHand'}}">O</span>
            {{/if}}
            {{item.name}}
            {{#if item.system.isMartial.value}}
                <span class="is-martial"></span>
            {{/if}}
            {{#if item.system.isOffensive.value}}
                <span class="is-offensive"></span>
            {{/if}}
        </span>
    </h4>
</div>