{{!-- Favorite Template --}}
<fieldset class="section-container title-fieldset desc resource-content">
    <legend class="resource-label-m" aria-describedby="tooltip">
        <a class="item-create-dialog resource-inputs resource-label-m" data-tooltip="{{localize 'FU.FavoriteAdd'}}"
           data-type="newFavorite">
            <i class="fas fa-plus icon"></i>{{localize 'FU.Favorite'}}
        </a>
    </legend>

    {{!-- Equipped Item Header--}}
    {{> "systems/projectfu/templates/actor/partials/actor-equipment-slots.hbs" item=item}}

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name start"><i class="fas fa-star icon"></i>{{localize 'FU.Favorite'}}</div>
            <div class="item-m end">
                <a id="sortButton" class="item-control sort" data-tooltip="{{localize 'FU.Sort'}}" data-type="sort">
                    <i class="fas fa-sort icon"></i>
                    {{localize 'FU.Sort'}}
                </a>
            </div>
        </li>
        {{#each items as |item id|}}
            {{#if item.system.isFavored.value}}
                <li class="item" data-item-id="{{ item._id }}">
                    <div class="flexrow">
                        {{!-- Item Name --}}
                        {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                        {{!-- Class Features --}}
                        {{#if (eq item.type 'classFeature')}}
                            {{#with (lookup @root.classFeatures item.system.featureType) as | featureType |}}
                                {{#with (lookup featureType.items item._id) as | itemData |}}
                                    {{> (lookup featureType.feature 'previewTemplate') itemData.item additionalData=itemData.additionalData
                                     item=itemData.item}}
                                {{/with}}
                            {{/with}}
                        {{/if}}

                        {{!-- Optional Features --}}
                        {{#if (eq item.type "optionalFeature")}}
                            {{#unless item.system.data.progress}}
                                {{#with (lookup @root.optionalFeatures item.system.optionalType) as |optionalType|}}
                                    {{#with (lookup optionalType.items item._id) as |itemData|}}
                                        {{> (lookup optionalType.optional 'previewTemplate') itemData.item additionalData=itemData.additionalData item=itemData.item}}
                                    {{/with}}
                                {{/with}}
                            {{/unless}}
                        {{/if}}

                        {{!-- Item Equip--}}
                        {{#if (or (eq @root.actor.type "character") @root.actor.system.useEquipment.value)}}
                            {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" actor=actor item=item}}
                        {{/if}}

                        {{!-- Resource Points --}}
                        {{#if item.system.data.hasResource.value}}
                            <div class="item-l inline-desc flexrow flex-group-center resource-content" style="padding: 0">
                                <label class="item-quality resource-text-sm" style="flex-grow: 2;">{{item.system.data.rp.name }}</label>
                                <div class="resource-text-t buttons-inc">
                                    <a class="decrement-button" data-type="optionalRPCounter"
                                       data-item-id="{{ item._id }}"
                                       data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.data.rp.step}})">-</a>
                                    <span data-resource="item.rp">{{ item.system.data.rp.current }}</span>
                                    {{#if (gt item.system.data.rp.max 0)}}
                                        <span>/</span>
                                        <span>{{ item.system.data.rp.max }}</span>
                                    {{/if}}
                                    <a class="increment-button" data-type="optionalRPCounter"
                                       data-item-id="{{ item._id }}"
                                       data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.data.rp.step}})">+</a>
                                </div>
                            </div>
                        {{/if}}

                        {{!-- Resource Points --}}
                        {{#if item.system.hasResource.value}}
                            <div class="item-l inline-desc flexrow flex-group-center resource-content" style="padding: 0">
                                <label class="item-quality resource-text-sm" style="flex-grow: 2;">{{item.system.rp.name }}</label>
                                <div class="resource-text-t buttons-inc">
                                    <a class="decrement-button" data-type="resourceCounter"
                                       data-item-id="{{ item._id }}"
                                       data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.rp.step}})">-</a>
                                    <span data-resource="item.rp">{{ item.system.rp.current }}</span>
                                    {{#if (gt item.system.rp.max 0)}}
                                        <span>/</span>
                                        <span>{{ item.system.rp.max }}</span>
                                    {{/if}}
                                    <a class="increment-button" data-type="resourceCounter"
                                       data-item-id="{{ item._id }}"
                                       data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.rp.step}})">+</a>
                                </div>
                            </div>
                        {{/if}}

                        {{#if (eq item.type "project")}}
                        {{!-- Progress Bar --}}
                            <div class="item-progressbar">
                                <div class="bar bar-progress">
                                    <div class="bar-progress-bar bar-project"
                                         style="width: {{calculatePercentage item.system.progress.current
                                                                             item.system.progress.max}};">
                                    </div>
                                    <span class="bar-value"></span>
                                </div>
                            </div>
                            {{!-- Progress Counter --}}
                            <div class="item-m inline-desc flexcol flex-group-center resource-content"
                                 style="padding: 0; border-radius: 6px 12px 12px 6px;">
                                <div class="resource-text-t buttons-inc">
                                    <a class="decrement-button" data-type="projectCounter" data-item-id="{{ item._id }}"
                                       data-tooltip="{{localize
                                        'FU.DecreaseTooltip'}} ({{item.system.progress.step}})">-</a>
                                    <span data-resource="item.rp">{{ item.system.progress.current }}</span>
                                    <span>/</span>
                                    <span>{{ item.system.progress.max }}</span>
                                    <a class="increment-button" data-type="projectCounter" data-item-id="{{ item._id }}"
                                       data-tooltip="{{localize
                                        'FU.IncreaseTooltip'}} ({{item.system.progress.step}})">+</a>
                                </div>
                            </div>
                        {{/if}}

                        {{!-- Item Control--}}
                        {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item unarmed=item.unarmedStrike}}
                    </div>
                    {{#if item.quality}}
                        <div class="item-quality align-left">{{ item.quality }}</div>
                    {{/if}}
                    <div class="individual-description align-left {{#unless (inArray _id _expandedIds)}}hidden{{/unless}}">
                        {{#if item.detail}}
                            <div class="item-quality align-left">
                                <strong>{{item.detail}}</strong>
                            </div>
                        {{/if}}

                        {{#if item.system.description}}
                            {{{item.enrichedHtml.description}}}
                        {{/if}}

                        {{#if (eq item.type "classFeature")}}
                            {{#with (lookup @root.classFeatures item.system.featureType) as |featureType|}}
                                {{#with (lookup featureType.items item._id) as |itemData|}}
                                    {{> (lookup featureType.feature 'expandTemplate') itemData.item additionalData=itemData.additionalData item=itemData.item}}
                                {{/with}}
                            {{/with}}
                        {{/if}}

                        {{#if (eq item.type "optionalFeature")}}
                            {{#with (lookup @root.optionalFeatures item.system.optionalType) as |optionalType|}}
                                {{#with (lookup optionalType.items item._id) as |itemData|}}
                                    {{> (lookup optionalType.optional 'expandTemplate') itemData.item additionalData=itemData.additionalData item=itemData.item}}
                                {{/with}}
                            {{/with}}
                        {{/if}}
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ol>
</fieldset>