<!-- Traits Section -->
<section class="section-container desc grid-span-3" style="margin-bottom: 5px;">
    <div class="grid grid-3col flex-group-center">
        <div class="traits resource-content">
            <label>
                <span class="resource-label-m">{{localize 'FU.Identity'}}</span>
            </label>
            <input type="text" name="system.resources.identity.name" value="{{ system.resources.identity.name }}"
                data-dtype="String" />
        </div>
        <div class="traits resource-content">
            <label>
                <span class="resource-label-m">{{localize 'FU.Theme'}}</span>
            </label>
            <input type="text" name="system.resources.theme.name" value="{{ system.resources.theme.name }}"
                data-dtype="String" />
        </div>
        <div class="traits resource-content">
            <label>
                <span class="resource-label-m">{{localize 'FU.Origin'}}</span>
            </label>
            <input type="text" name="system.resources.origin.name" value="{{ system.resources.origin.name }}"
                data-dtype="String" />
        </div>
    </div>
</section>