{{#if actor.system.vehicle.vehicle}}

    {{#*inline 'module'}}
        <li class="item draggable" data-item-id="{{id}}">
            <div class="flexrow">
                <div class="item-name">
                    <div class="item-image">
                        <div class="rollable" data-roll-type="item">
                            <img src="{{img}}" data-tooltip="{{name}}">
                        </div>
                    </div>
                    <h4 class="click-item resource-content">
                <span class="resource-text-m" style="display: flex; align-items: center; gap: 3px">
                    {{name}}
                </span>
                    </h4>
                </div>
            </div>
        </li>
    {{/inline}}

    {{#with actor.system.vehicle}}
        <fieldset class="title-fieldset desc resource-content vehicle-section">
            <legend class="resource-label-m">{{localize 'FU.ClassFeatureVehicle'}}</legend>
            <div class="items-list">
                <div class="item" data-item-id="{{vehicle.id}}">
                    <div class="flexrow">
                        <div class="item-name">
                            <div class="item-image">
                                <div class="rollable" data-roll-type="item">
                                    <img src="{{vehicle.img}}" data-tooltip="{{vehicle.name}}">
                                </div>
                            </div>
                            <h4 class="click-item resource-content">
                        <span class="resource-text-m" style="display: flex; align-items: center; gap: 3px">
                            {{vehicle.name}}
                        </span>
                            </h4>
                        </div>
                        <div class="flex0 embark-button">
                            {{#if embarked}}
                                <a data-action="updatePilotVehicle"
								   data-func="updateEmbarked"
                                   data-tooltip="{{localize 'FU.ClassFeatureVehicleDisembark'}}">
                                    <i class="fas fa-square-chevron-up"></i>
                                </a>
                            {{else}}
                                <a data-action="updatePilotVehicle"
								   data-func="updateEmbarked"
                                   data-tooltip="{{localize 'FU.ClassFeatureVehicleEmbark'}}">
                                    <i class="fas fa-square-chevron-down fa-thin"></i>
                                </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="resource-label-m modules-header">
                <span>{{localize 'FU.ClassFeatureVehicleActiveModules'}}</span>
                <span class="{{#if (gt usedSlots vehicle.system.data.moduleSlots)}}over-capacity{{/if}}">
                    {{usedSlots}}
                    /
                    {{vehicle.system.data.moduleSlots}}
                </span>
            </div>
            <ol class="items-list {{#unless embarked}}disabled{{/unless}}">
                {{#each weapons}}
                    {{> 'module' this}}
                {{/each}}
                {{#if armor}}
                    {{> 'module' armor}}
                {{/if}}
                {{#each supports}}
                    {{> 'module' this}}
                {{/each}}
            </ol>
        </fieldset>
    {{/with}}
{{/if}}