<div class="item-sm end">

	<!-- Favorite -->
	{{#if @root.actor.isCharacterType}}
		<a class="item-control item-favored" data-item-id="{{item._id}}"
		   data-tooltip="{{#if item.system.isFavored.value}}{{ localize 'FU.FavoriteRemove' }}{{else}}{{ localize
			'FU.Favorite' }}{{/if}}" ariatt-describedby="tooltip" data-action="itemFavored">
			<i class="{{#if item.system.isFavored.value}}fas active{{else}}far{{/if}} fa-star button-style"></i>
		</a>
	{{else}}
		{{#if @root.actor.isOwner}}
			{{#if @root.actor.system.merchant}}
				{{#if item.system.cost}}
					<a class="item-control item-sell" data-item-id="{{item._id}}" data-tooltip="{{ localize 'FU.Sell' }}" aria-describedby="tooltip">
						<i class="fa fa-balance-scale button-style"></i>
					</a>
				{{/if}}
			{{else}}
				<a class="item-control item-share" data-item-id="{{item._id}}" data-tooltip="{{ localize 'FU.Share' }}" aria-describedby="tooltip">
					<i class="fa fa-share button-style"></i>
				</a>
			{{/if}}
		{{else}}
			<a class="item-control item-loot" data-item-id="{{item._id}}" data-tooltip="{{ localize 'FU.Loot' }}<br>{{ localize 'FU.LootDelete' }}" aria-describedby="tooltip">
				<i class="fa fa-hand button-style"></i>
			</a>
		{{/if}}
	{{/if}}

	<!-- Hide if it's the default unarmed attack -->
    {{#unless (eq item._id unarmed._id)}}
		<a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="{{ localize 'FU.Edit' }}" aria-describedby="tooltip">
			<i class="fas fa-edit button-style"></i>
		</a>
		<a class="item-control item-option" data-item-id="{{item._id}}" data-tooltip="{{ localize 'FU.Settings' }}" aria-describedby="tooltip">
			<i class="fas fa-bars button-style"></i>
		</a>
    {{/unless}}
</div>
