{{!-- Equipped Item Header--}}
{{> "systems/projectfu/templates/actor/partials/actor-equipment-slots.hbs" item=item}}

{{!-- Weapon Section --}}
<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-name">{{localize "FU.Weapons"}}</div>
        <div class="item-lg">{{localize "FU.Attack"}}</div>
        <div class="item-lg">{{localize "FU.Damage"}}</div>
        <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
        <div class="item-sm end">
            <a class="item-control item-create" data-tooltip="{{localize 'FU.WeaponCreate'}}" data-type="weapon"><i
             class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
        </div>
    </li>
    {{#each weapons as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-lg">{{ item.attackString }}</div>
                <div class="item-lg">{{ item.damageString }}</div>
                {{!-- Item Equip--}}
                {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item}}
                {{!-- Item Control--}}
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item unarmed=item.unarmedStrike}}
            </div>
            <span class="item-quality">{{ item.quality }}</span>
			{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
        </li>
    {{/each}}
</ol>

{{!-- Shield Section --}}
<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-name sortable">{{localize "FU.Shields"}}</div>
        <div class="item-xs">{{localize "FU.DefenseAbbr"}}</div>
        <div class="item-xs">{{localize "FU.MagicDefenseAbbr"}}</div>
        <div class="item-xs">{{localize "FU.InitiativeAbbr"}}</div>
        <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
        <div class="item-sm end">
            <a class="item-control item-create" data-tooltip="{{localize 'FU.ShieldCreate'}}" data-type="shield"><i
             class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
        </div>
    </li>
    {{#each shields as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-xs">{{ item.def }}</div>
                <div class="item-xs">{{ item.mdef }}</div>
                <div class="item-xs">{{ item.init }}</div>
                {{!-- Item Equip--}}
                {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item}}
                {{!-- Item Control--}}
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
            <span class="item-quality">{{ item.quality }}</span>
			{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
        </li>
    {{/each}}
</ol>

{{!-- Armor Section --}}
<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-name">{{localize "FU.Armors"}}</div>
        <div class="item-xs">{{localize "FU.DefenseAbbr"}}</div>
        <div class="item-xs">{{localize "FU.MagicDefenseAbbr"}}</div>
        <div class="item-xs">{{localize "FU.InitiativeAbbr"}}</div>
        <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
        <div class="item-sm end">
            <a class="item-control item-create" data-tooltip="{{localize 'FU.ArmorCreate'}}" data-type="armor"><i
             class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
        </div>
    </li>
    {{#each armor as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-xs">{{ item.def }}</div>
                <div class="item-xs">{{ item.mdef }}</div>
                <div class="item-xs">{{ item.init }}</div>
                {{!-- Item Equip--}}
                {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item}}
                {{!-- Item Control--}}
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
            <span class="item-quality">{{ item.quality }}</span>
			{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
        </li>
    {{/each}}
</ol>

{{!-- Accessories Section --}}
<ol class="items-list">
    <li class="item flexrow items-header">
        <div class="item-name">{{localize "FU.Accessories"}}</div>
        <div class="item-xs">{{localize "FU.DefenseAbbr"}}</div>
        <div class="item-xs">{{localize "FU.MagicDefenseAbbr"}}</div>
        <div class="item-xs">{{localize "FU.InitiativeAbbr"}}</div>
        <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
        <div class="item-sm end">
            <a class="item-control item-create" data-tooltip="{{localize 'FU.AccessoryCreate'}}"
               data-type="accessory"><i class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
        </div>
    </li>
    {{#each accessories as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-xs">{{ item.def }}</div>
                <div class="item-xs">{{ item.mdef }}</div>
                <div class="item-xs">{{ item.init }}</div>
                {{!-- Item Equip--}}
                {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item}}
                {{!-- Item Control--}}
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
            <span class="item-quality">{{ item.quality }}</span>
			{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
        </li>
    {{/each}}
</ol>