<div class="attributes desc">
	<div class="sp-tracker flexrow flex-group-center grid grid-4col">
		<div class="desc-header resource-content grid grid-4col">
			<label class="resource-label-l grid-span-3">{{localize 'FU.TotalSPAvailable'}}</label>
			<span class="resource-label-m">{{ spTracker.available }}</span>
		</div>

		{{!-- Start Available Skills --}}
		{{#each spTracker.availableSkills}}
			{{#if this.value}}
				<div class="resource-content grid grid-4col align-center">
					<label class="resource-text-sm grid-span-3">{{ localize this.label }}</label>
					<span>{{ this.value }}</span>
				</div>
			{{/if}}
		{{/each}}
		{{!-- End Available Skills --}}

		<div class="desc-header resource-content grid grid-4col">
			<label class="resource-label-l grid-span-3">{{localize 'FU.TotalSPUsed'}}</label>
			<span class="resource-label-m">{{ spTracker.used }}</span>
		</div>

		{{!-- Start Used Skills --}}
		{{#each spTracker.usedSkills}}
			{{#if this.value}}
				<div class="resource-content grid grid-4col align-center">
					<label class="resource-text-sm grid-span-3">{{ localize this.label }}</label>
					<span>{{ this.value }}</span>
				</div>
			{{/if}}
		{{/each}}
		{{!-- End Used Skills --}}
	</div>
</div>