{{!-- Affinity Template --}}
<div class="affinities {{#if section}}desc{{/if}}">
	{{#if system.affinities}}
		{{#each system.affinities as |affinity key|}}
			<div class="affinity resource-content flex-group-center">
			<label
			{{#if ../rollable}}class="rollable"
			 data-roll-type="affinity-type"
			 data-affinity='{{key}}'
			 data-action="roll"
			 data-tooltip="{{ affinity.label }} <br> {{ affinity.affTypeCurr }} "
			{{/if}}
			 data-label="{{ affinity.label }}">
				<i class="fu-icon--s affinity-icon {{pfuIconClass key}}"></i>
				<span class="resource-label-l">{{ affinity.affTypeCurrAbbr }}</span>
				</label>
			</div>
		{{/each}}
	{{/if}}
</div>
