<div class="header-fields flexrow" style="align-self: stretch;">
    <!-- Status Toggle Section -->
    <div id="status-section" class="desc">
        {{!-- Key Statuses --}}
        <div class="grid grid-8col">
            {{#each statusEffectToggles as |statusEffect|}}
                <a class="status-effect-toggle {{#if statusEffect.active}}active{{/if}} {{#if statusEffect.immune}}immune{{/if}}"
                   data-status-id="{{statusEffect.id}}" data-action="toggleStatusEffect">
                    <img src="{{statusEffect.img}}" data-tooltip="{{statusEffect.tooltip}}">
                </a>
            {{/each}}
        </div>

    </div>
    <!-- Attribute Section -->
    <div id="attribute-section" class="resource-content flex-group-center desc">
        {{>"systems/projectfu/templates/actor/partials/actor-attributes.hbs"}}
    </div>
    <!-- Roll Section -->
    <div id="roll-section" class="resource-content flex-group-center desc grid grid-4col">
        {{!-- Group Check --}}
        <div class="flexcol flex-group-center rollable spin2win" data-roll-type="group-check"
             data-tooltip="{{localize 'FU.GroupCheckTooltip'}}" data-action="roll">
            <i class="fu-icon--m {{pfuIconClass 'group' }} spin2win"></i>
            <label class="resource-label-sm">{{localize 'FU.GroupCheckAbbr'}}</label>
        </div>
        {{!-- Roll Check --}}
        <div class="flexcol flex-group-center rollable spin2win" data-roll-type="attribute-check"
			 data-tooltip="{{localize 'FU.AttributeCheckTooltip'}}"
			 data-action="roll">
			<i class="fu-icon--m {{pfuIconClass 'attribute' }} spin2win"></i>
            <label class="resource-label-sm">{{localize 'FU.AttributeCheckAbbr'}}</label>
        </div>
        {{!-- Open Check --}}
        <div class="flexcol flex-group-center rollable spin2win" data-roll-type="open-check"
			 data-tooltip="{{localize 'FU.OpenCheckTooltip'}}" data-action="roll">
			<i class="fu-icon--m {{pfuIconClass 'open' }} spin2win"></i>
            <label class="resource-label-sm">{{localize 'FU.OpenCheckAbbr'}}</label>
        </div>
		{{!-- Opposed Check --}}
		<div class="flexcol flex-group-center rollable spin2win" data-roll-type="opposed-check"
			 data-tooltip="{{localize 'FU.OpposedCheckTooltip'}}" data-action="roll">
			<i class="fu-icon--m {{pfuIconClass 'opposed' }} spin2win"></i>
			<label class="resource-label-sm">{{localize 'FU.OpposedCheckAbbr'}}</label>
		</div>
    </div>
</div>