<div class="progress" style="--segments: {{data.max}};" data-segments="{{data.max}}"
     data-tooltip="{{localize 'FU.Progress'}}"
     {{#if dataPath}}data-data-path="{{dataPath}}"{{/if}}>

    <div class="foreground"></div>

    {{#each arr as |obj key|}}
        <input class="pie slice{{obj.id}}" type="radio" value="{{obj.id}}" style="--index: {{obj.id}}" {{checked obj.checked}} />
        <div class="divider" style="--index: {{obj.id}}"></div>
    {{/each}}
</div>

{{#if displayName}}
	<label class="item-name resource-content">
		<span class="resource-label-l">{{data.name}}</span>
	</label>
{{/if}}