<header class="sheet-header">
    {{#if (or (eq system.study.value 1) (eq system.study.value 2) (eq system.study.value 3))}}
    {{!-- Name/HP Section --}}
    <div class="combine-header">
        <img class="profile-img" src="{{ actor.img }}" data-edit="img" data-tooltip="{{ actor.name }}" />
        <div class="header-fields">

            {{!-- Start Header --}}
            <div class="header-start grid grid-6col">
                {{>"systems/projectfu/templates/actor/partials/actor-charname.hbs" actor=actor}}
            </div>

            <!-- Center Header -->
            <div class="header-center grid grid-4col desc">

                {{!-- Max HP --}}
                <div class="resource-content flex-group-center">
                    <label class="resource-label-l"> <i class="fas fa-heart icon"></i></i>{{localize
                        'FU.HealthPoints'}}
                    </label>
                    <div class="resource-content flex-center">
                        <input class="resource-inputs" id="def-input" name="system.resources.hp.max"
                            value="{{ system.resources.hp.max }}" data-dtype="Number" disabled />
                    </div>
                </div>

                {{!-- Max MP --}}
                <div class="resource-content flex-group-center">
                    <label class="resource-label-l"> <i class="fas fa-hat-wizard icon"></i>{{localize
                        'FU.MindPoints'}}
                    </label>
                    <div class="resource-content flex-center">
                        <input class="resource-inputs" id="def-input" name="system.resources.mp.max"
                            value="{{ system.resources.mp.max }}" data-dtype="Number" disabled />
                    </div>
                </div>

                {{!-- Role --}}
                <div class="resource-content flex-group-center">
                    <label class="resource-label-l"> <i class="fas fa-wrench-simple icon"></i>{{localize
                        'FU.Role'}}
                    </label>
                    <div class="resource-content flex-center" ;>
                        <select name="system.role.value" class="resource-inputs" style="width: fit-content">
                            {{selectOptions FU.role selected=system.role.value localize=true}}
                        </select>
                    </div>
                </div>

                {{!-- Creature Statistics --}}
                <div class="resource-content flex-group-center">
                    <label class="resource-label-l"> <i class="fas fa-wrench-simple icon"></i>{{localize
                        'FU.Species'}}
                    </label>
                    <div class="resource-content flex-center" ;>
                        <select name="system.role.value" class="resource-inputs" style="width: fit-content">
                            {{selectOptions FU.species selected=system.species.value localize=true}}
                        </select>
                    </div>
                </div>

                <div class="header-fields flex-group-center grid grid-4col">
                    <div class="grid grid-4col" style="align-self: baseline;">

                        {{!-- Study --}}
                        <div class="resource-content flex-group-center">
                            <label class="resource-label-l"> <i class="fas fa-wrench-simple icon"></i>{{localize
                                'FU.Study'}}
                            </label>
                            <div class="resource-content flex-center" ;>
                                <select name="system.study.value" class="resource-inputs" style="">
                                    {{selectOptions studyRoll selected=system.study.value}}
                                </select>
                            </div>
                        </div>

                        {{!-- DEF/MDEF/INIT/FU/UP --}}
                        {{#if (or (eq actor.type "character")(eq system.study.value 0)(eq system.study.value 2) (eq
                        system.study.value 3))}}


                        {{!-- DEF --}}
                        <div class="resource-content flex-group-center">
                            <label class="resource-label-l"> <i class="fas fa-shield icon"></i>{{localize
                                'FU.DefenseAbbr'}}
                            </label>
                            <div class="resource-content flex-center">
                                <input class="resource-inputs" id="def-input" name="system.derived.def.value"
                                    value="{{ system.derived.def.value }}" data-dtype="Number"
                                    data-tooltip="{{localize 'FU.Defense'}}<br>Current: {{ system.derived.def.value }}<br>Bonus: {{ system.derived.def.bonus }}"
                                    aria-describedby="tooltip" disabled />
                            </div>
                        </div>

                        {{!-- MDEF --}}
                        <div class="resource-content flex-group-center">
                            <label class="resource-label-l"> <i class="fas fa-shield-halved icon"></i>{{localize
                                'FU.MagicDefenseAbbr'}} </label>
                            <div class="resource-content flex-center">
                                <input class="resource-inputs" id="mdef-input" name="system.derived.mdef.value"
                                    value="{{ system.derived.mdef.value }}" data-dtype="Number" data-tooltip="{{localize 'FU.MagicDefense'}}<br>Current: {{
					   system.derived.mdef.value
					   }}<br>Bonus: {{ system.derived.mdef.bonus }}" aria-describedby="tooltip" disabled />
                            </div>
                        </div>

                        {{!-- Initiative --}}
                        <div class="resource-content flex-group-center">
                            <label class="rollable resource-label-l" data-roll-type="roll-init"> <i
                                    class="fas fa-clock icon"></i>{{localize 'FU.InitiativeAbbr'}} </label>
                            <div class="resource-content flex-center">
                                <input class="resource-inputs" id="init-input" name="system.derived.init.value"
                                    value="{{ system.derived.init.value }}" data-dtype="Number" data-tooltip="{{localize 'FU.Initiative'}}<br>Current: {{
					   system.derived.init.value
					   }}<br>Bonus: {{ system.derived.init.bonus }}" aria-describedby="tooltip" disabled />
                            </div>
                        </div>

                        {{/if}}

                    </div>
                </div>
            </div>

        </div>
    </div>
    {{/if}}

    {{!-- Attributes Section --}}
        <div class="header-fields flexrow">
            <!-- Status Toggle Section -->
            <div id="status-section" class="desc">
                {{!-- Key Statuses --}}
                <div class="grid grid-8col">
                    {{#each statusEffectToggles as |statusEffect|}}
                        <a class="status-effect-toggle {{#if statusEffect.active}}active{{/if}} {{#if statusEffect.immune}}immune{{/if}}"
                        data-status-id="{{statusEffect.id}}">
                            <img src="{{statusEffect.img}}" data-tooltip="{{statusEffect.tooltip}}">
                        </a>
                    {{/each}}
                </div>
            </div>
            {{#if (or (eq system.study.value 2) (eq system.study.value 3))}}
                <!-- Attribute Section -->
                <div id="attribute-section" class="resource-content flex-group-center desc">
                    {{>"systems/projectfu/templates/actor/partials/actor-attributes.hbs"}}
                </div>
            {{/if}}
            <div id="roll-section" class="resource-content flex-group-center desc">
            {{#if actor.prototypeToken.texture.src}}
				<img class="token-profile-img" src="{{actor.prototypeToken.texture.src}}" alt="{{actor.name}} token" />
			{{/if}}
            </div>

        </div>
    {{!-- Affinity Section --}}
    {{>"systems/projectfu/templates/actor/partials/actor-affinities.hbs" actor=actor}}
</header>

<main>
    {{#if (or (eq system.study.value 2) (eq system.study.value 3))}}
    <div class="stats-container grid-span-2">
        <section class="desc">
            <li class="flexrow flex-group-center desc-header resource-content">
                <label class="resource-label-l">{{localize 'FU.Traits'}}</label>
                <input class="traitdesc flex3" type="text" name="system.traits.value" value="{{ system.traits.value }}"
                    placeholder="Typical Traits" data-dtype="String" />
            </li>
        </section>
    </div>
    {{/if}}

    <section class="desc">
        {{!-- Enriched Description --}}	
		<div class="fit-desc-row">
			<div class="fit-desc">
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                button=true owner=owner editable=editable }}
			</div>
		</div>
    </section>

    {{#if (eq system.study.value 3)}}
    <ol class="items-list desc">
        <li class="item flexrow items-header">
            <div class="item-name start"><i class="fas fa-star icon"></i>{{localize 'FU.Favorite'}}</div>
        </li>
        {{#each items as |item id|}}
        {{#if (or (eq item.type "spell") (eq item.type "basic"))}}
        <li class="item draggable" data-item-id="{{ item._id }}">
            <div class="flexrow">
                <div class="flexcol">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}

                    {{#if item.quality}}
                    <div class="item-quality align-left">{{ item.quality }}</div>
                    {{/if}}
                </div>
            </div>
			{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
        </li>
        {{/if}}
        {{/each}}
    </ol>
    {{/if}}
</main>