<fieldset class="title-fieldset desc resource-content" style="max-height: 23em;">
	<legend class="resource-label-m">
		{{localize 'FU.Favorite'}}
	</legend>
	{{!-- Equipped Item Header--}}
	{{> "systems/projectfu/templates/actor/partials/actor-equipment-slots.hbs" item=item}}

	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name start"><i class="fas fa-star icon"></i>{{localize 'FU.Favorite'}}</div>
			<div class="item-m">Etc.</div>
			<div class="item-m end">
				<a id="sortButton" class="item-control sort" data-tooltip="{{localize 'FU.Sort'}}" data-type="sort">
					<i class="fas fa-sort icon"></i>
					{{localize 'FU.Sort'}}
				</a>
			</div>
		</li>
		{{#each items as |item id|}}
		{{#if (and item.system.isFavored.value)}}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				{{!-- Item Name --}}
				{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}

				{{!-- Item Equip --}}
				{{#if (or (eq @root.actor.type "character") @root.actor.system.useEquipment.value)}}
				{{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" actor=actor item=item}}
				{{/if}}

				{{#if item.system.hasResource.value}}
				<div class="item-m flexcol flex-group-center resource-content">
					<label class="item-quality resource-text-sm">{{ item.system.rp.name }}</label>
					<div class="resource-text-m buttons-inc">
						<button class="decrement-button" data-item-id="{{ item._id }}">-</button>
						<span data-resource="item.rp">{{ item.progress }}</span>
						<span>/</span>
						<span>{{ item.system.rp.max }}</span>
						<button class="increment-button" data-item-id="{{ item._id }}">+</button>
					</div>
				</div>
				{{/if}}

				{{!-- Item Control--}}
				{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
			</div>
			{{#if item.quality}}
			<div class="item-quality align-left">{{ item.quality }}</div>
			{{/if}}
			<div class="individual-description align-left">
				{{#if item.system.description}}
				{{{item.enrichedHtml.description}}}
				{{/if}}

				{{#if item.system.zeroEffect}}
				{{#if item.system.zeroTrigger}}
				<div class="flexrow resource-content align-center">
					<div class="flexcol">
						<label class="resource-label-l">{{ item.zeroTrigger }}</label>
						<span class="resource-text-m">
							{{#if item.system.zeroTrigger.description}}
							{{{item.enrichedHtml.zeroTrigger}}}
							{{/if}}
						</span>
					</div>

					<div class="flexcol">
						<label class="resource-label-l">{{ item.zeroEffect }}</label>
						<span class="resource-text-m">
							{{#if item.system.zeroEffect.description}}
							{{{item.enrichedHtml.zeroEffect}}}
							{{/if}}
						</span>
					</div>
				</div>
				{{/if}}
				{{/if}}
			</div>
		</li>
		{{/if}}
		{{/each}}
	</ol>
</fieldset>