{{!-- Actions Template --}}
<fieldset class="section-container title-fieldset desc resource-content">
    <legend class="resource-label-m" data-tooltip="[Left Click] Perform Action <br>[Shift+Click] Send Description">
        {{localize 'FU.Actions'}}
    </legend>
    {{#if (eq actor.type "character")}}
    <div class="action-container grid grid-2col gap-5">

        <span class="action-style button-style rollable" id="guardAction" data-action="action" data-type="guard"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.GuardRule'}}">
            {{localize "FU.Guard"}}
        </span>

        <span class="action-style button-style rollable " id="equipmentAction" data-action="action" data-type="equipment"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.EquipmentRule'}}">
            {{localize "FU.Equipment"}}
        </span>

        <span class="action-style button-style rollable " id="hinderAction" data-action="action" data-type="hinder"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.HinderRule'}}">
            {{localize "FU.Hinder"}}
        </span>

        <span class="action-style button-style rollable" id="inventoryAction" data-action="action" data-type="inventory"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.InventoryRule'}}">
            {{localize "FU.Inventory"}}
        </span>

        <span class="action-style button-style rollable " id="objectiveAction" data-action="action" data-type="objective"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.ObjectiveRule'}}">
            {{localize "FU.Objective"}}
        </span>

        <span class="action-style button-style rollable" id="spellAction" data-action="action" data-type="spell"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.SpellRule'}}">
            {{localize "FU.Spell"}}
        </span>

        <span class="action-style button-style rollable " id="studyAction" data-action="action" data-type="study"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.StudyRule'}}">
            {{localize "FU.Study"}}
        </span>

        <span class="action-style button-style rollable" id="skillAction" data-action="action" data-type="skill"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.SkillRule'}}">
            {{localize "FU.Skill"}}
        </span>
    </div>
    {{/if}}
	{{#if (eq @root.actor.type "npc")}}
    <div class="action-container grid grid-2col gap-5">
        <span class="action-style button-style study-style grid-span-2 grid-2col flexrow" data-tooltip="{{localize 'FU.StudyRoll'}}">
            <span class="study-button" style="cursor: pointer;" data-action="studyAction">
                <i class="fas fa-magnifying-glass icon"></i>
                <label for="studySelect" >{{localize 'FU.Study'}}</label>
            </span>

            <select name="system.study.value" id="studySelect" class="resource-label-l">
                {{selectOptions studyRoll selected=system.study.value}}
            </select>
        </span>
        <span class="action-style button-style rollable" id="guardAction" data-action="action" data-type="guard"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.GuardRule'}}">
            {{localize "FU.Guard"}}
        </span>

        <span class="action-style button-style rollable " id="hinderAction" data-action="action" data-type="hinder"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.HinderRule'}}">
            {{localize "FU.Hinder"}}
        </span>

        <span class="action-style button-style rollable " id="objectiveAction" data-action="action" data-type="objective"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.ObjectiveRule'}}">
            {{localize "FU.Objective"}}
        </span>

        <span class="action-style button-style rollable" id="skillAction" data-action="action" data-type="skill"
            data-roll-type="action-type" data-tooltip="{{localize 'FU.SkillRule'}}">
            {{localize "FU.Skill"}}
        </span>

        {{#if (eq (getGameSetting 'optionBehaviorRoll') true)}}
        <span id="behavior-action" class="action-style button-style spin2win rollable grid-span-2" data-roll-type="behavior" data-action="roll">
            <i class="fas fa-dice-d20 ra-1x icon"></i>
            <label class="items-label">{{ localize "FU.Behavior" }}</label>
        </span>
        {{/if}}
    </div>
    {{/if}}

</fieldset>