<fieldset class="title-fieldset desc resource-content" style="margin-bottom: 5px; height: 50%; overflow-y: auto; max-height: 22em; min-height: 18em;"> 
    <legend class="resource-label-m">
        {{localize 'FU.Favorite'}}
    </legend>
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name start"><i class="fas fa-star icon"></i>{{localize 'FU.Favorite'}}</div>
			<div class="item-m end">
				<a class="item-control sort" data-tooltip="{{localize 'FU.Sort'}}" data-type="sort">
					<i class="fas fa-sort icon"></i>
					{{localize 'FU.Sort'}}
				</a>
			</div>
		</li>
		{{#each items as |item id|}}
			{{#if (and item.system.isFavored.value)}}
				<li class="item" data-item-id="{{ item._id }}">
					<div class="flexrow">
						<div class="flexcol">
							{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
						</div>
						{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
					</div>
					{{#if item.quality}}
						<div class="item-quality align-left">{{ item.quality }}</div>
					{{/if}}
					<div class="individual-description align-left">
						{{#if item.system.description}}
							{{editor item.system.description target="item.system.description" rollData=rollData button=false owner=owner editable=false}}
						{{/if}}
					</div>
				</li>
			{{/if}}
		{{/each}}
	</ol>
</fieldset>