<div class="header-fields flexrow" style="align-self: stretch;">
    <!-- Status Toggle Section -->
    <div id="status-section" class="resource-content flex-group-center desc" style="">
        {{!-- Key Statuses --}}
        <div class="resource-content flex-group-center flexrow" style="margin-top: 2px;">
            <span class="grid grid-8col" style="gap: 5px; flex: 1;">
                {{#each statusEffectToggles as |statusEffect|}}
                <a class="status-effect-toggle {{#if statusEffect.active}}active{{/if}}"
                    data-status-id="{{statusEffect.id}}">
                    <img src="{{statusEffect.icon}}" data-tooltip="{{statusEffect.name}}">
                </a>
                {{/each}}
            </span>
        </div>
    </div>
    <!-- Attribute Section -->
    <div id="attribute-section" class="resource-content flex-group-center desc" style="">
        {{>"systems/projectfu/templates/actor/partials/actor-attributes.hbs"}}
    </div>
    <!-- Roll Section -->
    <div id="roll-section" class="resource-content flex-group-center desc grid grid-2col" style="">
            {{!-- Group Check --}}
            <div class="flexcol rollable spin2win" data-roll-type="group-check" data-tooltip="{{localize 'FU.GroupCheckTooltip'}}">
                <i class="fas fa-dice-d20 spin2win ra-2x"></i> 
                <label class="resource-label-sm">{{localize 'FU.GroupCheck'}}</label>
            </div>
            {{!-- Roll Check --}}
            <div class="flexcol rollable spin2win  grid-start-2" data-roll-type="roll-check">
                <i class="fas fa-dice-d20 spin2win ra-2x"></i> 
                <label class="resource-label-sm">{{localize 'FU.RollCheck'}}</label>
            </div>
    </div>
</div>