<div class="action-container flexrow">
    <div class="resource-content ">
        <div class="resource-label-l">
            <input type="text" name="system.resources.rp1.name" data-tooltip="{{localize 'FU.ResourcePoints'}}"
                value="{{ system.resources.rp1.name }}" data-dtype="String" placeholder="{{localize 'FU.Resource'}} 1"
                class="resource-label" />
        </div>
        <div class="buttons-inc">
            <input type="number" name="system.resources.rp1.value" data-tooltip="Current: {{
              system.resources.rp1.value
            }}<br>Step: X<br>Max: X<br>" aria-describedby="tooltip" value="{{ system.resources.rp1.value }}"
                data-dtype="Number" id="rp1-input" class="resource-inputs" />
        </div>
    </div>

    {{!-- RP2 --}}
    <div class="resource-content ">
        <div class="resource-label-l">
            <input type="text" name="system.resources.rp2.name" data-tooltip="{{localize 'FU.ResourcePoints'}}"
                value="{{ system.resources.rp2.name }}" data-dtype="String" placeholder="{{localize 'FU.Resource'}} 2"
                class="resource-label" />
        </div>
        <div class="buttons-inc">
            <input type="number" name="system.resources.rp2.value" data-tooltip="Current: {{
              system.resources.rp2.value
            }}<br>Step: X<br>Max: X<br>" aria-describedby="tooltip" value="{{ system.resources.rp2.value }}"
                data-dtype="Number" id="rp2-input" class="resource-inputs" />
        </div>
    </div>

    {{!-- RP3 --}}
    <div class="resource-content">
        <div class="resource-label-l">
            <input type="text" name="system.resources.rp3.name" data-tooltip="{{localize 'FU.ResourcePoints'}}"
                value="{{ system.resources.rp3.name }}" data-dtype="String" placeholder="{{localize 'FU.Resource'}} 3"
                class="resource-label" />
        </div>
        <div class="buttons-inc">
            <input type="number" name="system.resources.rp3.value" data-tooltip="Current: {{ system.resources.rp3.value }}
        <br>Step: X<br>Max: X<br>" aria-describedby="tooltip" value="{{ system.resources.rp3.value }}"
                data-dtype="Number" id="rp3-input" class="resource-inputs" />
        </div>
    </div>
</div>