{{!-- Attributes Section --}}
<div class="flexrow grid grid-2col">
    {{#each system.attributes as |attribute key|}}
        <div class="attribute resource-content flexrow flex-group-center" style="padding: 1px;">
            <label class="flexlarge align-left" data-label="{{ attribute.label }}">
                <span class="resource-label-sm">{{ attribute.abbr }}</span>
            </label>
            <select class="resource-inputs" data-dtype="Number"
                    name="system.attributes.{{ key }}.base"
                {{#if (lookup (lookup @root.actor.overrides.system.attributes key) "base")}}disabled
                    data-tooltip="{{localize "FU.DisabledByActiveEffect"}}"{{/if}}>
                {{selectOptions @root.FU.attributeDice selected=attribute.base localize=true}}
            </select>
            <label class="ability-mod">
                <span class="resource-label-m">{{ attribute.current }}</span>
            </label>
            <label class="ability-mod">
                <div class="resource-label-m resource-content flex-group-center">
                    {{#if (eq attribute.base attribute.current)}}
                        <i class="fas fa-minus" style="color: #2c4a4254"></i>
                    {{else}}
                        {{#if (gt attribute.base attribute.current)}}
                            <i class="fas fa-caret-down is-crisis float-text"></i>
                        {{else}}
                            <i class="fas fa-caret-up is-buff float-text"></i>
                        {{/if}}
                    {{/if}}
                </div>
            </label>
        </div>
    {{/each}}
</div>