<div class="item-name">
    <div class="item-image">
        <div class="rollable" data-roll-type="item">
            <img src="{{ item.img }}" data-tooltip="{{ item.name }}<br>[Shift+Click] HR0" />
        </div>
    </div>

    <h4 class="click-item resource-content">
        <span class="resource-text-m gap-3" style="display: flex; align-items: center;">
            {{#if (eq @root.actor.type "npc")}}
            {{#if (eq item.system.type.value "melee")}}
            {{!-- <i class="fusl fu-action-melee icon-aff"></i> --}}
            <span class="is-melee"></span>
            {{else if (eq item.system.type.value "ranged")}}
            {{!-- <i class="fusl fu-action-ranged icon-aff"></i> --}}
            <span class="is-range"></span>
            {{else if (eq item.type "spell")}}
            {{!-- <i class="fusl fu-action-spell icon-aff"></i> --}}
            <span class="is-spell"></span>
            {{else if (eq item.type "miscAbility")}}
            {{!-- <i class="fusl fu-action-skill icon-aff"></i> --}}
            <span class="is-skill"></span>
            {{/if}}
            {{/if}}
            {{#if (and item.system.isEquipped.value (eq item.system.isEquipped.slot "mainHand"))}}
            <span class="icon-letter" data-tooltip="{{localize 'FU.MainHand'}}">M</span>
            {{/if}}
            {{#if (and item.system.isEquipped.value (eq item.system.isEquipped.slot "offHand"))}}
            <span class="icon-letter" data-tooltip="{{localize 'FU.OffHand'}}">O</span>
            {{/if}}
            {{ item.name }}
            {{#if item.system.isMartial.value}}
            {{!-- <i class="fusl is-martial fus-martial icon-aff"
                style="margin-bottom: -1px; width: 18px; height: 18px;"></i> --}}
            <span class="is-martial">E</span>
            {{/if}}
            {{#if item.system.isOffensive.value}}
            {{!-- <i class="fusl is-martial fus-offensive icon-aff"
                style="margin-right:2px; width: 14px; height: 18px;"></i> --}}
            <span class="is-offensive">r</span>
            {{/if}}

        </span>
    </h4>
</div>