{{!-- Clock Template --}}
<fieldset class="section-container title-fieldset desc resource-content">
	<legend class="resource-label-m" aria-describedby="tooltip">
		<a class="item-create-dialog resource-inputs resource-label-m" data-tooltip="{{localize 'FU.ClockAdd'}}"
		   style="width: fit-content;" data-type="newClock">
			{{#if isOwner}}<i class="fas fa-plus icon"></i>{{/if}}{{localize 'FU.Clocks'}}
		</a>
	</legend>
	{{#each items as |item|}}
		{{#if (and item.system.isFavored.value item.system.hasClock.value)}}
			{{#if (not @first)}}
				<hr>
			{{/if}}

			<div class="item clock-m" data-item-id="{{ item._id }}" style="grid-column-gap: 2px;">
				{{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
				 arr=item.system.progress.progressArray
				 data=item.system.progress
				 dataPath='system.progress'
				}}
				<a class="increment-button"
				   data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.progress.step}})"
				   data-action="modifyResource"
				   data-data-path="system.progress"
				   data-resource-action="increment">
					<i class="fas fa-plus"></i>
				</a>
				<a class="decrement-button"
				   data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.progress.step}})"
				   data-action="modifyResource"
				   data-data-path="system.progress"
				   data-resource-action="decrement">
					<i class="fas fa-minus"></i>
				</a>
				<h4 class="item-name rollable resource-content" data-item-id="{{item._id}}" data-roll-type="item">
					{{#if item.system.data.progress.name }}
						<span class="resource-label-m">{{ item.system.progress.name }}</span>
					{{else}}
						<span class="resource-label-m">{{ item.name }}</span>
					{{/if}}
				</h4>
			</div>
		{{/if}}

		{{#if (and item.system.isFavored.value item.system.data.hasClock.value)}}
			{{#if (not @first)}}
				<hr>
			{{/if}}

			<div class="item clock-m" data-item-id="{{ item._id }}" style="grid-column-gap: 2px;">
				{{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
				 arr=item.system.data.progress.progressArray
				 data=item.system.data.progress
				 dataPath="system.data.progress"}}
				<a class="increment-button"
				   data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.data.progress.step}})"
				   data-action="modifyResource"
				   data-data-path="system.data.progress"
				   data-resource-action="increment">
					<i class="fas fa-plus"></i>
				</a>
				<a class="decrement-button"
				   data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.data.progress.step}})"
				   data-action="modifyResource"
				   data-data-path="system.data.progress"
				   data-resource-action="decrement">
					<i class="fas fa-minus"></i>
				</a>
				<h4 class="item-name rollable resource-content" data-item-id="{{item._id}}" data-roll-type="item">
					{{#if item.system.data.progress.name }}
						<span class="resource-label-m">{{ item.system.data.progress.name }}</span>
					{{else}}
						<span class="resource-label-m">{{ item.name }}</span>
					{{/if}}
				</h4>
			</div>
		{{/if}}
	{{/each}}
</fieldset>