{{!-- Actions Template --}}
<fieldset class="section-container title-fieldset desc resource-content">
	<legend class="resource-label-m" data-tooltip="[Left Click] Perform Action <br>[Shift+Click] Send Description">
		{{localize 'FU.Actions'}}
	</legend>

	{{!-- NPC-only: Study Roll --}}
	{{#if (eq @root.actor.type "npc")}}
	<div class="action-container grid grid-2col gap-5">
		<span class="action-style button-style study-style grid-span-2 grid-2col flexrow" data-tooltip="{{localize 'FU.StudyRoll'}}">
            <span class="study-button" style="cursor: pointer;" data-action="studyAction">
                <i class="fas fa-magnifying-glass icon"></i>
                <label for="studySelect">{{localize 'FU.Study'}}</label>
            </span>
            <select name="system.study.value" id="studySelect" class="resource-label-l">
				{{selectOptions studyRoll selected=system.study.value}}
			</select>
        </span>
	{{else}}
	<div class="action-container grid grid-2col gap-5">
	{{/if}}

	{{!-- Shared actions --}}
	{{#each (pfuArray
			 (pfuHash id="attack"    label="FU.Attack"    tooltip="FU.AttackRule"    ctx="attack")
			 (pfuHash id="skill"     label="FU.Skill"     tooltip="FU.SkillRule"     ctx="skill")
			 (pfuHash id="spell"     label="FU.Spell"     tooltip="FU.SpellRule"     ctx="spell")
			 (pfuHash id="guard"     label="FU.Guard"     tooltip="FU.GuardRule"     ctx="")
			 (pfuHash id="hinder"    label="FU.Hinder"    tooltip="FU.HinderRule"    ctx="")
			 (pfuHash id="objective" label="FU.Objective" tooltip="FU.ObjectiveRule" ctx="")
			)}}
		<span class="action-style button-style rollable" id="{{this.id}}Action"
			  {{#unless this.ctx}}data-action="action"{{/unless}}
			  data-type="{{this.id}}" {{#if this.ctx}}data-context-menu="{{this.ctx}}"{{/if}}
			  data-roll-type="action-type" data-tooltip="{{localize this.tooltip}}">
			<i class="fu-icon--xs {{pfuIconClass id}}"></i>
			{{localize this.label}}
		</span>
	{{/each}}

	{{!-- Character-only actions --}}
	{{#if (eq actor.type "character")}}
		<span class="action-style button-style rollable" id="inventoryAction" data-type="inventory"
			  data-context-menu="inventory" data-roll-type="action-type" data-tooltip="{{localize 'FU.InventoryRule'}}">
			<i class="fu-icon--xs {{pfuIconClass 'inventory'}}"></i>
			{{localize "FU.Inventory"}}
		</span>
		<span class="action-style button-style rollable" id="studyAction" data-action="action" data-type="study"
			  data-roll-type="action-type" data-tooltip="{{localize 'FU.StudyRule'}}">
			<i class="fu-icon--xs {{pfuIconClass 'study'}}"></i>
			{{localize "FU.Study"}}
		</span>
		<span class="action-style button-style rollable" id="equipmentAction" data-type="equipment" data-action="action"
			  data-roll-type="action-type" data-tooltip="{{localize 'FU.EquipmentRule'}}">
			<i class="fu-icon--xs {{pfuIconClass 'equipment'}}"></i>
			{{localize "FU.Equipment"}}
		</span>
	{{/if}}

	{{!-- NPC-only: Behavior Roll --}}
	{{#if (eq @root.actor.type "npc")}}
		{{#if (eq (pfuGetSetting 'optionBehaviorRoll') true)}}
			<span id="behavior-action" class="action-style button-style spin2win rollable grid-span-2"
				  data-roll-type="behavior" data-action="roll">
            <i class="fas fa-dice-d20 ra-1x icon"></i>
            <label class="items-label">{{localize "FU.Behavior"}}</label>
        </span>
		{{/if}}
	{{/if}}

</div>
</fieldset>