<div class="header-fields flexrow" style="align-self: stretch;">
    <!-- Status Toggle Section -->
    <div id="status-section" class="desc">
        {{!-- Key Statuses --}}
        <div class="grid grid-8col">
            {{#each statusEffectToggles as |statusEffect|}}
                <a class="status-effect-toggle {{#if statusEffect.active}}active{{/if}} {{#if statusEffect.immune}}immune{{/if}}"
                   data-status-id="{{statusEffect.id}}" data-action="toggleStatusEffect">
                    <img src="{{statusEffect.img}}" data-tooltip="{{statusEffect.tooltip}}">
                </a>
            {{/each}}
        </div>

    </div>
    <!-- Attribute Section -->
    <div id="attribute-section" class="resource-content flex-group-center desc">
        {{>"systems/projectfu/templates/actor/partials/actor-attributes.hbs"}}
    </div>
    <!-- Roll Section -->
    <div id="roll-section" class="resource-content flex-group-center desc grid grid-3col">
        {{!-- Group Check --}}
        <div class="flexcol rollable spin2win" data-roll-type="group-check"
             data-tooltip="{{localize 'FU.GroupCheckTooltip'}}" data-action="roll">
            <i class="fas fa-dice-d20 spin2win ra-2x"></i>
            <label class="resource-label-sm">{{localize 'FU.GroupCheck'}}</label>
        </div>
        {{!-- Roll Check --}}
        <div class="flexcol rollable spin2win" data-roll-type="roll-check" data-action="roll">
            <i class="fas fa-dice-d20 spin2win ra-2x"></i>
            <label class="resource-label-sm">{{localize 'FU.RollCheck'}}</label>
        </div>
        {{!-- Open Check --}}
        <div class="flexcol rollable spin2win" data-roll-type="open-check" data-action="roll">
            <i class="fas fa-dice-d20 spin2win ra-2x"></i>
            <label class="resource-label-sm">{{localize 'FU.OpenCheck'}}</label>
        </div>
    </div>
</div>