{{#if system.floralist.planted}}
    <fieldset class="title-fieldset desc resource-content garden-section">
		{{#if actor.tracks.floralist-garden}}
			<legend class="item resource-label-m" data-item-id="{{ actor.tracks.floralist-garden.id }}">
				{{actor.tracks.floralist-garden.name}}
			</legend>
		{{/if}}
        <div class="items-list">
            <div class="item" data-item-id="{{system.floralist.planted.id}}">
                <div class="flexrow">
                    <div class="item-name">
                        <div class="item-image">
                            <div class="rollable" data-action="roll">
                                <img src="{{system.floralist.planted.img}}" data-tooltip="{{system.floralist.planted.name}}">
                            </div>
                        </div>
                        <h4 class="click-item resource-content">
                        <span class="resource-text-m" style="display: flex; align-items: center; gap: 3px">
                            {{system.floralist.planted.name}}
                        </span>
                        </h4>
                        <a style="" data-action="togglePlantedMagiseed" data-item-id="{{system.floralist.planted.id}}">
                            <i class="mats-s mats-fill mats-icon" style="--mats-icon: 'macro_off'"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{{/if}}