<div class="combine-header" style="padding: 0;">
    <img class="profile-img" src="{{ actor.img }}" data-edit="img" data-tooltip="{{ actor.name }}" />
    <div class="header-fields">
        <div class="header-start grid grid-6col">
            <div class="charname-container flexrow grid-span-4">
                <h2 class="charname" style="flex: 3;">
                    <input name="name" type="text" value="{{ actor.name }}" placeholder="Name"
                        data-tooltip="{{ actor.name }}" class="resource-inputs-charname auto-shrink" />
                </h2>
                <h4 class="pronouns">
                    <input name="system.resources.pronouns.name" type="text"
                        value="{{ system.resources.pronouns.name }}" placeholder="Pronouns"
                        data-tooltip="{{localize 'FU.Pronouns'}}<br>{{ system.resources.pronouns.name }}"
                        class="auto-shrink" />
                </h4>
            </div>
            {{#if (eq actor.type "character")}}
            <span class="flexrow grid-span-2"
                style="border-bottom: 2px solid; border-image: linear-gradient(to right, #bfb4c5, #e6e2e8) 1; border-left: rgb(255, 173, 200) 3px solid;">
                <!-- Level -->
                <span class="resource-content levelup-container flexcol flex-group-center">
                    <label class="resource-label-l" data-tooltip="{{localize 'FU.Level'}}" aria-describedby="tooltip">
                        <i class="fa-solid fa-chart-simple icon"></i>{{localize
                        'FU.LevelAbbr'}} </label>
                    <input name="system.level.value" value="{{ system.level.value }}" type="number" data-dtype="Number"
                        class="resource-inputs" style="border-radius: 0 12px 0 0;;" />
                </span>
                <!-- Experience -->
                <span class="resource-content levelup-container flexcol flex-group-center"
                    style="border-top-right-radius: 12px;">
                    <label class="resource-label-l" data-tooltip="{{localize 'FU.Exp'}}" aria-describedby="tooltip">
                        <i class="fa-solid fa-feather-pointed icon"></i>
                        {{localize 'FU.ExpAbbr'}} {{#if (gte system.resources.exp.value 10)}}
                        <i class="fas fa-level-up" data-tooltip="{{localize 'FU.LevelUp'}}"
                            aria-describedby="tooltip"></i>
                        {{/if}}
                    </label>
                    <input name="system.resources.exp.value" value="{{ system.resources.exp.value }}" type="number"
                        data-dtype="Number" class="resource-inputs" style="border-radius: 12px 0 0;" />
                </span>
            </span>
            {{/if}}
            {{#if (eq actor.type "npc")}}
            <span class="flexrow grid-span-2"
                style="border-bottom: 2px solid; border-image: linear-gradient(to right, #bfb4c5, #e6e2e8) 1; border-left: rgb(255, 173, 200) 3px solid;">
                <!-- Level -->
                <span class="resource-content levelup-container flexcol flex-group-center">
                    <label class="resource-label-l" data-tooltip="{{localize 'FU.Level'}}" aria-describedby="tooltip">
                        <i class="fa-solid fa-chart-simple icon"></i>{{localize
                        'FU.LevelAbbr'}} </label>
                    <input name="system.level.value" value="{{ system.level.value }}" data-dtype="Number"
                        class="resource-inputs" style="border-radius: 0 12px 0 0;" />
                </span>
                <!-- Rank -->
                <span class="resource-content levelup-container flexcol flex-group-center"
                    style="border-top-right-radius: 12px;">
                    <label class="resource-label-l" data-tooltip="{{localize 'FU.Rank'}}" aria-describedby="tooltip"> <i
                            class="fa-solid fa-feather-pointed icon"></i>{{localize
                        'FU.Rank'}} </label>
                    <span class="flexrow combineBar" style="border-radius: 12px 0 0;">
                        <input type="text" id="championSelect" name="system.isChampion.value"
                            value="{{ system.isChampion.value }}" data-dtype="Number" class="resource-inputs" {{#if
                            system.isCompanion.value}} disabled {{/if}} />
                        <input type="checkbox" id="isEliteCheckbox" data-tooltip="{{localize 'FU.isElite'}}"
                            name="system.isElite.value" {{#if system.isCompanion.value}} disabled {{/if}} {{checked
                            system.isElite.value}} />
                    </span>
                </span>
            </span>
            {{/if}}
        </div>

        <!-- Point Bars -->
        <div class="header-field header-center grid grid-3col desc">
            
            {{!-- HP/MP/IP --}}
            {{>"systems/projectfu/templates/actor/partials/actor-point-bars.hbs" actor=actor}}

            {{!-- Creature Statistics --}}
            {{>"systems/projectfu/templates/actor/partials/actor-creatures.hbs" actor=actor}}

            {{!-- DEF/MDEF/INIT/FU/UP --}}
            {{>"systems/projectfu/templates/actor/partials/actor-defensive.hbs" actor=actor}}

        </div>
    </div>
</div>