{{!-- Affinity Template --}}
<div class="affinities desc">
    <div class="grid grid-9col" style="margin-left: -5px; margin-bottom: -5px;">
        {{#if system.affinities}}
            {{#each system.affinities as |affinity key|}}
                <div class="affinity resource-content flex-group-center">
                    <label class="rollable" style="cursor: pointer;" data-label="{{ affinity.label }}"
                           data-roll-type="affinity-type"
                           data-affinity='{{key}}'
                           data-action="roll"
                           data-tooltip="{{ affinity.label }} <br> {{ affinity.affTypeCurr }}">

                    <i class="{{ affinity.icon }}"></i>
                    <span class="resource-label-l">{{ affinity.affTypeCurrAbbr }}</span>
                    </label>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>