{{!-- Bond Template --}}
<fieldset class="title-fieldset desc resource-content" style="margin-bottom: 5px;">
    <legend class="bond-add" data-tooltip="{{localize 'FU.BondAdd'}}">
        <button class="resource-inputs resource-label-m select-dropdown-m" data-tooltip="{{localize 'FU.BondAdd'}}">
            <i class="fas fa-plus icon"></i>{{localize 'FU.Bonds'}}
        </button>
    </legend>
    <div class="bonds resource-content grid grid-5col">
        {{#each system.resources.bonds as |bond bondIndex|}}
        <input type="text" data-tooltip="{{ bond.name }}" name="system.resources.bonds.{{ bondIndex }}.name"
            class="bond-select resource-content resource-inputs" value="{{ bond.name }}" data-dtype="String" />
        <select value="{{ bond.admInf }}" name="system.resources.bonds.{{ bondIndex }}.admInf"
            class="bond-select resource-content resource-inputs">
            {{#select bond.admInf}}
            <option value=""></option>
            <option value="Admiration">{{localize 'FU.Admiration'}}</option>
            <option value="Inferiority">{{localize 'FU.Inferiority'}}</option>
            {{/select}}
        </select>
        <select value="{{ bond.loyMis }}" name="system.resources.bonds.{{ bondIndex }}.loyMis"
            class="bond-select resource-content resource-inputs">
            {{#select bond.loyMis}}
            <option value=""></option>
            <option value="Loyalty">{{localize 'FU.Loyalty'}}</option>
            <option value="Mistrust">{{localize 'FU.Mistrust'}}</option>
            {{/select}}
        </select>
        <select value="{{ bond.affHat }}" name="system.resources.bonds.{{ bondIndex }}.affHat"
            class="bond-select resource-content resource-inputs">
            {{#select bond.affHat}}
            <option value=""></option>
            <option value="Affection">{{localize 'FU.Affection'}}</option>
            <option value="Hatred">{{localize 'FU.Hatred'}}</option>
            {{/select}}
        </select>
        <div class="resource-content flexrow" style="gap: 2px;">
            <input class="resource-inputs" data-tooltip="{{localize 'FU.BondStrength'}}"
                name="system.resources.bonds.{{ bondIndex }}.strength" value="{{ bond.strength }}"
                data-dtype="Number" />
            <a class="bond-delete" data-tooltip="{{localize 'FU.BondDelete'}}" data-bond-index="{{ bondIndex }}">
                <button class="resource-inputs" data-action="">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </a>
        </div>
        {{/each}}
    </div>
</fieldset>