<a data-link
   data-uuid="{{uuid}}"
   data-item-id="{{id}}"
   data-pack="{{pack}}"
   class="fu-icon__container {{classes}}"
   style="{{style}}"
   data-type="Actor" data-tooltip="{{name}}">
	<img class="profile-img flexcol fu-icon --{{size}}" src="{{img}}"
		 style="width: auto; object-fit: contain;"
		 title="{{name}}"/>
</a>

