<a data-link draggable="true"
   data-uuid="{{uuid}}"
   data-item-id="{{id}}"
   class="{{classes}}"
   data-type="Item" data-tooltip="{{name}}">
	<img src="{{img}}" alt="{{name}}" class="item-img fu-icon--{{size}}">
</a>