<a data-link draggable="true"
   data-uuid="{{uuid}}"
   data-item-id="{{id}}"
   data-pack="{{pack}}"
   class="{{classes}}"
   data-type="Item" data-tooltip="{{name}}">
	{{#if img}}
		<img src="{{img}}" class="item-img fu-icon--{{size}}">
	{{else}}
		<i class="item-img fu-icon--{{size}} {{pfuIconClass 'compendium'}}" style="color: var(--pfu-color-app-section-content-secondary)"></i>
	{{/if}}
</a>