<header class="title-desc chat-header flexrow">
	<a data-link="" draggable="true" data-uuid="{{item.uuid}}" data-type="Item" data-tooltip="{{item.name}}">
		<img src="{{item.img}}" alt="{{item.name}}" data-item-id="{{item.id}}" class="item-img"></a>
	<h2 style="flex-grow: 8;">{{item.name}}</h2>
</header>
<div>
	<span>{{{localize message}}}</span>
</div>
<div class='chat-desc'>
	{{{details}}}
</div>
