<div class="flexcol flexgrow-1">
	<fieldset class="title-fieldset section-container desc resource-content">
		<legend class="resource-label-m">{{localize 'FU.ClassFeatureArcanumDomains'}}</legend>
		<input type='text' name='system.data.domains' value='{{system.data.domains}}'
			   class="resource-inputs select-dropdown-full resource-text-m" />
	</fieldset>
	<div class="grid grid-2col gap-5 border-rc flexgrow-1">
		<fieldset class="title-fieldset section-container desc resource-content">
			<legend class="resource-label-m">{{localize 'FU.ClassFeatureArcanumMerge'}}</legend>
			<prose-mirror name="system.data.merge" value="{{system.data.merge}}" toggled>
				{{{enrichedHtml.merge}}}
			</prose-mirror>
		</fieldset>
		<fieldset class="title-fieldset section-container desc resource-content">
			<legend class="resource-label-m">{{localize 'FU.ClassFeatureArcanumDismiss'}}</legend>
			<prose-mirror name="system.data.dismiss" value="{{system.data.dismiss}}" toggled>
				{{{enrichedHtml.dismiss}}}
			</prose-mirror>
		</fieldset>
	</div>
</div>