<label class="fu-form__property">
	<span>{{localize 'FU.DamageType'}}</span>
	{{formGroup action.schema.fields.damageTypes value=action.damageTypes options=options.damageTypeOptions name=(pfuConcat path ".damageTypes") classes="fu-form__set stacked"}}
</label>

{{pfuTraits action.traits (pfuConcat path '.traits')}}

<label class="fu-form__property">
	<span>{{localize 'FU.Amount'}}</span>
	<input type="text" name="{{pfuConcat path ".amount"}}" value="{{ action.amount }}" />
</label>

<label class="fu-form__property" data-tooltip="{{localize 'FU.Variant'}}">
	<span>{{localize 'FU.Variant'}}</span>
	<select name="{{pfuConcat path ".variant"}}">
		<option value="">-</option>
		{{selectOptions options.modifyDamageVariant selected=action.variant localize=true}}
	</select>
</label>

<label class="fu-form__property">
	<span>{{localize 'FU.Effect'}}</span>
	<input
	 type="text"
	 name="{{pfuConcat path ".effect"}}"
	 value="{{action.effect}}"
	 placeholder="e.g. Item.XYZ123.ActiveEffect.ABC123"
	/>
</label>

<div class="fu-form__group">
	<label class="fu-form__group__header flex-group-center">
		<i class="ra ra-wrench"></i>{{localize 'FU.Cost'}}
	</label>
	<div class="fu-form__property-row">
		<label class="fu-form__property">
			<span>{{localize 'FU.Resource'}}</span>
			<select name="{{pfuConcat path ".cost.resource"}}">
				<option value="">-</option>
				{{selectOptions options.resources selected=action.cost.resource sort=true localize=true}}
			</select>
		</label>

		<label class="fu-form__property">
			<span>{{localize 'FU.Amount'}}</span>
			<input type="number" name="{{pfuConcat path ".cost.amount"}}" value="{{ action.cost.amount }}" />
		</label>
	</div>
</div>





