<label class="fu-form__property">
	<span>{{localize 'FU.Bonus'}}</span>
	<input type="text" name="{{pfuConcat path ".bonus"}}" value="{{ action.bonus }}" />
</label>

<label class="fu-form__property">
	<span>{{localize 'FU.Multiplier'}}</span>
	<input type="text" name="{{pfuConcat path ".multiplier"}}" value="{{ action.multiplier }}" />
</label>
