<label class="fu-rule-element__property">
	<span>{{localize 'FU.DamageType'}}</span>
	{{formGroup action.schema.fields.damageTypes value=action.damageTypes options=options.damageTypeOptions name=(pfuConcat path ".damageTypes") classes="fu-rule-element__set stacked"}}
</label>

<label class="fu-rule-element__property">
	<span>{{localize 'FU.Amount'}}</span>
	<input type="text" name="{{pfuConcat path ".amount"}}" value="{{ action.amount }}" />
</label>
