<label class="fu-rule-element__property">
	<span>{{localize 'FU.Identifier'}}</span>
	<input type="text" name="{{pfuConcat path ".identifier"}}" value="{{ action.identifier }}" />
</label>

<div class="fu-rule-element__property-row">
	<label class="fu-rule-element__property">
		<span>{{localize 'FU.Action'}}</span>
		<select name="{{pfuConcat path ".action"}}">
			{{selectOptions options.commandAction selected=action.action sort=true localize=true}}
		</select>
	</label>

	<label class="fu-rule-element__property">
		<span>{{localize 'FU.Notify'}}</span>
		{{formGroup action.schema.fields.notify value=action.notify name=(pfuConcat path ".notify") }}
	</label>
</div>

{{#if (eq action.action 'update')}}
	<label class="fu-rule-element__property">
		<span>{{localize 'FU.Amount'}}</span>
		<input type="text" name="{{pfuConcat path ".amount"}}" value="{{ action.amount }}" />
	</label>
{{/if}}


