<section class="tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
	{{!-- Progress --}}
	<div class="fu-form desc active-effect-sheet">
		<div class="fu-form__property-row">
			<!-- Toggle -->
			<label class="fu-form__property__prefix icon-toggle" title="{{localize 'FU.Progress'}}">
				<input type="checkbox" name="system.rules.progress.enabled" {{ checked system.rules.progress.enabled
					}} />
				<i class="toggle-icon fa fa-clock"></i>
			</label>
			<!-- Properties -->
			<label class="fu-form__property stack">
				{{localize 'FU.Identifier'}}
				<input type="text" name="system.rules.progress.id" value="{{ system.rules.progress.id }}"
					   data-dtype="String" placeholder="{{localize 'FU.Identifier'}}"/>
			</label>
			<label class="fu-form__property stack">
				{{localize 'FU.Name'}}
				<input type="text" name="system.rules.progress.name" value="{{ system.rules.progress.name }}"
					   data-dtype="String" placeholder="{{localize 'FU.Name'}}"/>
			</label>
			<label class="fu-form__property stack">
				{{localize 'FU.Current'}}
				<input type="number" name="system.rules.progress.current" value="{{ system.rules.progress.current }}"/>
			</label>
			<label class="fu-form__property stack">
				{{localize 'FU.Max'}}
				<input type="number" name="system.rules.progress.max" value="{{ system.rules.progress.max }}"/>
			</label>
			<label class="fu-form__property stack">
				{{localize 'Style'}}
				<select name="system.rules.progress.style">
					{{selectOptions trackStyles selected=system.rules.progress.style sort=true localize=true}}
				</select>
			</label>
		</div>

		<div class="fu-form__property-row">
			<label class="fu-form__property__prefix fu-icon__container" title="{{localize 'FU.Stacking'}}">
				<i class="fu-icon--s fa fa-layer-group"></i>
			</label>
			<label class="fu-form__property stack">
				<span>{{localize 'FU.Progress'}}</span>
				<input type="checkbox"
					   name="system.rules.stacking.progress"
					{{checked system.rules.stacking.progress}} />
			</label>
			<label class="fu-form__property stack">
				<span>{{localize 'FU.Duration'}}</span>
				<input type="checkbox" name="system.rules.stacking.duration"
					{{checked system.rules.stacking.duration }} />
			</label>
			<label class="fu-form__property stack">
				<span>{{localize 'FU.Increment'}}</span>
				<input type="number" name="system.rules.stacking.increment"
					   value="{{ system.rules.stacking.increment }}"/>
			</label>
		</div>
	</div>

	{{!-- Rule Elements --}}
	<fieldset class="fu-form title-fieldset desc resource-content">
		<legend class="resource-label-m">
			<span class="-fu-form__title">
				<span class="resource-label-m">
					<a class="resource-label-m" data-tooltip="{{localize 'FU.IncubationWarning'}}">
						<i class="icon fas fa-info-circle"></i>
					</a>
				</span>
				<span class="resource-label-m">
					<a class="resource-label-m" data-action="addRuleElement">
						<i class="icon fas fa-circle-plus"></i>
					</a>
				</span>
				<span>{{localize "FU.RuleElementOptions"}}</span>
				<span class="resource-label-m">
					<a class="resource-label-m" data-action="clearRuleElements">
						<i class="icon fas fa-circle-trash"></i>
					</a>
				</span>
			</span>
		</legend>

		<div class="rule-element-forms flexcol">
			{{#each system.rules.elements as |element|}}
				{{> (lookup (lookup (lookup element "schema") "model") "template") path=(concat "system.rules.elements." element.id) element=element options=../options expanded=(lookup ../expandedRuleElements id)}}
			{{/each}}
		</div>

	</fieldset>
</section>