<div class="fu-tags">
    <div class="fu-tag gap-5">
        {{localize 'FU.Rank'}}: {{localize rank}}
    </div>
</div>

<div class='chat-desc'>
    {{{description}}}
</div>

{{#if results}}
   <div class='chat-desc'>
    <details {{#unless (getGameSetting 'optionChatMessageCollapseDescription')}}open{{/unless}}>
        <summary class="collapsible-description align-center">{{localize 'FU.ClassFeatureAlchemyTargets'}}</summary>
            {{#each results}}
                <div>
                    <strong>{{result}}: </strong>{{{target}}}
                </div>
            {{/each}}
    </details>
</div>
{{/if}}

{{#if results}}
   <div class='chat-desc'>
    <details {{#unless (getGameSetting 'optionChatMessageCollapseDescription')}}open{{/unless}}>
        <summary class="collapsible-description align-center">{{localize 'FU.ClassFeatureAlchemyEffects'}}</summary>
            {{#each results}}
                <div>
                    <strong>{{result}}: </strong>{{{effect}}}
                </div>
            {{/each}}
    </details>
</div>
{{/if}}

{{#if alwaysAvailableEffects}}
   <div class='chat-desc'>
    <details {{#unless (getGameSetting 'optionChatMessageCollapseDescription')}}open{{/unless}}>
        <summary class="collapsible-description align-center">{{localize 'FU.ClassFeatureAlchemyAlwaysAvailableEffectsSection'}}</summary>
        {{#each alwaysAvailableEffects}}
            <div>
                {{this}}
            </div>
        {{/each}}
    </details>
</div>
{{/if}}

{{!-- <div>
    <div class='detail-desc flexrow flex-group-center desc'>
        <div>{{localize rank}}</div>
    </div>

    <div class='grid detail-desc' style="grid-template-columns: auto 1fr 1fr ">
        <div>
            {{localize 'FU.ClassFeatureAlchemyResult'}}
        </div>
        <div>
            {{localize 'FU.ClassFeatureAlchemyTargets'}}
        </div>
        <div>
            {{localize 'FU.ClassFeatureAlchemyEffects'}}
        </div>
        {{#each results}}
            <div>
                {{result}}
            </div>
            <div>
                {{target}}
            </div>
            <div>
                {{effect}}
            </div>
        {{/each}}
        <div class='grid-start-2 grid-span-2'>
            {{#each alwaysAvailableEffects}}
                <div>
                    {{this}}
                </div>
            {{/each}}
        </div>
    </div>
</div> --}}