<div class='resource-content desc'>
    <div>
        <label class='resource-label-m'>
            {{localize 'FU.ClassFeatureGadgetsRank'}}:
            <select name='system.data.rank' class="resource-inputs select-dropdown-m resource-text-m">
                {{selectOptions additionalData.ranks selected=system.data.rank localize=true}}
            </select>
        </label>
    </div>
    <nav class='magitech-tabs tabs flexrow gap-5' data-group='magitechTabs'>
        <a class='item rollable tab button-style' data-tab='description'>{{localize 'FU.Description'}}</a>
        <a class='item rollable tab button-style' data-tab='basic'>{{localize 'FU.ClassFeatureGadgetsBenefitsBasic'}}</a>
        <a class='item rollable tab button-style' data-tab='advanced'>{{localize 'FU.ClassFeatureGadgetsBenefitsAdvanced'}}</a>
        <a class='item rollable tab button-style' data-tab='superior'>{{localize 'FU.ClassFeatureGadgetsBenefitsSuperior'}}</a>
    </nav>
    <hr />
    <div class='magitech-content'>
        <div class='tab' data-group='magitechTabs' data-tab='description'>
            <label class='resource-label-m'>{{localize 'FU.Description'}}</label>
			{{formInput dataFields.description
						name="system.data.description"
						value=system.data.description
						toggled=true
						enriched=enrichedHtml.description}}
        </div>
        <div class='tab' data-group='magitechTabs' data-tab='basic'>
            <label class='resource-label-m'>{{localize 'FU.ClassFeatureGadgetsBenefitsBasic'}}</label>
			{{formInput dataFields.basic
						name="system.data.basic"
						value=system.data.basic
						toggled=true
						enriched=enrichedHtml.basic}}
        </div>
        <div class='tab' data-group='magitechTabs' data-tab='advanced'>
            <label class='resource-label-m'>{{localize 'FU.ClassFeatureGadgetsBenefitsAdvanced'}}</label>
			{{formInput dataFields.advanced
						name="system.data.advanced"
						value=system.data.advanced
						toggled=true
						enriched=enrichedHtml.advanced}}
        </div>
        <div class='tab' data-group='magitechTabs' data-tab='superior'>
            <label class='resource-label-m'>{{localize 'FU.ClassFeatureGadgetsBenefitsSuperior'}}</label>
			{{formInput dataFields.superior
						name="system.data.superior"
						value=system.data.superior
						toggled=true
						enriched=enrichedHtml.superior}}
        </div>
    </div>
</div>