{{#*inline "infusions" rank}}
    <div class='flexrow'>
        <label>{{localize 'FU.ClassFeatureInfusionsAvailable'}}:</label>
        <a class='flex0' data-action='addInfusion' data-rank="{{rank}}"><i class='fas fa-plus'></i></a>
    </div>
    {{#each (lookup system.data rank)}}
        <div class='flexcol'>
            <div class='flexrow'>
                <input type='text' name='system.data.{{../rank}}.{{@index}}.name' value='{{name}}'
                       placeholder="{{localize 'FU.ClassFeatureInfusionsPlaceholderName'}}" />
                <input type='number' name='system.data.{{../rank}}.{{@index}}.extraDamage' value='{{extraDamage}}' />
                <select name='system.data.{{../rank}}.{{@index}}.changedDamageType'>
                    <option value="">-</option>
                    {{selectOptions @root.additionalData.damageTypes selected=changedDamageType localize=true}}
                </select>
                <a class='flex0' data-action='deleteInfusion' data-rank="{{../rank}}" data-index='{{@index}}'><i
                 class='fas fa-trash'></i> </a>
            </div>
            <div class='flexrow'>
                <textarea name='system.data.{{../rank}}.{{@index}}.description' rows="1"
                          placeholder="{{localize 'FU.Description'}}">{{description}}</textarea>
            </div>
        </div>
        {{#unless @last}}
            <hr>
        {{/unless}}
    {{/each}}
{{/inline}}

<div class='resource-content desc'>
    <div>
        <label>
            {{localize 'FU.ClassFeatureGadgetsRank'}}
            <select name='system.data.rank'>
                {{selectOptions additionalData.ranks selected=system.data.rank localize=true}}
            </select>
        </label>
    </div>
    <nav class='infusion-tabs tabs flexrow' data-group='infusionTabs'>
        <a class='item tab-style' data-tab='description'>{{localize 'FU.Description'}}</a>
        <a class='item tab-style' data-tab='basic'>{{localize 'FU.ClassFeatureGadgetsBenefitsBasic'}}</a>
        <a class='item tab-style' data-tab='advanced'>{{localize 'FU.ClassFeatureGadgetsBenefitsAdvanced'}}</a>
        <a class='item tab-style' data-tab='superior'>{{localize 'FU.ClassFeatureGadgetsBenefitsSuperior'}}</a>
    </nav>
    <hr />
    <div class='infusion-content'>
        <div class='tab' data-group='infusionTabs' data-tab='description'>
            <label class='resource-label-m'>{{localize 'FU.Description'}}</label>
            {{editor enrichedHtml.description target='system.data.description' engine='prosemirror' button=true}}
        </div>
        <div class='tab' data-group='infusionTabs' data-tab='basic'>
            {{> "infusions" rank="basicInfusions"}}
        </div>
        <div class='tab' data-group='infusionTabs' data-tab='advanced'>
            {{> "infusions" rank="advancedInfusions"}}
        </div>
        <div class='tab' data-group='infusionTabs' data-tab='superior'>
            {{> "infusions" rank="superiorInfusions"}}
        </div>
    </div>
</div>