<div>
    <div class='detail-desc flexrow flex-group-center'>
        <div>{{localize rank}}</div>
    </div>

    <div class='grid detail-desc' style="grid-template-columns: auto 1fr 1fr ">
        <div>
            {{localize 'FU.ClassFeatureAlchemyResult'}}
        </div>
        <div>
            {{localize 'FU.ClassFeatureAlchemyTargets'}}
        </div>
        <div>
            {{localize 'FU.ClassFeatureAlchemyEffects'}}
        </div>
        {{#each results}}
            <div>
                {{result}}
            </div>
            <div>
                {{target}}
            </div>
            <div>
                {{effect}}
            </div>
        {{/each}}
        <div class='grid-start-2 grid-span-2'>
            {{#each alwaysAvailableEffects}}
                <div>
                    {{this}}
                </div>
            {{/each}}
        </div>
    </div>
</div>