{{!-- Resource Points --}}
{{#if system.data.hasResource.value}}
<fieldset class="title-fieldset desc ">
    <legend class="flex-group-center gap-5"
        data-tooltip="{{localize 'FU.ResourcePoints'}}<br>{{ system.data.rp.name }}">
        <i class="fas fa-hashtag"></i>
        <input type="text" name="system.data.rp.name" value="{{ system.data.rp.name }}" data-dtype="String"
            placeholder="{{localize 'FU.ResourcePoints'}}" class="resource-label-m resource-inputs select-dropdown-l" />
    </legend>
    <div class="grid grid-3col">
        <div class=" flexcol flex-group-center">
            <label class="resource-label-m">{{localize 'FU.Current'}}</label>
            <input type="number" name="system.data.rp.current" value="{{ system.data.rp.current }}"
                class="resource-inputs select-dropdown-m" />
        </div>
        <div class=" flexcol flex-group-center">
            <label class="resource-label-m">{{localize 'FU.Step'}}</label>
            <input type="number" name="system.data.rp.step" value="{{ system.data.rp.step }}"
                class="resource-inputs select-dropdown-m" />
        </div>
        <div class=" flexcol flex-group-center">
            <label class="resource-label-m">{{localize 'FU.Max'}}</label>
            <input type="number" name="system.data.rp.max" value="{{ system.data.rp.max }}"
                class="resource-inputs select-dropdown-m" />
        </div>
    </div>
</fieldset>
{{/if}}