<div class="header-item-controls">
	<a aria-describedby="tooltip"
	   data-tooltip="{{localize "FU.Create"}} {{localize label}}"
	   data-action="createItem"
	   data-type="{{type}}"
	   {{#if subtype}}data-sub-type="{{subtype}}"{{/if}}>
		<i class="fas fa-plus icon"></i>{{localize "FU.Add"}}
	</a>
</div>
