<div class="bar-container">
    <div class="bar bar-progress">
        <div class="bar-progress-bar bar-mp"
            style="width: {{calculatePercentage this.actor.system.resources.mp.value this.actor.system.resources.mp.max}};">
        </div>
        <span class="bar-value"></span>

        <div class="resource-value-compact">
            <div class="resource-text">
                <span>{{ this.actor.system.resources.mp.value }} / {{ this.actor.system.resources.mp.max }}</span>
            </div>
        </div>
    </div>  
    <div class="resource-value">
        <i class="fa-solid fa-hat-wizard icon"></i>
        <div class="resource-text">
            <span>{{ this.actor.system.resources.mp.value }} / {{ this.actor.system.resources.mp.max }}</span>
        </div>
    </div>
</div>