<form class="{{ cssClass }} {{ actor.type }} projectfu-actor-sheet h-100" autocomplete="off">
	<div class="sheet-content-wrapper">
		<header class="sheet-header">
			{{!-- Name/HP/Level Section --}}
			{{>"systems/projectfu/templates/actor/partials/actor-header.hbs" actor=actor}}
		</header>
		<!-- Traits Section -->
		<section class="section-container desc grid-span-3 gap-5">
			<div class="grid grid-3col flex-group-center" style="display: flex;">
				<div class="traits compact resource-content">
					<label>
						<span class="resource-label-l">{{localize 'FU.Identity'}}: </span>
						<span class="resource-text-m">{{ system.resources.identity.name }}</span>
					</label>
				</div>
				<div class="traits compact resource-content">
					<label>
						<span class="resource-label-l">{{localize 'FU.Theme'}}: </span>
						<span class="resource-text-m">{{ system.resources.theme.name }}</span>
					</label>
				</div>
				<div class="traits compact resource-content">
					<label>
						<span class="resource-label-l">{{localize 'FU.Origin'}}: </span>
						<span class="resource-text-m">{{ system.resources.origin.name }}</span>
					</label>
				</div>
			</div>
		</section>
		<section class="body-section grid grid-4col">
			<aside class="sidebar flex-group-center">
				{{!-- Bond Section --}}
				<fieldset class="section-container title-fieldset desc resource-content">
					<legend class="resource-label-m">
						{{localize 'FU.Bonds'}}
					</legend>
					<div class="bonds">
						{{#each system.bonds as |bond bondIndex|}}
						<div class="bond-row flexrow mb-2">
							<label class="resource-text-sm flex-group-left flex-grow">
								<strong>
									{{#if bond.name}}
									{{bond.name}}
									{{else}}
									{{localize 'FU.NoItem'}}
									{{/if}}
								</strong>
							</label>
							<label class="resource-text-sm bond-strength flex0" data-tooltip="
													{{#if (lookup @root.FU.bonds.admInf bond.admInf)}}
															{{localize (lookup @root.FU.bonds.admInf bond.admInf)}}<br>
													{{/if}}
													{{#if (lookup @root.FU.bonds.loyMis bond.loyMis)}}
															{{localize (lookup @root.FU.bonds.loyMis bond.loyMis)}}<br>
													{{/if}}
													{{#if (lookup @root.FU.bonds.affHat bond.affHat)}}
															{{localize (lookup @root.FU.bonds.affHat bond.affHat)}}
													{{/if}}
											">
								{{ bond.strength }}
							</label>
						</div>
						{{/each}}
					</div>
				</fieldset>
				{{!-- Vehicle Section --}}
				{{> "systems/projectfu/templates/actor/partials/actor-vehicle.hbs"}}
				{{!-- Garden Section --}}
				{{> "systems/projectfu/templates/actor/partials/actor-garden.hbs"}}
				{{!-- Clock Section --}}
				{{> "systems/projectfu/templates/actor/partials/actor-clocks.hbs" actor=actor}}
			</aside>
			<main class="grid-span-3">
				{{!-- Favorite Template --}}
				<fieldset class="section-container title-fieldset desc resource-content">
					<legend class="resource-label-m" aria-describedby="tooltip">
						<a class="item-create-dialog resource-inputs resource-label-m">
							{{#if isOwner}}<i class="fas fa-plus icon"></i>{{/if}}{{localize 'FU.Equipment'}}
						</a>
					</legend>
					{{!-- Equipped Item Header--}}
					{{> "systems/projectfu/templates/actor/partials/actor-equipment-slots.hbs" item=item}}
				</fieldset>
				<section class="body-section grid grid-4col">
					<main class="grid-span-4">
						{{!-- Enriched Description --}}
						<fieldset class="section-container title-fieldset desc resource-content">
							<legend class="resource-label-m" aria-describedby="tooltip">
								<a class="resource-inputs resource-label-m" style="width: auto;">
									{{localize 'FU.BiographyInfo'}}
								</a>
							</legend>
							<div class="fit-desc">
								{{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
								button=true owner=owner editable=editable }}
							</div>
						</fieldset>
					</main>
				</section>
				<!-- Classes Section -->
				<section class="desc">
					<header class="items-main-header">
						<span class="items-main">
							<label class="items-label">{{localize "FU.Classes"}}</label>
						</span>
						<span class="items-main total-level grid grid-2col">
							{{!-- <i class="fas fa-question-circle"></i> --}}
							<span class="total-class-levels grid-span-2 flex-between"> {{ tlTracker.totalClass.value }} / {{
								tlTracker.totalClass.max }} </span>
						</span>
					</header>
					<ol class="items-list">
						<li class="item flexrow items-header">
							<div class="item-name">{{localize "FU.Name"}}</div>
							<div class="item-m">{{localize "FU.Level"}}</div>
						</li>
						{{#each classes as |item id|}}
						<li class="item" data-item-id="{{ item._id }}">
							<div class="flexrow">
								{{!-- Item Name--}}
								{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
								{{!-- Class Level --}}
								<div class="item-m inline-desc buttons-inc" style="padding:0">
									<a class="decrement-button" data-type="levelCounter" data-item-id="{{ item._id }}">-</a>
									<span data-resource="item.level">{{ item.level }}</span>
									<span>/</span>
									<span>{{ item.system.level.max }}</span>
									<a class="increment-button" data-type="levelCounter" data-item-id="{{ item._id }}">+</a>
								</div>
							</div>
							<div class="individual-description align-left {{#unless (inArray _id _expandedIds)}}hidden{{/unless}}">
								{{#if item.system.description}}
								{{{item.enrichedHtml.description}}}
								{{/if}}
							</div>
						</li>
						{{/each}}
					</ol>
				</section>
			</main>
		</section>
	</div>
</form>