<div class="flexcol flexgrow-1">
	<header class="sheet-header desc">
		<div class="combine-header img-name">
			<a>
				<img class="profile-img flexcol" src="{{document.img}}"
					 data-action="editImage"
					 data-edit="img" title="{{actor.name}}"
					 style="height: 52px; width: auto; object-fit: contain;" />
			</a>
			<div class="flexgrow-1 flexrow gap-5">
				<div class="charname-container flexrow">
					<div class="charname">
						<input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
					</div>
				</div>

				<label class="flexshrink icon-toggle" title="{{localize 'FU.Merchant'}}?">
					<input type="checkbox" name="system.merchant" {{ checked system.merchant }} />
					<i class="toggle-icon fa fa-balance-scale"></i>
				</label>
			</div>
		</div>
	</header>

	<div class="sheet-wrapper flexcol flexgrow-1">
		{{!-- Inventory --}}
		<div class="desc inventory flexgrow-1">
			{{> "systems/projectfu/templates/actor/sections/actor-section-inventory.hbs" actor=actor}}
		</div>
	</div>
</div>