<form class="{{cssClass}} blur {{actor.type}} projectfu-actor-sheet h-100" autocomplete="off" spellcheck="false">

	{{!-- Sheet Tab Navigation --}}
	<div class="side sidebar flex-group-center">
		<nav class="sheet-tabs tabs menu" data-group="primary">
			<a class="button button-style" data-tab="overview"><i class="icon ra ra-double-team"></i>{{localize 'FU.Overview'}}</a>
			<a class="button button-style" data-tab="inventory"><i class="icon ra ra-hand"></i>{{localize 'FU.Inventory'}}</a>
			<a class="button button-style" data-tab="adversaries"><i class="icon ra ra-monster-skull "></i>{{localize 'FU.Adversaries'}}</a>
			{{#if isGM}}
				<a class="button button-style" data-tab="settings"><i class="icon ra ra-wrench"></i>{{localize 'FU.Settings'}}</a>
			{{/if}}
		</nav>


		<div style="width: 100%;">
			<!-- CLOCKS -->
			<fieldset class="section-container title-fieldset desc resource-content">
				<legend class="resource-label-m" aria-describedby="tooltip">
					<a class="resource-inputs resource-label-m" data-tooltip="{{localize 'FU.ClockAdd'}}" style="width: fit-content;">
						<a data-action="addTrack">
							<i class="fas fa-plus icon"></i>{{localize 'FU.Clocks'}}
						</a>
					</a>
				</legend>

				{{#each system.tracks }}
					<div class="item clock-m" data-name="{{ this.name }}" style="grid-column-gap: 2px;">
						<a class="progress" style="--segments: {{this.max}};" data-segments="{{this.max}}" data-tooltip="{{localize 'FU.Progress'}}">
							<div class="foreground"></div>
							{{#each this.progressArray as |obj key|}}
								<input disabled class="pie slice{{obj.id}}" type="radio" value="{{obj.id}}" style="--index: {{obj.id}}" {{checked obj.checked}} />
								<div class="divider" style="--index: {{obj.id}}"></div>
							{{/each}}
						</a>

						<a class="increment-button" data-action="incrementProgress" data-increment="1" data-name="{{ this.name }}"
						   data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{this.step}})">
							<i class="fas fa-plus"></i>
						</a>
						<a class="decrement-button" data-action="incrementProgress" data-increment="-1" data-name="{{ this.name }}"
						   data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{this.step}})"> <i
						 class="fas fa-minus"></i>
						</a>

						<h4 class="item-name rollable resource-content" data-name="{{this.name}}" data-roll-type="item">
							<a data-action="removeTrack" data-name="{{this.name}}">
								<span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fas fa-trash }"></i></span>
							</a>
							<a data-action="revealTrack" data-name="{{this.name}}" data-tooltip="{{this.name}}"><span class="resource-label-m">{{ this.name }}</span></a>
						</h4>

					</div>
					<hr>
				{{/each}}

			</fieldset>

			<!-- ACTIONS -->
			<fieldset class="section-container title-fieldset desc resource-content">
				<legend class="resource-label-m">
					{{localize 'FU.Actions'}}
				</legend>

				{{> "systems/projectfu/templates/common/resource-button-large.hbs" action="refreshSheet" tooltip="FU.Refresh" icon="fa fa-refresh"}}
				{{#if isGM}}
					{{> "systems/projectfu/templates/common/resource-button-large.hbs" action="restParty" tooltip="FU.Rest" icon="fas fa-bed" }}
					{{> "systems/projectfu/templates/common/resource-button-large.hbs" action="rewardResource" tooltip="FU.AwardResources" icon="fas fa-feather" }}
				{{/if}}
				{{> "systems/projectfu/templates/common/resource-button-large.hbs" action="revealMetaCurrency" tooltip="FU.AppMetaCurrencyTrackerTitle" icon="fa-solid fa-chart-line"}}

				{{#each actionHooks}}
					{{> "systems/projectfu/templates/common/resource-button-large.hbs" action="callHook" tooltip=this.name icon=this.icon option=this.hook}}
				{{/each}}
			</fieldset>

			<!-- STATS -->
			<fieldset class="section-container title-fieldset desc resource-content">
				<legend class="resource-label-m">
					{{localize 'FU.Stats'}}
				</legend>
				<div class="resources">
					<i class="fuk fu-zenit icon-aff" data-tooltip="{{localize 'FU.Zenit'}}"></i>
					{{stats.zenit}}
					<i class="fuk fu-xp icon-aff" data-tooltip="{{localize 'FU.ChatExpAwardEarnedExp'}}"></i>
					{{stats.xp}}
				</div>
				<div class="resources">
					<i class="fuk fu-fp icon-aff" data-tooltip="{{localize 'FU.ChatExpAwardSpentFabula'}}"></i>
					{{stats.fp}}
					<i class="fuk fu-up icon-aff" data-tooltip="{{localize 'FU.ChatExpAwardUltimaExp'}}"></i>
					{{stats.up}}
				</div>
			</fieldset>
		</div>
	</div>


	{{!-- Sheet Body --}}
	<div class="sheet-body content">
		{{!-- Overview --}}
		<div class="tab" data-tab="overview">
			<section class="party overview">

				{{#unless characterCount}}
					<div class="label centered-message">
						{{localize 'FU.PartySheetEmpty'}}
					</div>
				{{/unless}}

				{{#each characters}}
				{{!-- Character Card  --}}
					<div class="section-container plate character character-option {{this.statusClass}}" data-uuid="{{this.actor.uuid}}" data-type="character">

						<div class="image-container">
							<a data-action="revealActor" data-actor="{{this.actor.uuid}}" data-type="character">
								<img class="portrait {{role}}" src="{{ this.actor.img }}" data-tooltip="{{ this.name }}" />
							</a>
							<div class="icon-row classes">
								{{#each this.classes}}
									<img class="item" src="{{ this.img }}" data-tooltip="{{ this.name }}" />
								{{/each}}
							</div>
						</div>

						<div class="name" data-tooltip="{{ this.name }}">{{ this.name }}</div>
						<div class="identity">{{this.identity }}</div>

						{{#each this.resources}}
							<div class="bar {{this.name}}">
								<i class="icon {{this.icon}}" data-tooltip="{{this.label}}" style="width: 18px;"></i>
								<div class="track">
									<div class="fill" style="width: {{this.percentage}}%;"></div>
								</div>
								<span class="label" style="width: 40px; font-weight: 400;">{{this.current}}/{{this.max}}</span>
							</div>
						{{/each}}

						<div class="resources">
							<i class="fuk fu-zenit icon-aff" data-tooltip="{{localize 'FU.Zenit'}}"></i>
							{{this.zenit}}

							<i class="fuk fu-fp icon-aff" data-tooltip="{{localize 'FU.FabulaPoints'}}"></i>
							{{this.fp}}
						</div>


					</div>
				{{/each}}

				{{#each companions}}
				{{!-- Companion Card --}}
					<div class="section-container plate companion character-option" data-uuid="{{this.actor.uuid}}" data-type="companion">

						<a data-action="revealActor" data-actor="{{this.actor.uuid}}" data-type="companion">
							<img class="portrait damage" src="{{ this.actor.img }}" data-tooltip="{{ this.name }}" />
						</a>

						<div class="name">{{ this.name }}</div>
						<div class="identity"><span>{{{this.identity }}}</span></div>

						{{#each this.resources}}
							<div class="bar {{this.name}}">
								<i class="icon {{this.icon}}" data-tooltip="{{this.label}}" style="width: 18px;"></i>
								<div class="track">
									<div class="fill" style="width: {{this.percentage}}%;"></div>
								</div>
								<span class="label">{{this.current}}/{{this.max}}</span>
							</div>
						{{/each}}
					</div>
				{{/each}}
			</section>
		</div>

		{{!-- Adversaries  --}}
		<div class="tab" data-tab="adversaries">
			<section class="adversaries">
				{{#unless (gt adversaries.length 0)}}
					<div class="label centered-message">
						{{localize 'FU.AdversariesEmpty'}}
					</div>
				{{/unless}}

					{{#each adversaries}}
						<div class="section-container entry character-option {{#if this.active}}active{{/if}}" data-uuid="{{this.uuid}}" data-type="npc">
							<div class="portrait">
								<a data-action="revealNpc" data-actor="{{this.uuid}}">
									<img src="{{ this.img }}" data-tooltip="{{ this.name }}" />
								</a>
							</div>
							<div class="data">
								<header>
									<div class="name" data-tooltip="{{this.uuid}}">
										{{name}}
									</div>
									<div class="blurb">
										<div class="tag {{_rank}}">
										{{#if (eq this.studyResult 'none')}}
											{{localize 'FU.Unknown'}} {{localize this.rank}}
										{{else}}
											{{localize this.species }} {{localize this.rank}}
										{{/if}}
										</div>
									</div>
									<div class="study">
										{{#if this.isRevealed }}
											<i data-tooltip="FU.StudyRevealed" class="ra ra-light-bulb"></i>
										{{/if}}
										{{#if (gt this.study 0)}}
											<span data-tooltip="{{this.study}}">{{this.studyPercent}}%</span>
										{{/if}}
									</div>
								</a>
								</header>
							</div>
						</div>
					{{/each}}
			</section>
		</div>

		{{!-- Inventory --}}
		<div class="tab desc inventory" data-tab="inventory">
			{{> "systems/projectfu/templates/actor/sections/actor-section-inventory.hbs" actor=actor}}
		</div>

		{{!-- Manage --}}
		<div class="tab" data-tab="manage">
		</div>

		{{!-- Settings --}}
		<div class="tab" data-tab="settings">
			{{> "systems/projectfu/templates/actor/sections/actor-party-section-settings.hbs" actor=actor}}
		</div>
	</div>
</form>