<div>
	<header class="sheet-header desc">
		<div class="combine-header w-100 img-name">
			<a>
				<img class="profile-img flexcol" src="{{document.img}}"
					 data-action="editImage"
					 data-edit="img" title="{{actor.name}}"
					 style="height: 52px; width: auto; object-fit: contain;" />
			</a>
			<div style="display: flex; align-items: center; justify-content: center; gap:0.5rem;">
				<div class="charname-container flexrow grid-span-4">
					<h2 class="charname" style="flex: 3;">
						<input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
					</h2>
				</div>

				<label class="icon-toggle" title="{{localize 'FU.Merchant'}}?">
					<input type="checkbox" name="system.merchant" {{ checked system.merchant }} />
					<i class="toggle-icon fa fa-balance-scale"></i>
				</label>
			</div>
		</div>
	</header>

	<div class="sheet-wrapper">
		{{!-- Inventory --}}
		<div class="desc inventory">
			{{> "systems/projectfu/templates/actor/sections/actor-section-inventory.hbs" actor=actor}}
		</div>
	</div>
</div>