<form class="{{ cssClass }} {{ actor.type }} projectfu-actor-sheet h-100" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{#if (or (eq system.study.value 1) (eq system.study.value 2) (eq system.study.value 3))}}
            {{>"systems/projectfu/templates/actor/partials/actor-study.hbs" actor=actor}}
        {{else}}
            <header class="sheet-header desc">
                {{!-- Name/HP/Level Section --}}
                {{>"systems/projectfu/templates/actor/partials/actor-header.hbs" actor=actor}}
                {{!-- Statuses/Attributes/RollCheck Section --}}
                {{>"systems/projectfu/templates/actor/partials/actor-resources.hbs" actor=actor}}
                {{!-- Affinity Section --}}
                {{>"systems/projectfu/templates/actor/partials/actor-affinities.hbs" actor=actor}}

                {{!-- Sheet Tab Navigation --}}
                <nav class="sheet-tabs tabs desc flexrow" data-group="primary">
                    {{!-- Default tab is specified in actor-sheet.mjs --}}
                    <a class="item rollable tab-style" data-tab="attributes">{{localize 'FU.Stats'}}</a>
                    <a class="item rollable tab-style" data-tab="combat">{{localize 'FU.Combat'}}</a>
                    {{#if (eq (getGameSetting 'optionBehaviorRoll') true)}}
                        <a class="item rollable tab-style" data-tab="behavior">{{localize 'FU.Behavior'}}</a>
                    {{/if}}
                    {{#if (eq (getGameSetting 'optionNPCNotesTab') true)}}
                        <a class="item tab-style" data-tab="notes" data-tooltip="{{localize 'FU.BiographyInfo'}}">
                            <i class="fas fa-file-pen"></i></a>
                    {{/if}}
                    <a class="item rollable tab-style" data-tab="effects" data-tooltip="{{localize 'FU.Effects'}}"
                       aria-describedby="tooltip"><i class="fas fa-wand-magic-sparkles"></i></a>
                    <a class="item rollable tab-style" data-tab="settings" data-tooltip="{{localize 'FU.Settings'}}"
                       aria-describedby="tooltip"><i class="fas fa-sliders"></i></a>
                    <a class="item study-style" data-tooltip="{{localize 'FU.StudyRoll'}}">
                        <i class="study-button rollable fas fa-magnifying-glass icon"></i>
                        <select name="system.study.value" id="studySelect"
                                data-dtype="Number" class="resource-label-l">
                            {{#select system.study.value}}
                                <option value="0">-</option>
                                <option value="1">10+</option>
                                <option value="2">13+</option>
                                <option value="3">16+</option>
                            {{/select}}
                        </select>
                    </a>
                </nav>
            </header>

            <!-- Wrapper for Sheet Body -->
        <div class="sheet-wrapper">
            {{!-- Sheet Body --}}
            <section class="sheet-body">
                {{!-- Owned Features Tab --}}
                <div class="tab features" data-group="primary" data-tab="attributes">
                    <section class="body-section grid grid-4col">
                        <aside class="sidebar flex-group-center">
                            {{!-- Action Buttons --}}
                            {{>"systems/projectfu/templates/actor/partials/actor-actions.hbs" actor=actor}}

                            <fieldset class="section-container title-fieldset desc resource-content">
                                <legend class="resource-label-m">
                                    {{localize 'FU.Villain'}}
                                </legend>
                                <div class="flex-group-center">
                                    <div class="resource-content">
                                        <label class="resource-label-sm">{{localize 'FU.Phase'}}</label>
                                        <input type="number" name="system.phases.value"
                                               value="{{ system.phases.value }}" data-dtype="Number"
                                               class="resource-inputs bonus" />
                                    </div>
                                    <div class="resource-content">
                                        <label class="resource-label-sm">{{localize 'FU.Multipart'}}</label>
                                        <input type="text" name="system.multipart.value"
                                               value="{{ system.multipart.value }}" data-dtype="String"
                                               class="resource-inputs bonus" />
                                    </div>
                                </div>
                            </fieldset>
                            {{!-- Clock Section --}}
                            {{> "systems/projectfu/templates/actor/partials/actor-clocks.hbs" actor=actor}}
                        </aside>
                        <main class="stats-container grid-span-3">
                            <section class="section-container npc-border-col desc">
                                <li class="flexrow flex-group-center desc-header resource-content">
                                    <label class="resource-label-l">{{localize 'FU.Traits'}}</label>
                                    <input class="traitdesc flex3" type="text" name="system.traits.value"
                                           value="{{ system.traits.value }}" placeholder="{{localize 'FU.Traits'}}"
                                           data-dtype="String" />
                                </li>
                                <section class="flex2 npc-desc">
                                    {{#if (eq (getGameSetting 'optionNPCNotesTab') true)}}
                                        {{editor enrichedHtml.description target="system.description"
                                                 engine="prosemirror"
                                                 rollData=rollData button=false owner=owner editable=false }}
                                    {{else}}
                                        {{editor enrichedHtml.description target="system.description"
                                                 engine="prosemirror"
                                                 rollData=rollData button=true owner=owner editable=editable }}
                                    {{/if}}
                                </section>
                            </section>

                            <!-- Favorite Section -->
                            {{> "systems/projectfu/templates/actor/partials/actor-favorite.hbs" groups=systemData.bond
                             dtypes=dtypes actor=actor}}
                        </main>
                    </section>
                </div>
                {{!-- Combat Tab --}}
                <div class="tab combat" data-group="primary" data-tab="combat">
                    {{>"systems/projectfu/templates/actor/sections/actor-section-combat.hbs" actor=actor}}</div>
                {{!-- Owned Spells Tab --}}
                <div class="tab spells" data-group="primary" data-tab="spells">
                    {{>"systems/projectfu/templates/actor/sections/actor-section-spells.hbs" actor=actor}}</div>
                {{!-- Owned Notes Tab --}}
                <div class="tab notes" data-group="primary" data-tab="notes">
                    {{>"systems/projectfu/templates/actor/sections/actor-section-notes.hbs" actor=actor}}
                </div>
                {{!-- Behavior Tab --}}
                <div class="tab behavior" data-group="primary" data-tab="behavior">
                    {{>"systems/projectfu/templates/actor/sections/actor-section-behavior.hbs" actor=actor}}</div>
                {{!-- Active Effects Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                    {{> "systems/projectfu/templates/common/active-effects.hbs"}}
                </div>
                {{!-- Settings Tab --}}
                <div class="tab effects flexcol" data-group="primary" data-tab="settings">
                    {{>"systems/projectfu/templates/actor/sections/actor-section-settings.hbs" actor=actor}}</div>
            </section>
        {{/if}}
    </div>
        <footer class="sheet-footer">
            {{>"systems/projectfu/templates/actor/partials/actor-divider.hbs"}}
        </footer>
    </div>
</form>