<form class="{{ cssClass }} {{ actor.type }} projectfu-actor-sheet h-100" autocomplete="off">
	<div class="sheet-content-wrapper">
		<header class="sheet-header">
			{{!-- Name/HP/Level Section --}}
			{{>"systems/projectfu/templates/actor/partials/actor-header.hbs" actor=actor}}
			{{!-- Statuses/Attributes/RollCheck Section --}}
			{{>"systems/projectfu/templates/actor/partials/actor-resources.hbs" actor=actor}}
			{{!-- Affinity Section --}}
			{{>"systems/projectfu/templates/actor/partials/actor-affinities.hbs" actor=actor}}

			{{!-- Sheet Tab Navigation --}}
			<nav class="sheet-tabs tabs desc flexrow gap-5" data-group="primary">
				{{!-- Default tab is specified in actor-sheet.mjs --}}
				<a class="item rollable tab button-style" data-tab="stats">{{localize 'FU.Stats'}}</a>
				<a class="item rollable tab button-style" data-tab="classes">{{localize 'FU.Classes'}}</a>
				<a class="item rollable tab button-style" data-tab="features">{{localize 'FU.Features'}}</a>
				<a class="item rollable tab button-style" data-tab="spells">{{localize 'FU.Spells'}}</a>
				<a class="item rollable tab button-style" data-tab="items">{{localize 'FU.Items'}}</a>
				<a class="item rollable tab button-style" data-tab="notes" data-tooltip="{{localize 'FU.BiographyInfo'}}">
					<i class="fas fa-file-pen"></i>
				</a>
				<a class="item rollable tab button-style" data-tab="effects" data-tooltip="{{localize 'FU.Effects'}}">
					<i class="fas fa-wand-magic-sparkles"></i>
				</a>
				<a class="item rollable tab button-style" data-tab="settings" data-tooltip="{{localize 'FU.Settings'}}">
					<i class="fas fa-sliders"></i>
				</a>
				<!-- Deposit/Withdraw Zenit -->
				<div class="item-control" style="gap: 4px;">
					<a class="item-control zenit-deposit" data-tooltip="{{ localize 'FU.InventoryDepositZenit' currency=(getGameSetting 'optionRenameCurrency') }}"
						aria-describedby="tooltip">
						<i class="fa fa-paper-plane button-style"></i>
					</a>
					<a class="item-control zenit-withdraw" data-tooltip="{{ localize 'FU.InventoryWithdrawZenit' currency=(getGameSetting 'optionRenameCurrency') }}"
						aria-describedby="tooltip">
						<i class="fa fa-university button-style"></i>
					</a>
				</div>
				<!-- Zenit -->
				<a class="item rollable tab button-style zenit-style" data-tooltip="{{getGameSetting 'optionRenameCurrency'}}">
					<i class="fuk fu-zenit icon-aff"></i>
					<input type="text" name="system.resources.zenit.value" value="{{ system.resources.zenit.value }}"
						data-dtype="Number" />
				</a>
			</nav>
		</header>

		<!-- Wrapper for Sheet Body -->
		<div class="sheet-wrapper">
			{{!-- Sheet Body --}}
			<div class="sheet-body">
				{{!-- Owned Features Tab --}}
				<div class="tab features" data-group="primary" data-tab="stats">
					<!-- Traits Section -->
					<section class="section-container desc grid-span-3 gap-5">
						<div class="grid grid-3col flex-group-center" style="display: flex;">
							<div class="traits compact resource-content">
								<label>
									<span class="resource-label-l">{{localize 'FU.Identity'}}: </span>
									<span class="resource-text-m">{{ system.resources.identity.name }}</span>
								</label>
							</div>
							<div class="traits compact resource-content">
								<label>
									<span class="resource-label-l">{{localize 'FU.Theme'}}: </span>
									<span class="resource-text-m">{{ system.resources.theme.name }}</span>
								</label>
							</div>
							<div class="traits compact resource-content">
								<label>
									<span class="resource-label-l">{{localize 'FU.Origin'}}: </span>
									<span class="resource-text-m">{{ system.resources.origin.name }}</span>
								</label>
							</div>
						</div>
					</section>
					<section class="body-section grid grid-4col">
						<aside class="sidebar flex-group-center">
							{{!-- Bond Section --}}
							<fieldset class="section-container title-fieldset desc resource-content">
								<legend class="resource-label-m">
									{{localize 'FU.Bonds'}}
								</legend>
								<div class="bonds">
									{{#each system.bonds as |bond bondIndex|}}
									<div class="bond-row flexrow mb-2">
										<label class="resource-text-sm flex-group-left flex-grow">
											<strong>
												{{#if bond.name}}
												{{bond.name}}
												{{else}}
												{{localize 'FU.NoItem'}}
												{{/if}}
											</strong>
										</label>
										<label class="resource-text-sm bond-strength flex0" data-tooltip="
                                            {{#if (lookup @root.FU.bonds.admInf bond.admInf)}}
                                                {{localize (lookup @root.FU.bonds.admInf bond.admInf)}}<br>
                                            {{/if}}
                                            {{#if (lookup @root.FU.bonds.loyMis bond.loyMis)}}
                                                {{localize (lookup @root.FU.bonds.loyMis bond.loyMis)}}<br>
                                            {{/if}}
                                            {{#if (lookup @root.FU.bonds.affHat bond.affHat)}}
                                                {{localize (lookup @root.FU.bonds.affHat bond.affHat)}}
                                            {{/if}}
                                        ">
											{{ bond.strength }}
										</label>
									</div>
									{{/each}}
								</div>
							</fieldset>
							{{!-- Action Buttons --}}
							{{> "systems/projectfu/templates/actor/partials/actor-actions.hbs" actor=actor}}
							{{!-- Vehicle Section --}}
							{{> "systems/projectfu/templates/actor/partials/actor-vehicle.hbs"}}
							{{!-- Garden Section --}}
							{{> "systems/projectfu/templates/actor/partials/actor-garden.hbs"}}
							{{!-- Clock Section --}}
							{{> "systems/projectfu/templates/actor/partials/actor-clocks.hbs" actor=actor}}
						</aside>
						<main class="grid-span-3">
							{{!-- Bond Section --}}
							{{!-- Favorite Section --}}
							{{>"systems/projectfu/templates/actor/partials/actor-favorite.hbs" groups=systemData.bond
							dtypes=dtypes actor=actor}}
						</main>
					</section>
				</div>
				{{!-- Handlebar Partials --}}
				{{!-- Classes Tab --}}
				<div class="tab classes" data-group="primary" data-tab="classes">
					{{>"systems/projectfu/templates/actor/sections/actor-section-classes.hbs" actor=actor}}
				</div>
				{{!-- Owned Features Tab --}}
				<div class="tab features" data-group="primary" data-tab="features">
					{{>"systems/projectfu/templates/actor/sections/actor-section-features.hbs" actor=actor}}
				</div>
				{{!-- Owned Spells Tab --}}
				<div class="tab spells" data-group="primary" data-tab="spells">
					{{>"systems/projectfu/templates/actor/sections/actor-section-spells.hbs" actor=actor}}
				</div>
				{{!-- Owned Items Tab --}}
				<div class="tab items" data-group="primary" data-tab="items">
					{{>"systems/projectfu/templates/actor/sections/actor-section-items.hbs" actor=actor}}
				</div>
				{{!-- Owned Notes Tab --}}
				<div class="tab notes" data-group="primary" data-tab="notes">
					{{>"systems/projectfu/templates/actor/sections/actor-section-notes.hbs" actor=actor}}
				</div>
				{{!-- Active Effects Tab --}}
				<div class="tab effects flexcol" data-group="primary" data-tab="effects">
					{{>"systems/projectfu/templates/common/active-effects.hbs"}}
				</div>
				{{!-- Settings Tab --}}
				<div class="tab settings flexcol" data-group="primary" data-tab="settings">
					{{>"systems/projectfu/templates/actor/sections/actor-section-settings.hbs" actor=actor}}
				</div>
			</div>
		</div>
		<footer class="sheet-footer">
			<div class="breakline-border resource-content">
				{{!-- <div class="center-label rollable">
					<label class="resource-label-xl">Test</label>
				</div> --}}
			</div>
		</footer>
	</div>
</form>