<div class="combat-hud-retro__faction-list combat-hud-retro__faction-list--npcs">
  {{#each npcs}}
    <div class="combat-hud-retro__combatant-row combat-hud-retro__combatant-row--npc">
      {{> "systems/projectfu/templates/ui/combat-hud/combat-hud-portrait.hbs" compact=../isCompact elementClass=../elementClass}}
      <div class="combat-hud-retro__combatant-info{{#if ../isCompact}} combatant-hud-retro__combatant-info--compact{{/if}}">
        <div class="combat-hud-retro__combatant-name{{#unless hasEffects}} combatant-hud-retro__combatant-name--full-height{{/unless}}">
          <h2 data-action="clickCombatant" data-token-id="{{token.id}}" data-actor-id="{{actor.id}}" data-combatant-id="{{id}}">
            {{#if (pfuGetSetting "optionCombatHudShowOrderNumbers")}}
              <span class="combat-hud-retro__combatant-order">{{order}}</span>.&nbsp;
            {{/if}}
            {{name}}
          </h2>
        </div>
        <div class="combat-hud-retro__secondary-row">
          <div class="combat-hud-retro__combatant-effects">
            {{#each effects}}
              <img src="{{img}}" class="combat-hud-retro__effect-icon">
            {{/each}}
          </div>
          {{#if showResources}}
            <div class="combat-hud-retro__combatant-resources combat-hud-retro__combatant-resources--npc">
              {{#each trackedResources as |resource|}}
                {{> (resource) ../this }}
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>