<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">{{localize "FU.BehaviorRollsSettingsInstuction"}}</p>
    <!-- optionBehaviorRoll -->
    <div class="form-group">
        <label for="optionBehaviorRoll">{{localize "FU.BehaviorRollsSettings"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionBehaviorRoll" id="optionBehaviorRoll" {{checked optionBehaviorRoll}}>
        </div>
        <p class="notes">{{localize "FU.BehaviorRollsSettingsHint"}}</p> 
    </div>
    <!-- optionTargetPriority -->
    <div class="form-group">
        <label for="optionTargetPriority">{{localize "FU.TotalPartyMemberSettings"}}</label>
        <div class="form-fields">
            <input type="text" name="optionTargetPriority" id="optionTargetPriority" class="text" value="{{optionTargetPriority}}">
        </div>
        <p class="notes">{{localize "FU.TotalPartyMemberSettingsHint"}}</p>
    </div>
    <div class="form-group buttons">
        <button type="submit">
            <i class="fas fa-floppy-disk"></i>{{localize "FU.SettingsSave"}}
        </button>
        <button type="reset" name="reset">
            <i class="fas fa-undo"></i>{{localize "FU.SettingsReset"}}
        </button>
    </div>
</form>