<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">{{localize "FU.ChatMessageOptionsSettingsInstuction"}}</p>
    {{!-- optionChatMessageHideTags --}}
    <div class="form-group">
        <label for="optionChatMessageHideTags">{{localize "FU.ChatMessageHideTags"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionChatMessageHideTags" id="optionChatMessageHideTags" {{checked
                optionChatMessageHideTags}} />
        </div>
        <p class="notes">{{localize "FU.ChatMessageHideTagsHint"}}</p>
    </div>
    {{!-- optionChatMessageHideDescription --}}
    <div class="form-group">
        <label for="optionChatMessageHideDescription">{{localize "FU.ChatMessageHideDescription"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionChatMessageHideDescription" id="optionChatMessageHideDescription"
                {{checked optionChatMessageHideDescription}} />
        </div>
        <p class="notes">{{localize "FU.ChatMessageHideDescriptionHint"}}</p>
    </div>
    {{!-- optionChatMessageCollapseDescription --}}
    <div class="form-group">
        <label for="ChatMessageCollapseDescription">{{localize "FU.ChatMessageCollapseDescription"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionChatMessageCollapseDescription" id="optionChatMessageCollapseDescription"
                {{checked optionChatMessageCollapseDescription}} />
        </div>
        <p class="notes">{{localize "FU.ChatMessageCollapseDescriptionHint"}}</p>
    </div>
    {{!-- optionChatMessageHideQuality --}}
    <div class="form-group">
        <label for="optionChatMessageHideQuality">{{localize "FU.ChatMessageHideQuality"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionChatMessageHideQuality" id="optionChatMessageHideQuality" {{checked
                optionChatMessageHideQuality}} />
        </div>
        <p class="notes">{{localize "FU.ChatMessageHideQualityHint"}}</p>
    </div>
    {{!-- optionChatMessageHideRollDetails --}}
    <div class="form-group">
        <label for="optionChatMessageHideRollDetails">{{localize "FU.ChatMessageHideRollDetails"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionChatMessageHideRollDetails" id="optionChatMessageHideRollDetails"
                {{checked optionChatMessageHideRollDetails}} />
        </div>
        <p class="notes">{{localize "FU.ChatMessageHideRollDetailsHint"}}</p>
    </div>
    <div class="form-group buttons">
        <button type="submit">
            <i class="fas fa-floppy-disk"></i>{{localize "FU.SettingsSave"}}
        </button>
        <button type="reset" name="reset">
            <i class="fas fa-undo"></i>{{localize "FU.SettingsReset"}}
        </button>
    </div>
</form>