<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">{{localize "FU.ExperimentalCombatHudInstuction"}}</p>
    {{!-- experimentalCombatHud --}}
    <div class="form-group">
        <label for="experimentalCombatHud">{{localize "FU.ExperimentalCombatHudStatus"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="experimentalCombatHud" id="experimentalCombatHud" {{checked
             experimentalCombatHud}}>
        </div>
        <p class="notes">{{localize "FU.ExperimentalCombatHudSettingsHint"}}</p>
    </div>
    {{!-- optionCombatHudOpacity --}}
    <div class="form-group">
        <label for="optionCombatHudOpacity">{{localize "FU.CombatHudOpacity"}}</label>
        <div class="form-fields">
            <input type="range" min="0" max="100" name="optionCombatHudOpacity" id="optionCombatHudOpacity"
                   value="{{optionCombatHudOpacity}}">
        </div>
        <p class="notes">{{localize "FU.CombatHudOpacityHint"}}</p>
    </div>
    {{!-- optionCombatHudWidth --}}
    <div class="form-group">
        <label for="optionCombatHudWidth">{{localize "FU.CombatHudWidth"}}</label>
        <div class="form-fields">
            <input type="range" min="0" max="100" name="optionCombatHudWidth" id="optionCombatHudWidth"
                   value="{{optionCombatHudWidth}}">
        </div>
        <p class="notes">{{localize "FU.CombatHudWidthHint"}}</p>
    </div>
    {{!-- optionCombatHudPosition --}}
    <div class="form-group">
        <label for="optionCombatHudPosition">{{localize "FU.CombatHudPosition"}}</label>
        <div class="form-fields">
            <select name="optionCombatHudPosition" id="optionCombatHudPosition">
                {{#select optionCombatHudPosition}}
                    <option value="bottom">{{ localize "FU.CombatHudPositionBottom" }}</option>
                    <option value="top">{{ localize "FU.CombatHudPositionTop" }}</option>
                {{/select}}
            </select>
        </div>
        <p class="notes">{{localize "FU.CombatHudPositionHint"}}</p>
    </div>
    {{!-- optionCombatHudPortrait --}}
    <div class="form-group">
        <label for="optionCombatHudPortrait">{{localize "FU.CombatHudPortrait"}}</label>
        <div class="form-fields">
            <select name="optionCombatHudPortrait" id="optionCombatHudPortrait">
                {{#select optionCombatHudPortrait}}
                    <option value="actor">{{ localize "FU.CombatHudPortraitActor" }}</option>
                    <option value="token">{{ localize "FU.CombatHudPortraitToken" }}</option>
                {{/select}}
            </select>
        </div>
        <p class="notes">{{localize "FU.CombatHudPortraitHint"}}</p>
    </div>
    {{!-- optionCombatHudShowEffects --}}
    <div class="form-group">
        <label for="optionCombatHudShowEffects">{{localize "FU.CombatHudShowEffects"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionCombatHudShowEffects" id="optionCombatHudShowEffects" {{checked
             optionCombatHudShowEffects}}>
        </div>
        <p class="notes">{{localize "FU.CombatHudShowEffectsHint"}}</p>
    </div>
    {{!-- optionCombatHudEffectsMarqueeDuration --}}
    <div class="form-group">
        <label for="optionCombatHudEffectsMarqueeDuration">{{localize "FU.CombatHudEffectsMarqueeDuration"}}</label>
        <div class="form-fields">
            <input type="number" name="optionCombatHudEffectsMarqueeDuration" id="optionCombatHudEffectsMarqueeDuration"
                   min="1" value="{{optionCombatHudEffectsMarqueeDuration}}">
        </div>
        <p class="notes">{{localize "FU.CombatHudEffectsMarqueeDurationHint"}}</p>
    </div>
    {{!-- optionCombatHudEffectsMarqueeMode --}}
    <div class="form-group">
        <label for="optionCombatHudEffectsMarqueeMode">{{localize "FU.CombatHudEffectsMarqueeMode"}}</label>
        <div class="form-fields">
            <select name="optionCombatHudEffectsMarqueeMode" id="optionCombatHudEffectsMarqueeMode">
                {{#select optionCombatHudEffectsMarqueeMode}}
                    <option value="normal">{{ localize "FU.CombatHudEffectsMarqueeModeNormal" }}</option>
                    <option value="alternate">{{ localize "FU.CombatHudEffectsMarqueeModeAlternate" }}</option>
                {{/select}}
            </select>
        </div>
        <p class="notes">{{localize "FU.CombatHudEffectsMarqueeModeHint"}}</p>
    </div>
    {{!-- optionCombatHudReordering --}}
    {{#if isGM}}
        <div class="form-group">
            <label for="optionCombatHudReordering">{{localize "FU.CombatHudReordering"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="optionCombatHudReordering" id="optionCombatHudReordering" {{checked
                 optionCombatHudReordering}}>
            </div>
            <p class="notes">{{localize "FU.CombatHudReorderingHint"}}</p>
        </div>
    {{/if}}
    {{!-- optionCombatHudShowOrderNumbers --}}
    <div class="form-group">
        <label for="optionCombatHudShowOrderNumbers">{{localize "FU.CombatHudShowOrderNumbers"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionCombatHudShowOrderNumbers" id="optionCombatHudShowOrderNumbers" {{checked
             optionCombatHudShowOrderNumbers}}>
        </div>
        <p class="notes">{{localize "FU.CombatHudShowOrderNumbersHint"}}</p>
    </div>
    {{#if isGM}}
    {{!-- optionCombatHudTrackedResource1 --}}
    <div class="form-group">
        <label for="optionCombatHudTrackedResource1">{{localize "FU.CombatHudTrackedResource1"}}</label>
        <div class="form-fields">
            <select name="optionCombatHudTrackedResource1" id="optionCombatHudTrackedResource1">
                {{selectOptions trackedResources selected=optionCombatHudTrackedResource1 localize=true}}
            </select>
        </div>
        <p class="notes">{{localize "FU.CombatHudTrackedResource1Hint"}}</p>
    </div>
    {{!-- optionCombatHudTrackedResource2 --}}
    <div class="form-group">
        <label for="optionCombatHudTrackedResource2">{{localize "FU.CombatHudTrackedResource2"}}</label>
        <div class="form-fields">
            <select name="optionCombatHudTrackedResource2" id="optionCombatHudTrackedResource2">
                {{selectOptions trackedResources selected=optionCombatHudTrackedResource2 localize=true}}
            </select>
        </div>
        <p class="notes">{{localize "FU.CombatHudTrackedResource2Hint"}}</p>
    </div>
    {{!-- optionCombatHudTrackedResource3 --}}
    <div class="form-group">
        <label for="optionCombatHudTrackedResource3">{{localize "FU.CombatHudTrackedResource3"}}</label>
        <div class="form-fields">
            <select name="optionCombatHudTrackedResource3" id="optionCombatHudTrackedResource3">
                {{selectOptions trackedResources selected=optionCombatHudTrackedResource3 localize=true}}
            </select>
        </div>
        <p class="notes">{{localize "FU.CombatHudTrackedResource3Hint"}}</p>
    </div>
    {{/if}}
    <div class="form-group buttons">
        <button type="submit">
            <i class="fas fa-floppy-disk"></i>{{localize "FU.SettingsSave"}}
        </button>
        <button type="reset" name="reset">
            <i class="fas fa-undo"></i>{{localize "FU.SettingsReset"}}
        </button>
    </div>
</form>