<form autocomplete='off' onsubmit='event.preventDefault();'>
    <div class='form-group'>
        <label>{{localize 'FU.ConfigMetaCurrencyBaseExperience'}}</label>
        <div class='form-fields'>
            {{numberInput baseExperience name='baseExperience' min=0 step=1}}
        </div>
        <p class='notes'>{{localize 'FU.ConfigMetaCurrencyBaseExperienceHint'}}</p>
    </div>
    <div class='form-group'>
        <label>{{localize 'FU.ConfigMetaCurrencyKeepExcessFabula'}}</label>
        <div class='form-fields'>
            <input type='checkbox' name='keepExcessFabula' {{checked keepExcessFabula}} />
        </div>
        <p class='notes'>{{localize 'FU.ConfigMetaCurrencyKeepExcessFabulaHint'}}</p>
    </div>
    <div class="form-group">
        <label>{{localize 'FU.ConfigMetaCurrencyAutomation'}}</label>
        <div class='form-fields'>
            <input type='checkbox' name='automation' {{checked automation}} />
        </div>
        <p class='notes'>{{localize 'FU.ConfigMetaCurrencyAutomationHint'}}</p>
    </div>
    <div class="form-group">
        <label>{{localize 'FU.ConfigMetaCurrencyAutomaticallyDistributeExp'}}</label>
        <div class='form-fields'>
            <input type='checkbox' name='automaticallyDistributeExp' {{checked automaticallyDistributeExp}} />
        </div>
        <p class='notes'>{{localize 'FU.ConfigMetaCurrencyAutomaticallyDistributeExpHint'}}</p>
    </div>
    <div class='form-group buttons'>
        <button type='submit'>
            <i class='fas fa-floppy-disk'></i>{{localize 'FU.SettingsSave'}}
        </button>
    </div>
</form>