<form autocomplete="off" onsubmit="event.preventDefault();">
    <p class="instructions">{{localize "FU.OptionalRulesSettingsInstuction"}}</p>
    <!-- optionQuirks -->
    <div class="form-group">
        <label for="optionQuirks">{{localize "FU.QuirksSettings"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionQuirks" id="optionQuirks" {{checked optionQuirks}}>
        </div>
        <p class="notes">{{localize "FU.QuirksSettingsHint"}}</p>
    </div>
    <!-- optionZeroPower -->
    <div class="form-group">
        <label for="optionZeroPower">{{localize "FU.ZeroPowerSettings"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionZeroPower" id="optionZeroPower" {{checked optionZeroPower}}>
        </div>
        <p class="notes">{{localize "FU.ZeroPowerSettingsHint"}}</p>
    </div>
    <!-- optionCampingRules -->
    <div class="form-group">
        <label for="optionCampingRules">{{localize "FU.CampingActivitiesSettings"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="optionCampingRules" id="optionCampingRules" {{checked optionCampingRules}}>
        </div>
        <p class="notes">{{localize "FU.CampingActivitiesSettingsHint"}}</p>
    </div>
    <div class="form-group buttons">
        <button type="submit">
            <i class="fas fa-floppy-disk"></i>{{localize "FU.SettingsSave"}}
        </button>
        <button type="reset" name="reset">
            <i class="fas fa-undo"></i>{{localize "FU.SettingsReset"}}
        </button>
    </div>
</form>