<aside class="fu-application__sidebar">
	<section>
		<label>
			<input
			 id="search"
			 type="search"
			 name="search"
			 value="{{filter.text}}"
			 placeholder="Search…"
			 autocomplete="off"/>
		</label>
	</section>
	{{#each filter.categories as |cat|}}
		<fieldset class="title-fieldset desc resource-content"
				  style="display: flex; flex-wrap: wrap;
				  justify-content: space-around;">
			<legend class="resource-label-full">
				<label class="resource-label-m">
					<i class="fa fa-filter"></i>
					{{localize cat.label}}
				</label>
			</legend>
			<div>
				{{#each cat.options as |opt|}}
					<label class="fu-filter-option">
						<input type="checkbox"
							   data-category="{{@key}}"
							   data-option="{{opt.value}}"
							   {{#if opt.checked}}checked{{/if}}
						/>
						{{localize opt.label}}
					</label>
				{{/each}}
			</div>
		</fieldset>
	{{/each}}
</aside>