<div class="{{cssClasses}} mother" id="{{cssId}}">
    <div class="window-button window-compact">
        <a class="compact" title="Toggle compact mode">
            <i class="fas fa-caret-down {{#if isCompact }}hidden{{/if}}"></i>
            <i class="fas fa-caret-up {{#unless isCompact }}hidden{{/unless}}"></i>
        </a>
    </div>
    <div class="window-button window-popout">
        <a class="popout" title="Popout Combat HUD" data-target="combat-hud">
            <i class="fas fa-up-right-from-square"></i>
        </a>
    </div>
    <div class="window-button window-minimize">
        <a class="minimize" title="Minimize Combat HUD">
            <i class="fas fa-minus"></i>
        </a>
    </div>
    <div class="window-button window-drag" draggable="true">
        <a class="drag" title="Drag Combat HUD">
            <i class="fas fa-arrows-alt"></i>
        </a>
    </div>
    {{#if isGM}}
    <div class="window-button window-start">
        <a class="start" title="Start Combat">
            <i class="fas fa-play"></i>
        </a>
    </div>
    <div class="window-button window-stop hidden">
        <a class="stop" title="Stop Combat">
            <i class="fas fa-stop"></i>
        </a>
    </div>
    {{/if}}
    <div class="window-header" style="display: none;">Combat HUD</div>
    <div class="faction-list characters {{#if isCompact }}compact{{/if}}" style="{{ additionalStyle }}">
        {{#each characters}}
            <div class="combat-row {{ this.rowClass }} {{#if (inSet "crisis" this.actor.statuses)}}crisis{{/if}} {{#if (inSet "ko" this.actor.statuses)}}ko{{/if}}" data-type="character" data-actor-id="{{ this.actor.id }}" data-combatant-id="{{ this.id }}"
                 data-token-id="{{ this.token.id }}" data-order="{{ this.order }}"
                 {{#if (getGameSetting "optionCombatHudReordering") }}draggable="true"{{/if}}>
                {{!-- <img class="token-image" src="{{this.img}}" alt="{{name}}" /> --}}
                <div class="combat-info">
                    <div class="combat-name {{#unless this.hasEffects}}full-height{{/unless}}">
                        <h2 class="token-name" data-tooltip="{{ name }}">
                            {{#if (getGameSetting "optionCombatHudShowOrderNumbers")}}
                                <span class="combat-order">{{ this.order }}</span>.&nbsp;
                            {{/if}}
                            {{ name }}
                        </h2>
                    </div>
                </div>
                <div class="combat-bars">
                    {{#if this.trackedResourcePart1}}
                    {{> (lookup . 'trackedResourcePart1') actor=this.actor}}
                    {{/if}}
                    {{#if this.trackedResourcePart2}}
                    {{> (lookup . 'trackedResourcePart2') actor=this.actor}}
                    {{/if}}
                    {{#if this.trackedResourcePart3}}
                    {{> (lookup . 'trackedResourcePart3') actor=this.actor}}
                    {{/if}}
                </div>
                {{#if this.hasEffects}}
                    <div class="combat-effects">
                        {{#if this.shouldEffectsMarquee}}
                            <div class="marquee"
                                    style="animation-duration: {{this.effectsMarqueeDuration}}s; animation-direction: {{this.marqueeDirection}};">
                                {{#each this.effects as |effect|}}
                                    <img src="{{ effect.img }}" data-tooltip="{{ effect.name }}<br>{{ effect.description }}"
                                            style="animation-duration: {{this.effectsMarqueeDuration}}s;" />
                                {{/each}}
                                {{#each this.effects as |effect|}}
                                    <img src="{{ effect.img }}" data-tooltip="{{ effect.name }}<br>{{ effect.description }}"
                                            style="animation-duration: {{this.effectsMarqueeDuration}}s;" />
                                {{/each}}
                            </div>
                        {{else}}
                            <div>
                                {{#each this.effects as |effect|}}
                                    <img src="{{ effect.img }}" data-tooltip="{{ effect.name }}<br>{{ effect.description }}"
                                            style="animation-duration: {{this.effectsMarqueeDuration}}s;" />
                                {{/each}}
                            </div>
                        {{/if}}
                    </div>
                {{/if}}

                {{> "systems/projectfu/templates/ui/partials/combat-hud-turn.hbs"}}

            </div>
        {{/each}}
    </div>
</div>