<div class="flexcol dialog-name resource-content">
	<div class="flexrow">
		<div class="dialog-image">
			<img src="{{img}}" data-tooltip="{{name}}" alt="{{name}}" />
		</div>
		<label class="resource-label">
			{{name}}
			<strong>【{{localize (lookup @root.FU.attributeAbbreviations system.attributes.primary.value)}} + {{localize (lookup @root.FU.attributeAbbreviations system.attributes.secondary.value)}}】 + {{system.accuracy.value}}</strong>
			<strong> ⬥ </strong>
			<strong>【{{#unless system.rollInfo.useWeapon.hrZero.value}}{{localize "FU.HighRollAbbr"}}{{else}}{{localize "FU.HRZero"}}{{/unless}} + {{system.damage.value}}】</strong> {{localize (lookup @root.FU.damageTypes system.damageType.value)}}
		</label>
	</div>
	<div>
		<strong>{{localize (lookup @root.FU.weaponTypes system.type.value)}}</strong>
		<strong>{{localize 'FU.Versus'}}</strong>
		<strong>{{localize (lookup (lookup @root.FU.defenses system.defense) 'abbr')}}</strong>
	</div>
</div>