<main class="fu-chat__stagger">
	<section class="flexrow flex-group-center">
		{{#with sourceActor}}
			<a data-link draggable="true" data-uuid="{{uuid}}"
			   data-type="Item" data-tooltip="{{name}}">
				<img src="{{img}}" alt="{{name}}" data-item-id="{{id}}" class="profile-img fu-chat__actor">
			</a>
		{{/with}}

		<i class="fu-icon--m fa fa-chevron-right"></i>

		{{#with actor}}
			<a data-link draggable="true" data-uuid="{{uuid}}"
			   data-type="Item" data-tooltip="{{name}}">
				<img src="{{img}}" alt="{{name}}" data-item-id="{{id}}" class="profile-img fu-chat__actor">
			</a>
		{{/with}}
	</section>

	<section class="flexrow flex-group-center">
		<span>{{localize 'FU.Stagger'}}!</span>
	</section>
</main>
