<span>{{{localize 'FU.ChatPromptCheck' verb=verb}}}</span>
<span>@CHECK[{{primary}} {{secondary}} {{difficulty}} document:{{uuid}} propertyPath:{{propertyPath}} index:{{index}} increment:{{increment}}]&#123{{label}}&#125</span>
<div style="display: grid; margin-top: 4px;">
	{{> "systems/projectfu/templates/chat/partials/chat-clock-details.hbs" progress=track segments=segments}}
</div>
