<section>
    {{{localize message actor=actor damage=damage amount=amount type=type from=from resource=resource}}}.
</section>

<section style="margin-top: 4px; display: flex; justify-content: space-between; ">
    <div>
        <a data-action="revertDamage" data-uuid="{{uuid}}" data-amount="{{damage}}" data-resource="{{resource}}" data-tooltip="{{localize 'FU.ChatRevertDamage'}}">
            <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fas fa-undo"></i></span>
        </a>

        <a data-action="toggleBreakdown" data-tooltip="{{localize 'FU.ChatToggleDamageBreakdown'}}">
            <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fa fa-info-circle"></i></span>
        </a>

		{{#if inspect}}
			<a data-action="inspectActor" data-uuid="{{rootUuid}}" data-tooltip="{{localize 'FU.Inspect'}}">
				<span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fa fa-search"></i></span>
			</a>
		{{/if}}
    </div>
</section>

<section id="breakdown" class="hidden">
    <div class='projectfu'>
        <table>
            <caption>{{localize 'FU.Breakdown'}}</caption>
            <thead>
            <tr>
                <th>{{localize 'FU.Step'}}</th>
                <th>{{localize 'FU.Effect'}}</th>
                <th>{{localize 'FU.Total'}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each breakdown}}
                <tr>
                    <th>{{localize this.step}}</th>
                    <td>{{this.effect}}</td>
                    <td>{{this.total}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>