<section class="chat-prompt__message">
	{{{localize 'FU.ChatApplyEffectPrompt' source=source }}}
</section>

<table class="table-compact">
	<tbody>
	{{#each effects as |effect|}}
		<tr>
			<td>
				<a data-action="display" data-description="{{effect.description}}" data-actor-id="{{../actor.uuid}}">
					<img class="image-icon-s" src="{{ effect.img }}" data-tooltip="{{ effect.name }}" />
				</a>
				<span>{{localize effect.name}}</span>
			</td>
			<td class="flex-group-center">
				<a data-action="applyEffect" data-name="{{effect.name}}" data-effect-id="{{effect.id}}" data-actor-id="{{../actor.uuid}}" data-fields="{{../fields}}">
					<span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon ra ra-anchor"></i></span>
				</a>
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>