<div>
    <div class='detail-desc flexrow flex-group-center desc' style='padding: 0 2px;'>
        <div>{{localize 'FU.ChatGroupCheckInitiated' name=leader.name type=type}}</div>
    </div>
    <div class='detail-desc flex-group-center grid grid-2col desc'>
        <div class='flex-group-center'>
            <i class='fu-icon--m {{lookup icons attributes.attr1 }} '></i>
            {{localize (pfuConcat 'FU.Attribute' (pfuCapitalize attributes.attr1) 'Abbr')}}
        </div>
        <div class='flex-group-center'>
			<i class='fu-icon--m {{lookup icons attributes.attr2 }} '></i>
            {{localize (pfuConcat 'FU.Attribute' (pfuCapitalize attributes.attr2) 'Abbr')}}
        </div>
    </div>
    {{#if supporters}}
        <div class='detail-desc flexcol flex-group-center'>
            <div class='flexcol group-check-supporters'>
                <div class='flexrow group-check-supporters-title'>
                    <div>{{localize 'FU.ChatGroupCheckSupporter'}}</div>
                    <div>{{localize 'FU.ChatGroupCheckSupportResult'}}</div>
                    <div>{{localize 'FU.ChatGroupCheckSupportBond'}}</div>
                </div>
                {{#each supporters}}
                    <div class='flexrow group-check-supporters-supporter'>
                        <div>
                            <span>{{name}}</span>
                        </div>
                        <div>
							<span>
                                {{#if result}}
                                    {{localize 'FU.Success'}}
                                {{else}}
                                    {{localize 'FU.Failure'}}
                                {{/if}}
                            </span>
                        </div>
                        <div>
                            {{#each bond}}
                                <span>{{localize (pfuConcat 'FU.' this)}}</span>{{#unless @last}}<span>,</span>{{/unless}}
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <div class='action-style button-style detail-desc flexrow flex-group-center desc'>
        {{#if (eq status 'open')}}
            <button type='button' data-support='{{groupCheckId}}'>{{localize 'FU.ChatGroupCheckSupport'}}</button>
        {{/if}}
        {{#if (eq status 'completed')}}
            <button type='button' disabled>{{localize 'FU.ChatGroupCheckCompleted'}}</button>
        {{/if}}
        {{#if (eq status 'canceled')}}
            <button type='button' disabled>{{localize 'FU.ChatGroupCheckCanceled'}}</button>
        {{/if}}
    </div>
</div>