<span>{{{localize 'FU.ChatPromptCheck' verb=verb}}}</span>
<span>@CHECK[{{primary}} {{secondary}} {{difficulty}} document:{{document}} propertyPath:{{propertyPath}} index:{{index}} increment:{{increment}}]&#123{{label}}&#125</span>
