<section>
    {{{localize message actor=actor damage=damage type=type from=from}}}.
</section>

<section style="margin-top: 4px;">
    <a data-action="revertDamage" data-uuid="{{uuid}}" data-amount="{{damage}}" data-tooltip="{{localize 'FU.ChatRevertDamage'}}">
        <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fas fa-undo"></i></span>
    </a>

    <a data-action="toggleBreakdown" data-tooltip="{{localize 'FU.ChatToggleDamageBreakdown'}}">
        <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fa fa-info-circle"></i></span>
    </a>

    <a data-action="absorbHitPoints" data-amount="{{damage}}" data-tooltip="{{localize 'FU.ChatAbsorbHitPoints'}}">
        <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fas fa-arrow-circle-left"></i></span>
    </a>

    <a data-action="absorbMindPoints" data-amount="{{damage}}" data-tooltip="{{localize 'FU.ChatAbsorbMindPoints'}}">
        <span class='fu-tag button flex-group-center' style="font-size: 1rem;"><i class="icon fas fa-arrow-circle-right"></i></span>
    </a>
</section>

<section id="breakdown" class="hidden">
    <div class='project-fu'>
        <table>
            <caption>Modifiers</caption>
            <thead>
            <tr>
                <th>Step</th>
                <th>Effect</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {{#each breakdown}}
                <tr>
                    <th>{{this.step}}</th>
                    <td>{{this.effect}}</td>
                    <td>{{this.total}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>