<div>
    <div class="flexrow gap-05">
        <section class="flex0 mb">
            <fieldset class="desc title-fieldset resource-content">
                <legend class="resource-label-m">
                    {{localize "FU.ClassFeatureCookbookCookingIngredients"}}
                </legend>
                {{#each recipe}}
                    <div>
                        <label>
                            <span class="resource-label-sm">{{localize "FU.ClassFeatureIngredient"}} {{math @index "+" 1}}</span><br>
                            <select class="resource-inputs select-dropdown-full grid-span-4" name="ingredients.{{@index}}">
                                {{selectOptions (lookup @root.options @index) selected=this valueAttr="value"
                                                labelAttr="label" blank="-"}}
                            </select>
                        </label>
                    </div>
                {{/each}}
            </fieldset>
        </section>
        <fieldset class="desc title-fieldset resource-content">
            <legend class="resource-label-m">
                {{localize "FU.ClassFeatureCookbookCookingEffects"}}
            </legend>
            {{#each effects}}
                <fieldset class="desc title-fieldset resource-content">
                    <legend class="resource-label-sm">
                        <span>{{localize taste1.label}}</span>
                        <span>+</span>
                        <span>{{localize taste2.label}}</span>
                    </legend>
                    <div>
                        {{#if effect}}
                            {{{effect}}}
                        {{else}}
                            {{localize "FU.ClassFeatureCookbookCookingUnknownEffect"}}
                        {{/if}}
                    </div>
                </fieldset>
            {{/each}}
        </fieldset>
    </div>
    <div class="flexrow">
        <button type="button" data-action="startCooking" class="action-button" {{#unless effects}}disabled{{/unless}}>{{localize "FU.ClassFeatureCookbookCookingStartCooking"}}</button>
    </div>
</div>