<div class="resource-content desc">
    <!-- Tab Navigation -->
    <nav class="cookbook-tabs tabs flexrow gap-5" data-group="cookbookTabs">
        <a class="item tab button-style" data-tab="summaryTab">{{localize 'FU.Summary'}}</a>
        <a class="item tab button-style" data-tab="editTab">{{localize 'FU.Edit'}}</a>
    </nav>

    <hr />

    <!-- Tab Content -->
    <div class="cookbook-content">
        <!-- Summary Tab -->
        <div class="tab" data-group="cookbookTabs" data-tab="summaryTab">
            {{#each system.data.combinations}}
            <fieldset class="title-fieldset desc resource-content combination" data-taste1="{{taste1}}"
                data-taste2="{{taste2}}">
                <legend class="resource-label-full" style="font-weight: bold;">
                    <label class="resource-label-m">
                        {{localize (lookup @root/additionalData.tastes taste1)}} + {{localize (lookup
                        @root/additionalData.tastes
                        taste2)}}
                    </label>
                </legend>
                <div class="flexrow flex-group-center taste-container">
                    {{#if (lookup this 'effect')}}
                    <div>
                        {{{lookup (lookup @root/enrichedHtml.combinations @key) 'effect'}}}
                    </div>
                    {{else}}
                    <p style="color: #999; font-style: italic;">
                        {{localize "FU.ClassFeatureCookbookCookingUnknownEffect"}}
                    </p>
                    {{/if}}
                </div>
            </fieldset>
            {{/each}}
        </div>

        <!-- Edit Tab -->
        <div class="tab" data-group="cookbookTabs" data-tab="editTab">
            <div class="cookbook-sheet">
                <fieldset class="title-fieldset desc resource-content">
                    <legend class="resource-label-full">
                        <label class="resource-label-m">{{localize "FU.ClassFeatureIngredient"}}</label>
                    </legend>
                    <div class="flexrow flex-group-center taste-container">
                        {{#each additionalData.tastes}}
                        <label class="taste">
                            <input type="radio" name="taste1" value="{{@key}}" {{#if @first}}checked{{/if}}>
                            <span class="pointer w-100">{{localize this}}</span>
                        </label>
                        {{/each}}
                    </div>
                    <div class="flexrow flex-group-center taste-container">
                        {{#each additionalData.tastes}}
                        <label class="taste">
                            <input type="radio" name="taste2" value="{{@key}}" {{#if @first}}checked{{/if}}>
                            <span class="pointer w-100">{{localize this}}</span>
                        </label>
                        {{/each}}
                    </div>
                </fieldset>

                {{#each system.data.combinations}}
                <fieldset class="title-fieldset desc resource-content combination" data-taste1="{{taste1}}"
                    data-taste2="{{taste2}}">
                    <legend class="resource-label-full">
                        <label class="resource-label-m">
                            {{localize (lookup @root/additionalData.tastes taste1)}} + {{localize (lookup @root/additionalData.tastes taste2)}}
                        </label>
                    </legend>
                    <div>
						<prose-mirror name="system.data.combinations.{{@key}}.effect" value="{{effect}}" toggled>
							{{{lookup (lookup @root/enrichedHtml.combinations @key) 'effect'}}}
						</prose-mirror>
                    </div>
                </fieldset>
                {{/each}}
            </div>
        </div>
    </div>
</div>