<section class="tab basics {{tab.cssClass}} scrollable" data-group="primary" data-tab="basics">
	<div class="settings-form desc">
		<p class="instructions">{{localize "FU.ExperimentalCombatHudInstuction"}}</p>
		{{!-- experimentalCombatHud --}}
		<div class="form-group">
			<label for="experimentalCombatHud">{{localize "FU.ExperimentalCombatHudStatus"}}</label>
			<div class="form-fields">
				<input type="checkbox" name="experimentalCombatHud" id="experimentalCombatHud" {{checked
				experimentalCombatHud}}>
			</div>
			<p class="notes">{{localize "FU.ExperimentalCombatHudSettingsHint"}}</p>
		</div>
		{{#if isGM}}
			<div class="form-group">
				<label>{{localize "FU.CombatHudEnableOthers"}}</label>
				<button type="button" data-action="enableHudForOthers">{{localize "FU.CombatHudEnableOthers"}}</button>
				<p class="hint">{{localize "FU.CombatHudEnableOthersHint"}}</p>
			</div>
		{{/if}}
		{{!-- optionCombatHudShowEffects --}}
		<div class="form-group">
			<label for="optionCombatHudShowEffects">{{localize "FU.CombatHudShowEffects"}}</label>
			<div class="form-fields">
				<input type="checkbox" name="optionCombatHudShowEffects" id="optionCombatHudShowEffects" {{checked
				optionCombatHudShowEffects}}>
			</div>
			<p class="notes">{{localize "FU.CombatHudShowEffectsHint"}}</p>
		</div>
		{{!-- optionCombatHudEffectsMarqueeDuration --}}
		<div class="form-group">
			<label for="optionCombatHudEffectsMarqueeDuration">{{localize "FU.CombatHudEffectsMarqueeDuration"}}</label>
			<div class="form-fields">
				<input type="number" name="optionCombatHudEffectsMarqueeDuration" id="optionCombatHudEffectsMarqueeDuration"
						min="1" value="{{optionCombatHudEffectsMarqueeDuration}}">
			</div>
			<p class="notes">{{localize "FU.CombatHudEffectsMarqueeDurationHint"}}</p>
		</div>
		{{!-- optionCombatHudEffectsMarqueeMode --}}
		<div class="form-group">
			<label for="optionCombatHudEffectsMarqueeMode">{{localize "FU.CombatHudEffectsMarqueeMode"}}</label>
			<div class="form-fields">
				<select name="optionCombatHudEffectsMarqueeMode" id="optionCombatHudEffectsMarqueeMode">
					{{selectOptions optionCombatHudEffectsMarqueeModeOptions selected=optionCombatHudEffectsMarqueeMode localize=true}}
				</select>
			</div>
			<p class="notes">{{localize "FU.CombatHudEffectsMarqueeModeHint"}}</p>
		</div>
		{{!-- optionCombatHudReordering --}}
		{{#if isGM}}
			<div class="form-group">
				<label for="optionCombatHudReordering">{{localize "FU.CombatHudReordering"}}</label>
				<div class="form-fields">
					<input type="checkbox" name="optionCombatHudReordering" id="optionCombatHudReordering" {{checked
					optionCombatHudReordering}}>
				</div>
				<p class="notes">{{localize "FU.CombatHudReorderingHint"}}</p>
			</div>
		{{/if}}
		{{!-- optionCombatHudShowOrderNumbers --}}
		<div class="form-group">
			<label for="optionCombatHudShowOrderNumbers">{{localize "FU.CombatHudShowOrderNumbers"}}</label>
			<div class="form-fields">
				<input type="checkbox" name="optionCombatHudShowOrderNumbers" id="optionCombatHudShowOrderNumbers" {{checked
				optionCombatHudShowOrderNumbers}}>
			</div>
			<p class="notes">{{localize "FU.CombatHudShowOrderNumbersHint"}}</p>
		</div>
		{{#if isGM}}

		{{!-- optionCombatHudShowNPCTurnsLeftMode --}}
		<div class="form-group">
			<label for="optionCombatHudShowNPCTurnsLeftMode">{{localize "FU.CombatHudShowNPCTurnsLeftMode"}}</label>
			<div class="form-fields">
				<select name="optionCombatHudShowNPCTurnsLeftMode" id="optionCombatHudShowNPCTurnsLeftMode">
					{{selectOptions optionCombatHudShowNPCTurnsLeftModeOptions selected=optionCombatHudShowNPCTurnsLeftMode localize=true}}
				</select>
			</div>
			<p class="notes">{{localize "FU.CombatHudShowNPCTurnsLeftModeHint"}}</p>
		</div>
		{{/if}}
	</div>
</section>