{{!-- FUID Field --}}
{{> "systems/projectfu/templates/item/partials/item-regenerate-fuid.hbs"}}
<section class="desc drop-zone flexgrow-1">
	{{#unless hideHeader}}
		<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Effects"}}</label>
		</span>
			<span class="effects-clear items-main total-level w-25" data-action="clearTempEffects"
				  data-tooltip="{{localize 'FU.ClearTemp'}}">
			<a>{{localize 'FU.Clear'}} <i class="fas fa-eraser"></i></a>
		</span>
		</header>
	{{/unless}}

	{{{temporaryEffectsTable}}}

	{{{passiveEffectsTable}}}

	{{{inactiveEffectsTable}}}

</section>