<input type="text"
	   list="{{name}}-list"
	   name="{{name}}"
	   placeholder="{{placeholder}}"
	   value="{{value}}" />

<datalist id="{{name}}-list">
	{{#each options}}
		<option value="{{this}}"></option>
	{{/each}}
</datalist>