<fieldset class="title-fieldset desc resource-content {{class}}">
	<legend class="{{#if value}}toggled{{else}}untoggled{{/if}}">
		<input type="checkbox"
			   id="{{name}}"
			   name="{{name}}"
			   hidden
			   {{#if value}}checked{{/if}}>
		<label class="resource-label-m" style="cursor:pointer;" for="{{name}}">
			{{#if icon}}<i class="{{icon}}"></i>{{/if}}
			{{label}}
		</label>
	</legend>
	<div class="{{#unless value}}untoggled disabled{{/unless}}">
		{{> @partial-block}}
	</div>
</fieldset>
