<div class="fu-rule-element__property">
	{{#if showLabel}}
		<span>{{localize 'FU.Traits'}}</span>
	{{/if}}
	{{formGroup model.schema.fields.entries value=model.entries name=(pfuConcat path ".entries") options=traitOptions classes="fu-rule-element__set stacked"}}
</div>

{{#if model.quantifier}}
	<label class="fu-rule-element__property">
		<span>{{localize 'FU.Quantifier'}}</span>
		<select name="{{pfuConcat path ".quantifier"}}">
			{{selectOptions quantifierOptions selected=model.quantifier localize=true}}
		</select>
	</label>
{{/if}}


