<section class="{{cssClass}} directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
    <ol id="combat-tracker" class="directory-list">
        {{#each factions as |combatants faction| }}
            <h2 class="faction">{{localize (concat 'FU.CombatFaction' (capitalize faction))}} {{combatants.length}}</h2>
            {{#each combatants}}
                <li class="combatant actor directory-item flexrow {{faction}} {{this.css}} {{#if (eq @root.combatant.id this.id)}}started-turn{{/if}}" data-combatant-id="{{this.id}}">
                    <img class="token-image" data-action="inspectCombatant"  src="{{this.img}}" alt="{{this.name}}" loading="lazy"/>
                    <div class="token-name flexcol">
                        <h4>{{this.name}}</h4>
                        <div class="combatant-controls flexrow">
                            {{#if @root.user.isGM}}
								<button type="button" class="inline-control combatant-control icon fa-solid fa-eye-slash {{#if hidden}}active{{/if}}"
										data-action="toggleHidden" data-tooltip aria-label="{{ localize "COMBAT.ToggleVis" }}"></button>
								<button type="button" class="inline-control combatant-control icon fa-solid fa-skull {{#if isDefeated}}active{{/if}}"
										data-action="toggleDefeated" data-tooltip
										aria-label="{{ localize "COMBAT.ToggleDead" }}"></button>
                            {{/if}}
                            {{#if this.canPing}}
								<button type="button" class="inline-control combatant-control icon fa-solid fa-bullseye-arrow"
										data-action="pingCombatant" data-tooltip aria-label="{{ localize "COMBAT.PingCombatant" }}"></button>
                            {{/if}}
							{{#unless (eq this.faction 'friendly')}}
								<button type="button" class="inline-control combatant-control icon ra ra-monster-skull"
								   data-action="inspectCombatant"
								   data-tooltip="{{localize 'FU.Inspect'}}">
								</button>
							{{/unless}}

                            <div class="combat-tracker token-effects">
                                {{#each this.statusEffects}}
                                    <img class="token-effect" src="{{this.img}}" alt="{{this.name}}"
                                         data-tooltip="{{this.name}}" />
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    {{#if this.hasResource}}
                        <div class="token-resource">
                            <span class="resource">{{this.resource}}</span>
                        </div>
                    {{/if}}

                    <div class="token-initiative">
                        {{> "systems/projectfu/templates/ui/partials/combat-hud-turn.hbs"}}
                    </div>
                </li>
            {{/each}}
        {{/each}}

    </ol>

    <nav id="combat-controls" class="directory-footer flexrow" data-tooltip-direction="UP">
        {{#if hasCombat}}
            {{#if user.isGM}}
                {{#if round}}
                    <a class="combat-control" aria-label="{{localize 'COMBAT.RoundPrev'}}" role="button"
                       data-tooltip="COMBAT.RoundPrev" data-control="previousRound"><i class="fas fa-step-backward"></i></a>
                    <a class="combat-control" aria-label="{{localize 'COMBAT.TurnPrev'}}" role="button"
                       data-tooltip="COMBAT.TurnPrev" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
                    <a class="combat-control center" aria-label="{{localize 'COMBAT.End'}}" role="button"
                       data-control="endCombat">{{localize 'COMBAT.End'}}</a>
                    <a class="combat-control" aria-label="{{localize 'COMBAT.TurnNext'}}" role="button"
                       data-tooltip="COMBAT.TurnNext" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
                    <a class="combat-control" aria-label="{{localize 'COMBAT.RoundNext'}}" role="button"
                       data-tooltip="COMBAT.RoundNext" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
                {{/if}}
            {{/if}}
        {{/if}}
    </nav>
</section>