<section>
    <div class="detail-desc">
        <div style="display:block;">
            <strong>
                <span>{{localize 'FU.ClassFeatureMagiseedEffect'}}</span>
                <span>{{#if (eq start end)}}{{start}}{{else}}{{start}} - {{end}}{{/if}}</span>
                <i class="fa-regular fa-clock"></i>
            </strong>
        </div>
    </div>
    <div class="detail-desc">
        <div style="display:block;">
            {{{effect}}}
        </div>
    </div>
</section>