<div class="pfu-progress inline-desc flexrow flex-group-center">

	<div class="pfu-progress__bar frame" data-tooltip="{{data.current}}/{{data.max}}">
		<div class="bar"
			 style="width: {{pfuPercentage data.current data.max}};">
		</div>
	</div>

		{{#if displayName}}
		<div>
			{{#if compact}}
				<a data-action="openTrackMenu" data-id="{{id}}"
				   {{#if dataPath}}data-data-path="{{dataPath}}"{{/if}}
				   data-index="{{index}}">
					<span>{{localize displayName}}</span>
				</a>
			{{else}}
				<label>
					<span>{{localize displayName}}</span>
				</label>
			{{/if}}
		</div>
		{{/if}}

	{{#unless compact}}
		{{> 'systems/projectfu/templates/common/progress/partials/progress-controls.hbs'}}
	{{/unless}}
</div>