<div class="item-m inline-desc clock-m" data-item-id="{{id}}" style="grid-column-gap: 2px;">

	<a class="increment-button" data-type="{{type}}" data-item-id="{{id}}"
	   data-tooltip="{{localize "FU.IncreaseTooltip"}}" data-action="{{action}}"
	   data-data-path="{{dataPath}}" data-update-amount="1">
		<i class="fas fa-plus"></i>
	</a>

	<div class="progress-container">
		<div class="progress" style="--segments: {{data.max}};" data-segments="{{data.max}}"
			 data-tooltip="{{localize 'FU.Progress'}}"
			 {{#if dataPath}}data-data-path="{{dataPath}}"{{/if}}>

			<div class="foreground"></div>

			{{#each arr as |obj key|}}
				<input class="pie slice{{obj.id}}" type="radio" value="{{obj.id}}" style="--index: {{obj.id}}" {{checked obj.checked}} />
				<div class="divider" style="--index: {{obj.id}}"></div>
			{{/each}}
		</div>

		{{#if displayName}}
			<label class="item-name resource-content">
				<span class="resource-label-sm">{{displayName}}</span>
			</label>
		{{/if}}
	</div>

	<a class="decrement-button" data-type="{{type}}" data-item-id="{{id}}"
	   data-action="{{action}}" data-data-path="{{dataPath}}" data-update-amount="-1"
	   data-tooltip="{{localize "FU.DecreaseTooltip"}}">
		<i class="fas fa-minus"></i>
	</a>
</div>