<div class="inline-desc flexrow flex-group-center" data-item-id="{{id}}">

	<div class="progress-container">
		<div class="progress" style="--segments: {{data.max}};" data-segments="{{data.max}}" data-index="{{index}}"
			 data-tooltip="{{localize 'FU.Progress'}}"
			 {{#if dataPath}}data-data-path="{{dataPath}}"{{/if}}>

			<div class="foreground"></div>

			{{#each arr as |obj key|}}
				<input class="pie slice{{obj.id}}" type="radio" value="{{obj.id}}" style="--index: {{obj.id}}" {{checked obj.checked}} />
				<div class="divider" style="--index: {{obj.id}}"></div>
			{{/each}}
		</div>
	</div>

	{{#if displayName}}
		<label class="resource-content">
			<span class="resource-label-sm">{{displayName}}</span>
		</label>
	{{/if}}

	{{> 'systems/projectfu/templates/common/progress/partials/progress-controls.hbs'}}
</div>