<div class="pfu-progress inline-desc flexrow flex-group-center">
	<div class="pfu-progress__basic">
		<span data-resource="item.rp">{{ data.current }}</span>
		{{#if (gt data.max 0)}}
			<span>/</span>
			<span>{{ data.max }}</span>
		{{/if}}
	</div>

	{{#if displayName}}
		<div>
			{{#if compact}}
				<a data-action="openTrackMenu" data-id="{{id}}"
				   {{#if dataPath}}data-data-path="{{dataPath}}"{{/if}}
				   data-index="{{index}}">
					<span>{{localize displayName}}</span>
				</a>
			{{else}}
				<label>
					<span>{{localize displayName}}</span>
				</label>
			{{/if}}
		</div>
	{{/if}}

	{{#unless compact}}
		{{> 'systems/projectfu/templates/common/progress/partials/progress-controls.hbs'}}
	{{/unless}}
</div>