<div class="item-m inline-desc" style="text-align: center; padding: 1px;">
	<label class="item-quality resource-text-sm" style="flex-grow: 2;">{{ system.data.rp.name }}</label>
	<div class="resource-text-t buttons-inc" style="padding: 0 4px;">
		<a class="decrement-button" data-type="optionalRPCounter"
		   data-item-id="{{id}}"
		   data-tooltip="{{localize
			'FU.DecreaseTooltip'}} ({{system.data.rp.step}})">-</a>
		<span data-resource="item.rp">{{ system.data.rp.current }}</span>
		{{#if (gt system.data.rp.max 0)}}
			<span>/</span>
			<span>{{ system.data.rp.max }}</span>
		{{/if}}
		<a class="increment-button" data-type="optionalRPCounter"
		   data-item-id="{{id}}"
		   data-action="incrementButton"
		   data-tooltip="{{localize
			'FU.IncreaseTooltip'}} ({{system.data.rp.step}})">+</a>
	</div>
</div>