<section>
	<header class="items-main-header">
		<!-- Zenit -->
		<span class="stash-controls">
			<span class="button-style zenit-style" data-tooltip="{{pfuGetSetting 'optionRenameCurrency'}}">
				<i class="fuk fu-zenit"></i>
				<input type="text" name="system.resources.zenit.value" value="{{ system.resources.zenit.value }}" data-dtype="Number" />
			</span>
			<div class="spacer"></div>
			{{#if actor.isOwner}}
				<a class="item-control zenit-distribute" data-action="distributeZenit" data-tooltip="{{ localize 'FU.InventoryDistributeZenit' currency=(pfuGetSetting 'optionRenameCurrency')}}" aria-describedby="tooltip">
					<i class="fa fa-university button-style"></i>
				</a>
				{{#if system.merchant}}
					<a class="item-control recharge-ip" data-action="rechargeInventoryPoints" data-tooltip="{{ localize 'FU.InventoryRechargeIP' }}" aria-describedby="tooltip">
						<i class="ra ra-potion button-style"></i>
					</a>

				<div class="spacer"></div>

					<div class="resource-content ip-recharge-rate">
						<label class="resource-label-m" data-tooltip="{{localize 'FU.Recharge' }}">
							<i class="icon ra ra-repair"></i>
							<input type="number" name="system.rates.recharge" value="{{ system.rates.recharge }}" class="resource-inputs"/>
						</label>
					</div>

				<div class="spacer"></div>

					<div class="resource-content item-price-rate" data-tooltip="{{localize 'FU.ItemRate' rate=system.itemRateString }}">
						<label class="resource-label-m">
							 <i class="icon ra ra-book"></i>
							<input type="range" name="system.rates.item" value="{{ system.rates.item }}" class="resource-inputs"
								   min="0.5"
								   max="2"
								   step="0.1"/>
						</label>
					</div>
				{{/if}}
			{{/if}}
		</span>

		<!-- Clear Items-->
		<span class="items-main inventory-header total-level w-25" >
			<a data-action="clearInventory" data-tooltip="{{localize 'FU.ClearItems'}}">
				<i class="icon fa fa-trash"></i>
			</a>
			<b>{{itemCount}}</b>
		</span>
	</header>

	{{{equipmentTable}}}

	{{{treasuresTable}}}

	{{{consumablesTable}}}

	{{{otherItemsTable}}}
</section>