<section class="desc">
    <header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Rituals"}}</label>
		</span>
    </header>
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Rituals"}}</div>
            <div class="item-m">{{localize "FU.MindPointCost"}}</div>
            <div class="item-xs">{{localize "FU.DLAbbr"}}</div>
            <div class="item-m">{{localize 'FU.Clock'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" aria-describedby="tooltip"
                   data-tooltip="{{localize 'FU.RitualCreate'}}" data-type="ritual">
                    <i class="fas fa-plus icon"></i>
                    {{localize 'FU.Add'}}
                </a>
            </div>
        </li>
        {{#each rituals as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-m">{{ item.mpCost }}</div>
                    <div class="item-xs">{{ item.dLevel }}</div>
                    {{!-- Clocks --}}
                    {{#if (not item.system.hasClock.value)}}
                        <div class="item-m">{{ item.clock }}</div>
                    {{/if}}
                    {{#if item.system.hasClock.value}}
                        <div class="item-m inline-desc" style="text-align: initial; padding: 1px;">
                            <a class="decrement-button align-left" data-type="clockCounter"
                               data-item-id="{{ item._id }}"
                               data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.progress.step}})"> <i
                             class="fas fa-minus"></i></a>
                            <div class="progress-container">
                                {{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
                                 arr=item.progressArr
                                 data=item.system.progress}}
                            </div>
                            <a class="increment-button align-right" data-type="clockCounter"
                               data-item-id="{{ item._id }}"
                               data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.progress.step}})"> <i
                             class="fas fa-plus"></i></a>
                        </div>
                    {{/if}}

                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <span>{{ item.quality }}</span>
                <div class="individual-description align-left {{#unless (inArray _id _expandedIds)}}hidden{{/unless}}">
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Spells"}}</label>
		</span>
    </header>
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize 'FU.Spells'}}</div>
            <div class="item-m">{{localize 'FU.Duration'}}</div>
            <div class="item-lg">{{localize 'FU.Target'}}</div>
            <div class="item-m">{{localize 'FU.MindPointCost'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" aria-describedby="tooltip"
                   data-tooltip="{{localize 'FU.SpellCreate'}}" data-type="spell"> <i
                 class="fas fa-plus icon"></i>{{localize 'FU.Add'}} </a>
            </div>
        </li>
        {{#each spells as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-m">{{ capitalize item.duration }}</div>
                    <div class="item-lg">{{ item.target}}</div>
                    <div class="item-m">{{ item.mpCost }}</div>
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <div class="individual-description align-left {{#unless (inArray _id _expandedIds)}}hidden{{/unless}}">
                    {{#if item.detail}}
                        <div class="item-quality align-left">
                            <strong>{{item.detail}}</strong>
                        </div>
                    {{/if}}
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>
</section>