<ol class="items-list">
	<li class="item flexrow items-header">
		<div class="item-name">{{localize "FU.BasicAttacks"}}</div>
		<div class="item-lg">{{localize "FU.Attack"}}</div>
		<div class="item-lg">{{localize "FU.Damage"}}</div>
		{{#unless disableControls}}
			<div class="item-m end">
				<a class="item-control item-create" data-tooltip="{{localize 'FU.BasicCreate'}}" data-type="basic"><i
				 class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
			</div>
		{{/unless}}
	</li>
	{{#each basics as |item id|}}
		<li class="item draggable" data-item-id="{{ item._id }}">
			<div class="flexrow">
				{{!-- Item Name--}}
				{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
				<div class="item-lg">{{ item.attackString }}</div>
				<div class="item-lg">{{ item.damageString }}</div>
				{{#unless ../disableControls}}
					{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
				{{/unless}}
			</div>
			<span class="item-quality">{{ item.quality }}</span>
			{{> "systems/projectfu/templates/actor/partials/actor-item-description.hbs" item=item _expandedIds=_expandedIds}}
		</li>
	{{/each}}
</ol>