<section class="desc">

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.BasicAttacks"}}</div>
            <div class="item-lg">{{localize "FU.Attack"}}</div>
            <div class="item-lg">{{localize "FU.Damage"}}</div>
            <div class="item-m end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.BasicCreate'}}" data-type="basic"><i
                        class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each basics as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-lg">{{ item.attackString }}</div>
                <div class="item-lg">{{ item.damageString }}</div>
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
            <span class="item-quality">{{ item.quality }}</span>
            <div class="individual-description">
                {{#if item.system.description}}
                {{{item.enrichedHtml.description}}}
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize 'FU.Spells'}}</div>
            <div class="item-m">{{localize 'FU.Duration'}}</div>
            <div class="item-lg">{{localize 'FU.Target'}}</div>
            <div class="item-m">{{localize 'FU.MindPointCost'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" title="Create Spell" data-type="spell"> <i
                        class="fas fa-plus icon"></i>{{localize 'FU.Add'}} </a>
            </div>
        </li>
        {{#each spells as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-m">{{ item.duration }}</div>
                <div class="item-lg">{{ item.target }}</div>
                <div class="item-m">
                    <span>{{ item.mpCost }}</span>
                </div>
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
            <div class="individual-description align-left">
                {{#if item.system.description}}
                {{{item.enrichedHtml.description}}}
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.OtherAction"}}</div>
            <div class="item-full start">{{localize 'FU.Effect'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" aria-describedby="tooltip"
                    data-tooltip="{{localize 'FU.MiscCreate'}}" data-type="miscAbility">
                    <i class="fas fa-plus icon"></i>
                    {{localize 'FU.Add'}}
                </a>
            </div>
        </li>
        {{#each abilities as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow" style="height: fit-content; align-items: flex-start;">
                <div class="flexcol">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    {{#if item.system.subtype}}
                    <div class="item-quality">{{capitalize item.system.subtype.value}}</div>
                    {{/if}}
                </div>
                <div class="item-full start description-effect">
                    <p>{{ item.system.summary.value}}</p>
                </div>
                {{#if item.system.hasClock.value}}
                <div class="item-sm" style="text-align: initial;">
                    <div class="progress-container">
                        {{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
                        arr=item.progressArr
                        data=item.system.progress}}
                    </div>
                </div>
                {{/if}}
                {{!-- Resource Points --}}
                {{#if item.system.hasResource.value}}
                <div class="item-m flexcol flex-group-center resource-content">
                    <label class="item-quality resource-text-sm">{{ item.system.rp.name }}</label>
                    <div class="resource-text-m buttons-inc">
                        <a class="decrement-button" data-item-id="{{ item._id }}">-</a>
                        <span data-resource="item.rp">{{ item.progress }}</span>
                        <span>/</span>
                        <span>{{ item.system.rp.max }}</span>
                        <a class="increment-button" data-item-id="{{ item._id }}">+</a>
                    </div>
                </div>
                {{/if}}
                {{!-- Item Control--}}
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
            <span class="item-quality">{{ item.quality }}</span>
            <div class="individual-description align-left">
                {{#if item.system.description}}
                {{{item.enrichedHtml.description}}}
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.SpecialRule"}}</div>
            <div class="item-full start">{{localize 'FU.Effect'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" aria-describedby="tooltip"
                    data-tooltip="{{localize 'FU.RuleCreate'}}" data-type="rule">
                    <i class="fas fa-plus icon"></i>
                    {{localize 'FU.Add'}}
                </a>
            </div>
        </li>
        {{#each rules as |item id|}}

        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-full start tiny-desc">
                    <span class="description-effect">
                        {{#if item.system.description}}
                        {{{item.enrichedHtml.description}}}
                        {{/if}}
                    </span>
                </div>
                {{#if item.system.hasClock.value}}
                <div class="item-sm" style="text-align: initial;">
                    <div class="progress-container">
                        {{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
                        arr=item.progressArr
                        data=item.system.progress}}
                    </div>
                </div>
                {{/if}}
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
        </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Treasures"}}</div>
            <div class="item-full start">{{localize "FU.Effect"}}</div>
            <div class="item-xs">{{localize "FU.Quantity"}}</div>
            <div class="item-m end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.TreasureCreate'}}"
                    data-type="treasure"><i class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each treasures as |item id|}}
        <li class="item" data-item-id="{{ item._id }}">
            <div class="flexrow">
                {{!-- Item Name--}}
                {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                <div class="item-full start"><span class="description-effect">{{ item.quality }}</span></div>
                <div class="item-xs">{{ item.system.quantity.value }}</div>
                {{!-- Item Control--}}
                {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
            </div>
        </li>
        {{/each}}
    </ol>

</section>
{{#if actor.system.useEquipment.value}}
<section class="desc">
    {{> "systems/projectfu/templates/actor/partials/actor-npc-items.hbs" item=item}}
</section>
{{/if}}