{{#if (eq condensed "true")}}
   test
{{/if}}
{{condensed}}
<section class="body-section grid grid-4col">
    <main class="grid-span-4">
        {{>"systems/projectfu/templates/actor/partials/actor-traits.hbs"}}
        <section class="body-section grid grid-4col">
            {{#if (or (eq (getGameSetting 'optionNPCNotesTab') true) (eq actor.type "character"))}}
            <main class="grid-span-4">
                {{!-- Bond Section --}}
                {{>"systems/projectfu/templates/actor/partials/actor-bonds.hbs" bond=bond
                bondIndex=bondIndex}}
                {{!-- Enriched Description --}}
                <fieldset class="section-container title-fieldset desc resource-content">
                    <legend class="resource-label-m" aria-describedby="tooltip">
                        <a class="resource-inputs resource-label-m">
                            {{localize 'FU.BiographyInfo'}}
                        </a>
                    </legend>
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                    button=true owner=owner editable=editable }}
                </fieldset>
            </main>
            {{else}}
            <main class="grid-span-4">
                {{!-- Enriched Description --}}
                {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                button=false owner=owner editable=false }}
            </main>
            {{/if}}
        </section>
    </main>
</section>