<section class="desc affinities">
	<!-- Base Affinity Section -->
	<div class="desc-header resource-content flex-group-center">
		<label class="resource-label-l">{{localize 'FU.BaseAffinity'}}</label>
	</div>
	{{!-- Start Affinity Section --}}
	<div class="header-fields grid grid-9col" style="margin-top:10px;">
		{{#if system.affinities}}
		{{#each system.affinities as |affinity key|}}
		<div class="affinity resource-content flex-group-center flexcol">
			<label data-label="{{ affinity.label }}">
				<span class="resource-label-xl">
					<i class="{{ affinity.icon }} icon-aff"></i>
					<br />
					{{affinity.label}}
				</span>
			</label>
			<select value="{{ affinity.base }}" name="system.affinities.{{ key }}.base"
				class="resource-inputs select-dropdown" data-tooltip="{{ affinity.base }}: {{ affinity.affTypeBase }}"
				data-dtype="Number">
				{{#select affinity.base}}
				<option value="0">{{localize "FU.AffinityNormalAbbr"}}</option>
				<option value="-1">{{localize "FU.AffinityVulnurableAbbr"}}</option>
				<option value="1">{{localize "FU.AffinityResistanceAbbr"}}</option>
				<option value="2">{{localize "FU.AffinityImmuneAbbr"}}</option>
				<option value="3">{{localize "FU.AffinityAbsorptionAbbr"}}</option>
				<option value="4">{{localize "FU.AffinityRepulsionAbbr"}}</option>
				{{/select}}
			</select>
		</div>
		{{/each}}
		{{/if}}
	</div>
	{{!-- End Affinity Section --}}
</section>

<section class="grid grid-3col">
	<aside class="sidebar flex-group-center">
		<!-- Global Bonus Sidebar -->
		<div class="abilities desc flexcol">
			<div class="desc-header resource-content">
				<label class="resource-label-l">{{localize 'FU.GlobalBonuses'}}</label>
			</div>
			{{!-- Character Relevent Bonuses --}} {{#if (eq actor.type "character")}}
			<div class="flex-group-center" style="padding: 5px 0;">
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.HealthBonus'}}</label>
					<input type="text" name="system.resources.hp.bonus" value="{{ system.resources.hp.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.MindBonus'}}</label>
					<input type="text" name="system.resources.mp.bonus" value="{{ system.resources.mp.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.InventoryBonus'}}</label>
					<input type="text" name="system.resources.ip.bonus" value="{{ system.resources.ip.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.DefenseBonus'}}</label>
					<input type="text" name="system.derived.def.bonus" value="{{ system.derived.def.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.MagicDefenseBonus'}}</label>
					<input type="text" name="system.derived.mdef.bonus" value="{{ system.derived.mdef.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.InitiativeBonus'}}</label>
					<input type="text" name="system.derived.init.bonus" value="{{ system.derived.init.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.AccuracyBonus'}}</label>
					<input type="text" name="system.bonuses.accuracy.accuracyCheck" value="{{ system.bonuses.accuracy.accuracyCheck }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.MagicCheckBonus'}}</label>
					<input type="text" name="system.bonuses.accuracy.magicCheck" value="{{ system.bonuses.accuracy.magicCheck }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
			</div>
			{{/if}} {{!-- NPC Relevent Bonuses --}} {{#if (eq actor.type "npc")}}
			<div class="flex-group-center" style="padding: 5px 0;">
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.HealthBonus'}}</label>
					<input type="text" name="system.resources.hp.bonus" value="{{ system.resources.hp.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.MindBonus'}}</label>
					<input type="text" name="system.resources.mp.bonus" value="{{ system.resources.mp.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.DefenseBonus'}}</label>
					<input type="text" name="system.derived.def.bonus" value="{{ system.derived.def.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.MagicDefenseBonus'}}</label>
					<input type="text" name="system.derived.mdef.bonus" value="{{ system.derived.mdef.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.InitiativeBonus'}}</label>
					<input type="text" name="system.derived.init.bonus" value="{{ system.derived.init.bonus }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.AccuracyBonus'}}</label>
					<input type="text" name="system.bonuses.accuracy.accuracyCheck" value="{{ system.bonuses.accuracy.accuracyCheck }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
				<div class="resource-content">
					<label class="resource-label-sm">{{localize 'FU.MagicCheckBonus'}}</label>
					<input type="text" name="system.bonuses.accuracy.magicCheck" value="{{ system.bonuses.accuracy.magicCheck }}"
						data-dtype="Number" class="resource-inputs bonus" />
				</div>
			</div>

		</div>
		{{!-- NPC Skills --}}
		{{>"systems/projectfu/templates/actor/partials/actor-npc-skills.hbs" actor=actor}}
		{{/if}}
		<!-- Other Sidebar  -->
		<div class="action-container grid grid-2col">

		</div>

	</aside>

	<!-- Settings Section -->
	<div class="grid-span-2">
		<section class="align-center resource-content desc">
			<label class="desc-header flex-group-center grid grid-3col" data-label="{{localize 'FU.SheetSettings'}}">
				<span class="resource-label-l grid-start-2"><span>{{localize 'FU.SheetSettings'}}</span>
				</span>
			</label>

			{{!-- RP Points --}}
			{{>"systems/projectfu/templates/actor/partials/actor-resource-points.hbs" actor=actor}}
		</section>
		<section class="align-left resource-content desc">
			{{#if (eq actor.type "npc")}}
			<div class="form-group">
				<span class="resource-label-m" for="system.useEquipment.value">
					{{#if system.useEquipment.value}}
					<i class="fas fa-sword"></i>
					{{else}}
					<i class="far fa-sword"></i>
					{{/if}}
					<label>{{localize 'FU.UseEquipment'}}</label>
				</span>
				<div class="form-fields">
					<input class="use-equipment" type="checkbox" name="system.useEquipment.value" {{ checked
						system.useEquipment.value }} />
				</div>
				<p class="notes">This feature allows npcs to use equipment.</p>
			</div>
			{{/if}}
		</section>
	</div>
</section>