<section class="desc">
    {{!-- Equipped Item Header--}}
    {{> "systems/projectfu/templates/actor/partials/actor-equipment-slots.hbs" item=item}}

    <!-- Weapon Section -->
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Weapons"}}</div>
            <div class="item-lg">{{localize "FU.Attack"}}</div>
            <div class="item-lg">{{localize "FU.Damage"}}</div>
            <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
            <div class="item-sm end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.WeaponCreate'}}" data-type="weapon"><i
                 class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each weapons as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-lg">{{ item.attackString }}</div>
                    <div class="item-lg">{{ item.damageString }}</div>
                    {{!-- Item Equip--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item actor=actor}}
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item unarmed=item.unarmedStrike}}
                </div>

                <span class="item-quality">{{ item.quality }}</span>
                <div class="individual-description align-left">
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <!-- Shield Section -->
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name item-name-sort sortable">{{localize "FU.Shields"}}</div>
            <div class="item-xs">{{localize "FU.DefenseAbbr"}}</div>
            <div class="item-xs">{{localize "FU.MagicDefenseAbbr"}}</div>
            <div class="item-xs">{{localize "FU.InitiativeAbbr"}}</div>
            <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
            <div class="item-sm end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.ShieldCreate'}}" data-type="shield"><i
                 class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each shields as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-xs">{{ item.def }}</div>
                    <div class="item-xs">{{ item.mdef }}</div>
                    <div class="item-xs">{{ item.init }}</div>
                    {{!-- Item Equip--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item}}
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <span class="item-quality">{{ item.quality }}</span>
                <div class="individual-description align-left">
                    {{#if item.detail}}
                        <div class="item-quality align-left">
                            <strong>{{item.detail}}</strong>
                        </div>
                    {{/if}}
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <!-- Armor Section -->
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Armors"}}</div>
            <div class="item-xs">{{localize "FU.DefenseAbbr"}}</div>
            <div class="item-xs">{{localize "FU.MagicDefenseAbbr"}}</div>
            <div class="item-xs">{{localize "FU.InitiativeAbbr"}}</div>
            <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
            <div class="item-sm end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.ArmorCreate'}}" data-type="armor"><i
                 class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each armor as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-xs">{{ item.def }}</div>
                    <div class="item-xs">{{ item.mdef }}</div>
                    <div class="item-xs">{{ item.init }}</div>
                    {{!-- Item Equip--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item}}
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <span class="item-quality">{{ item.quality }}</span>
                <div class="individual-description align-left">
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <!-- Accessory Section -->
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Accessories"}}</div>
            <div class="item-xs">{{localize "FU.DefenseAbbr"}}</div>
            <div class="item-xs">{{localize "FU.MagicDefenseAbbr"}}</div>
            <div class="item-xs">{{localize "FU.InitiativeAbbr"}}</div>
            <div class="item-xs">{{localize "FU.EquipStatus"}}</div>
            <div class="item-sm end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.AccessoryCreate'}}"
                   data-type="accessory"><i class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each accessories as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-xs">{{ item.def }}</div>
                    <div class="item-xs">{{ item.mdef }}</div>
                    <div class="item-xs">{{ item.init }}</div>
                    {{!-- Item Equip--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-equip.hbs" item=item}}
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <span class="item-quality">{{ item.quality }}</span>
                <div class="individual-description align-left">
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <!-- Consumable Section -->
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Consumables"}}</div>
            <div class="item-full start">{{localize "FU.Effect"}}</div>
            <div class="item-xs">{{localize "FU.InventoryCost"}}</div>
            <div class="item-m end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.ConsumableCreate'}}"
                   data-type="consumable"><i class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each consumables as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-full start"><span class="description-effect">{{ item.quality }}</span></div>
                    <div class="item-xs">{{ item.system.ipCost.value }}</div>
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <div class="individual-description align-left">
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <!-- Treasure Section -->
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Treasures"}}</div>
            <div class="item-full start">{{localize "FU.Effect"}}</div>
            <div class="item-xs">{{localize "FU.Quantity"}}</div>
            <div class="item-m end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.TreasureCreate'}}"
                   data-type="treasure"><i class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each treasures as |item id|}}
            <li class="item" data-item-id="{{ item._id }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-full start"><span class="description-effect">{{ item.quality }}</span></div>
                    <div class="item-xs">{{ item.system.quantity.value }}</div>
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <div class="individual-description align-left">
                    {{#if item.enrichedHtml.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <!-- Basic Item Section only shown if the actor has basic items -->
    {{#if basics.length}}
        <ol class="items-list">
            <li class="item flexrow items-header">
                <div class="item-name">{{localize "FU.Basic"}}</div>
                <div class="item-full start">{{localize "FU.Effect"}}</div>
                <div class="item-xs">{{localize "FU.Quantity"}}</div>
                <div class="item-m end">
                    <a class="item-control item-create" data-tooltip="{{localize 'FU.BasicCreate'}}"
                       data-type="basic"><i
                     class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
                </div>
            </li>
            {{#each basics as |item id|}}
                <li class="item" data-item-id="{{ item._id }}">
                    <div class="flexrow">
                        {{!-- Item Name--}}
                        {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                        <div class="item-full start"><span>{{ item.quality }}</span></div>
                        <div class="item-xs">{{ item.system.quantity.value }}</div>
                        {{!-- Item Control--}}
                        {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                    </div>
                    <div class="individual-description align-left">
                        {{#if item.enrichedHtml.description}}
                            {{{item.enrichedHtml.description}}}
                        {{/if}}
                    </div>
                </li>
            {{/each}}
        </ol>
    {{/if}}

</section>