<section>
	<header class="items-main-header">
		<!-- Zenit -->
		<span class="item-sm end">
			<span class="item tab button-style zenit-style" style="width: 150px; height:20px;" data-tooltip="{{pfuGetSetting 'optionRenameCurrency'}}">
				<i class="fuk fu-zenit"></i>
				<input type="text" name="system.resources.zenit.value" value="{{ system.resources.zenit.value }}" data-dtype="Number" />
			</span>
			{{#if actor.isOwner}}
				<a class="item-control zenit-distribute" data-action="distributeZenit" data-tooltip="{{ localize 'FU.InventoryDistributeZenit' currency=(pfuGetSetting 'optionRenameCurrency')}}" aria-describedby="tooltip">
					<i class="fa fa-university button-style"></i>
				</a>
				{{#if system.merchant}}
					<a class="item-control recharge-ip" data-tooltip="{{ localize 'FU.InventoryRechargeIP' }}" aria-describedby="tooltip">
						<img class="fua" src="systems/projectfu/styles/static/compendium/classes/merchant/winds_of_trade.png" />
					</a>
				{{/if}}
			{{/if}}
		</span>

		<!-- Clear Items-->
		<span class="items-main inventory-header total-level w-25" >
			<a data-action="clearInventory" data-tooltip="{{localize 'FU.ClearItems'}}">
				<i class="icon fa fa-trash"></i>
			</a>
			<b>{{itemCount}}</b>
		</span>
	</header>

	{{{equipmentTable}}}

	{{{treasuresTable}}}

	{{{consumablesTable}}}

	{{{otherItemsTable}}}
</section>