{{!-- Features Section--}}
{{#if (eq actor.type "character")}}
<section class="desc">
	<header class="items-main-header">
		<span class="items-main">
			<label class="items-label">{{localize "FU.Features"}}</label>
		</span>
		<span class="item-create-dialog items-main total-level w-25" data-type="newClassFeatures"
			data-tooltip="{{localize 'FU.Add'}} {{localize 'FU.Feature'}}">
			<a>{{localize 'FU.Add'}} <i class="fas fa-circle-plus"></i></a>
		</span>
	</header>

	{{!-- Class Feature Sections --}}
	{{#each classFeatures}}
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize feature.translation}}</div>
			<div class="item-sm end">
				<div class="item-controls">
					<a class="item-control item-create" aria-describedby="tooltip"
						data-tooltip="{{localize 'FU.FeatureCreate' featureType=(localize feature.translation)}}"
						data-type="classFeature" data-feature-type="{{@key}}">
						<i class="fas fa-plus icon"></i>{{localize 'FU.Add'}}</a>
				</div>
			</div>
		</li>
		{{#each items }}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				{{!-- Item Name--}}
				{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
				{{> (lookup ../feature 'previewTemplate') item additionalData=additionalData item=item}}
				{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
			</div>
		</li>
		{{/each}}
	</ol>
	{{/each}}

	{{!-- Optional Feature Sections --}}
	{{#each optionalFeatures}}
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize optional.translation}}</div>
			<div class="item-sm end">
				<div class="item-controls">
					<a class="item-control item-create" aria-describedby="tooltip"
						data-tooltip="{{localize 'FU.FeatureCreate' optionalType=(localize optional.translation)}}"
						data-type="optionalFeature" data-optional-type="{{@key}}">
						<i class="fas fa-plus icon"></i>{{localize 'FU.Add'}}</a>
				</div>
			</div>
		</li>
		{{#each items }}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				{{!-- Item Name--}}
				{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
				{{> (lookup ../optional 'previewTemplate') item additionalData=additionalData item=item}}
				{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
			</div>
		</li>
		{{/each}}
	</ol>
	{{/each}}

	{{!-- Zero Powers Section--}}
	{{#if zeroPowers}}
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize 'FU.Limit'}}</div>
			<div class="item-lg">{{localize 'FU.LimitTrigger'}}</div>
			<div class="item-lg">{{localize 'FU.LimitEffect'}}</div>
			<div class="item-m">{{localize 'FU.Clock'}}</div>
			<div class="item-sm end">
				<div class="">
					<a class="" aria-describedby="tooltip" data-tooltip="Activate {{localize 'FU.Limit'}}"
						data-type="zeroPower">
						<i class="fas fa-clock icon"></i>Activate</a>
				</div>
			</div>
		</li>
		{{#each zeroPowers as |item id|}}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				{{!-- Item Name--}}
				{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
				<div class="item-lg">{{ item.zeroTrigger }}</div>
				<div class="item-lg">{{ item.zeroEffect }}</div>
				{{!-- Clocks --}}
				<div class="item-m desc" style="text-align: initial; padding: 1px;">
					<a class="decrement-button align-left" data-type="clockCounter" data-item-id="{{ item._id }}"> <i
							class="fas fa-minus"></i></a>
					<div class="progress-container">
						{{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
						arr=item.progressArr
						data=item.system.progress}}
					</div>
					<a class="increment-button align-right" data-type="clockCounter" data-item-id="{{ item._id }}"> <i
							class="fas fa-plus"></i></a>
				</div>
				{{!-- Item Control--}}
				{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
			</div>
			<div class="individual-description">
				<div class="flexrow resource-content align-center">
					<div class="flexcol">
						<label class="resource-label-l">{{ item.zeroTrigger }}</label>
						<span class="resource-text-m">
							{{#if item.system.zeroTrigger.description}}
							{{{item.enrichedHtml.zeroTrigger}}}
							{{/if}}
						</span>
					</div>

					<div class="flexcol">
						<label class="resource-label-l">{{ item.zeroEffect }}</label>
						<span class="resource-text-m">
							{{#if item.system.zeroEffect.description}}
							{{{item.enrichedHtml.zeroEffect}}}
							{{/if}}
						</span>
					</div>
				</div>
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}

	{{#if abilities}}
	{{!-- Misc Abilities Section--}}
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize 'FU.Feature'}}</div>
			<div class="item-full start">{{localize 'FU.Effect'}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip"
					data-tooltip="{{localize 'FU.MiscCreate'}}" data-type="miscAbility">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each abilities as |item id|}}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow" style="height: fit-content; align-items: flex-start;">
				<div class="flexcol">
					{{!-- Item Name--}}
					{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
					{{#if item.system.subtype}}
					<div class="item-quality">{{ item.quality }}</div>
					{{/if}}
				</div>
				<div class="item-full start description-effect">
					<p>{{ item.system.summary.value}}</p>
				</div>
				{{!-- Resource Points --}}
				{{#if item.system.hasResource.value}}
				<div class="item-m desc flexcol flex-group-center resource-content">
					<label class="item-quality resource-text-sm">{{ item.system.rp.name }}</label>
					<div class="resource-text-m buttons-inc" style="padding: 0 4px;">
						<a class="decrement-button" data-type="resourceCounter" data-item-id="{{ item._id }}"
							data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.rp.step}})">-</a>
						<span data-resource="item.rp">{{ item.system.rp.current }}</span>
						{{#if (gt item.system.rp.max 0)}}
						<span>/</span>
						<span>{{ item.system.rp.max }}</span>
						{{/if}}
						<a class="increment-button" data-type="resourceCounter" data-item-id="{{ item._id }}"
							data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.rp.step}})">+</a>
					</div>
				</div>
				{{/if}}
				{{!-- Clocks --}}
				{{#if item.system.hasClock.value}}
				<div class="item-m desc" style="text-align: initial; padding: 1px;">
					<a class="decrement-button align-left" data-type="clockCounter" data-item-id="{{ item._id }}"
						data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{item.system.progress.step}})"> <i
							class="fas fa-minus"></i></a>
					<div class="progress-container">
						{{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
						arr=item.progressArr
						data=item.system.progress}}
					</div>
					<a class="increment-button align-right" data-type="clockCounter" data-item-id="{{ item._id }}"
						data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{item.system.progress.step}})"> <i
							class="fas fa-plus"></i></a>
				</div>
				{{/if}}
				{{!-- Item Control--}}
				{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
			</div>
			<span class="item-quality"></span>
			<div class="individual-description align-left">
				{{#if item.enrichedHtml.description}}
				{{{item.enrichedHtml.description}}}
				{{/if}}
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}

	{{#if projects}}
	{{!-- Projects Section--}}
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize "FU.Projects"}}</div>
			<div class="item-progressbar">{{localize "FU.ProjectStatus"}}</div>
			<div class="item-m">{{localize "FU.Progress"}}</div>
			<div class="item-sm end">
				<a class="item-control item-create" aria-describedby="tooltip"
					data-tooltip="{{localize 'FU.ProjectCreate'}}" data-type="project">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each projects as |item id|}}
		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				{{!-- Item Name--}}
				{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
				{{!-- Progress Bar --}}
				<div class="item-progressbar">
					<div class="bar bar-progress">
						<div class="bar-progress-bar bar-project"
							style="width: {{calculatePercentage item.system.progress.current item.system.progress.max}};">
						</div>
						<span class="bar-value"></span>
					</div>
				</div>
				{{!-- Progress Counter --}}
				<div class="item-m desc flexcol flex-group-center resource-content"
					style="padding: 0px; border-radius: 6px 12px 12px 6px;">
					<div class="resource-text-m buttons-inc">
						<a class="decrement-button" data-type="projectCounter" data-item-id="{{ item._id }}"
							data-tooltip="{{localize 'FU.DecreaseTooltip'}} ({{system.progressPerDay.value}})">-</a>
						<span data-resource="item.rp">{{ item.system.progress.current }}</span>
						<span>/</span>
						<span>{{ item.system.progress.max }}</span>
						<a class="increment-button" data-type="projectCounter" data-item-id="{{ item._id }}"
							data-tooltip="{{localize 'FU.IncreaseTooltip'}} ({{system.progressPerDay.value}})">+</a>
					</div>
				</div>
				{{!-- Item Control--}}
				{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
			</div>
			<span>{{ item.quality }}</span>
			<div class="individual-description align-left">
				{{#if item.enrichedHtml.description}}
				{{{item.enrichedHtml.description}}}
				{{/if}}
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}

	{{#if rules}}
	<ol class="items-list">
		<li class="item flexrow items-header">
			<div class="item-name">{{localize "FU.SpecialRule"}}</div>
			<div class="item-full start">{{localize 'FU.Effect'}}</div>
			<div class="item-m end">
				<a class="item-control item-create" aria-describedby="tooltip"
					data-tooltip="{{localize 'FU.RuleCreate'}}" data-type="rule">
					<i class="fas fa-plus icon"></i>
					{{localize 'FU.Add'}}
				</a>
			</div>
		</li>
		{{#each rules as |item id|}}

		<li class="item" data-item-id="{{ item._id }}">
			<div class="flexrow">
				{{!-- Item Name--}}
				{{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
				<div class="item-full start tiny-desc">
					<span class="description-effect">
						{{#if item.system.description}}
						{{{item.enrichedHtml.description}}}
						{{/if}}
					</span>
				</div>
				{{!-- Clocks --}}
				{{#if item.system.hasClock.value}}
				<div class="item-m desc" style="text-align: initial; padding: 1px;">
					<a class="decrement-button align-left" data-type="clockCounter" data-item-id="{{ item._id }}"> <i
							class="fas fa-minus"></i></a>
					<div class="progress-container">
						{{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
						arr=item.progressArr
						data=item.system.progress}}
					</div>
					<a class="increment-button align-right" data-type="clockCounter" data-item-id="{{ item._id }}"> <i
							class="fas fa-plus"></i></a>
				</div>
				{{/if}}
				{{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
			</div>
		</li>
		{{/each}}
	</ol>
	{{/if}}
</section>
{{/if}}