<section class="desc">

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.BasicAttacks"}}</div>
            <div class="item-lg">{{localize "FU.Attack"}}</div>
            <div class="item-lg">{{localize "FU.Damage"}}</div>
            <div class="item-m end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.BasicCreate'}}" data-type="basic"><i
                 class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each basics as |item id|}}
            <li class="item" data-item-id="{{ item._id }}" data-uuid="{{ item.uuid }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-lg">{{ item.attackString }}</div>
                    <div class="item-lg">{{ item.damageString }}</div>
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <span class="item-quality">{{ item.quality }}</span>
                <div class="individual-description">
                    {{#if item.system.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <!-- Skill Item Section only shown if the actor has skill items -->
    {{#if skills.length}}
    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize 'FU.Skills'}}</div>
            <div class="item-lg">{{localize 'FU.SkillLevel'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" aria-describedby="tooltip"
                   data-tooltip="{{localize 'FU.SkillCreate'}}" data-type="skill">
                    <i class="fas fa-plus icon"></i>
                    {{localize 'FU.Add'}}
                </a>
            </div>
        </li>
        {{#each skills as |item id|}}
            <li class="item" data-item-id="{{ item._id }}" data-uuid="{{ item.uuid }}">
                <div class="flexrow" style="height: fit-content; align-items: flex-start;">
                    <div class="flexcol">
                        {{!-- Item Name--}}
                        {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                        {{#if item.quality}}
                            <div class="item-quality">{{ item.quality }}</div>
                        {{/if}}
                    </div>
                    {{!-- Resource Points --}}
                    {{#if item.system.hasResource.value}}
                        <div class="item-m flexcol flex-group-center resource-content">
                            <label class="item-quality resource-text-sm" style="flex-grow: 2;">{{ item.system.rp.name }}</label>
                            <div class="resource-text-m buttons-inc" style="padding: 0 4px;">
                                <a class="decrement-button" data-type="resourceCounter"
                                   data-item-id="{{ item._id }}">-</a>
                                <span data-resource="item.rp">{{ item.system.rp.current }}</span>
                                {{#if (gt item.system.rp.max 0)}}
                                    <span>/</span>
                                    <span>{{ item.system.rp.max }}</span>
                                {{/if}}

                                <a class="increment-button" data-type="resourceCounter"
                                   data-item-id="{{ item._id }}">+</a>
                            </div>
                        </div>
                    {{/if}}
                    {{!-- Star Tracker--}}
                    <div class="skillLevel item-lg sl-stars">
                        {{#each item.skillArr as |level|}}
                            <div class="star-radio-container">
                                <input type="radio" name="skillLevel_{{ item._id }}"
                                       id="skillLevel_{{ item._id }}_{{ level.id }}" value="{{ level.id }}" {{#if
                                        level.checked}}checked{{/if}} data-item-id="{{ item._id }}"
                                       class="hidden-radio">
                                <label for="skillLevel_{{ item._id }}_{{ level.id }}"
                                       class="star-label {{#if
                                        (lte level.id item.system.level.value)}} fus-sl-star {{else}}ful-sl-star{{/if}}"></label>
                            </div>
                        {{/each}}
                    </div>
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <div class="individual-description align-left">
                    {{#if item.system.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>
    {{/if}}

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize 'FU.Spells'}}</div>
            <div class="item-m">{{localize 'FU.Duration'}}</div>
            <div class="item-lg">{{localize 'FU.Target'}}</div>
            <div class="item-m">{{localize 'FU.MindPointCost'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" title="Create Spell" data-type="spell"> <i
                 class="fas fa-plus icon"></i>{{localize 'FU.Add'}} </a>
            </div>
        </li>
        {{#each spells as |item id|}}
            <li class="item" data-item-id="{{ item._id }}" data-uuid="{{ item.uuid }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-m">{{capitalize item.duration }}</div>
                    <div class="item-lg">{{capitalize item.target }}</div>
                    <div class="item-m">
                        <span>{{ item.mpCost }}</span>
                    </div>
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <div class="individual-description align-left {{#unless (inArray _id _expandedIds)}}hidden{{/unless}}">
                    {{#if item.system.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.OtherAction"}}</div>
            <div class="item-full start">{{localize 'FU.Effect'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" aria-describedby="tooltip"
                   data-tooltip="{{localize 'FU.MiscCreate'}}" data-type="miscAbility">
                    <i class="fas fa-plus icon"></i>
                    {{localize 'FU.Add'}}
                </a>
            </div>
        </li>
        {{#each abilities as |item id|}}
            <li class="item" data-item-id="{{ item._id }}" data-uuid="{{ item.uuid }}">
                <div class="flexrow" style="height: fit-content; align-items: flex-start;">
                    <div class="flexcol">
                        {{!-- Item Name--}}
                        {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    </div>
                    <div class="item-full start tiny-desc">
                    <span class="description-effect">
                        {{#if item.system.description}}
                            {{{item.enrichedHtml.description}}}
                        {{/if}}
                    </span>
                    </div>

                    {{!-- Resource Points --}}
                    {{#if item.system.hasResource.value}}
                        <div class="item-m inline-desc flexcol flex-group-center resource-content"  style="padding: 0">
                            <label class="item-quality resource-text-sm" style="flex-grow: 2;">{{ item.system.rp.name }}</label>
                            <div class="resource-text-m buttons-inc" style="padding: 0 4px;">
                                <a class="decrement-button" data-type="resourceCounter"
                                   data-item-id="{{ item._id }}">-</a>
                                <span data-resource="item.rp">{{ item.system.rp.current }}</span>
                                {{#if (gt item.system.rp.max 0)}}
                                    <span>/</span>
                                    <span>{{ item.system.rp.max }}</span>
                                {{/if}}
                                <a class="increment-button" data-type="resourceCounter"
                                   data-item-id="{{ item._id }}">+</a>
                            </div>
                        </div>
                    {{/if}}
                    {{!-- Clocks --}}
                    {{#if item.system.hasClock.value}}
                        <div class="item-m inline-desc" style="text-align: initial; padding: 2px;">
                            <a class="decrement-button align-left" data-type="clockCounter"
                               data-item-id="{{ item._id }}"> <i
                             class="fas fa-minus"></i></a>
                            <div class="progress-container">
                                {{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
                                 arr=item.progressArr
                                 data=item.system.progress}}
                            </div>
                            <a class="increment-button align-right" data-type="clockCounter"
                               data-item-id="{{ item._id }}"> <i
                             class="fas fa-plus"></i></a>
                        </div>
                    {{/if}}
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
                <span class="item-quality">{{ item.quality }}</span>
                <div class="individual-description align-left {{#unless (inArray _id _expandedIds)}}hidden{{/unless}}">
                    {{#if item.system.description}}
                        {{{item.enrichedHtml.description}}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.SpecialRule"}}</div>
            <div class="item-full start">{{localize 'FU.Effect'}}</div>
            <div class="item-m end">
                <a class="item-control item-create" aria-describedby="tooltip"
                   data-tooltip="{{localize 'FU.RuleCreate'}}" data-type="rule">
                    <i class="fas fa-plus icon"></i>
                    {{localize 'FU.Add'}}
                </a>
            </div>
        </li>
        {{#each rules as |item id|}}

            <li class="item" data-item-id="{{ item._id }}" data-uuid="{{ item.uuid }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-full start tiny-desc">
                    <span class="description-effect">
                        {{#if item.system.description}}
                            {{{item.enrichedHtml.description}}}
                        {{/if}}
                    </span>
                    </div>
                    {{!-- Clocks --}}
                    {{#if item.system.hasClock.value}}
                        <div class="item-m inline-desc" style="text-align: initial; padding: 1px;">
                            <a class="decrement-button align-left" data-type="clockCounter"
                               data-item-id="{{ item._id }}"> <i
                             class="fas fa-minus"></i></a>
                            <div class="progress-container">
                                {{> "systems/projectfu/templates/actor/partials/actor-progress-clock.hbs"
                                 arr=item.progressArr
                                 data=item.system.progress}}
                            </div>
                            <a class="increment-button align-right" data-type="clockCounter"
                               data-item-id="{{ item._id }}"> <i
                             class="fas fa-plus"></i></a>
                        </div>
                    {{/if}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
            </li>
        {{/each}}
    </ol>

    <ol class="items-list">
        <li class="item flexrow items-header">
            <div class="item-name">{{localize "FU.Treasures"}}</div>
            <div class="item-full start">{{localize "FU.Summary"}}</div>
            <div class="item-xs">{{localize "FU.Quantity"}}</div>
            <div class="item-m end">
                <a class="item-control item-create" data-tooltip="{{localize 'FU.TreasureCreate'}}"
                   data-type="treasure"><i class="fas fa-plus icon"></i>{{localize "FU.Add"}}</a>
            </div>
        </li>
        {{#each treasures as |item id|}}
            <li class="item" data-item-id="{{ item._id }}" data-uuid="{{ item.uuid }}">
                <div class="flexrow">
                    {{!-- Item Name--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-item-name.hbs" item=item}}
                    <div class="item-full start"><span class="description-effect">{{ item.quality }}</span></div>
                    <div class="item-xs">{{ item.system.quantity.value }}</div>
                    {{!-- Item Control--}}
                    {{> "systems/projectfu/templates/actor/partials/actor-control.hbs" item=item}}
                </div>
            </li>
        {{/each}}
    </ol>

</section>
{{#if actor.system.useEquipment.value}}
    <section class="desc">
        {{> "systems/projectfu/templates/actor/partials/actor-npc-items.hbs" item=item}}
    </section>
{{/if}}
