<label class="fu-rule-element__property">
	<span>{{localize 'FU.CheckResult'}}</span>
	<select name="{{pfuConcat path ".result"}}">
		<option value="">-</option>
		{{selectOptions options.checkResult selected=trigger.result localize=true}}
	</select>
</label>

<label class="fu-rule-element__property">
	<span>{{localize 'FU.Outcome'}}</span>
	<select name="{{pfuConcat path ".outcome"}}">
		<option value="">-</option>
		{{selectOptions options.checkOutcome selected=trigger.outcome localize=true}}
	</select>
</label>