<div class="fu-form__property">
	<span>{{localize 'FU.ItemGroup'}}</span>
	{{formGroup trigger.schema.fields.itemGroups value=trigger.itemGroups options=options.itemGroupOptions name=(pfuConcat path ".itemGroups") classes="fu-form__set stacked"}}
</div>

<label class="fu-form__property">
	<span>{{localize 'FU.DamageType'}}</span>
	{{formGroup trigger.schema.fields.damageTypes value=trigger.damageTypes options=options.damageTypeOptions name=(pfuConcat path ".damageTypes") classes="fu-form__set stacked"}}
</label>

<div class="fu-form__property-row">
	<div class="fu-form__property">
		<span>{{localize 'FU.Local'}}</span>
		{{formGroup trigger.schema.fields.local value=trigger.local name=(pfuConcat path ".local") }}
	</div>

	<label class="fu-form__property">
		<span>{{localize 'FU.Identifier'}}</span>
		<input type="text" name={{pfuConcat path ".identifier"}} value="{{ trigger.identifier }}" />
	</label>
</div>
