{{ log "Context" this }}
<label class="fu-form__property">
	<span>{{localize 'FU.Identifier'}}</span>
	<input type="text" name="{{pfuConcat path ".identifier"}}" value="{{ trigger.identifier }}" />
</label>

<div class="fu-form__property-row">
	<label class="fu-form__property">
		<span>{{localize 'FU.ComparisonOperator'}}</span>
		<select name="{{pfuConcat path ".comparisonOperator"}}">
			<option value="">-</option>
			{{selectOptions trigger.schema.fields.comparisonOperator.choices selected=trigger.comparisonOperator sort=true localize=true}}
		</select>
	</label>

	<label class="fu-form__property">
		<span>{{localize 'FU.Value'}}</span>
		<input type="number" name="{{pfuConcat path ".value"}}" value="{{ trigger.value }}" />
	</label>
</div>