<div class="fu-rule-element__property">
	<span>{{localize 'FU.CheckType'}}</span>
	{{formGroup trigger.schema.fields.checkTypes value=trigger.checkTypes options=options.checkTypeOptions name=(pfuConcat path ".checkTypes") classes="fu-rule-element__set stacked"}}
</div>

<div class="fu-rule-element__property">
	<span>{{localize 'FU.ItemGroup'}}</span>
	{{formGroup trigger.schema.fields.itemGroups value=trigger.itemGroups options=options.itemGroupOptions name=(pfuConcat path ".itemGroups") classes="fu-rule-element__set stacked"}}
</div>

<label class="fu-rule-element__property">
	<span>{{localize 'FU.Identifier'}}</span>
	<input type="text" name={{pfuConcat path ".identifier"}} value="{{ trigger.identifier }}" />
</label>

<div class="fu-rule-element__property">
	<span>{{localize 'FU.Local'}}</span>
	{{formGroup trigger.schema.fields.local value=trigger.local name=(pfuConcat path ".local") }}
</div>