<header class="title-desc chat-header flexrow invocation-message">
    <a data-link draggable="true" data-uuid="{{uuid}}" data-type="Item" data-tooltip="{{name}}">
        <i class="invocation-icon {{icon}} flexshrink item-img" data-item-id="{{id}}"></i>
    </a>
    <h2 style="flex-grow: 8;">{{name}}</h2>

    <a class="universal-toggle fu-tags flexrow gap-5" style="align-items:end;"
       data-tooltip="{{localize 'FU.ChatMessageShow'}}">
        <span class="fu-tag button" style="padding: 5px;">
            <i class="fas fa-chevron-up toggle-icon"></i>
        </span>
    </a>
</header>
