<div class="resource-content">
    <div class="item-settings desc">
        <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ClockStatus'}}">
            <span>
                {{#if system.data.hasClock.value}}
                <i class="fas fa-clock"></i>
                {{else}}
                <i class="far fa-clock"></i>
                {{/if}}
            </span><input type="checkbox" name="system.data.hasClock.value" {{ checked system.data.hasClock.value }} />
        </label>
        <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ResourceStatus'}}">
            <span>
                {{#if system.data.hasResource.value}}
                <i class="fas fa-hashtag"></i>
                {{else}}
                <i class="far fa-hashtag"></i>
                {{/if}}
            </span><input type="checkbox" name="system.data.hasResource.value" {{ checked system.data.hasResource.value
                }} />
        </label>
    </div>
    <div class="title-fieldset grid-2col">
        {{!-- Item Settings --}}

        {{!-- Resource Points --}}
        {{> "systems/projectfu/templates/optional/partials/feature-resource-points-sheet.hbs"}}

        {{!-- Clocks --}}
        {{> "systems/projectfu/templates/optional/partials/feature-progress-clock-sheet.hbs"}}

        <fieldset class="title-fieldset section-container desc resource-content grid-span-2">
            <div>
                <label class='resource-label-m'>
                    {{localize 'FU.Description'}}
                </label>
				<prose-mirror name="system.data.description" value="{{system.data.description}}" toggled>
					{{{enrichedHtml.description}}}
				</prose-mirror>
			</div>
        </fieldset>
    </div>
</div>