<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
	{{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		
		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/projectfu/templates/item/partials/item-effects.hbs"}}
		</div>

		{{!-- Description Tab --}}
		<div class="tab desc" data-group="primary" data-tab="description">{{editor enrichedHtml.description
			target="system.description" rollData=rollData button=true owner=owner editable=editable}}</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">

			<section class="grid" style="gap: 5px;">

				{{!-- General Info Section --}}
				<fieldset class="title-fieldset desc resource-content grid-span-2">

					{{!-- Item Controls --}}
					<div class="item-settings resource-content">
						{{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
						<label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ClockStatus'}}">
							<span>
								{{#if item.system.hasClock.value}}
								<i class="fas fa-clock"></i>
								{{else}}
								<i class="far fa-clock"></i>
								{{/if}}
							</span><input type="checkbox" name="system.hasClock.value" {{ checked system.hasClock.value
								}} />
						</label>
						<label class="checkbox resource-label-sm"> <span>{{localize 'FU.IsRoll'}}</span><input
								type="checkbox" name="system.hasRoll.value" {{ checked system.hasRoll.value }} />
						</label>
						<label class="checkbox resource-label-sm"> <span>{{localize 'FU.hasCollateral'}}</span><input
								type="checkbox" name="system.rollInfo.impdamage.hasImpDamage.value" {{ checked
								system.rollInfo.impdamage.hasImpDamage.value }} /> </label>
					</div>

					<div class="grid grid-3col">
						<div class="resource-content flexcol flex-group-center">
							<label for="system.rollInfo.attributes.primary.value" class="resource-label-sm">{{localize
								'FU.Primary'}} </label>
							<select value="{{ system.rollInfo.attributes.primary.value }}"
								name="system.rollInfo.attributes.primary.value" class="resource-inputs select-dropdown">
								{{selectOptions attrAbbr selected=system.rollInfo.attributes.primary.value sort=true
								localize=true}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label for="system.rollInfo.attributes.secondary.value" class="resource-label-sm">{{localize
								'FU.Secondary'}} </label>
							<select value="{{ system.rollInfo.attributes.secondary.value }}"
								name="system.rollInfo.attributes.secondary.value"
								class="resource-inputs select-dropdown">
								{{selectOptions attrAbbr selected=system.rollInfo.attributes.secondary.value sort=true
								localize=true}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-sm">{{localize 'FU.AccuracyBonus'}}</label>
							<input type="text" name="system.rollInfo.accuracy.value"
								value="{{ system.rollInfo.accuracy.value }}" class="resource-inputs"
								data-dtype="Number" />
						</div>
					</div>

					<div class="grid grid-3col">
						<div class="resource-content flexcol flex-group-center">
							<label for="system.rollInfo.impdamage.impType.value"
								class="resource-label-sm flexlarge align-left">{{localize
								'FU.DamageTypeCollateral'}}</label>
							<select value="{{ system.rollInfo.impdamage.impType.value }}"
								name="system.rollInfo.impdamage.impType.value"
								class="resource-inputs select-dropdown-m">
								{{#select system.rollInfo.impdamage.impType.value}}
								<option value="minor">Minor</option>
								<option value="heavy">Heavy</option>
								<option value="massive">Massive</option>
								{{/select}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label for="system.rollInfo.impdamage.type.value"
								class="resource-label-sm flexlarge align-left">{{localize 'FU.DamageType'}} </label>
							<select value="{{ system.rollInfo.impdamage.type.value }}"
								name="system.rollInfo.impdamage.type.value" class="resource-inputs select-dropdown-m">
								{{selectOptions damageTypes selected=system.rollInfo.impdamage.type.value
								blank='Untyped'
								sort=true localize=true}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-sm">{{localize 'FU.DamageBonus'}}</label>
							<input type="text" name="system.rollInfo.damage.value"
								value="{{ system.rollInfo.damage.value }}" class="resource-inputs" data-dtype="Number"
								disabled />
						</div>
					</div>

					<div class="grid grid-2col">
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-sm">{{localize 'FU.Potency'}}</label>
							<select class="resource-inputs select-dropdown-m" value="{{ system.potency.value }}"
								name="system.potency.value">
								{{#select system.potency.value}}
								<option value="minor">Minor</option>
								<option value="medium">Medium</option>
								<option value="major">Major</option>
								<option value="extreme">Extreme</option>
								{{/select}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-sm">{{localize 'FU.Area'}}</label>
							<select class="resource-inputs select-dropdown-m" value="{{ system.area.value }}"
								name="system.area.value">
								{{#select system.area.value}}
								<option value="individual">Individual</option>
								<option value="small">Small</option>
								<option value="large">Large</option>
								<option value="huge">Huge</option>
								{{/select}}
							</select>
						</div>
					</div>

					<div class="grid grid-3col">
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-sm">{{localize 'FU.MindPointCost'}}</label>
							<input type="text" name="system.mpCost.value" value="{{ system.mpCost.value }}" disabled />
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-sm">{{localize 'FU.DL'}}</label>
							<input type="text" name="system.dLevel.value" value="{{ system.dLevel.value }}" disabled />
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-sm">{{localize 'FU.Clock'}}</label>
							<input type="text" name="system.clock.value" value="{{ system.clock.value }}" disabled />
						</div>
					</div>
				</fieldset>

				{{!-- Clocks --}}
				{{#if system.hasClock.value}}
				<fieldset class="title-fieldset desc resource-content">
					<legend>
						<label class="resource-label-m"></i>{{localize 'FU.Clocks'}}</label>
					</legend>
					<div class="grid grid-3col">
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Current'}}</label>
							<input type="number" name="system.progress.current" value="{{ system.progress.current }}"
								class="resource-inputs select-dropdown-m" />
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Step'}}</label>
							<input type="number" name="system.progress.step" value="{{ system.progress.step }}"
								class="resource-inputs select-dropdown-m" />
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Max'}}</label>
							<input type="number" name="system.progress.max" value="{{ system.progress.max }}"
								class="resource-inputs select-dropdown-m" />
						</div>
					</div>
				</fieldset>
				{{/if}}

			</section>
		</div>
	</section>
</form>