<form class="{{ cssClass }} h-100" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs"}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">{{localize 'FU.Description'}}</a>
                <a class="item" data-tab="attributes">{{localize 'FU.Attributes'}}</a>
                <a class="item" data-tab="effects">{{localize 'FU.Effects'}}</a>
            </nav>

            {{!-- Sheet Body --}}
            <section class="sheet-body">
                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    <fieldset class="desc title-fieldset resource-content">
                        <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                            {{localize 'FU.Description'}}
                            <i class="fas fa-info-circle"></i>
                        </label>
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                    button=true owner=owner editable=editable }}
                    </fieldset>
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">{{!-- As you add new fields, add them in
                    here! --}}</div>
            </section>
        </div>
    </div>
</form>