<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
	{{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab" data-group="primary" data-tab="description">
			<div class="grid grid-2col desc flex-group-left resource-content" style="align-items:baseline; gap: 5px;">
				{{!-- Zero Trigger --}}
				<div class="resource-content quarter-desc">
					<input type="text" name="system.zeroTrigger.value" value="{{ system.zeroTrigger.value }}"
						data-dtype="String" placeholder="{{localize 'FU.LimitTrigger'}}"
						class="resource-label-m resource-inputs select-dropdown-full" />
					{{editor enrichedHtml.zeroTrigger target="system.zeroTrigger.description"
					rollData=rollData button=true owner=owner editable=editable}}
				</div>
				{{!-- Zero Effect (2 columns) --}}
				<div class="resource-content quarter-desc">
					<input type="text" name="system.zeroEffect.value" value="{{ system.zeroEffect.value }}"
						data-dtype="String" placeholder="{{localize 'FU.LimitEffect'}}"
						class="resource-label-m resource-inputs select-dropdown-full" />
					{{editor enrichedHtml.zeroEffect target="system.zeroEffect.description" rollData=rollData
					button=true owner=owner editable=editable}}
				</div>
			</div>
		</div>
		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes"></div>
	</section>
</form>