<form class="{{ cssClass }} h-100 backgroundstyle" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Body --}}
            <section class="sheet-body">

                {{!-- Effects Tab --}}
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
                </div>

                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    <fieldset class="desc title-fieldset resource-content">
                        <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                            {{localize 'FU.Description'}}
                            <i class="fas fa-info-circle"></i>
                        </label>
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                    button=true owner=owner editable=editable }}
                    </fieldset>
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">

                    <section class="grid grid-2col gap-5">

                        {{!-- General Info Section --}}
                        <fieldset class="title-fieldset desc resource-content grid-span-2">

                            {{!-- Item Controls --}}
                            <div class="item-settings">
                                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
                                <label class="checkbox resource-label-sm"> <span>{{localize "FU.HRZeroStatus"}}</span><input
                                        type="checkbox" name="system.rollInfo.useWeapon.hrZero.value" {{ checked
                                        system.rollInfo.useWeapon.hrZero.value }} /> </label>
                            </div>

                            <div class="grid grid-3col">
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.type.value" class="resource-label-m flexlarge align-left">{{localize
                                        'FU.DefenseAbbr'}}
                                    </label>
                                    <span>
                                        {{#if (eq item.type "armor")}}
                                        <select name="system.attributes.primary.value" class="resource-inputs select-dropdown"
                                            {{#if system.isMartial.value}}disabled{{/if}}>
                                            {{selectOptions attrAbbr selected=system.attributes.primary.value blank='-'
                                            sort=true localize=true}}
                                        </select>
                                        {{/if}}
                                        <input type="number" name="system.def.value" value="{{ system.def.value }}"
                                            data-dtype="Number" class="resource-inputs select-dropdown-sm" />
                                    </span>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.type.value" class="resource-label-m flexlarge align-left">{{localize
                                        'FU.MagicDefenseAbbr'}}</label>
                                    <span>
                                        {{#if (eq item.type "armor")}}
                                        <select name="system.attributes.secondary.value"
                                            class="resource-inputs select-dropdown">
                                            {{selectOptions attrAbbr selected=system.attributes.secondary.value blank='-'
                                            sort=true localize=true}}
                                        </select>
                                        {{/if}}
                                        <input type="number" name="system.mdef.value" value="{{ system.mdef.value }}"
                                            data-dtype="Number" class="resource-inputs select-dropdown-sm" />
                                    </span>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.hands.value" class="resource-label-m flexlarge align-left">{{localize
                                        'FU.InitiativeAbbr'}}</label>
                                    <input type="number" name="system.init.value" value="{{ system.init.value }}"
                                        data-dtype="Number" class="resource-inputs select-dropdown-sm" />
                                </div>
                            </div>
                            <div class="grid grid-4col">
                                <div class="resource-content flexcol grid-span-3 flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Quality'}}</label>
                                    <input type="text" name="system.quality.value" value="{{ system.quality.value }}"
                                        class="resource-inputs select-dropdown-full grid-span-4" />
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Cost'}}</label>
                                    <input type="number" name="system.cost.value" value="{{ system.cost.value }}"
                                        data-dtype="Number" class="resource-inputs select-dropdown-m" />
                                </div>
                            </div>
                        </fieldset>
                        {{!-- Behavior Field --}}
                        {{> "systems/projectfu/templates/item/partials/item-behavior-field.hbs"}}
                    </section>
                </div>
            </section>
        </div>
    </div>
</form>