<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
	{{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab desc" data-group="primary" data-tab="description">{{editor enrichedHtml.description
			target="system.description" rollData=rollData button=true owner=owner editable=editable}}</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">

			<section class="grid grid-2col" style="gap: 5px;">

				{{!-- General Info Section --}}
				<fieldset class="title-fieldset desc resource-content grid-span-2">

					{{!-- Item Controls --}}
					<div class="item-settings">
						{{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
						<label class="checkbox resource-label-sm"> <span>{{localize 'FU.HRZeroStatus'}}</span><input
								type="checkbox" name="system.rollInfo.useWeapon.hrZero.value" {{ checked
								system.rollInfo.useWeapon.hrZero.value }} /> </label>
						<label class="checkbox resource-label-sm"> <span>{{localize 'FU.IsMartial'}}</span><input
								type="checkbox" name="system.isMartial.value" {{ checked system.isMartial.value }} />
						</label>
						<label class="checkbox resource-label-sm"> <span>{{localize 'FU.CustomWeapon'}}</span><input
								type="checkbox" name="system.isCustomWeapon.value" {{ checked
								system.isCustomWeapon.value }} />
						</label>
					</div>

					<div class="grid grid-4col">
						<div class="resource-content flexcol grid-span-3 flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Quality'}}</label>
							<input type="text" name="system.quality.value" value="{{ system.quality.value }}"
								class="resource-inputs select-dropdown-full grid-span-4" />
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Cost'}}</label>
							<input type="number" name="system.cost.value" value="{{ system.cost.value }}"
								data-dtype="Number" class="resource-inputs select-dropdown-m" />
						</div>
					</div>
				</fieldset>

				{{!-- Accuracy Section --}}
				<fieldset class="title-fieldset desc resource-content">
					<legend class="resource-label-full">
						<label class="resource-label-m"><i class="fas fa-dice icon"></i>{{localize
							'FU.Accuracy'}}</label>
					</legend>
					<div class="grid grid-3col">
						<div class="resource-content flexcol flex-group-center">
							<label for="system.attributes.primary.value" class="resource-label-m">{{localize
								'FU.Primary'}} </label>
							<select value="{{ system.attributes.primary.value }}" name="system.attributes.primary.value"
								class="resource-inputs select-dropdown">
								{{selectOptions attrAbbr selected=system.attributes.primary.value sort=true
								localize=true}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label for="system.attributes.secondary.value" class="resource-label-m">{{localize
								'FU.Secondary'}} </label>
							<select value="{{ system.attributes.secondary.value }}"
								name="system.attributes.secondary.value" class="resource-inputs select-dropdown">
								{{selectOptions attrAbbr selected=system.attributes.secondary.value sort=true
								localize=true}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
							<input type="number" name="system.accuracy.value" value="{{ system.accuracy.value }}"
								class="resource-inputs" data-dtype="Number" />
						</div>
					</div>
				</fieldset>

				{{!-- Damage Section --}}
				<fieldset class="title-fieldset desc resource-content">
					<legend class="resource-label-full">
						<label class="resource-label-m"><i class="fas fa-bullseye icon"></i>{{localize
							'FU.Damage'}}</label>
					</legend>
					<div class="grid grid-2col">
						<div class="resource-content flexcol flex-group-center">
							<label for="system.damageType.value" class="resource-label-m flexlarge">{{localize
								'FU.DamageType'}} </label>
							<select value="{{ system.damageType.value }}" name="system.damageType.value"
								class="resource-inputs select-dropdown-m">
								{{selectOptions damageTypes selected=system.damageType.value blank='Untyped' sort=true
								localize=true}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
							<input type="number" name="system.damage.value" value="{{ system.damage.value }}"
								class="resource-inputs" data-dtype="Number" />
						</div>
					</div>
				</fieldset>
				{{!-- Behavior Field --}}
				{{> "systems/projectfu/templates/item/partials/item-behavior-field.hbs"}}
			</section>
		</div>
	</section>
</form>