<form class="{{ cssClass }} h-100 backgroundstyle" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Body --}}
            <section class="sheet-body">

                {{!-- Effects Tab --}}
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="description">

                    <section class="grid grid-2col gap-5">

                        {{!-- General Info Section --}}
                        <fieldset class="title-fieldset desc resource-content grid-span-2">

                            {{!-- Item Controls --}}
                            <div class="item-settings resource-content">
                                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" dtypes=dtypes}}
                            </div>

                            <div class="grid grid-4col">
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.BehaviorWeight'}}</label>
                                    <input type="number" name="system.weight.value" value="{{ system.weight.value }}"
                                        data-dtype="Number" class="resource-inputs select-dropdown-m" />
                                </div>
                            </div>
                        </fieldset>

                        {{!-- Description Tab --}}
                        <fieldset class="grid-span-2 desc flex-between title-fieldset resource-content">
                            <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                                {{localize 'FU.Description'}}
                                <i class="fas fa-info-circle"></i>
                            </label>
                        {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                        button=true owner=owner editable=editable }}
                        </fieldset>
                    </section>
                </div>
            </section>
        </div>
    </div>
</form>