<form class="{{ cssClass }} h-100" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs"}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Body --}}
            <section class="sheet-body">

                {{!-- Effects Tab --}}
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
                </div>

                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    <fieldset class="desc title-fieldset resource-content">
                        <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                            {{localize 'FU.Description'}}
                            <i class="fas fa-info-circle"></i>
                        </label>
                        {{editor enrichedHtml.description target="system.description" engine="prosemirror"
                                 rollData=rollData button=true owner=owner editable=editable }}
                    </fieldset>
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">

                    <section class="grid gap-5">

                        {{!-- General Info Section --}}
                        <fieldset class="title-fieldset desc resource-content grid-span-2">

                            {{!-- Item Controls --}}
                            <div class="item-settings resource-content">
                                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
                                <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ClockStatus'}}">
                                    <span>
                                        {{#if item.system.hasClock.value}}
                                            <i class="fas fa-clock"></i>
                                        {{else}}
                                            <i class="far fa-clock"></i>
                                        {{/if}}
                                    </span>
                                    <input type="checkbox" name="system.hasClock.value" {{ checked system.hasClock.value }} />
                                </label>
                                <label class="checkbox resource-label-sm"> <span>{{localize 'FU.IsRoll'}}</span><input
                                 type="checkbox" name="system.hasRoll.value" {{ checked system.hasRoll.value }} />
                                </label>
                            </div>

                            <div class="grid grid-3col">
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.attributes.primary" class="resource-label-sm">
                                        {{localize 'FU.Primary'}}
                                    </label>
                                    <select name="system.attributes.primary" class="resource-inputs select-dropdown">
                                        {{selectOptions attrAbbr selected=system.attributes.primary sort=true localize=true}}
                                    </select>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.attributes.secondary" class="resource-label-sm">
                                        {{localize 'FU.Secondary'}}
                                    </label>
                                    <select name="system.attributes.secondary" class="resource-inputs select-dropdown">
                                        {{selectOptions attrAbbr selected=system.attributes.secondary sort=true localize=true}}
                                    </select>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-sm">{{localize 'FU.MagicCheckBonus'}}</label>
                                    <input type="number" name="system.modifier" value="{{ system.modifier }}" class="resource-inputs" />
                                </div>
                            </div>

                            <div class="grid grid-2col">
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-sm">{{localize 'FU.Potency'}}</label>
                                    <select class="resource-inputs select-dropdown-m" name="system.potency.value">
                                        {{selectOptions FU.potency selected=system.potency.value localize=true}}
                                    </select>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-sm">{{localize 'FU.Area'}}</label>
                                    <select class="resource-inputs select-dropdown-m" name="system.area.value">
                                        {{selectOptions FU.area selected=system.area.value localize=true}}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="grid grid-2col">
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-sm">{{localize 'FU.MindPointCost'}}</label>
                                    <input type="text" value="{{ system.mpCost.value }}" disabled />
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-sm">{{localize 'FU.DL'}}</label>
                                    <input type="text" value="{{ system.dLevel.value }}" disabled />
                                </div>
                            </div>
                        </fieldset>

                        {{!-- Clocks --}}
                        {{#if system.hasClock.value}}
                            <fieldset class="title-fieldset desc resource-content">
                                <legend>
                                    <label class="resource-label-m">{{localize 'FU.Clock'}}</label>
                                </legend>
                                <div class="grid grid-2col">
                                    <div class="resource-content flexcol flex-group-center">
                                        <label class="resource-label-m">{{localize 'FU.Current'}}</label>
                                        <input type="number" name="system.progress.current" value="{{ system.progress.current }}" max="{{ system.progress.max }}" class="resource-inputs select-dropdown-m" />
                                    </div>
                                    <div class="resource-content flexcol flex-group-center">
                                        <label class="resource-label-m">{{localize 'FU.Max'}}</label>
                                        <input type="number" value="{{ system.progress.max }}" class="resource-inputs select-dropdown-m" disabled>
                                    </div>
                                </div>
                            </fieldset>
                        {{/if}}

                    </section>
                </div>
            </section>
        </div>
    </div>
</form>