<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
	{{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/projectfu/templates/item/partials/item-effects.hbs"}}
		</div>

		{{!-- Description Tab --}}
		<div class="tab desc" data-group="primary" data-tab="description">
			{{editor enrichedHtml.description target="system.description" engine="prosemirror" button=true}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">

			{{!-- General Info Section --}}
			<fieldset class="title-fieldset desc resource-content grid-span-2">

				{{!-- Item Controls --}}
				<div class="item-settings">
					{{> "systems/projectfu/templates/item/partials/item-controls.hbs" dtypes=dtypes}}
				</div>

				<div class="resource-content flex-row">
					<div class="resource-content flexcol flex-group-center">
						<label class="resource-label-m">{{localize 'FU.Requirements'}}</label>
						<input type="text" name="system.requirement.value" value="{{ system.requirement.value }}"
							class="resource-inputs select-dropdown-full grid-span-4" />
					</div>
					<div class="flex-group-center resource-content flexrow">
						<label class="resource-label-m">{{localize 'FU.Benefits'}}</label>
						{{#each system.benefits.resources as |benefit key|}}
						<label class="checkbox">
							<span class="resource-label-sm">{{localize (translate key)}}</span>
							<input type="checkbox" name="system.benefits.resources.{{ key }}.value" {{ checked
								benefit.value }} />
						</label>
						{{/each}}
					</div>
				</div>
			</fieldset>
		</div>
	</section>
</form>