<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
	{{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		
		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="description">

			<section class="grid grid-2col" style="gap: 5px;">

				{{!-- General Info Section --}}
				<fieldset class="title-fieldset desc resource-content grid-span-2">

					{{!-- Item Controls --}}
					<div class="item-settings resource-content">
						{{> "systems/projectfu/templates/item/partials/item-controls.hbs" dtypes=dtypes}}
					</div>

					<div class="grid grid-4col">
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize "FU.InventoryCost"}}</label>
							<input type="number" name="system.ipCost.value" value="{{ system.ipCost.value }}"
								data-dtype="Number" class="resource-inputs select-dropdown-m" />
						</div>

						{{#if (and (eq actor.type "npc") system.isBehavior.value)}}
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.BehaviorWeight'}}</label>
							<input type="number" name="system.weight.value" value="{{ system.weight.value }}"
								data-dtype="Number" class="resource-inputs select-dropdown-m" />
						</div>
						{{/if}}

					</div>
				</fieldset>

				{{!-- Description Section --}}
				<div class="grid-span-2 desc flex-between">
					<div class="quarter-desc">{{editor enrichedHtml.description target="system.description"
						rollData=rollData
						button=true owner=owner editable=editable}}</div>
				</div>

			</section>
		</div>
	</section>
</form>