<form class="{{ cssClass }} h-100" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs"}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Body --}}
            <section class="sheet-body">

                {{!-- Effects Tab --}}
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
                </div>

                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    <fieldset class="desc title-fieldset resource-content">
                        <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                            {{localize 'FU.Description'}}
                            <i class="fas fa-info-circle"></i>
                        </label>
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                    button=true owner=owner editable=editable }}
                    </fieldset>
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes resource-content" data-group="primary" data-tab="attributes">

                    <div class="grid grid-2col gap-5">

                        {{!-- Global Info --}}
                        <fieldset class="title-fieldset desc grid-span-2	">

                            {{!-- Item Settings --}}
                            <div class="item-settings">
                                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
                                <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ClockStatus'}}">
                                    <span>
                                        {{#if item.system.hasClock.value}}
                                            <i class="fas fa-clock"></i>
                                        {{else}}
                                            <i class="far fa-clock"></i>
                                        {{/if}}
                                    </span>
                                    <input type="checkbox" name="system.hasClock.value" {{ checked system.hasClock.value }} />
                                </label>
                                <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ResourceStatus'}}">
                                    <span>
                                        {{#if item.system.hasResource.value}}
                                            <i class="fas fa-hashtag"></i>
                                        {{else}}
                                            <i class="far fa-hashtag"></i>
                                        {{/if}}
                                    </span>
                                    <input type="checkbox" name="system.hasResource.value" {{ checked system.hasResource.value }} />
                                </label>

                                <label class="checkbox resource-label-sm">
                                    <span>{{localize 'FU.HRZeroStatus'}}</span>
                                    <input type="checkbox" name="system.damage.hrZero" {{ checkedsystem.damage.hrZero }} />
                                </label>
                            </div>

                            <div class=" flexcol flex-group-center">
                                <label class="resource-label-m">{{localize 'FU.Opportunity'}}</label>
                                <input type="text" name="system.opportunity" value="{{ system.opportunity }}"
                                    class="resource-inputs select-dropdown-full grid-span-4" />
                            </div>
                        </fieldset>

                        {{!-- Accuracy --}}
                        {{> "systems/projectfu/templates/item/partials/item-accuracy-section.hbs" }}

                        {{!-- Damage --}}
                        {{> "systems/projectfu/templates/item/partials/item-damage-section.hbs" }}

                        {{!-- Resource Pointts --}}
                        {{> "systems/projectfu/templates/item/partials/item-resource-points.hbs"}}

                        {{!-- Action Cost --}}
                        {{> "systems/projectfu/templates/item/partials/item-action-cost.hbs"}}

                        {{!-- Targeting  --}}
                        {{> "systems/projectfu/templates/item/partials/item-targeting.hbs"}}

                        {{!-- Clocks --}}
                        {{> "systems/projectfu/templates/item/partials/item-progress-clock.hbs"}}

                        {{!-- Behavior Field --}}
                        {{> "systems/projectfu/templates/item/partials/item-behavior-field.hbs"}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>