<form class="{{ cssClass }} h-100" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs" showOffensive=true}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Body --}}
            <section class="sheet-body">

                {{!-- Main Attributes --}}
                <section class="resource-content summary gap-5 desc mb-5">
                    <label class="resource-label-sm" style="position: sticky;" for="system.summary.value"> <i
                            class="fas fa-chart-simple icon"></i>{{localize
                        'FU.AttributesKey'}}
                    </label>
                    <div class="grid grid-4col">
                        <div class="resource-content flexcol flex-group-center">
                            <label class="resource-label-m">{{localize 'FU.Duration'}}</label>
                            <select class="resource-inputs select-dropdown-l" name="system.duration.value">
                                {{selectOptions FU.duration selected=system.duration.value sort=true localize=true }}
                            </select>
                        </div>
                    </div>
                </section>
                {{!-- Effects Tab --}}
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
                </div>

                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    <fieldset class="desc title-fieldset resource-content">
                        <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                            {{localize 'FU.Description'}}
                            <i class="fas fa-info-circle"></i>
                        </label>
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                    button=true owner=owner editable=editable }}
                    </fieldset>
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">

                    <section class="grid grid-2col gap-5">

                        {{!-- General Info Section --}}
                        <fieldset class="title-fieldset desc resource-content grid-span-2">

                            {{!-- Item Controls --}}
                            <div class="item-settings">
                                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
                                <label class="checkbox resource-label-sm"> <span>{{localize 'FU.HRZeroStatus'}}</span><input
                                        type="checkbox" name="system.rollInfo.useWeapon.hrZero.value" {{ checked
                                        system.rollInfo.useWeapon.hrZero.value }} /> </label>
                                <label class="checkbox resource-label-sm"> <span>{{localize 'FU.IsOffensive'}}</span><input
                                        type="checkbox" name="system.isOffensive.value" {{ checked system.isOffensive.value
                                        }} />
                                </label>
                            </div>

                            <div class="grid grid-4col">
                                <div class="resource-content flexcol flex-group-center grid-span-3">
                                    <label class="resource-label-m">{{localize 'FU.Opportunity'}}</label>
                                    <input type="text" name="system.opportunity" value="{{ system.opportunity }}"
                                        class="resource-inputs select-dropdown-full" />
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Class'}}</label>
                                    <input type="text" name="system.class.value" value="{{ system.class.value }}"
                                        class="resource-inputs select-dropdown-l" />
                                </div>
                            </div>
                        </fieldset>

                        {{!-- Accuracy Section --}}
                        <fieldset class="title-fieldset desc resource-content">
                            <legend class="resource-label-full">
                                <label class="resource-label-m"><i class="fas fa-dice icon"></i>{{localize
                                    'FU.Accuracy'}}</label>
                            </legend>

                            <div class="item-settings">
                                <label class="checkbox resource-label-m"> <span>{{localize 'FU.HasAccuracy'}}</span><input
                                        type="checkbox" name="system.hasRoll.value" {{ checked system.hasRoll.value }} />
                                </label>
                            </div>

                            <div class="grid grid-3col">
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.rollInfo.attributes.primary.value" class="resource-label-m">{{localize
                                        'FU.Primary'}} </label>
                                    <select name="system.rollInfo.attributes.primary.value"
                                        class="resource-inputs select-dropdown">
                                        {{selectOptions attrAbbr selected=system.rollInfo.attributes.primary.value sort=true
                                        localize=true}}
                                    </select>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.rollInfo.attributes.secondary.value" class="resource-label-m">{{localize
                                        'FU.Secondary'}} </label>
                                    <select name="system.rollInfo.attributes.secondary.value"
                                        class="resource-inputs select-dropdown">
                                        {{selectOptions attrAbbr selected=system.rollInfo.attributes.secondary.value sort=true
                                        localize=true}}
                                    </select>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
                                    <input type="number" name="system.rollInfo.accuracy.value"
                                        value="{{ system.rollInfo.accuracy.value }}" class="resource-inputs"
                                        data-dtype="Number" />
                                </div>
                            </div>
                        </fieldset>

                        {{!-- Damage Section --}}
                        <fieldset class="title-fieldset desc resource-content">
                            <legend class="resource-label-full">
                                <label class="resource-label-m"><i class="fas fa-dice icon"></i>{{localize
                                    'FU.Damage'}}</label>
                            </legend>

                            <div class="item-settings">
                                <label class="checkbox resource-label-m"> <span>{{localize 'FU.HasDamage'}}</span><input
                                        type="checkbox" name="system.rollInfo.damage.hasDamage.value" {{ checked
                                        system.rollInfo.damage.hasDamage.value }} /> </label>
                            </div>

                            <div class="grid grid-2col">
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.rollInfo.damage.type.value" class="resource-label-m flexlarge">{{localize
                                        'FU.DamageType'}} </label>
                                    <select name="system.rollInfo.damage.type.value" class="resource-inputs select-dropdown-m">
                                        {{selectOptions damageTypes selected=system.rollInfo.damage.type.value sort=true
                                        localize=true}}
                                    </select>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
                                    <input type="number" name="system.rollInfo.damage.value"
                                        value="{{ system.rollInfo.damage.value }}" class="resource-inputs"
                                        data-dtype="Number" />
                                </div>
                            </div>
                        </fieldset>
                        {{!-- Behavior Field --}}
                        {{> "systems/projectfu/templates/item/partials/item-behavior-field.hbs"}}
                        {{!-- Action Cost --}}
                        {{> "systems/projectfu/templates/item/partials/item-action-cost.hbs"}}
                        {{!-- Targeting  --}}
                        {{> "systems/projectfu/templates/item/partials/item-targeting.hbs"}}
                    </section>
                </div>
            </section>
        </div>
    </div>
</form>