<form class="{{ cssClass }} h-100" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs"}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Body --}}
            <section class="sheet-body">

                {{!-- Effects Tab --}}
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
                </div>

                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">
                    <fieldset class="desc title-fieldset resource-content">
                        <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                            {{localize 'FU.Description'}}
                            <i class="fas fa-info-circle"></i>
                        </label>
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                    button=true owner=owner editable=editable }}
                    </fieldset>
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes resource-content" data-group="primary" data-tab="attributes">

                    <div class="grid grid-2col gap-5">

                        {{!-- Global Info --}}
                        <fieldset class="title-fieldset desc grid-span-2	">

                            {{!-- Item Settings --}}
                            <div class="item-settings">
                                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
                                <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ClockStatus'}}">
                                    <span>
                                        {{#if item.system.hasClock.value}}
                                            <i class="fas fa-clock"></i>
                                        {{else}}
                                            <i class="far fa-clock"></i>
                                        {{/if}}
                                    </span>
                                    <input type="checkbox" name="system.hasClock.value" {{ checked system.hasClock.value }} />
                                </label>
                                <label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ResourceStatus'}}">
                                    <span>
                                        {{#if item.system.hasResource.value}}
                                            <i class="fas fa-hashtag"></i>
                                        {{else}}
                                            <i class="far fa-hashtag"></i>
                                        {{/if}}
                                    </span>
                                    <input type="checkbox" name="system.hasResource.value" {{ checked system.hasResource.value }} />
                                </label>

                                <label class="checkbox resource-label-sm">
                                    <span>{{localize 'FU.HRZeroStatus'}}</span>
                                    <input type="checkbox" name="system.damage.hrZero" {{ checkedsystem.damage.hrZero }} />
                                </label>
                            </div>

                            <div class=" flexcol flex-group-center">
                                <label class="resource-label-m">{{localize 'FU.Opportunity'}}</label>
                                <input type="text" name="system.opportunity" value="{{ system.opportunity }}"
                                    class="resource-inputs select-dropdown-full grid-span-4" />
                            </div>
                        </fieldset>

                        {{!-- Accuracy --}}
                        <fieldset class="title-fieldset desc ">
                            <legend>
                                <label class="resource-label-m"><i class="fas fa-dice icon"></i>{{localize
                                'FU.Accuracy'}}</label>
                            </legend>
                            <div class="item-settings  flex-group-center">
                                <label class="checkbox resource-label-sm">
                                    <span>{{localize 'FU.HasAccuracy'}}</span>
                                    <input type="checkbox" name="system.hasRoll.value" {{ checked system.hasRoll.value }} />
                                </label>
                                |
                                <label class="checkbox resource-label-sm">
                                    <span>{{localize 'FU.UseWeaponAccuracy'}}</span>
                                    <input type="checkbox" name="system.useWeapon.accuracy" {{ checked system.useWeapon.accuracy }} {{disabled (not system.hasRoll.value)}} />
                                </label>
                            </div>

                            <div class="grid grid-3col">
                                <div class=" flexcol flex-group-center">
                                    <label for="system.attributes.primary" class="resource-label-m">{{localize 'FU.Primary'}}</label>
                                    <select name="system.attributes.primary" class="resource-inputs select-dropdown" {{disabled (or (not system.hasRoll.value) system.useWeapon.accuracy) }}>
                                        {{#if system.useWeapon.accuracy}}
                                            {{selectOptions attrAbbr selected='' blank='-' sort=true localize=true}}
                                        {{else}}
                                            {{selectOptions attrAbbr selected=system.attributes.primary sort=true localize=true}}
                                        {{/if}}
                                    </select>
                                </div>
                                <div class=" flexcol flex-group-center">
                                    <label for="system.attributes.secondary" class="resource-label-m">{{localize 'FU.Secondary'}}</label>
                                    <select name="system.attributes.secondary" class="resource-inputs select-dropdown" {{disabled (or (not system.hasRoll.value) system.useWeapon.accuracy) }}>
                                        {{#if system.useWeapon.accuracy}}
                                            {{selectOptions attrAbbr selected='' blank='-' sort=true localize=true}}
                                        {{else}}
                                            {{selectOptions attrAbbr selected=system.attributes.secondary sort=true localize=true}}
                                        {{/if}}
                                    </select>
                                </div>
                                <div class=" flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
                                    <input type="number" name="system.accuracy" value="{{ system.accuracy }}" class="resource-inputs" {{disabled (not system.hasRoll.value)}}/>
                                </div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label for="system.defense" class="resource-label-m flexlarge align-left">{{localize 'FU.Defense'}}</label>
                                    <select name="system.defense" class="resource-inputs select-dropdown-m" {{disabled (not system.useWeapon.accuracy)}}>
                                        {{selectOptions defenses selected=system.defense sort=true localize=true labelAttr="abbr" blank="-"}}
                                    </select>
                                </div>
                            </div>
                        </fieldset>

                        {{!-- Damage --}}
                        <fieldset class="title-fieldset desc ">
                            <legend>
                                <label class="resource-label-m"><i class="fas fa-dice icon"></i>{{localize 'FU.Damage'}}</label>
                            </legend>
                            <div class="item-settings  flex-group-center">
                                <label class="checkbox resource-label-sm">
                                    <span>{{localize 'FU.HasDamage'}}</span>
                                    <input type="checkbox" name="system.damage.hasDamage" {{ checked system.damage.hasDamage }} {{disabled (not system.useWeapon.accuracy)}} />
                                </label>
                                <label class="checkbox resource-label-sm">
                                    <span>{{localize 'FU.UseWeaponDamage'}}</span>
                                    <input type="checkbox" name="system.useWeapon.damage" {{ checked system.useWeapon.damage }} {{disabled (not system.damage.hasDamage)}} />
                                </label>
                            </div>
                            <div class="grid grid-2col">
                                <div class=" flexcol flex-group-center">
                                    <label class="resource-label-m flexlarge">{{localize 'FU.DamageType'}}</label>
                                    <select name="system.damage.type" class="resource-inputs select-dropdown-m" {{disabled (not system.damage.hasDamage)}}>
                                        {{#if system.useWeapon.damage}}
                                            {{selectOptions damageTypes selected=system.damage.type blank='-' sort=true localize=true}}
                                        {{else}}
                                            {{selectOptions damageTypes selected=system.damage.type sort=true localize=true}}
                                        {{/if}}
                                    </select>
                                </div>
                                <div class=" flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
                                    <input type="number" name="system.damage.value" value="{{ system.damage.value }}" class="resource-inputs" {{disabled (not system.damage.hasDamage)}} />
                                </div>
                            </div>
                        </fieldset>

                        {{!-- Resource Pointts --}}
                        {{> "systems/projectfu/templates/item/partials/item-resource-points.hbs"}}

                        {{!-- Action Cost --}}
                        {{> "systems/projectfu/templates/item/partials/item-action-cost.hbs"}}

                        {{!-- Targeting  --}}
                        {{> "systems/projectfu/templates/item/partials/item-targeting.hbs"}}

                        {{!-- Clocks --}}
                        {{> "systems/projectfu/templates/item/partials/item-progress-clock.hbs"}}

                        {{!-- Behavior Field --}}
                        {{> "systems/projectfu/templates/item/partials/item-behavior-field.hbs"}}
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>