<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
    {{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
        </div>

        {{!-- Description Tab --}}
        <div class="tab desc resource-content" data-group="primary" data-tab="description">
            <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                {{localize 'FU.Description'}}
                <i class="fas fa-info-circle"></i>
            </label>
            {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                     button=true owner=owner editable=editable }}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">

            <section class="grid grid-2col gap-5">

                {{!-- General Info Section --}}
                <fieldset class="title-fieldset desc resource-content grid-span-2">

                    {{!-- Item Controls --}}
                    <div class="item-settings">
                        {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
                        <label class="checkbox resource-label-sm"> <span>{{localize 'FU.HRZeroStatus'}}</span><input
                         type="checkbox" name="system.rollInfo.useWeapon.hrZero.value" {{ checked
                             system.rollInfo.useWeapon.hrZero.value }} /> </label>
                        <label class="checkbox resource-label-sm"> <span>{{localize 'FU.IsMartial'}}</span><input
                         type="checkbox" name="system.isMartial.value" {{ checked system.isMartial.value }} />
                        </label>
                        <label class="checkbox resource-label-sm"> <span>{{localize 'FU.CustomWeapon'}}</span><input
                         type="checkbox" name="system.isCustomWeapon.value" {{ checked
                             system.isCustomWeapon.value }} />
                        </label>
                    </div>

                    <div class="grid grid-4col">
                        <div class="resource-content flexcol grid-span-3 flex-group-center">
                            <label class="resource-label-m">{{localize 'FU.Quality'}}</label>
                            <input type="text" name="system.quality.value" value="{{ system.quality.value }}"
                                   class="resource-inputs select-dropdown-full grid-span-4" />
                        </div>
                        <div class="resource-content flexcol flex-group-center">
                            <label class="resource-label-m">{{localize 'FU.Cost'}}</label>
                            <input type="number" name="system.cost.value" value="{{ system.cost.value }}"
                                   data-dtype="Number" class="resource-inputs select-dropdown-m" />
                        </div>
                    </div>
                </fieldset>

                {{!-- Accuracy Section --}}
                <fieldset class="title-fieldset desc resource-content">
                    <legend class="resource-label-full">
                        <label class="resource-label-m"><i class="fas fa-dice icon"></i>{{localize
                         'FU.Accuracy'}}</label>
                    </legend>
                    <div class="grid grid-5col gap-5">
                        <label class="grid-span-2 resource-label-m flex-group-center">
                            {{localize 'FU.Attributes'}}
                            <div class="resource-content flexrow flex-group-center gap-2">
                                <select name="system.attributes.primary.value"
                                        class="resource-inputs select-dropdown-m resource-text-m">
                                    {{selectOptions attrAbbr selected=system.attributes.primary.value sort=true
                                                    localize=true}}
                                </select>
                                <span class="flex0">+</span>
                                <select name="system.attributes.secondary.value"
                                        class="resource-inputs select-dropdown-m resource-text-m">
                                    {{selectOptions attrAbbr selected=system.attributes.secondary.value sort=true
                                                    localize=true}}
                                </select>
                            </div>
                        </label>
                        <label class="grid-span-1 resource-label-m flex-group-center">
                            {{localize 'FU.Bonus'}}
                            <div class="resource-content flexcol flex-group-center">
                                <input type="number" name="system.accuracy.value" value="{{ system.accuracy.value }}"
                                       class="resource-inputs resource-text-m" />
                            </div>
                        </label>
                        <label class="grid-span-2 resource-label-m flex-group-center">
                            {{localize 'FU.Defense'}}
                            <div class="resource-content flexrow flex-group-center">
                                <select name="system.defense" class="resource-inputs select-dropdown-m resource-text-m">
                                    {{selectOptions defenses selected=system.defense sort=true localize=true
                                                    labelAttr="abbr"}}
                                </select>
                            </div>
                        </label>
                    </div>
                </fieldset>

                {{!-- Damage Section --}}
                <fieldset class="title-fieldset desc resource-content">
                    <legend class="resource-label-full">
                        <label class="resource-label-m"><i class="fas fa-bullseye icon"></i>{{localize
                         'FU.Damage'}}</label>
                    </legend>
                    <div class="grid grid-2col">
                        <div class="resource-content flexcol flex-group-center">
                            <label for="system.damageType.value" class="resource-label-m flexlarge">{{localize
                             'FU.DamageType'}} </label>
                            <select name="system.damageType.value"
                                    class="resource-inputs select-dropdown-m">
                                {{selectOptions damageTypes selected=system.damageType.value sort=true localize=true}}
                            </select>
                        </div>
                        <div class="resource-content flexcol flex-group-center">
                            <label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
                            <input type="number" name="system.damage.value" value="{{ system.damage.value }}"
                                   class="resource-inputs" data-dtype="Number" />
                        </div>
                    </div>
                </fieldset>
                {{!-- Behavior Field --}}
                {{> "systems/projectfu/templates/item/partials/item-behavior-field.hbs"}}
            </section>
        </div>
    </section>
</form>