<form class="{{ cssClass }} backgroundstyle" autocomplete="off">

    <header class="sheet-header desc">
        <div class="combine-header">
            <img class="profile-img" src="{{ item.img }}" data-edit="img" title="{{ item.name }}"
                 style="height: 133px; width: auto; flex: 0;" />
            <div class="header-fields">
                <div class="header-start grid grid-6col">
                    <div class="charname-container flexrow grid-span-4">
                        <h2 class="charname" style="flex: 4;">
                            <input name="name" type="text" value="{{ item.name }}" placeholder="Name"
                                   data-tooltip="{{ item.name }}" class="resource-inputs-charname auto-shrink" />
                        </h2>
                    </div>

                    {{!-- Part --}}
                    <span class="flexrow grid-span-2"
                          style="gap: 2px; border-bottom: 2px solid; border-image: linear-gradient(to right, #bfb4c5, #e6e2e8) 1; border-left: rgb(255, 173, 200) 3px solid;">

					{{!-- Item Type --}}
                        <span class="resource-content levelup-container flexcol flex-group-center">
						<label class="resource-label-m" for="item.type"> <i
                         class="fa-solid fa-chart-simple icon"></i>{{localize 'FU.ItemType'}}</label>
						<input type="text" name="item.type" value="{{localize (translate item.type)}}"
                               data-dtype="String"
                               class="resource-inputs" disabled style="border-radius: 0 12px 0 0;" />
					</span>

                        {{!-- Source --}}
                        <span class="resource-content levelup-container flexcol flex-group-center"
                              style="border-top-right-radius: 12px;">
						<label class="resource-label-m rollable" data-action="pdfLink"> <i
                         class="fa-solid fa-book icon"></i>{{localize 'FU.Source'}} </label>
						<input type="text" name="system.source" value="{{ system.source }}"
                               data-dtype="String" style="border-radius: 12px 0 0;"
                               class="resource-inputs" />
					</span>
				</span>
                </div>

                {{!-- Center Header --}}
                <div class="item-header header-field header-center grid grid-3col desc"
                     style="border-radius: 0 0 12px 0; padding: 9px">
                    <div class="resource-content summary grid-span-3">
                        <label class="resource-label-sm" for="system.summary.value"> <i
                         class="fa-solid fa-chart-simple icon"></i>{{localize 'FU.Summary'}} </label>
                        <blockquote>
                            <input type="text" name="system.summary.value" value="{{ system.summary.value }}"
                                   class="flex-group-center resource-inputs summary"
                                   data-tooltip="{{ system.summary.value }}" /></blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-3col w-100">
            {{!-- Sub Type --}}
            <span class="resource-content flexcol flex-group-center desc">
			<label class="resource-label-sm" for="item.type">
                <i class="fa-solid fa-chart-simple icon"></i>
                {{localize 'FU.SubType'}}
            </label>
            <span>
				<select type="select" name="system.featureType" class="resource-inputs select-dropdown-l">
                    {{selectOptions features selected=system.featureType labelAttr='translation' localize=true}}
                </select>
			</span>
		</span>

            {{!-- Sheet Tab Navigation --}}
            <nav class="sheet-tabs tabs desc flexrow grid-span-2" data-group="primary" style="align-self: stretch;">
                <a class="item tab-style" data-tab="description">{{localize 'FU.Description'}}</a>
                <a class="item tab-style" data-tab="attributes">{{localize 'FU.Attributes'}}</a>
                <a class="item tab-style" data-tab="effects">{{localize 'FU.Effects'}}</a>
            </nav>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="description" data-feature-content >
            {{#if featureTemplate}}
                {{> (lookup this 'featureTemplate') }}
            {{/if}}
        </div>
    </section>
</form>