<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
    {{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab desc" data-group="primary" data-tab="description">{{editor system.description
            target="system.description" rollData=rollData button=true owner=owner editable=editable}}</div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="item-settings resource-content">
                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
            </div>

            <section class="flex1 flex-group-center desc">
                <div class="desc-header resource-content">
                    <label class="resource-label-m">{{localize 'FU.GeneralInfo'}}</label>
                </div>
                <div class="resource-content card-style">
                    <div class="flex-group-left resource-content">
                        <label class="resource-label-l flexcol">{{localize 'FU.Benefits'}}</label>

                        {{#each system.benefits.resources as |benefit key|}}

                        <label class="checkbox"> <span class="resource-label-sm">{{localize (translate key)}}</span><input
                                type="checkbox" name="system.benefits.resources.{{ key }}.value" {{ checked
                                benefit.value }} />
                        </label>
                        {{/each}}

                    </div>
                    <div class="flex-group-left resource-content">
                        <label class="resource-label-l flexcol">{{localize 'FU.BenefitMartial'}}</label>

                        {{#each system.benefits.martials as |benefit key|}}
                        <label class="checkbox"> <span class="resource-label-sm">{{localize (translate key)}}</span><input
                                type="checkbox" name="system.benefits.martials.{{ key }}.value" {{ checked benefit.value
                                }} />
                        </label>
                        {{/each}}

                    </div>
                    <div class="flex-group-left resource-content">
                        <label class="resource-label-l flexcol">{{localize 'FU.BenefitRitual'}}</label>

                        {{#each system.benefits.rituals as |benefit key|}}
                        <label class="checkbox"> <span class="resource-label-sm">{{localize (translate key)}}</span><input
                                type="checkbox" name="system.benefits.rituals.{{ key }}.value" {{ checked benefit.value
                                }} />
                        </label>
                        {{/each}}

                    </div>
                </div>
            </section>
        </div>
    </section>
</form>