<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
	{{> "systems/fabulaultima/templates/item/partials/item-header.hbs" dtypes=dtypes}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		<div class="tab desc" data-group="primary" data-tab="description">{{editor system.description
			target="system.description" rollData=rollData button=true owner=owner editable=editable}}</div>
		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="item-settings resource-content">
				{{> "systems/fabulaultima/templates/item/partials/item-controls.hbs" actor=actor}}
				<label class="checkbox resource-label-sm"> <span>{{localize 'FU.HRZeroStatus'}}</span><input
						type="checkbox" name="system.rollInfo.useWeapon.hrZero.value" {{ checked
						system.rollInfo.useWeapon.hrZero.value }} /> </label>
			</div>

			<section class="flex1 flex-group-center desc">
				<div class="desc-header resource-content">
					<label class="resource-label-m">{{localize 'FU.GeneralInfo'}}</label>
				</div>

				<div class="grid grid-4col card-style">
					<div class="resource-content flexcol flex-group-center">
						<label for="system.type.value" class="resource-label-m flexlarge align-left">{{localize
							'FU.ItemType'}}</label>
						<select value="{{ system.type.value }}" name="system.type.value"
							class="resource-inputs select-dropdown-m">
							{{#select system.type.value}}
							<option value="melee">Melee</option>
							<option value="ranged">Ranged</option>
							{{/select}}
						</select>
					</div>
					<div class="resource-content flexcol flex-group-center card-style grid-span-3">
						<label class="resource-label-m">{{localize 'FU.Special'}}</label>
						<input type="text" name="system.special.value" value="{{ system.special.value }}"
							class="resource-inputs select-dropdown-full" />
					</div>
				</div>
			</section>

			<section class="grid grid-2col">
				<section class="flex1 flex-group-center desc flex-row">
					<div class="desc-header resource-content">
						<label class="resource-label-m"><i class="fas fa-dice icon"></i>{{localize
							'FU.Accuracy'}}</label>
					</div>
					<div class="grid grid-3col card-style">
						<div class="resource-content flexcol flex-group-center">
							<label for="system.attributes.primary.value" class="resource-label-m">{{localize
								'FU.Primary'}} </label>
							<select value="{{ system.attributes.primary.value }}" name="system.attributes.primary.value"
								class="resource-inputs select-dropdown">
								{{#select system.attributes.primary.value}}
								<option value="dex">DEX</option>
								<option value="ins">INS</option>
								<option value="mig">MIG</option>
								<option value="wlp">WLP</option>
								{{/select}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label for="system.attributes.secondary.value" class="resource-label-m">{{localize
								'FU.Secondary'}} </label>
							<select value="{{ system.attributes.secondary.value }}"
								name="system.attributes.secondary.value" class="resource-inputs select-dropdown">
								{{#select system.attributes.secondary.value}}
								<option value="dex">DEX</option>
								<option value="ins">INS</option>
								<option value="mig">MIG</option>
								<option value="wlp">WLP</option>
								{{/select}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
							<input type="number" name="system.accuracy.value" value="{{ system.accuracy.value }}"
								class="resource-inputs" data-dtype="Number" />
						</div>
					</div>
				</section>

				<section class="flex2 flex-group-center desc">
					<div class="desc-header resource-content">
						<label class="resource-label-m"><i class="fas fa-bullseye icon"></i>{{localize 'FU.Damage'}}
							{{#if system.isMartial.value}}
							<span class="is-martial">✦</span>
							{{/if}}
						</label>
					</div>
					<div class="grid grid-2col card-style">
						<div class="resource-content flexcol flex-group-center">
							<label for="system.rollInfo.impdamage.type.value"
								class="resource-label-m flexlarge">{{localize 'FU.DamageType'}} </label>
							<select value="{{ system.damageType.value }}" name="system.damageType.value"
								class="resource-inputs select-dropdown-m">
								{{#select system.damageType.value}}
								<option value="">Untyped</option>
								<option value="physical">Physical</option>
								<option value="air">Air</option>
								<option value="bolt">Bolt</option>
								<option value="dark">Dark</option>
								<option value="earth">Earth</option>
								<option value="fire">Fire</option>
								<option value="ice">Ice</option>
								<option value="light">Light</option>
								<option value="poison">Poison</option>
								{{/select}}
							</select>
						</div>
						<div class="resource-content flexcol flex-group-center">
							<label class="resource-label-m">{{localize 'FU.Bonus'}}</label>
							<input type="number" name="system.damage.value" value="{{ system.damage.value }}"
								class="resource-inputs" data-dtype="Number" />
						</div>
					</div>
				</section>
			</section>

			{{#if (and (eq actor.type "npc") system.isBehavior.value)}}
			<section class="flex1 flex-group-center desc">
				<div class="desc-header resource-content">
					<label class="resource-label-m">{{localize 'FU.OptionalFeats'}}</label>
				</div>
				<div class="grid grid-4col card-style">
					<div class="resource-content flexcol flex-group-center">
						<label class="resource-label-m">{{localize 'FU.BehaviorWeight'}}</label>
						<input type="number" name="system.weight.value" value="{{ system.weight.value }}"
							data-dtype="Number" class="resource-inputs select-dropdown-m" />
					</div>
				</div>
			</section>
			{{/if}}
		</div>
	</section>
</form>