<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
    {{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Effects Tab --}}
        <div class="tab effects" data-group="primary" data-tab="effects">
            {{> "systems/projectfu/templates/item/partials/item-effects.hbs"}}
        </div>

        {{!-- Description Tab --}}
        <div class="tab desc" data-group="primary" data-tab="description">
            {{editor enrichedHtml.description target="system.description" engine="prosemirror" button=true}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">

            {{!-- General Info Section --}}
            <fieldset class="title-fieldset desc resource-content grid-span-2">

                {{!-- Item Controls --}}
                <div class="item-settings resource-content">
                    {{> "systems/projectfu/templates/item/partials/item-controls.hbs" dtypes=dtypes}}
                </div>

                {{!-- Class Benefits --}}
                <div class="resource-content">

                    <div class="flex-group-left resource-content">
                        <label class="resource-label-l flexcol">{{localize 'FU.Benefits'}}</label>
                        {{#each system.benefits.resources as |benefit key|}}
                        <label class="checkbox"> <span class="resource-label-sm">{{localize (translate
                                key)}}</span><input type="checkbox" name="system.benefits.resources.{{ key }}.value" {{
                                checked benefit.value }} />
                        </label>
                        {{/each}}
                    </div>

                    <div class="flex-group-left resource-content">
                        <label class="resource-label-l flexcol">{{localize 'FU.BenefitMartial'}}</label>
                        {{#each system.benefits.martials as |benefit key|}}
                        <label class="checkbox"> <span class="resource-label-sm">{{localize (translate
                                key)}}</span><input type="checkbox" name="system.benefits.martials.{{ key }}.value" {{
                                checked benefit.value }} />
                        </label>
                        {{/each}}
                    </div>

                    <div class="flex-group-left resource-content">
                        <label class="resource-label-l flexcol">{{localize 'FU.BenefitRitual'}}</label>
                        {{#each system.benefits.rituals as |benefit key|}}
                        <label class="checkbox"> <span class="resource-label-sm">{{localize (translate
                                key)}}</span><input type="checkbox" name="system.benefits.rituals.{{ key }}.value" {{
                                checked benefit.value }} />
                        </label>
                        {{/each}}
                    </div>

                </div>
            </fieldset>

        </div>
    </section>
</form>