<form class="{{ cssClass }} backgroundstyle" autocomplete="off">
	{{> "systems/projectfu/templates/item/partials/item-header.hbs" dtypes=dtypes}}

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/projectfu/templates/item/partials/item-effects.hbs"}}
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="description">

			{{!-- General Info Section --}}
			<fieldset class="title-fieldset desc resource-content grid-span-2">

				{{!-- Item Controls --}}
				<div class="item-settings">
					{{> "systems/projectfu/templates/item/partials/item-controls.hbs" dtypes=dtypes}}
					<label class="checkbox resource-label-m" data-tooltip="{{localize 'FU.ClockStatus'}}">
						<span>
							{{#if item.system.hasClock.value}}
							<i class="fas fa-clock"></i>
							{{else}}
							<i class="far fa-clock"></i>
							{{/if}}
						</span><input type="checkbox" name="system.hasClock.value" {{ checked system.hasClock.value
							}} />
					</label>
				</div>

				{{!-- Optional Feature Section --}}
				<div class="grid grid-4col">
					{{#if (eq actor.type "npc")}}
					{{#if system.hasClock.value}}
					<div class="resource-content flexcol flex-group-center">
						<label class="resource-label-m">{{localize 'FU.Current'}}</label>
						<input type="text" name="system.progress.current" value="{{ system.progress.current }}"
							class="resource-inputs select-dropdown-m" />
					</div>
					<div class="resource-content flexcol flex-group-center">
						<label class="resource-label-m">{{localize 'FU.Step'}}</label>
						<input type="text" name="system.progress.step" value="{{ system.progress.step }}"
							class="resource-inputs select-dropdown-m" />
					</div>
					<div class="resource-content flexcol flex-group-center">
						<label class="resource-label-m">{{localize 'FU.Max'}}</label>
						<input type="text" name="system.progress.max" value="{{ system.progress.max }}"
							class="resource-inputs select-dropdown-m" />
					</div>
					{{/if}}
					{{/if}}
				</div>
			</fieldset>
			<div class="grid-span-2 desc flex-between">
				<div class="quarter-desc">
					{{editor enrichedHtml.description target="system.description" engine="prosemirror" button=true}}
				</div>
			</div>
		</div>
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			{{!-- Behavior Field --}}
			{{> "systems/projectfu/templates/item/partials/item-behavior-field.hbs"}}
		</div>
	</section>
</form>