<form class="{{ cssClass }} h-100" autocomplete="off">
    <div class="sheet-content-wrapper">
        {{> "systems/projectfu/templates/item/partials/item-header.hbs" showMartial=true}}

        {{!-- Sheet Wrapper --}}
        <div class="sheet-wrapper">

            {{!-- Sheet Body --}}
            <section class="sheet-body">

                {{!-- Main Attributes --}}
                <section class="resource-content summary gap-5 desc mb-5">
                    <label class="resource-label-sm" style="position: sticky;" for="system.summary.value"> <i
                            class="fas fa-chart-simple icon"></i>{{localize
                        'FU.AttributesKey'}}
                    </label>
                    <div class="grid grid-3col">
                        <div class="resource-content flexcol flex-group-center">
                            <label class="resource-label-m flexlarge align-left">{{localize
                                'FU.DefenseAbbr'}}
                            </label>
                            <span>
                                <select name="system.def.attribute" class="resource-inputs select-dropdown" {{#if
                                    system.isMartial.value}}disabled{{/if}}>
                                    {{selectOptions attrAbbr selected=system.def.attribute blank='-' sort=true
                                    localize=true}}
                                </select>
                                <input type="number" name="system.def.value" value="{{ system.def.value }}" data-dtype="Number"
                                    class="resource-inputs select-dropdown-sm" />
                            </span>
                        </div>
                        <div class="resource-content flexcol flex-group-center">
                            <label class="resource-label-m flexlarge align-left">{{localize
                                'FU.MagicDefenseAbbr'}}</label>
                            <span>
                                <select name="system.mdef.attribute" class="resource-inputs select-dropdown">
                                    {{selectOptions attrAbbr selected=system.mdef.attribute blank='-' sort=true
                                    localize=true}}
                                </select>
                                <input type="number" name="system.mdef.value" value="{{ system.mdef.value }}"
                                    data-dtype="Number" class="resource-inputs select-dropdown-sm" />
                            </span>
                        </div>
                        <div class="resource-content flexcol flex-group-center">
                            <label for="system.hands.value" class="resource-label-m flexlarge align-left">{{localize
                                'FU.InitiativeAbbr'}}</label>
                            <input type="number" name="system.init.value" value="{{ system.init.value }}" data-dtype="Number"
                                class="resource-inputs select-dropdown-sm" />
                        </div>
                    </div>
                </section>

                {{!-- Effects Tab --}}
                <div class="tab effects" data-group="primary" data-tab="effects">
                    {{> 'systems/projectfu/templates/common/active-effects.hbs' hideHeader=true }}
                </div>

                {{!-- Description Tab --}}
                <div class="tab" data-group="primary" data-tab="description">

					{{#if slots}}
						<section class="technosphere-slots desc">
							{{#each slots as | slot |}}
								<div
								 class="slot
							{{#unless (or slot.item slot.occupied)}} empty-slot {{/unless}}
									 {{#if slot.overCapacity}} over-capacity {{/if}}
									 {{#if slot.occupied}} occupied {{/if}}
									 {{#if (eq slot.type "mnemosphere")}}mnemosphere{{else}}hoplosphere{{/if}}"
									{{#if slot.item}}data-item-id="{{ slot.item.id }}" data-uuid="{{ slot.item.uuid }}"{{/if}}
									{{#if slot.overCapacity}}data-tooltip="{{localize "FU.TechnospheresOverCapacity"}}"{{/if}}
								>
									{{#if slot.item}}
										<span class="slot-image">
								<a data-action="roll"
								   data-tooltip="{{localize 'FU.RollIconToolTip' name=slot.item.name}}">
									<img class="item-icon" src="{{slot.item.img}}" alt="Item icon">
								</a>
							</span>
										<span>
											{{slot.item.name}}
										</span>
										{{#if (eq slot.item.type "mnemosphere")}}
											<span>
									<span>{{ slot.item.system.class }}</span>
									<span>{{ slot.item.system.level }} / {{slot.item.system.maxLevel}}</span>
								</span>
										{{/if}}
										<span class="item-actions">
                        <a data-action="edit" data-tooltip="{{ localize 'FU.Edit' }}" aria-describedby="tooltip">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a data-action="delete" data-tooltip="{{ localize 'FU.TechnosphereRemove' }}"
						   aria-describedby="tooltip">
                            <i class="fas fa-eject"></i>
                        </a>
                    </span>
									{{else if slot.occupied}}
										<span class="slot-image {{#if
										 (eq slot.type "mnemosphere")}}mnemosphere{{else}}hoplosphere{{/if}}"></span>
										<span>{{localize "FU.HoplosphereRequiresTwoSlots"}}</span>
									{{else}}
										<span class="slot-image {{#if
										 (eq slot.type "mnemosphere")}}mnemosphere{{else}}hoplosphere{{/if}}"></span>
										<span>{{localize "FU.TechnospheresSlotEmpty"}}</span>
									{{/if}}
								</div>
							{{/each}}
						</section>
						<hr>
					{{/if}}

					<fieldset class="desc title-fieldset resource-content">
                        <label class='resource-label-m' data-tooltip="{{localize 'FU.RecoveryDescriptionTooltip'}}">
                            {{localize 'FU.Description'}}
                            <i class="fas fa-info-circle"></i>
                        </label>
                    {{editor enrichedHtml.description target="system.description" engine="prosemirror" rollData=rollData
                    button=true owner=owner editable=editable }}
                    </fieldset>
                </div>

                {{!-- Attributes Tab --}}
                <div class="tab attributes" data-group="primary" data-tab="attributes">

                    <section class="grid grid-2col gap-5">

                        {{!-- General Info Section --}}
                        <fieldset class="title-fieldset desc resource-content grid-span-2">

                            {{!-- Item Controls --}}
                            <div class="item-settings">
                                {{> "systems/projectfu/templates/item/partials/item-controls.hbs" actor=actor}}
                                <label class="checkbox resource-label-sm"> <span>{{localize 'FU.IsMartial'}}</span><input
                                        type="checkbox" name="system.isMartial.value" {{ checked system.isMartial.value }} />
                                </label>
                            </div>

                            <div class="grid grid-4col">
							<div class="resource-content flexcol grid-span-3 flex-group-center">
								{{#unless technosphereMode}}
									<label class="resource-label-m">{{localize 'FU.Quality'}}</label>
									<input type="text" name="system.quality.value" value="{{ system.quality.value }}"
											   class="resource-inputs select-dropdown-full grid-span-4" />
								{{else}}
									<label class="resource-label-m">
										{{localize "FU.TechnospheresSlots"}}
										<select name="system.slots" class="resource-inputs select-dropdown-full grid-span-4">
											{{selectOptions @root.FU.technospheres.armorSlots selected=system.slots labelAttr="label" localize=true}}
										</select>
									</label>
								{{/unless}}
							</div>
                                <div class="resource-content flexcol flex-group-center">
                                    <label class="resource-label-m">{{localize 'FU.Cost'}}</label>
                                    <input type="number" name="system.cost.value" value="{{ system.cost.value }}"
                                        data-dtype="Number" class="resource-inputs select-dropdown-m" />
                                </div>
                            </div>
                        </fieldset>
                    </section>
                </div>
            </section>
        </div>
    </div>
</form>