<div class='resource-content desc flexcol gap-5'>
    <div>
        <label class='resource-label-m'>
            {{localize 'FU.ClassFeatureDanceDuration'}}:
            <select class="resource-text-m resource-inputs" style="width: 16em;" name="system.data.duration">
                {{selectOptions additionalData.durations selected=system.data.duration localize=true}}
            </select>
        </label>
    </div>
    <hr>
    <div>
        <label class='resource-label-m'>
            {{localize 'FU.Description'}}
        </label>
		<prose-mirror name="system.data.description" value="{{system.data.description}}" toggled>
			{{{enrichedHtml.description}}}
		</prose-mirror>
    </div>
</div>