<form>
    <div style="font-weight: bold;">
        <div class="desc mb-3">
            <div id="base-item" class="">{{{baseItemDetails}}}</div>
            <div style="text-align: center;"><i class="fas fa-caret-down"></i></div>
            <div id="current-item" class="">{{{currentItemDetails}}}</div>
        </div>

        <div class="desc grid grid-2col gap-5 mb-5">
            <div class="grid grid-2col gap-5">
                <div class="form-group">
                    <label>{{localize 'FU.Primary'}}</label>
                    <select id="primary" name="primary">{{{primaryOptions}}}</select>
                </div>

                <div class="form-group">
                    <label>{{localize 'FU.Secondary'}}</label>
                    <select id="secondary" name="secondary">{{{secondaryOptions}}}</select>
                </div>
            </div>

        <div class="grid grid-2col gap-5 mb-5">
            <div class="row-one">
                <div class="form-group">
                    <label>{{localize 'FU.Weapon'}}</label>
                    <select id="item-selector" name="item-selector">{{{itemOptions}}}</select>
                </div>

                <div class="form-group">
                    <label>{{localize 'FU.AccuracyBonus'}}</label>
                    <input type="number" id="accuracy-mod" name="accuracy-mod" value="0" />
                </div>

                <div class="form-group">
                    <label>{{localize 'FU.DamageBonus'}}</label>
                    <input type="number" id="damage-mod" name="damage-mod" value="0" />
                </div>
            </div>

            <div class="row-two">
                <div class="form-group">
                    <label>{{localize 'FU.DamageType'}}</label>
                    <select id="damage-type" name="damage-type">{{{damageTypeOptions}}}</select>
                </div>

                <div class="form-group">
                    <label>{{localize 'FU.WeaponType'}}</label>
                    <select id="weapon-type" name="weapon-type">{{{weaponTypeOptions}}}</select>
                </div>

                <div class="form-group">
                    <label>{{localize 'FU.DefenseType'}}</label>
                    <select id="defense-type" name="defense-type">{{{defenseTypeOptions}}}</select>
                </div>
                <div class="grid grid-2col">
                    <div class="form-group">
                        <label>{{localize 'FU.HRZero'}}</label>
                        <input type="checkbox" id="hrzero" name="hrzero" />
                    </div>
                    <button type="button" class="reset-weapon-button"><i class="fas fa-rotate-left"></i></button>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="form-buttons grid grid-2col gap-5">
        <button type="button" class="modify-button"><i class="fas fa-pen-to-square icon"></i>{{localize
            'FU.Modify'}}</button>
        <button type="button" class="clone-button"><i class="fas fa-copy icon"></i>{{localize 'FU.Clone'}}</button>
        <button type="button" class="temp-roll-button"><i class="fas fa-dice-d20 icon"></i>{{localize
            'FU.TempRoll'}}</button>
        <button type="button" class="cancel-button"><i class="fas fa-xmark icon"></i>{{localize 'FU.Cancel'}}</button>
    </div>
</form>