<div>
    <label>
        <span>{{localize "FU.InlineEffectConfigModifyAccuracyCheckTypes"}}</span>
        <select name="guided.changes.{{@index}}.check" class="resource-current-input">
            {{selectOptions templateData.checks selected=check localize=true}}
        </select>
    </label>
</div>
<div>
    <label>
        <span>{{localize "FU.InlineEffectConfigBonusMalus"}}</span>
        <input type="number" name="guided.changes.{{@index}}.value"
               value="{{#if value includeZero=true}}{{value}}{{else}}0{{/if}}"
			   class="resource-current-input">
    </label>
</div>