{{ log "in free text" this }}
<fieldset>
	<label>
		{{localize templateData.label}}
		<input type="text" name="{{fieldPrefix}}.{{templateData.name}}" value="{{lookup effect templateData.name}}"/>
	</label>
</fieldset>